[2020-01-09 20:38] GiantCrocodile commented on #1619
I understand your hesitation to open a support ticket regarding this @JeremyTBradshaw. You might be lucky that Microsoft's team here will communicate this properly and find a solution. Sometimes it does happen, sometimes it doesn't.

@keithw89 You have to be an user with admin privileges or other support/admin roles in your Office 365 tenant and then you can open a support ticket via the admincp a

[2020-01-10 09:16] #1305 closed

[2020-01-10 10:12] lesleypersyn opened #1642 "Why is article 'How to configure IIS for relay with Office 365.' removed?"
Previous revision was with user authentication. Last revision without user authentication. Now it doesn't exist anymore. Leaving pages active with a clear comment helps a lot. (Or add some info to general pages)
Thanks.

[2020-01-10 10:37] #1642 closed

[2020-01-10 10:38] lesleypersyn commented on #1642
Found in Patch article;
The SMTP component that's discussed in this topic is in IIS 6.0, and support for IIS 6.0 has ended with the support of Windows 2003. This article is here for reference purposes, but we recommend that you use a supported version of Exchange Server instead of IIS SMTP. We will continue to do a "best effort support" on this feature, however, no bug fixes or improvements are be

[2020-01-10 14:47] christiandekker commented on #1631
I've encountered this issue too. The reason for this error is that the SourcePfPrimaryMailboxGuid parameter is missing in the Management Role Entry for the Migration Role. You can check this with the command:
Get-ManagementRoleEntry "Migration\New-MigrationBatch" | Select -ExpandProperty Parameters

I had to go through support (Case ID: 18151458) to fix this issue.

[2020-01-10 14:47] christiandekker commented on #1622
I've encountered this issue too. The reason for this error is that the SourcePfPrimaryMailboxGuid parameter is missing in the Management Role Entry for the Migration Role. You can check this with the command:
Get-ManagementRoleEntry "Migration\New-MigrationBatch" | Select -ExpandProperty Parameters

I had to go through support (Case ID: 18151458) to fix this issue.

[2020-01-10 16:51] IT373 opened #1643 "Rule "Notify the recipient with a message" does not exist in Exchange 2013"
Rule "Notify the recipient with a message" does not exist in Exchange 2013 and appears to have been added in 2016.  None of the Exchange 2013 servers I service have this is an option and it is included as a new action in the "What's new in Exchange 2016" article here https://docs.microsoft.com/en-us/exchange/new-features/new-features?view=exchserver-2016

---
#### Document Details

⚠ *Do not edit

[2020-01-14 03:59] mattpennathe3rd commented on #1254
Closing this as fixed.

[2020-01-14 03:59] #1254 closed

[2020-01-14 04:08] mattpennathe3rd commented on #202
Appears to be fixed by #1509, but fee free to reopen if there is a remaining problem with this doc.

[2020-01-14 04:08] #202 closed

[2020-01-14 04:24] mattpennathe3rd commented on #1643
@IT373 Thanks for filing the issue. I've removed this rule from the page and the fix should be published in the near future.

[2020-01-14 04:30] #1643 closed

[2020-01-14 04:41] mattpennathe3rd commented on #1283
This appears to have been fixed by https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1393 . Closing as done!

[2020-01-14 04:41] #1283 closed

[2020-01-14 04:44] mattpennathe3rd commented on #1318
Appears to have been fixed by https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1495 . Closing this issue as done!

[2020-01-14 04:44] #1318 closed

[2020-01-14 04:45] mattpennathe3rd commented on #1326
Appears to be fixed by https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1496 . Closing this issue as done!

[2020-01-14 04:45] #1326 closed

[2020-01-14 04:46] mattpennathe3rd commented on #1325
Appears to be fixed by https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1496 . Closing this issue as done!

[2020-01-14 04:46] #1325 closed

[2020-01-14 04:46] mattpennathe3rd commented on #1324
Appears to be fixed by https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1471 . Closing this issue as done!

[2020-01-14 04:46] #1324 closed

[2020-01-14 04:50] mattpennathe3rd commented on #1408
@cjg88 Following up on this issue. If you're able to, could you please link to the page that you are referring to so I can correct this problem? Thank you very much.

[2020-01-14 04:57] mattpennathe3rd commented on #1479
According to the linked GitHub thread and the doc, this is already answered (that is, any unlisted header is only used internally for diagnostic purposes). Closing this issue as not in need of a fix.

[2020-01-14 04:57] #1479 closed

[2020-01-14 05:01] mattpennathe3rd commented on #1468
Appears to be fixed by https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1503 . Closing this issue as done!

[2020-01-14 05:01] #1468 closed

[2020-01-14 05:02] #1456 closed

[2020-01-14 05:03] mattpennathe3rd commented on #1437
Appears to be fixed by https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1474. Closing this issue as done!

[2020-01-14 05:03] #1437 closed

[2020-01-14 05:05] mattpennathe3rd commented on #1425
Appears to be fixed in https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1513. Closing this issue as done!

[2020-01-14 05:05] #1425 closed

[2020-01-14 05:10] mattpennathe3rd commented on #1514
@Raffytje Thanks very much for the report. I've fixed this and the updated doc will be published in the near future. My apologies for the long lead time in getting back to you!

[2020-01-14 05:23] mattpennathe3rd commented on #1527
@angusmclean11 Thank you for filing the issue!

@chrisda Would you mind taking a look at this one? Let me know if I may assist.

[2020-01-14 05:27] mattpennathe3rd commented on #1538
@bryanfritz I'm sorry, but this repo is only for reporting documentation problems and we are not able to provide product support here. Your best option is to open a support ticket.

[2020-01-14 05:27] #1538 closed

[2020-01-14 05:32] mattpennathe3rd commented on #1543
@asampson68 I'm sorry, but this repo is only for reporting problems with the documentation and I am unable to provide product support here. Your best option is to open a support ticket to determine the cause of your trouble. If it turns out there is an error with the documentation, I will be glad to fix it.

[2020-01-14 05:32] #1543 closed

[2020-01-14 05:34] mattpennathe3rd commented on #1547
@mrkeiths Thank you very much for submitting this issue.

@chrisda Would you have a look at this one, please?

[2020-01-14 05:39] mattpennathe3rd commented on #1548
@Sherman8tor Thank you very much for submitting the issue. I've fixed this and the updated document will be published in the near future.

[2020-01-14 05:50] #1548 closed

[2020-01-14 05:54] mattpennathe3rd commented on #1545
@jhueppauff Thanks very much for the suggestion. I have updated the article and the new version will be published in the near future.

[2020-01-14 06:00] #1545 closed

[2020-01-14 06:04] mattpennathe3rd commented on #1553
@daesimps Thanks for pointing out the documentation issue. I will update the article with a clearer description.

Regarding the second half of your question, I am unable to help and your best bet is to open a support ticket. This repo is only for reporting problems with the documentation and I am not able to provide product support.

[2020-01-14 06:11] #1553 closed

[2020-01-14 06:15] #1514 closed

[2020-01-14 06:17] mattpennathe3rd commented on #1567
@undoneph I am sorry, but I am unable to answer product support questions here. This repository is only for reporting problems with the documentation. Please open a support ticket to obtain help with your question.

[2020-01-14 06:17] #1567 closed

[2020-01-14 06:18] mattpennathe3rd commented on #1575
@chrisda Would you mind taking a look at this one, please?

[2020-01-14 06:28] mattpennathe3rd commented on #1588
@Weychris I apologize, but can you clarify your question?

The article at https://docs.microsoft.com/en-us/Exchange/plan-and-deploy/system-requirements?redirectedfrom=MSDN&view=exchserver-2019 does not contain information about Exchange Online because that is the on-premise Exchange Server documentation. Did I misunderstand?

[2020-01-14 06:32] mattpennathe3rd commented on #1594
@campbellkerr Thank you very much for submitting this issue! I have fixed this and the revised article will be published in the near future.

[2020-01-14 06:34] mattpennathe3rd commented on #1610
@mariankral I am sorry, but this repository is only for reporting documentation problems. I am unable to answer product or support questions here. For help with your question, please open a support ticket.

[2020-01-14 06:34] #1610 closed

[2020-01-14 06:35] #1594 closed

[2020-01-14 06:40] mattpennathe3rd commented on #1614
@aaronseals @FrogThomas Thanks for reporting this. We are working on a revision to this article that should help. I'll report back shortly once it is ready.

[2020-01-14 06:41] mattpennathe3rd commented on #1622
@mariosaelikeit Thank you for reporting this. We are working on a revision to this article that might help with your issue. I'll report back when it is ready.

[2020-01-14 06:50] mattpennathe3rd commented on #1615
@Sannioy I am sorry, but I am unable to provide product support here. This repository is only for reporting problems with the documentation. For help with your question, please open a support ticket.

[2020-01-14 06:50] #1615 closed

[2020-01-14 07:03] mattpennathe3rd commented on #1618
@Mike-Crowley Thanks for submitting this issue. I've updated the article and the new version should be published soon.

[2020-01-14 07:05] mattpennathe3rd commented on #1619
@GLComputing @keithw89 @GiantCrocodile @JeremyTBradshaw Everyone, I'm sorry, but I am unable to provide product support here. This repository is only for reporting issues with the documentation and I'm not equipped to help with product issues. As suggested, please open a support ticket.

[2020-01-14 07:05] #1619 closed

[2020-01-14 07:07] #1618 closed

[2020-01-14 07:12] mattpennathe3rd commented on #1626
@FrogThomas I'm sorry, but can you be more specific about which article you are having a problem with?

[2020-01-14 07:14] mattpennathe3rd commented on #1630
@only1rache I'm sorry, but this repository is only for reporting problems with the documentation and I am unable to answer product or support questions here. Please consider opening a support ticket for help with your scenario.

[2020-01-14 07:14] #1630 closed

[2020-01-14 07:18] mattpennathe3rd commented on #1631
@Biocas2007 @christiandekker We are working on an updated version of this article that should solve this issue. I'll get back to you when it is ready.

[2020-01-14 07:25] mattpennathe3rd commented on #1633
@ProfileX Thanks for pointing this out. It looks like the prior fix overlooked this one. I've corrected the article and the revisions will be published soon. Thanks again for submitting the issue and please let me know if you find anything else in the docs that needs attention.

[2020-01-14 07:28] mattpennathe3rd commented on #1640
@Q916 I'm sorry, but I am unable to provide product support here. This repository is only for reporting problems with the documentation. For help with your question, please open a support ticket.

[2020-01-14 07:28] #1640 closed

[2020-01-14 07:30] #1633 closed

[2020-01-14 10:39] Michael-Bai opened #1647 "Request confirmation or modification on the statement: “This list doesn't apply to already added guest members, this will be enforced for all the guests added after the list is set-up. However, you can remove them through the script.”"
This article says: “This list doesn't apply to already added guest members, this will be enforced for all the guests added after the list is set-up. However, you can remove them through the script.”

However, as we test, we are unable to remove guest members through the script. Please double confirm if the statement above is correct, if it’s not, please modify this statement.

We understand that w

[2020-01-14 10:43] GLComputing commented on #1619
Tried to log a support ticket, but they want to charge over $400 before they'll even talk to me.

Is there a better way to log a bug?

[2020-01-14 11:10] ArttuArstila opened #1648 "How can admin see the DSC value?"
Does not tell that in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b40bce01-0b1f-1952-5198-d5a15211b533
* Version Independent ID: 3f0ac568-cfbd-5255-d803-b7883c32c50f
* Content: [Track and Prevent Migration Data Loss](https://docs.microsoft.com/en-us/exchange/mailbox-migration/track-prevent-data-loss-dcs

[2020-01-14 11:34] JeremyTBradshaw commented on #1619
I do sympathize that this might not be the correct place to submit product bugs as it's just open documentation, not open-source software.

But, uservoice doesn't fit here and support ticket means the customer has to endure the ticket while Microsoft look into the bug, charging the customer in the process.  But the customer already paid and is just letting them know about a broken thing with the p

[2020-01-14 12:05] GiantCrocodile commented on #1619
@GLComputing How did you do that? Office 365 support is free. I think you tried a Premier support ticket which costs way more (400 or 500 $). If you don't see the support ticket option to contact Microsoft in your Office 365 tenant, you might use a CSP. Then your CSP has to deal with this and forward it to Microsoft. They are your first level support and responsible for escalating the ticket to Mi

[2020-01-14 12:07] GiantCrocodile commented on #1619
Nevermind, just deleted my previous answer as I did realize this is not related to Office 365 but an on-premises product so my previous statement about support via Office 365 admincp tenant is obviously wrong.

[2020-01-14 12:54] Batre-MSFT commented on #1614
The issue happens if the RBAC for your tenant is not updated yet. Either wait for the RBAC to be updated or open support ticket to update the RBAC immidiately

[2020-01-14 13:59] IT373 opened #1649 "Notify the recipient with a message not an option in Exchange 2013"
This document incorrectly states that the rule action to "Notify the recipient with a message" is available in Exchange 2013.  This rule action was added in Exchange 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 237d64ca-06c7-fd0e-96cb-d567e9b8cd00
* Version Independent ID: e91a828c-022f-993c-f49e-5a5c8d2e8cfd
*

[2020-01-14 16:20] chrisda commented on #1527
@angusmclean11, are you saying that the *ADConnectorAccountDN* parameter in the existing command needs to be changed to *ADConnectorAccountName*?

Could you reply with the entire 3 corrected lines of the command that you want?

Thanks.

[2020-01-14 16:31] chrisda commented on #1547
Confirmed. I updated all references/links to Exchange Online PowerShell.

Thanks for the feedback.

[2020-01-14 16:31] #1547 closed

[2020-01-14 16:40] chrisda commented on #1575
Yes, very much a mistake. I fixed it.

@humbeglez, in the future, you, too can make updates like this directly in the topic; no need to open a GitHub Issue first. For instructions, see https://github.com/MicrosoftDocs/OfficeDocs-Exchange/blob/public/README.md.

Thanks for the feedback.

[2020-01-14 16:40] #1575 closed

[2020-01-14 18:02] JeremyTBradshaw commented on #1619
@GiantCrocodile I have a falsity to report of my own.  Just realized this issue is for Exchange 2019.  I noticed the issue with Exchange 2016 CU15.
So I have no business stating anything here, but at this point I'll leave my posts just to preserve the order of the conversation.  It's really not a huge concern, there are definitely bigger issues to worry about.  I'll sign off now:)

[2020-01-15 02:21] SnazzySnail8 commented on #1244
Can I ask to reopen this request?
I am wondering if for each Powershell step if you could better explain which text needs to be replaced with your own customized language and what that language is. I assume it is the blue-colored text in Powershell but, for example, what do I need to put in place of "RecipientTypeDetails"? It is unclear.

[2020-01-15 03:24] mattpennathe3rd commented on #1648
@ArttuArstila The article answers this question. As it says, "Microsoft is constantly tuning these thresholds to ensure that problematic data loss does not occur during migrations. The details of these thresholds are not presented to Exchange Online administrators."

[2020-01-15 04:11] mattpennathe3rd commented on #1622
@FrogThomas @mariosaelikeit This article has been updated and will be published shortly. If the updated procedure does not help you resolve your problem, please feel free to reopen this issue.

[2020-01-15 04:12] mattpennathe3rd commented on #1631
@Biocas2007 This article has been updated and will be published shortly. If the updated procedure does not help you resolve your problem, please feel free to reopen this issue.

[2020-01-15 04:12] #1622 closed

[2020-01-15 04:12] #1631 closed

[2020-01-15 04:19] mattpennathe3rd commented on #1614
@aaronseals This document has been updated (the changes will be live in the near future) and should now enable you to complete the procedure on your tenant. If you continue to have trouble completing the procedure, please feel free to reopen this issue.

[2020-01-15 04:19] #1614 closed

[2020-01-15 07:16] CarolZixinWang opened #1652 "Exchange federation page has invalid link about 21V"
Hi team,

The link in the following text is invalid. Please kindly check and update if possible. This may affect several pages in the federation related pages.
_This feature of Exchange Server 2013 isn't fully compatible with Office 365 operated by 21Vianet in China and some feature limitations may apply. For more information, see **Learn about Office 365 operated by 21Vianet**._

https://docs.mic

[2020-01-15 14:00] ecanales88 opened #1654 "IRM Protection for external messages ¿?"
Hello MS Team
In this article, section "Scenarios for IRM Protection" shows that "Sending messages to external recipients" is not supported for IRM. This is correct?
In this article https://docs.microsoft.com/en-us/powershell/module/exchange/encryption-and-certificates/set-irmconfiguration?view=exchange-ps the cmdlet -ExternalLicensingEnabled $true, says: "IRM features are enabled for external mes

[2020-01-15 15:29] wshep007 opened #1655 "Tarpit interval"
The description for the Tarpit interval is incorrect.  The description is referring to the AuthTarpitInterval not TarpitInterval. Also this means the PowerShell command is incorrect.

[2020-01-15 16:07] travisadvisicon opened #1656 "Finalizing your migration"
It notes you can switch your primary MX record to point to Office 365 once all users are successfully migrated. Does this same setting matter if you're switching from one domain name to another? Like switching from contoso.com to fabrikaminc.net, since they carry with them separate DNS records?

If not, then can someone confirm that I can just remove the o365 and "before" domains without having to

[2020-01-15 22:41] travisadvisicon commented on #1525
Yes, that is correct. You will have to have that in o365 in order for it to work.

[2020-01-16 06:17] ArttuArstila commented on #1648
Thanks for the reply! I think I was not clear enough. I am not asking about the detailed values, but where the overall grade will be shown to admins?

[2020-01-16 09:28] Rameshrao99 commented on #1622
Hi,
Do we have to run $Source_RemoteServer= "mail.domain.com" before running the below command as running command $Source_RemoteServer is not listed in the step 5 and dur to this the command failed to create endpoint.

$PfEndpoint = New-MigrationEndpoint -PublicFolder -Name PublicFolderEndpoint -RemoteServer $Source_RemoteServer -Credentials $Source_Credential

[2020-01-16 09:39] Rameshrao99 commented on #1656
If you don't want to use contoso.com after the migration then the MX record change is not needed. As you are going to use fabrikaminc.net in the target O365 tenant just update the MX pointing to target tenant. However all the emails which are coming in for contoso.com will land in to source O365 tenant. You can remove the domain contoso.com from source if you don't want to use it, however first co

[2020-01-16 15:06] travisadvisicon commented on #1656
@Rameshrao99
Thank you for the confirmation. All the data has been migrated that needs to be so I will carry on with finalization.

[2020-01-16 15:35] CITrONEllas commented on #1585
No, because SMTP Auth is considered Legacy Authentication.

[2020-01-16 21:55] mattpennathe3rd commented on #1656
@travisadvisicon Thanks for the question. I'm only able to help with documentation updates in this repo, but if after you have finished your migration, you feel that there's something that could have been clearer in this article, please let me know and I would be glad to improve the article.

[2020-01-17 06:32] olmitt opened #1658 "Tip for Rollback"
For rollback you should better use parameter "-Permanent $true" for "remove-mailbox", otherwise you leave the mailbox in the database without disconnectreason. I wasn't able to delete them afterwards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6010593-c3e4-87a6-4084-27d56f23063c
* Version Independent ID: 32a2adeb-

[2020-01-18 00:35] angusmclean11 commented on #1527
$AzureADConnectSWritebackAccountDN = <AAD_ account DN>
Import-Module "C:\Program Files\Microsoft Azure Active Directory
Connect\AdSyncConfig\AdSyncConfig.psm1"
Set-ADSyncUnifiedGroupWritebackPermissions -ADConnectorAccountName
$AzureADConnectSWritebackAccountDN

On Tue, Jan 14, 2020 at 10:20 AM Chris Davis <notifications@github.com>
wrote:

[2020-01-20 09:09] yacooob opened #1659 "Configuring a group domain"
Hello,
There is a full and detailed paragraph about creating and configuring dedicated groups domain.
It says "If you want to add a dedicated groups domain, you can…", but doesn't explain why one would like to do that or if it is recommended by Microsoft for whatever reason. Could you please add any additional comments to that?
Thanks in advance

---
#### Document Details

⚠ *Do not edit this sect

[2020-01-20 10:48] diecknet opened #1660 "Wildcard certificate support"
Please clarify if Wildcard certificates are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fee8aac-fb8d-452b-7c1d-56db8cd1c3ff
* Version Independent ID: 61edeeae-af33-1074-ac0e-9311f9ddeca7
* Content: [Certificate requirements for hybrid deployments](https://docs.microsoft.com/en-us/exchange/certificate-req

[2020-01-20 16:57] JulioQc commented on #1619
Replicated issue on Windows 10 1909 trying to upgrade Exchange 2016 Management Tools from CU14 to CU15... Even uninstall / install comes up with the error:

`This computer requires .NET Framework 4.8 (https://support.microsoft.com/kb/4503548).
For more information, visit: https://docs.microsoft.com/Exchange/plan-and-deploy/system-requirements?view=exchserver-2016`

But obviously it was installed (

[2020-01-20 17:00] JulioQc opened #1661 ".NET 4.8 detectiong not working correctly"
Even with .NET 4.8 installed (Windows 10 1903), confirmed by value 528040 for value "Release" at "HKLM:SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" the installed still complains it requires .NET 4.8 to be installed.

Confirmed by many users: https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/1619
Please fix. And try to release a CU that will work smoothly for one... Thanks.

---
##

[2020-01-21 13:01] andrewfake commented on #1619
Why is this comment closed? What is the solution? It constantly thinks .NET 4.8 is missing when it clearly is installed.

Someone help?

[2020-01-21 13:43] JulioQc commented on #1619
Because they probably will not fix anything and address the problem in CU16, which will likely introduce another issue. That's from the indian guy I got from support so I'll take it for truth.

The update from CU14 to CU15 worked fine on the server 2016 but managing from Win10 is still being done from a CU14 install due to this error. I would recommend this as a quick fix. No major issue experienc

[2020-01-21 21:08] chrisda commented on #1527
@angusmclean11, got it. Topic fixed.

Thanks for the feedback

[2020-01-21 21:08] #1527 closed

[2020-01-22 15:30] quickclix75 opened #1663 "Additional requirements for untrusted cross-forest topology"
Can you cross reference this technote that if you don't publish the SCP from one forest to the other that an AutoDiscover Anchor reference needs to be added to at least one mailbox in the target forest please?

https://support.microsoft.com/en-us/help/3010570/cross-forest-free-busy-lookup-fails-when-target-forest-is-exchange-ser

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-01-22 15:32] quickclix75 opened #1664 "User account required for untrusted cross-forest topology"
Please can you affirm that the user account for the Untrusted Cross forest free busy must NOT be a mail enabled object..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 859ffd66-5517-0fc9-8e9b-5ecdb8fb1968
* Version Independent ID: 503b8795-1b4d-d07d-038f-ba6aad08794e
* Content: [Configure the Availability service for c

[2020-01-22 17:02] damtrx opened #1665 "ms-Exch-SMTP-Accept-Authoritative-Domain-Sender - Not working anymore"
Bug in ms-Exch-SMTP-Accept-Authoritative-Domain-Sender permission.
If you have frontend Receive Connector and remove this permission, the sender can still use authoritative domains to send emails to internal users without authentication. This is the case for Anonymous receive connector facing the internet and users that are trying to abuse the system (spammers).
The anonymous connector is not Open

[2020-01-22 23:17] pupara opened #1666 "Add Video"
Please add video on how to do this on the EAC. Watching video is often more helpful then following all the steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c92752-7e76-3f33-2e93-42eb13e63a1a
* Version Independent ID: 0b4de7ea-4982-30a3-4c69-b42dcfa73416
* Content: [Manage on-premises mailbox moves in Exchange Se

[2020-01-23 12:07] g-karas commented on #1637
...in response to myself :-) - of course you can't use EMS if there's no on-prem Exchange to connect to... doh!

[2020-01-23 12:59] trudolf-msft opened #1667 "Add info about Admin Audit Log storage"
SystemMailbox{e0dc1c29-89c3-4034-b678-e6c29d823ed9}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca0013eb-5599-a907-9869-569f40f1e725
* Version Independent ID: 9fd23081-2830-c87b-561b-582fb16fc09e
* Content: [Recreate missing arbitration mailboxes](https://docs.microsoft.com/en-us/Exchange/architecture/mailbox-server

[2020-01-23 15:48] qnquocanh commented on #1663
We have nearly the same issue for Free/Busy configuration for untrusted forests with same error message like on your link. Did you configured it on your environment and does it solve the problem ?

Thanks.

[2020-01-23 21:06] mattpennathe3rd commented on #1505
@southwestairsports Thank you for this. We'll review and let you know if we need to follow up. (And my apologies for the long wait in getting back to you.)

@chrisda Would you take a look at this one and offer any insight you might have?

[2020-01-23 21:09] mattpennathe3rd commented on #1667
@trudolf-msft Can you elaborate on what this refers to? Let me know if there is a change that needs to be made or if this issue was opened by accident.

[2020-01-24 10:06] Niels-NL commented on #1582
Thanks for the reply, i wasnt able to find any background information on this. But it does work.

[2020-01-24 21:05] stephenc01 opened #1669 "compliance boundaries for eDiscovery"
Whats the difference between this and the article below.
https://docs.microsoft.com/en-us/microsoft-365/compliance/set-up-compliance-boundaries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 755b30f7-e10a-4bab-db4e-28810dfc9cdc
* Version Independent ID: d8857a11-031d-9930-277f-7060837b47f9
* Content: [Create a custom m

[2020-01-25 03:46] dagroll opened #1671 ""If your organization uses a hybrid Exchange environment, you should use the on-premises Exchange admin center (EAC) to create and manage shared mailboxes.""
Can you add context to this statement, listing reason why the on-premises EAC should be used (as opposed to O365)?  This seems counter-intuitive for organization that are migrated to EXO but still maintain hybrid.  Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 683bd24a-56fc-4998-bf71-628884be0c89
* Version Ind

[2020-01-27 06:52] wushujames opened #1672 "On "How retention age is calculated": typo/error in first example"
The first example says:

Where did the "2014" come from? Is that a typo?

Also, should the "expiration" date be "01/26/2020", since the Inbox retention tags says "Delete in 365 days"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a659b815-705f-fa0f-9867-db506cc2c474
* Version Independent ID: d85dba9c-c8d1-7d31-2af3-1a

[2020-01-27 07:41] trudolf-msft commented on #1667
Hello Matt,

Please find this article and I would like to have some more information about this specific mailbox in the article if possible.
In Exchange 2010, the Microsoft Exchange system mailbox is an arbitration mailbox used to store organization-wide data such as administrator audit logs, metadata for eDiscovery searches, and Unified Messaging data, such as menus, dial plans, and custom greeti

[2020-01-27 23:00] travisadvisicon commented on #1656
@mattpennathe3rd
The only thing that confused me was because my migration was not the same as the migration example in this document. This document is assuming you're migrating from one place to another using the same domain name, whereas mine was two different names.

To combat this confusion, I would like to see a note after the "Finalizing your migration"  section mentioning that it would not a

[2020-01-28 07:48] tominal commented on #1491
Same thing here. This doc is useless.

[2020-01-28 14:23] erihnbapsjfdb opened #1674 "SMTP Relay"
Please clarify the licensing requirements for SMTP Relay.
These two sections seem to contradict each other.

"Features of Office 365 SMTP relay
Office 365 SMTP relay does not require the use of a licensed Office 365 mailbox to send emails."

"Requirements for Office 365 SMTP relay
Licensing: SMTP relay doesn't use a specific Office 365 mailbox to send email. This is why it's important that only li

[2020-01-28 16:48] danmyhre commented on #1559
#needsupdate

[2020-01-28 18:16] chrisda commented on #1559
@ckssaas, the topic now (as of December) clearly states that the required TCP/IP ports are in the topic: https://docs.microsoft.com/office365/enterprise/urls-and-ip-address-ranges. If there's something missing from that topic, I suggest you open an issue there.

There's no way we're going to even partially repeat any of the information from that topic in this topic; it simply changes too frequentl

[2020-01-28 18:53] ckssaas commented on #1559
@chrisda The list you have linked to includes 6 subnets for EOP. If you have been doing this for a while you'd know that the previous list included over 30 subnets. When an Exchange Hybrid goes in, the connectors are scoped to the previous list of over 30 subnets. There is a major discrepancy there. We need the complete list in order to open up firewalls prior to running the Hybrid Configuration W

[2020-01-28 19:15] dstrome commented on #1559
The data in https://docs.microsoft.com/office365/enterprise/urls-and-ip-address-ranges is automatically generated directly from the systems used to control external endpoints we provide for access to the service.

The authoritative source, from which the topic linked above is generated, can be accessed via the instructions here - https://docs.microsoft.com/en-us/office365/enterprise/office-365-ip-

[2020-01-28 20:57] tfurstms opened #1675 "Exchange Mail flow rules (transport rules) impact on EOP + ATP"
Please add to this page a note regarding the impact Exchange Mail flow rules (transport rules) can have on EOP + ATP. Specifically call out the scenario where an Exchange Mail Flow rule could whitelist an email address and the impact is that EOP + ATP would allow that email through (i.e., bypass the protections). Any other comments around Exchange Mail flow rules and their relationship to the prot

[2020-01-28 21:14] danmyhre opened #1676 "Hybrid Considerations"
Please add details on how to deal with room lists in Hybrid scenarios since they are not synced to EXO from EXS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1598a231-d154-1c94-d8aa-76084b45ed35
* Version Independent ID: 3cc7eb58-d64e-73f2-8566-f97ec30ac15e
* Content: [Create and manage room mailboxes](https://docs.m

[2020-01-29 00:38] sb1815 opened #1677 "$PfEndpoint = New-MigrationEndpoint"
I have 1 exchange server version 2010 sp3 cu 19.
I am stuck on the 5th step where I get this error.
The term 'New-MigrationEndpoint' is not recognized as the name of a cmdlet,
Google says the 'New-MigrationEndpoint' command is not available for Exchange 2010. how can i finish the migration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-01-29 12:21] danmyhre commented on #1559
@dstrome @chrisda That article states:

This is the part that is missing.  Please address.  This is needed for both inbound SMTP traffic as well as autodiscover/EWS from Exchange Online to On-Prem in hybrid scenarios.

So, this table:
https://docs.microsoft.com/en-us/Exchange/hybrid-deployment-prerequisites#hybrid-deployment-protocols-ports-and-endpoints

Needs to be updated to include the source.

[2020-01-29 18:08] danmyhre opened #1679 "EWS Clients"
There are no details on how to deal with EWS clients in hybrid scenarios.  For example, many 3rd party products integrate with Exchange using EWS.  If they only support a single EWS URL, how can that work in hybrid?  What should EWS clients be doing - always using autodiscover to determine the proper EWS endpoint?  These sorts of system integration should be listed in the considerations section as

[2020-01-30 01:32] Jhines09 opened #1680 "Security Defaults block or disable Legacy auth?"
In the top of the article it states:
If you've enabled security defaults in your organization, Basic authentication is already disabled in Exchange Online.

I was under the impression that security defaults blocks legacy authentication with Conditional Access. Or does security defaults actually disable legacy auth at the Exchange level?

Thanks!

---
#### Document Details

⚠ *Do not edit this sect

[2020-01-30 02:11] jebalert opened #1681 "Theoretical question around MRS endpoints"
Via EWS by way of the MRS... is it possible to create a connection to migrate mailbox data from one exchange server to many separate O365 tenants? If so would it be possible to have that highlights here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dee0d453-e476-7b64-f0bb-d0135887916f
* Version Independent ID: 506a0b

[2020-01-30 10:18] ChrisStoneham commented on #1648
I'm just doing a migration now - if you View setails on a Migration batch the Data consistency score is shown against the mailboxes in this screen.

[2020-01-30 13:25] jreinhardtiv4 opened #1683 "Insufficent Information on Alternate Journaling Mailbox Procedures"
Under the alternate journaling mailbox, there is insufficient details on what to do to retry sending failed journal reports. First, the reference to "Send Again" is a little vague. Probably a simple screenshot and steps would help. Second, there is no details on how to overcome error '550 5.7.101 RESOLVER.RST.JournalReportFromUnauthorizedSender; not authorized to send journal reports' Thank you!

[2020-01-30 16:00] atguilmette commented on #1595
It's largely designed similarly to how Exchange resource forest configurations work--you have to manage properties of the mailbox where the mailbox is and properties of the identity where the identity is.  Features and properties that are set on the Active Directory user (name, description, username, manager etc) are managed at the user object level.  Things that are solely related to the Exchange

[2020-01-31 08:25] milkshakespoon opened #1684 "Mail flow breaks if not in decentralized configuration and routing mail through Exchange Online"
Recently performed these tasks while still flowing mail through our on prem server. After the public folder migration is complete the on premise server is no longer aware of them. All mail fails to send to them.

We had MS support help us with this case. To fix the mail flow we were required to switch the mail flow straight into Exchange Online (decentralized) which fixed the issues.

This documen

[2020-01-31 08:29] milkshakespoon commented on #1612
For us keeping the mail flow centralized did break mail delivery. MS support confirmed mail flow is required to be decentralized after migrating the PFs...

We didn't delete our on prem database. After switching the mail flow everything is working.

Related to #1684

[2020-01-31 13:13] Mike-Crowley commented on #1612
@milkshakespoon mail delivery definitely works fine with centralized mail flow, but there are two main caveats:

1. MEPFs created ADFER the migration will not be able to receive internet mail unless you create the MESO\MEPF object on-premises, for which there is no supported tool. This sounds like a deal breaker if you do this a lot, but if you only need to preserve functionality for existing MEPF

[2020-01-31 20:46] milkshakespoon commented on #1612
Interesting... We were using Exchange 2010 and we completely broke mail flow. MS support suggested this configuration was not correct and could not work. The solution was to move mail flow to EXO.

[2020-01-31 21:11] Mike-Crowley commented on #1612
Feel free to contact me directly if you would like to discuss this offline

-Mike Crowley

________________________________
From: milkshakespoon <notifications@github.com>
Sent: Friday, January 31, 2020 3:46:14 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Mike Crowley <mike@mikecrowley.us>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/Offi

[2020-02-02 23:21] ducatikiller opened #1685 "Retain my Exchange 2007 Server"
This is quite unbelievable.  My customer will be stuck with an aging, no longer supported Exchange 2007 server running on Windows Server 2003 because we want the password sync of a hybrid-AD and use AD Connect?  I'm glad everyone is proud of the ease of a hybrid exchange wizard (kudos) this seems to be a gaping wound.  Perhaps my ignorance of the underpinnings allow me to say that with ease but at

[2020-02-03 00:47] doverton12 opened #1686 "Search-Mailbox is being depreciated, how can we do this with the new commands"
Reading the information on the Search-Mailbox page on docs, this command stops working on 1st April 2020.

New Search and Compliance information can be found at https://docs.microsoft.com/en-gb/microsoft-365/compliance/search-for-and-delete-messages-in-your-organization, but can you share how to achieve the above with the new supported compliance commands?

[2020-02-03 17:57] ajacks88 commented on #1648
Is there a way to pull the details of a poor DCS through PowerShell?

[2020-02-03 18:51] Krytical13 opened #1687 "Booking delegates feature not documented fully."
Instead of allowing automatic booking from All users.
Instead of requiring a specific user or group of users to manually accept bookings.

You are able to choose specific users or groups to allow automatic bookings.
We use this for executive board rooms, so only the Executive Assistants can book those rooms.

There is a PowerShell method to update this, which I've used previously, but can't find t

[2020-02-04 12:28] JeremyTBradshaw commented on #1676
Room lists are in fact synced between on-premises and EXO.  I just verified this, and where I'm looking we have 100+ room lists synced.   RecipientTypeDetails on them is 'RoomList ' in both places.  We needed these in order to be able to find Rooms properly in EXO's OWA (and it was painful before that, so it's a familiar topic for me, but I digress).

[2020-02-04 12:30] JeremyTBradshaw commented on #1676
I should also include, resource mailboxes that are members of the Room Lists, whether they are migrated or not (on-premises or EXO) - they are members of the room lists and are fully functional, excluding standard mailbox limitations for cross-premises that apply to all mailboxes.  As far as what room lists do though - everything syncs and works as expected.

[2020-02-04 13:52] Corina-Ionescu opened #1688 "Broken hyperlink for Option 2: Get status via the Hybrid Management PowerShell Module"
The hyperlink for "the PackageManagement modules" redirects to https://www.microsoft.com/en-us/download/404Error.aspx .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 174147a5-effb-136b-cd43-e4da0c02a27a
* Version Independent ID: 01f56623-efbc-6e8b-766c-691b16f34a13
* Content: [Microsoft Hybrid Agent](https://docs.micr

[2020-02-04 16:10] psykokwak4 opened #1689 "Please fix supported version for "AddressBookPolicyRoutingEnabled""
[Enter feedback here]
Found this through internal work items via customer complain, [looks like E14 does not support AddressBookPolicyRoutingEnabled](https://docs.microsoft.com/en-us/powershell/module/exchange/mail-flow/set-transportconfig?view=exchange-ps), please remove "Exchange 2010" for it. And also, please fix the format by adding a space after "Exchange 2016," for all attributes
![image](ht

[2020-02-04 16:11] psykokwak4 commented on #1689
And also, please fix the format by adding a space after "Exchange 2016," for all attributes

should be:
And also, please fix the format by adding a space after "2016," for all attributes

[2020-02-04 17:12] danmyhre commented on #1676
Thanks for validating @JeremyTBradshaw .  It must have been some old documentation that showed that they were not synced.  Glad to hear it works now!

[2020-02-04 17:12] #1676 closed

[2020-02-04 18:46] MDanihy opened #1690 "Wrong information"
You cannot apply an EOP License on an account.

"Licensing: SMTP relay doesn't use a specific Office 365 mailbox to send email. This is why it's important that only licensed users send email from devices or applications configured for SMTP relay. If you have senders using devices or LOB applications who don't have an Office 365 mailbox license, obtain and assign an Exchange Online Protection licen

[2020-02-05 00:12] azizakyavas opened #1691 "Mailbox permissions supported in hybrid environments (Outlook on the web)"
Hi Team,

Is it possible to elaborate on this statement "Cross-premises mailbox permissions aren't fully supported in Outlook on the web".
Our users in-cloud are able to access mailbox content cross-premises in a hybrid environment but unable to access the mailboxes settings/options to modify the on-prem mailboxes rules, signature and any other mailbox settings.

Thanks

[2020-02-05 00:46] Krytical13 commented on #1595
The limitation makes no logical sense.

Think about it, Azure AD Connect.
This tool's purpose is to synchronize everything on premise with Azure AD. (What O365 reads from)
We have access to both;
The user object, in Azure Portal and the Mailbox object, in the O365 Portal.
IE:  if we create an Azure AD only user, we can modify any attributes.
If we create an O365 only user, we can modify any attrib

[2020-02-05 01:08] stuntguy3000 opened #1692 "Incorrect Command Syntax"
Under the example for "Use Windows Powershell to permanently delete a user mailbox", the 'true' parameter needs to be removed as it is a switch and not a boolean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eff7fa9f-2dec-34c3-e4b3-53614755499f
* Version Independent ID: 61e856b9-12fb-bdf6-0f49-0f6cc8b4b957
* Content:

[2020-02-05 01:27] alnelsonau opened #1693 "External backup"
Can Microsoft provide official guidance to enterprise customers here on external backup (cloud to cloud or on-premise)?

[2020-02-05 06:42] JaiLudhani88 commented on #1180
Is there any graph API for getting those deleted mails from the server, if user had deleted his/her mails from "deleted items" folder.

[2020-02-05 11:19] IanBarnesZa opened #1696 "400 Bad Request for forwardingAddress"
Hi,

When running a migration from GSuite to O365, it appears that all emails get migrated, but the migration fails with the following error:

Error: `TooManyTransientFailureRetriesPermanentException/BadRequestWebTransientException/WebException: Error: The job encountered too many transient failures ‎(88)‎ and is quitting. The most common failure is BadRequestWebTransientException/WebException wit

[2020-02-05 14:32] mbuor2020 opened #1697 "Cannot automap shared mailbox to users outlook when permission is granted via mail-enabled sec group"
Hello,

I have a shared mailbox created. I can grant individual permissions via user accounts in O365, the account then automaps within an hour or so to the users Outlook client, no problem at all.
However, if I create a mail enabled sec group (which I believe is the correct type of group to do this) add a user to said group, then grant said group full access to the shared mailbox, the shared mail

[2020-02-05 15:45] andy2002a opened #1698 "Variable $Source_RemoteServer not set"
#4 on Step 5: Start the migration request says to enter "...RemoteServer $Source_RemoteServer..."

$Source_RemoteServer is not referenced anywhere else in the guide. The guide should provide instructions on what that variable should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da991095-e3e4-6cc4-14ae-d98a0521a947

[2020-02-05 16:25] jreinhardtiv4 opened #1699 "UserScopeTo and UserScopeFrom - Clarify Difference Between Inside and External"
I found that the explanation of the difference between inside the organization and outside the organization was ambiuous enough that I had to setup a test to clarify. The descriptions of the inside versus outside are not mutually exclusive as they surely must be in Exchange. For example, what if a mail user had an email address that was outside the organization (and this is a common experience). W

[2020-02-05 23:16] craig-martin opened #1701 "Include row for 'Saves to Sent Items folder' In 'Compare the options'"
Some options for sending email result in the sent email being copied to the sender's Sent Items folder (sending to smtp.office365.com for example) while other options do not have this functionality (direct-send for example)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e4e3f0-bb9c-cca0-9343-49926262caba
* Version In

[2020-02-06 09:32] diecknet commented on #1660
@mattpennathe3rd looks like this issue is still unassigned

[2020-02-06 15:52] phillkOCCM opened #1702 "Out bound through Exchange online"
Why isn't there a clearly identified 'centralized Online' mode?
I am in an org that has something configured this way through trial & error, but It seems here, it shouldn't be possible? However we want that because we want to leverage EOP & OME for all our mail traffic. It has been a complex setup, but not impossible. Please let me know why its not documented.

---
#### Document Details

⚠ *Do not

[2020-02-07 03:43] PJNield opened #1703 "Export-ModernPublicFolderStatistics.ps1 - AdminDisplayVersion is a String in Exchange 2013 Build 1395.4"
function AssertMinVersion expects to find the properties Major, Minor and Build of the AdminDisplayVersion property of the results of Get-ExchangeServer.

After the line "$version = $server.AdminDisplayVersion;"  (~Line 254)
added:
        $VersionRegex="^Version (?&lt;Major&gt;\d{1,2})\.(?&lt;Minor&gt;\d{0,4}) \(Build (?&lt;Build&gt;[\d\.]{3,6})\)$"
        if ($version -match $VersionRegex) {

[2020-02-07 13:07] JeremyTBradshaw opened #1704 "Is there any reason there's no updated version for this?"
I'm just wondering why this page doesn't have the Exchange version selector at the top left and it seems to be dedicated to Exchange 2013, while this topic is still a thing in newer versions.  Can it be updated?  Or, can a note be added to confirm that everything is still the same with newer versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-07 13:23] JeremyTBradshaw commented on #1704
I will also take this opportunity to blast Microsoft for re-using Exchange 2013's OWA/ECP and not even updating any of of the "learn more" links.  On a fully-current Exchange 2016 server, in ECP, all the Learn More links go to Exchange 2013 pages that have the purple banner on them stating:

"We're no longer updating this content regularly. Check the Microsoft Product Lifecycle for information abo

[2020-02-07 14:34] JeremyTBradshaw opened #1705 "Incorrect: The Graphical User Interface/Wizard can be used as an alternative to update the Microsoft Teams certificate automatically."
FYI that note is just false, you can't use the GUI to update the Federation certificate at all, period.  In fact, it's just a design oversight that the "Renew" link even shows up where it does for this certificate.

I realize in the older issue @TheBluLion said something about doing it in the GUI makes the process support Teams yada yada,, but he/she went silent and never confirmed your question s

[2020-02-07 14:43] TheBluLion commented on #1705
The note wasn’t about supporting teams, it was that the powershell process is missing the step to associate the certificate with the service, where using the GUI automatically completes all the required steps for you.
Let me know if you would like the customer comments/notes from this comment again- I thought I had sent them before but would be happy to resend.

﻿ -﻿ --
Eu Nice Loh
Premier Field E

[2020-02-07 15:15] JeremyTBradshaw commented on #1705
@TheBluLion  "the note" I'm referring to is the purple box note on the docs page, which was out there as a response to the issue you opened.  I'm not saying "the note" as in "what you said" I'm talking about the literal Note on the page.

And what I meant by saying you went silent - they asked you if adding this note would suffice to address the issue you raised, but then you never responded (at l

[2020-02-07 15:39] nskroger commented on #1366
If adding this exclusion in an antivirus program, do you have to specify each GUID or is there a variable that will exclude all OICE_<GUID> entries if they change in the future?

[2020-02-07 15:46] dariomws306 commented on #1366
Hi @nskroger, sorry but I don't have this information. I think you need to specify each GUID. Or probably in your antivirus you can apply this exclusion using wildcards, like OICE_*.

[2020-02-07 16:33] TheBluLion commented on #1705
Ah, that makes sense.
I must have missed a notification on that response- I’m on the same page now.

﻿ -﻿ --
Eu Nice Loh
Premier Field Engineer
Office: (314) 872 5916
EuNice.Loh@microsoft.com<mailto:EuNice.Loh@microsoft.com>
IM:euloh@microsoft.com
8AM-5PM CT
[Microsoft]
﻿
If you have any feedback about my work, please let either me or my manager Annele Richards know at Annele.Richards@microsoft.co

[2020-02-07 17:10] kevinblumenfeld opened #1706 "Modern Public Folder Coexistence and THEN Migration with Office 365"
*** I would ask that the articles state plainly what the goal is and which article to follow next. ***

There are two things we need to be able to do.

A. Create coexistence between Modern Public Folder and Exchange Online (So that those with mailboxes on-premises and those with mailboxes in Exchange Online can all see the same Public Folders).

B. After the last mailbox has been migrated to Excha

[2020-02-10 11:55] ildrosos opened #1707 "Typo"
Hello please change the command
Set-OrganizationConfig -PublicFoldersEnabled Remote -RemotePublicFolderMailboxes PFMailbox1,PFMailbox2,PFMailbox3
To:
Set-OrganizationConfig -PublicFoldersEnabled Remote -RemotePublicFolderMailboxes 'PFMailbox1','PFMailbox2','PFMailbox3' since it's not working if multiple mailboxes are specified or if they contain spaces or dashes.

---
#### Document Details

⚠ *Do

[2020-02-10 15:01] Canis-Lupis opened #1708 "How is the default policy changed?"
I understand how to change current mailbox deletion setting from this article but how is it changed so that all new mailboxes get the changed setting?  For example, I can run Get-Mailbox -ResultSize unlimited -Filter "RecipientTypeDetails -eq 'UserMailbox'" | Set-Mailbox -RetainDeletedItemsFor 30 to set the deletion time for all to 30 days.  But what about a new account created after that?  Do I h

[2020-02-10 15:51] p0shkar opened #1709 "Documentation says "setSet""
"Step 1: Find the Active Directory users and setSet the Active Directory user attributes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0905ff-a481-c566-3869-595e8cf125cb
* Version Independent ID: 4c688d1c-87ba-9c82-3258-9ee8de0e6b1a
* Content: [Disable Basic authentication in Exchange Online](https://docs.microsoft

[2020-02-10 16:06] ViniciusSipoli opened #1710 "do we have a timeframe to replace the parameters ?"
[Enter feedback here]
Hi, i see "The BadItemLimit and LargeItemLimit parameters will be completely replaced by DataConsistencyScore at a future date."
it would be good if we have a time-frame to be documented so we can be prepared to the change accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b40bce01-0b1f-19

[2020-02-10 18:17] mattpennathe3rd commented on #1637
@g-karas Sounds like you've answered your own question, but just to verify, is there any change or clarification you would like to see mad to this article?

[2020-02-10 18:42] mattpennathe3rd commented on #1710
@ViniciusSipoli An excellent request and we definitely will do so. To my knowledge, this timeline has not been set in stone yet. As soon as we have this finalized, this article will be updated with that information.

[2020-02-10 18:44] ViniciusSipoli commented on #1710
Thanks for the quick response Matt, we will wait for the updates.

[2020-02-10 18:45] #1710 closed

[2020-02-10 18:54] mattpennathe3rd commented on #1666
@pupara Thank you for the feedback. We don't usually use video guides in this documentation set, but it's definitely something we can look at. I'm the writer who maintains this docs set, so I appreciate your suggestion and will start exploring whether it's viable.

[2020-02-10 18:54] #1666 closed

[2020-02-10 19:19] mattpennathe3rd commented on #1709
@p0shkar Thank you for this. I have updated this article and the edits will be published soon. Please let me know if I can help with anything else.

[2020-02-10 19:25] #1709 closed

[2020-02-10 23:09] jkubikng opened #1711 "How do you then remove the expired certificate?"
You can't just delete the certificate that expired as you do with other certificates you replace in Exchange.  It is something we do want to remove and clean up.  We don't want to just leave it there.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b3694c-16ed-97fb-1423-16d950922396
* Version Independent ID:

[2020-02-11 01:56] mattpennathe3rd commented on #1661
@JulioQc I heard back from Support that this is a known issue. It's slated to be fixed in the next CU, but beyond that, I don't have any more solid information. (I'm only the documentation guy.)

[2020-02-11 01:56] #1661 closed

[2020-02-11 02:12] #1649 closed

[2020-02-11 02:13] mattpennathe3rd commented on #1649
@IT373 Thank you for pointing this out. I've corrected the article and the updated version should be published in the near future.

[2020-02-11 02:25] mattpennathe3rd commented on #1711
@jkubikng Thanks for submitting this. I don't have an immediate answer for this, but I will investigate and see if there's a way to clarify this in the article.

[2020-02-11 03:04] mattpennathe3rd commented on #1707
@ildrosos Thank you very much for pointing this out. I've corrected the article and the changes should be published in the near future.

[2020-02-11 03:14] #1707 closed

[2020-02-11 15:57] SLGPA commented on #1595
Critical attributes you requested a list of:
msExchMailboxGUID
msDsConsistencyGUID
proxyAddresses
E-mail address policies (Yes, this is not an attribute, but Exchange ensures uniqueness and the consistency of proxyAddresses)
legacyExchangeDN (and X500 addresses in the proxyAddresses as well)

[2020-02-11 16:54] mattpennathe3rd commented on #1708
@Canis-Lupis An excellent question. I've searched quite a lot, but the docs seem to dance around this issue; they state in several places that it is possible to change this setting for the mailbox database as a whole (and thus apply it automatically to new user accounts and mailboxes), but then do not go into the needed detail for actually doing it.

I'll see if I can get some insight from the mor

[2020-02-11 17:28] mattpennathe3rd commented on #1534
@VNJoe Thanks for pointing this out. My apologies for the lengthy response time. I've clarified this article a bit to address the incorrect reference to Plan 2 and the changes should be published in the near future. Thanks again for filing the issue.

[2020-02-11 18:13] #1534 closed

[2020-02-11 18:19] skrubbeltrang commented on #1595
While we wait, have a look at this: https://www.easy365manager.com/
It will let you manage user's mail attributes, Exchange Online mailbox attributes and Office 365 licenses inside good old AD Users & Computers :-)

[2020-02-11 19:31] Krytical13 commented on #1595
@SLGPA
Thank you for that, however by saying:
"Critical attributes"
You make it clear that there are more attributes, and that someone else has decided which of the attributes are critical and which are not.

This entire problem at hand is: Where can we manage the things we NEED to manage?
Most of those those attributes you listed, should never be modified unless there is an issue.
In those one-of

[2020-02-11 19:34] JeremyTBradshaw commented on #1711
@jkubikng I found this https://social.technet.microsoft.com/Forums/en-US/f5349498-df20-4cea-a565-bd544ed56b0a/how-to-remove-previous-federation-gateway-certificate?forum=exchangesvradmin which you may have as well.  They say there that they did it via the MMC (certlm.msc in 2012 R2 and newer).  Seems like a stinky approach, but just FYI for now.

[2020-02-11 19:36] JeremyTBradshaw commented on #1711
Oh, and don't miss the step after in ADSI Edit to remove the dead cert's thumbprint from the Federation Trust (again stinky stuff here).
"I did wind up getting this fixed- I had to use ADSIEdit to copy the thumbprint of the current cert into the OrgPrevPrivCertificate value."

[2020-02-11 21:12] mattpennathe3rd commented on #1652
@CarolZixinWang Thank you for pointing this out. I've corrected the link in the article and the updated version will be published in the near future. Please let me know if I can do anything further.

[2020-02-11 22:13] mattpennathe3rd commented on #1655
@wshep007 Can you tell me which article you are referring to? I do not know what needs to be corrected.

[2020-02-11 22:24] mattpennathe3rd commented on #1654
@ecanales88 Thanks for filing the issue. You're correct; this does seem to conflict. I'm already working on getting an answer so I can update this article and I will post back soon, after I have news.

[2020-02-11 23:04] #1652 closed

[2020-02-11 23:10] Canis-Lupis commented on #1708
Thank you for your efforts.

[2020-02-12 10:19] Yoeeee opened #1713 "Broken Link"
[Enter feedback here]

API Scopes
https://mail.google.com/,https://www.googleapis.com/auth/calendar,https://www.google.com/m8/feeds/,https://www.googleapis.com/auth/gmail.settings.sharing

https://www.googleapis.com/auth/gmail.settings.sharing
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963b7331-1f6d-0400-d004-59797a

[2020-02-12 14:01] danfoxley opened #1714 "Exchange and AD Attributes"
This implies it is ok to have Exchange 2003 installed to manage AD attributes.  Please clarify, as I would think Exchange 2016 HCW is the only "supported" solution.

"If you implement a single sign-on solution, it is strongly recommended that you maintain at least one Exchange Server so that you can access Exchange System Manager (Exchange 2003) or the Exchange Management Console/Exchange Manageme

[2020-02-12 14:15] waduphead commented on #1524
Yes, i would very much like to know how to pull logs on this topic.  More so, for hybrid organization using ADFS and such.

[2020-02-12 14:43] joker226 opened #1715 "what about NDR and other system messages ?"
what about NDR and other system messages, can a rule be applied on them ? I have an issue and if the answer to "Can a rule be applied" is No, I would like to see it there

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9125c4e-9bd8-e991-efd4-3fb21213f368
* Version Independent ID: 11b0bc29-a2de-90c7-3e57-7eb90b88da87
*

[2020-02-12 14:49] born-slippy opened #1716 "Clarification on G Suite automatic mail forwarding"
Re:
"On the G Suite side, automatic mail forwarding has been set up for migrated users, so that new emails sent to their G Suite address will be delivered instead to the Office 365 address via the routing domain. This is shown by the green arrows in the above diagram."

Please note that if an organization has disabled user's ability to set forwarding addresses due to policy, that the 365 G Suite m

[2020-02-12 18:50] mattpennathe3rd commented on #1711
@jkubikng @JeremyTBradshaw After checking, I'm sorry to say there is no officially supported way of doing this at this time. We're not comfortable recommending that customers start deleting things using ADSI Edit, so we're not going to document that here; the ramifications aren't clear and it opens the door to making unintentional errors.

I recommend that you open a support ticket because they'll

[2020-02-12 18:50] #1711 closed

[2020-02-12 19:05] JeremyTBradshaw commented on #1711
Thanks @mattpennathe3rd , and I only meant to offer those solutions to @jkubikng , but not actually to have that process added to the article here.  Agreed, advising Adsi edits here would attract a lot of mayhem haha.

[2020-02-12 19:16] mattpennathe3rd commented on #1660
@diecknet Thanks for filing the issue. I will have to investigate and post back. If you have a pressing need for getting such a certificate working in your environment, please be sure to open a support ticket.

[2020-02-12 20:38] mattpennathe3rd commented on #1663
@quickclix75 Thanks for filing this issue. I'm working on updating this article and the edits should be published in the near future.

[2020-02-12 21:07] mattpennathe3rd commented on #1664
@quickclix75 I need a bit more information on this. Can you provide more context as to what you would like changed in this article?

[2020-02-12 21:18] mattpennathe3rd commented on #1660
@diecknet There are no certificate requirements for a hybrid deployment other than what Exchange requires (and wildcard certificates are supported on Exchange Server). Hybrid does not require new or additional certificates and only checks that certificates are valid - that is, not expired and not self-signed. That being the case, there isn't really anything I can add to this article, as in the con

[2020-02-12 21:18] #1660 closed

[2020-02-12 21:26] mattpennathe3rd commented on #1665
@damtrx This sounds like a product bug or a configuration issue rather than a documentation problem. I am only able to help with documentation issues here in this repo (I'm not a support person), so please open a support ticket.

If there is in fact a docs problem, please let me know and I'd be glad to help.

[2020-02-12 21:26] #1665 closed

[2020-02-12 21:33] mattpennathe3rd commented on #1669
@stephenc01 These are different articles covering different scenarios for different products. If there are errors in the Exchange Online article, please let me know and I'd be glad to address them.

[2020-02-12 21:33] #1669 closed

[2020-02-12 21:34] mattpennathe3rd commented on #1671
@dagroll Thanks for filing the issue. I'll investigate and see if there are ways to clarify this.

[2020-02-12 21:35] mcastorina08 opened #1717 "Native Microsoft Sync Clarification"
The specific protocol is not mentioned. Does Outlook for IOS/Android use MAPI over HTTP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b221cd8e-e6d1-e383-65a2-11f7241de966
* Version Independent ID: cf978d97-c1e6-f0b7-7407-4f70d2284d17
* Content: [Outlook for iOS and Android in Exchange Online](https://docs.microsoft.c

[2020-02-12 21:41] mattpennathe3rd commented on #1672
@wushujames Look like this one is a dupe of #1673. Thanks again for proposing the fix.

[2020-02-12 21:41] #1672 closed

[2020-02-12 21:45] quickclix75 commented on #1664
Hey @mattpennathe3rd its in relation to the OrgWideFB user account on the untrusted availability address space.. The one we had setup was a mail enabled contact which stopped the availability lookup working.

[2020-02-12 21:46] quickclix75 commented on #1663
@qnquocanh I did indeed configure a maibox object with the guids and it resolved my issue.

[2020-02-13 00:08] devFofo commented on #1488
Having the same issue. Reading the documentation on setting up the Hybrid Agent (https://docs.microsoft.com/en-us/exchange/hybrid-deployment/hybrid-agent#installation-prerequisites) and following the documentation.
Installation Pre-Requisite, step d is:
Test-HybridConnectivity -TestO365Endpoints

This does not work. Name resolution for 'watchdog.servicebus.windows.net' is not working.

[2020-02-13 12:54] p0shkar commented on #1582
Does not work for us. Been trying to find info about support for MA but can't find anything concrete. After MFA approval by the ADFS, gmail tries to fetch emails and gets error "Can't reach server".

[2020-02-13 13:00] Niels-NL commented on #1582
@p0shkar are you testing it on a android device or apple?
We have already about 664 users who are using it in our tenant.
See screenshot i created in the cloud app portal.
![image](https://user-images.githubusercontent.com/58592262/74437823-1e978300-4e69-11ea-8d6e-545e0c328b8d.png)

[2020-02-13 15:11] p0shkar commented on #1582
@niels-NL Android device, non-corporate managed. Created the Authentication Policy with default settings (no basic auth allowed) and as soon as it got activated for the test users it stopped working with the gmail app (not g-suite).

[2020-02-13 16:18] jkubikng commented on #1711
@mattpennathe3rd Thank you for looking into this.  It's interesting Microsoft has these certificates then no way to cleanly remove them after they expire.

[2020-02-13 17:37] #1663 closed

[2020-02-13 18:52] RobXYZ commented on #1696
I had the same error and discovered it was because I had the "target delivery domain" setting in the migration set to the main domain instead of a temporary o365 subdomain. I assume the Google API is complaining because it is being asked to forward emails back to the same mailbox.

If everything is migrating fine and your MX records are pointing at O365 there is not really any reason to add the fo

[2020-02-13 20:14] IanBarnesZa commented on #1696
Thanks RobXYZ - makes sense what you're saying.
I've moved on already, just thought perahps this should get an FAQ or something at least.

[2020-02-13 23:31] zerodrool opened #1720 "-FreeBusyAccessLevel switches"
Remove hyphen from commands for free busy access level
"-FreeBusyAccessLevel -LimitedDetails" should be "-FreeBusyAccessLevel LimitedDetails"

It is correct in the first command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e75a151d-8833-820a-f896-2bda90639c7a
* Version Independent ID: c098487b-e9bd-c12f-9674-c2a6f97

[2020-02-14 13:14] PrayingMoses opened #1722 "Message Tracking docs out-of-date?"
Source: SMTP EventId:SENDEXTERNAL not within the docs.

[2020-02-14 16:32] mattpennathe3rd commented on #1648
@ArttuArstila @ChrisStoneham @ajacks88 The article has been updated and I hope the new context helps you. You can indeed view the DCS from PowerShell as well as in EAC.

I will close this issue now, but please feel free to open a new issue if you have further suggestions on this content.

[2020-02-14 16:32] #1648 closed

[2020-02-14 17:07] arh0770 commented on #1680
What I've recently learned is that blocking legacy authentication with conditional access doesn't actually block the authentication requests.  It only blocks it once a correct password is received.  So, if you have an attacker trying to brute force your account with legacy auth (i.e. IMAP) the attack keeps coming and then account lockout policies will still apply.  I currently have a ticket open w

[2020-02-14 21:50] mattpennathe3rd commented on #1674
@erihnbapsjfdb Thank you for pointing this out. I will look into this soon and will follow up.

[2020-02-14 21:51] mattpennathe3rd commented on #1675
@tfurstms Thanks for filing this issue. I'll look into this soon and will follow up.

[2020-02-14 21:52] mattpennathe3rd commented on #1679
@danmyhre Thanks for filing this issue. This one will take a bit of digging, but I will follow up.

[2020-02-14 21:56] mattpennathe3rd commented on #1680
@Jhines09 Thanks for filing this issue. I'll have to investigate further, but will follow up.

[2020-02-14 21:58] mattpennathe3rd commented on #1681
@jebalert Thanks for filing this issue. I'm not sure I can address this one in this article, but I'll look into it and will report back.

[2020-02-14 22:04] mattpennathe3rd commented on #1683
@jreinhardtiv4 Thank you for filing this issue. I will investigate and will report back on what I an do to clarify this.

[2020-02-14 22:07] mattpennathe3rd commented on #1684
@milkshakespoon I'll have to look into this further, as it's not clear this is a general rule or something specific to your environment. I'll report back and see if there's anything I can do to improve the article.

[2020-02-14 22:08] mattpennathe3rd commented on #1612
@Mike-Crowley Thanks for filing this one. I'll have to look into this further, but I will report back and we'll see what we can do to clean this up.

[2020-02-14 22:13] mattpennathe3rd commented on #1685
@ducatikiller I'm sorry, but this does not seem to be a documentation issue. This repo is only for feedback on the documentation, as I'm unable to offer Support here or answer deployment questions. (I'm only a Technical Writer.) My advice is to open a support ticket. They will be able to advise you on what's best in your environment.

If it turns out there's a gap in this article, please open a ne

[2020-02-14 22:13] #1685 closed

[2020-02-14 22:28] mattpennathe3rd commented on #1686
@doverton12 I'm sorry, but I cannot answer support questions here. If your question applies to PowerShell examples in specific articles in this repository, please open issues on those articles so I know what you're referring to. I'll be much better equipped to improve the articles, in that case.

[2020-02-14 22:28] #1686 closed

[2020-02-14 22:50] mattpennathe3rd commented on #1687
@Krytical13 Thanks for submitting this. I'm going to review this one and see what I can do to clarify the article.

[2020-02-14 23:00] mattpennathe3rd commented on #1688
@Corina-Ionescu Thanks for submitting this. I've updated the link and the new version should be published in the near future. Please let me know if you see any other issues with this article (or with any others in this repo). Thanks again.

[2020-02-14 23:00] mattpennathe3rd commented on #1473
@ArendvanDijk  Thanks for submitting this. I've updated the link and the new version should be published in the near future. Please let me know if you see any other issues with this article (or with any others in this repo). Thanks again.

[2020-02-14 23:08] mattpennathe3rd commented on #1598
@sgreenlee11 Thanks for submitting this issue. I'm going to look into this and will report back on what I can do to clarify this article.

[2020-02-14 23:12] mattpennathe3rd commented on #1572
@jmrita I believe this information is covered in [Certificate Requirements](https://docs.microsoft.com/en-us/exchange/certificate-requirements). Certificates must be purchased from a 3rd-party certificate authority.

[2020-02-14 23:12] #1572 closed

[2020-02-14 23:13] mattpennathe3rd commented on #1488
@MarkLofthouse @devFofo Thanks for filing this issue (and my apologies for the delay in addressing it). I'll have to look into this and will report back.

[2020-02-14 23:23] mattpennathe3rd commented on #1689
@psykokwak4 Thank you very much for submitting this. I've updated the article and the new version will be published in the near future.

Just so you know, in the future for simple fixes like this, you can edit the content and submit a pull request of your own. On each article, look for the Edit button in the upper right corner and that will walk you through the process.

Thanks again for filing th

[2020-02-14 23:25] mattpennathe3rd commented on #1690
@MDanihy Thank you for opening this issue. I'll have to investigate further, but will report back with an update.

[2020-02-14 23:54] mattpennathe3rd commented on #1628
@michevnew Thanks for filing this issue. It looks like this can be clarified, so I will investigate and report back. Thank you again for pointing this out.

[2020-02-15 00:01] mattpennathe3rd commented on #1691
@azizakyavas I'm sorry, but I'm unable to answer support questions here. If there's a deficiency with a specific article, please open an issue from that article page so I can more easily remedy the problem with the documentation, but it sounds like you are having a configuration problem and you should open a support ticket.

[2020-02-15 00:01] #1691 closed

[2020-02-15 00:12] mattpennathe3rd commented on #1692
@stuntguy3000 Thank you very much for pointing this out. I've corrected this command and the updated article will be published in the near future.

[2020-02-15 00:16] CThreadgill opened #1725 "Missing Modern Public Folder Hybrid"
Glaring omission on how to configure Exchange 2013-2019 Modern Public Folder for hybrid per this article
https://docs.microsoft.com/en-us/exchange/collaboration-exo/public-folders/set-up-modern-hybrid-public-folders

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2503f71a-ca17-de82-0f15-b0477ad43012
* Version Independen

[2020-02-15 00:17] mattpennathe3rd commented on #1693
@alnelsonau This is a big question. I'm not sure we can address this need here, but I will investigate and see if it's practical.

[2020-02-15 00:19] mattpennathe3rd commented on #1696
@IanBarnesZa I'm sorry, but this sounds like a configuration issue rather than a docs problem, so please open a support ticket if you still need assistance. This repo is only for providing feedback on documentation, so I am unable to answer support questions here. (I am only a Technical Writer.)

[2020-02-15 00:22] mattpennathe3rd commented on #1697
@mbuor2020 I'm sorry, but this repo is only for reporting problems with the documentation and I am unable to answer product support questions here. Please open a support ticket if you require assistance with this problem.

[2020-02-15 00:22] #1697 closed

[2020-02-15 00:25] mattpennathe3rd commented on #1698
@andy2002a Thanks for filing this issue. I'm going to investigate this and will report back in the near future.

[2020-02-15 00:33] #1689 closed

[2020-02-15 00:34] mattpennathe3rd commented on #1725
@CThreadgill I'm sorry, but I'm not sure what issue you're pointing out. This is the on-premises Exchange Server documentation and your scenario only applies to hybrid deployments, which is a separate documentation set that you linked to. Am I misunderstanding?

[2020-02-15 00:43] #1473 closed

[2020-02-15 00:43] #1688 closed

[2020-02-15 00:44] CThreadgill commented on #1725
The scenarios go from setting up New, Legacy Hybrid, then skips to migration.  Orgs running 2013/16/19 have to follow different coexistence steps that are not mentioned here at all, but found elsewhere (link above)

[2020-02-15 00:50] mattpennathe3rd commented on #1647
@Michael-Bai Just so you know, this has been corrected and the updated article will be published in the near future. Thank you very much for submitting this. 谢谢您。

[2020-02-15 00:51] #1692 closed

[2020-02-15 00:57] mattpennathe3rd commented on #1699
@jreinhardtiv4 Thanks for filing this. I will investigate soon and will report back on how we might be able to clarify this article.

[2020-02-15 00:58] mattpennathe3rd commented on #1701
@craig-martin Thanks for this. Can you follow up and clarify what aspects of this article should be clarified? I think I need more to go on.

[2020-02-15 01:01] mattpennathe3rd commented on #1702
@phillkOCCM Thanks for submitting this issue. I'll have to investigate further, but will report back on what might be possible here.

[2020-02-15 01:45] mattpennathe3rd commented on #1705
@JeremyTBradshaw Thanks for submitting this and for the correction. I've removed the note and the updated article should be published soon.

[2020-02-15 01:48] mattpennathe3rd commented on #1706
@kevinblumenfeld Thanks for filing this issue. I'll have to investigate further, but will report back on what we might be able to do. Please note that I can't answer support questions here, as I only work on the docs, but I'll do what I can.

[2020-02-15 02:04] mattpennathe3rd commented on #1713
@Yoeeee Thanks for submitting this. I'm working on a correction now and the updated article should be published in the near future.

[2020-02-15 02:06] mattpennathe3rd commented on #1714
@danfoxley Thanks for submitting the issue. I will have to check into this, but will report back soon and will see if we can clarify the article.

[2020-02-15 02:08] mattpennathe3rd commented on #1715
@joker226 Thanks for filing this issue. I will need to investigate, but I will report back.

[2020-02-15 02:09] mattpennathe3rd commented on #1716
@born-slippy Thanks for filing this issue. I'll investigate this one and will report back.

[2020-02-15 02:18] mattpennathe3rd commented on #1717
@mcastorina08 Thanks for filing this issue. I will have to investigate this, but will report back soon on whether we can clarify this a bit.

[2020-02-15 02:25] mattpennathe3rd commented on #1720
Fixed by #1721 . Thanks again, @zerodrool.

[2020-02-15 02:25] #1720 closed

[2020-02-15 02:27] mattpennathe3rd commented on #1722
@PrayingMoses Thank you for submitting this issue. I will investigate this further and will post back in the near future.

[2020-02-15 02:36] #1647 closed

[2020-02-15 02:41] #1705 closed

[2020-02-15 02:44] #1713 closed

[2020-02-15 08:11] psykokwak4 commented on #1689
thanks... and a friendly reminder, clone the repository, setup GPG signing key, follow corresponding GitHub documents, then you'll have all the commits shown as signed :D

[2020-02-15 10:11] IanBarnesZa commented on #1696
Yes, It definitely is a configuration issue, not debating that, but since you know what causes it - perhaps it could feature in an FAQ of error messages and what the cause is. Will close this anyway...

[2020-02-15 10:28] RobXYZ commented on #1696
I opened a support ticket that was running for almost 3 weeks with two engineers and no resolution. The engineers did not know the cause of the error and I eventually stumbled across the solution myself. The problem is the error does not give much information so it would be useful if this was documented somewhere.

[2020-02-15 13:18] NRPPS commented on #1552
Any response on this?  I am interested in changing from Cert Based Authentication to Modern Auth.

[2020-02-15 15:56] hilljw opened #1727 "Does this migration method work in GCC High environments?"
If so, are there special configurations required to make it work?
If not, what are the allowed options for migrating email to O365 GCC High?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75c68b82-8feb-80fd-2e70-49199991dcd7
* Version Independent ID: 875fbcea-7a00-ca24-2edb-20bbee3744a8
* Content: [Migrate consumer G S

[2020-02-15 16:00] kevinblumenfeld commented on #1706
@mattpennathe3rd Thank you.  I would only be looking for clarification that any other consultant/admin would require - not support.  I would say most are looking for how setup coexistence then ultimately migrate public folders to office 365.  The script names introduce confusion. Also, three articles to do two things.  I have done many public folder coexistence preps and migrations and while I hav

[2020-02-16 16:39] tommycat1313 opened #1728 "Sync-ModernMailPublicFolders finding non-existent alias/smtp"
The Sync-ModernMailPublicFolders works fine, this may just be an Exchange issue, not sure.

Running the command in Exchange 2013 environment and one of the folders fails with "You can't use the domain  because it's not an accepted domain for your organization". Looking at the output, I see one of the folder's SMTP entries has a typo in it. I remove the typo'd entry from the folder using EAC, and r

[2020-02-16 16:52] #1728 closed

[2020-02-16 19:14] ekzp opened #1729 "Scenario 4: On-prem Linux mail server, some mailboxes moved to O365 and DirSync"
What if there is a non-Microsoft Linux-based on-prem mail solution (e.g. Postfix/Dovecot), some mailboxes moved to O365, shared namespace for mail flow coexistence, and DirSync for SSO and simplified management?

In this scenario:
1. There are no Exchange attributes because there has never been an Exchange server installed in the on-prem, system.
2. With DirSync in place and no Exchange attributes

[2020-02-17 06:18] scanum commented on #623
@michevnew Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:18] #623 closed

[2020-02-17 06:18] scanum commented on #1073
@eepyaich Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:18] #1073 closed

[2020-02-17 06:18] scanum commented on #1156
@toramaro2000 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:18] #1156 closed

[2020-02-17 06:19] scanum commented on #1180
@JuanGasca Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:19] #1180 closed

[2020-02-17 06:20] scanum commented on #1408
@cjg88 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:20] #1408 closed

[2020-02-17 06:21] scanum commented on #1321
@msdmaguire  Following up on this issue. Could you please provide the link that is required? Thank you!

[2020-02-17 06:22] scanum commented on #1429
@msdmaguire Hi David, could you please aid with next steps on this issue? Thanks!

[2020-02-17 06:26] scanum commented on #1303
@dstrome @msdmaguire Hi! Wondering if there is any updates on resolution of this issue? Thanks!

[2020-02-17 06:27] scanum commented on #1377
@msdmaguire Hi David! Wondering if there are any updates on this issue regarding the images and corrections? Thanks!

[2020-02-17 06:29] scanum commented on #1459
@evandimsby Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:29] #1459 closed

[2020-02-17 06:29] scanum commented on #1469
@paroola Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:29] #1469 closed

[2020-02-17 06:29] scanum commented on #1470
@Canis-Lupis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:29] scanum commented on #1472
@zlDev thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-02-17 06:31] scanum commented on #1498
@AZDiablo thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-17 06:31] #1498 closed

[2020-02-17 06:31] scanum commented on #1499
@greg-fischer thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-02-17 06:31] #1499 closed

[2020-02-17 06:32] scanum commented on #1505
@chrisda Hi Chris! Hope everything is well. Wondering if you have any insights on this issue? Thanks!

[2020-02-17 06:32] scanum commented on #1511
@DevZneb thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-17 06:32] #1511 closed

[2020-02-17 06:33] scanum commented on #1532
@JeremyTBradshaw thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-02-17 06:33] scanum commented on #1536
@seamonkey420 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-02-17 06:33] #1536 closed

[2020-02-17 06:33] scanum commented on #1541
@stevecharon thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-17 06:33] #1541 closed

[2020-02-17 06:35] scanum commented on #1549
@MaratMussabekov Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-17 06:35] scanum commented on #1550
@pawp81 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-02-17 06:35] #1550 closed

[2020-02-17 06:36] scanum commented on #1551
@gmicho thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-02-17 06:36] #1551 closed

[2020-02-17 06:37] scanum commented on #1557
@danmyhre Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:37] #1557 closed

[2020-02-17 06:37] scanum commented on #1558
@chrisda Hi Chris! Wondering if there are any updates on the resolution of this request? Thanks!

[2020-02-17 06:38] scanum commented on #1561
@Weishaupt thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-02-17 06:40] scanum commented on #1581
@mozilla0 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-17 06:40] #1581 closed

[2020-02-17 06:42] scanum commented on #1585
@josuvil Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:42] #1585 closed

[2020-02-17 06:43] scanum commented on #1588
@Weychris We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:43] #1588 closed

[2020-02-17 06:43] scanum commented on #1591
@webstaff We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:43] #1591 closed

[2020-02-17 06:43] scanum commented on #1596
@GiantCrocodile thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-02-17 06:44] scanum commented on #1609
@dannyp14 Could you please link the documentation you are referring to? Thanks!

[2020-02-17 06:51] scanum commented on #1626
@FrogThomas We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:51] #1626 closed

[2020-02-17 06:51] scanum commented on #1636
@JeroenDronkers thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-02-17 06:51] #1636 closed

[2020-02-17 06:52] scanum commented on #1637
@g-karas We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 06:52] #1637 closed

[2020-02-17 06:56] scanum commented on #1656
@travisadvisicon thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-02-17 07:02] scanum commented on #1703
@PJNield thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-17 07:03] scanum commented on #1722
@PrayingMoses Hi! Could you please link the documentation you are referring to? Thanks!

[2020-02-17 07:04] scanum commented on #1729
@ekzp thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-02-17 07:04] #1729 closed

[2020-02-17 07:04] scanum commented on #1708
@Canis-Lupis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-17 07:05] PJNield commented on #1703
Hi,

I added my patch to get past the issue.

From: Manuela Scanu <notifications@github.com>
Sent: Monday, 17 February 2020 8:02 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: PJNield <peter.nield@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] Export-ModernPublicFolderStatistics.ps1 - AdminDisplayVersion is a

[2020-02-17 09:12] webstaff commented on #1591
Not sure if the something was wrong on the new partner page but the admin pages reappeared the next day and we could make changes as we used to.
Apologies for the delay getting back to you but yes please feel free to close the note.
Best Regards
Dave

[2020-02-17 12:54] danmyhre commented on #1557
This isn't resolved @scanum

[2020-02-17 14:23] stevecharon commented on #1541
Oh, just great. My tenant is on-premise, so should I submit a ticket with myself?
Documentation nowadays goes to the extent of covering the basics my 10year son figures and anything beyond is just support-heavy. Dont know how that works for you but on my end this is just useless.

[2020-02-17 15:00] omertaran opened #1730 "Support for searching within attached emails (eml)"
Is there an expected timeline for allowing searching within attached emails (eml/msg formats)?

[2020-02-17 15:12] j0rt3g4 commented on #1455
@trudolf-msft So, can we close this one? or want me to add something in a PR?

[2020-02-17 15:56] Canis-Lupis opened #1731 "#1708 closed without resolution."
@scanum #1708 was not resolved before you closed it.  Last status was from @mattpennathe3rd who stated, "I'll see if I can get some insight from the more technical folks here and will report back."  So far, he was not reported back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10a43744-eddc-762f-d3c7-6f8732141ad7
* V

[2020-02-17 16:02] msbemba commented on #1675
@tfurstms  Thank you for your feedback, We have modified the document with more clarity on Bypassing ATP. This can be tracked via PR # https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1732

Thanks
Sri

[2020-02-17 16:16] msbemba commented on #1680
@Jhines09 Thank you for your feedback. You are correct, Enabling Security defaults will disable Legacy authentication in Exchange Online.

Thanks
Sri

[2020-02-17 16:44] msbemba commented on #1687
@Krytical13  Thank you for your feedback. We have added the steps in detail to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1733

Thanks
Sri

[2020-02-17 16:54] msbemba commented on #1690
@MDanihy  Thank you for your feedback. The document refers to a Standalone EOP license (https://products.office.com/en-us/exchange/exchange-email-security-spam-protection).

Hope this helps!

Thanks
Sri

[2020-02-17 17:09] msbemba commented on #1698
@andy2002a  Thank you for the feedback. We have modified the doc to update Step 5. This can be tracked via PR#https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1734

Thanks
Sri

[2020-02-17 17:24] msbemba commented on #1699
@jreinhardtiv4  Thank you for the feedback. We have modified the document via PR# https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1735 and Waiting for Author's suggestion/approval to merge it.

Thanks
Sri

[2020-02-17 17:30] msbemba commented on #1701
@craig-martin Thank you for your feedback. We have added the row via PR#https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/1736. This is waiting for the authors' approval/suggestion to merge.

Thanks
Sri

[2020-02-17 19:05] GiantCrocodile commented on #1596
Service request (Ticket-ID # 18753425) has been opened.

[2020-02-17 21:13] jkalber-wc opened #1737 "Create a sub-domain for mail routing to your G Suite domain"
Good afternoon everyone!  I am in the process of doing my first migration from G Suite to Office 365.  Little bit of info regarding the environment, we use G Suite as our email service and Outlook 365 to send/receive.

End users have a Office 365 account with a Office 365 Business license assigned to their user account.

I am following this documentation;
https://docs.microsoft.com/en-us/exchange/

[2020-02-17 21:31] #1737 closed

[2020-02-17 21:31] jkalber-wc opened #1738 "Create a sub-domain for mail routing to your G Suite domain"
Good afternoon everyone! I am in the process of doing my first migration from G Suite to Office 365. Little bit of info regarding the environment, we use G Suite as our email service and Outlook 365 to send/receive.

End users have a Office 365 account with a Office 365 Business license assigned to their user account.

I am following this documentation;
https://docs.microsoft.com/en-us/exchange/ma

[2020-02-18 08:46] Dzysta opened #1739 "Configuration key for OneDrive"
Hi,

I'm not able to find configuration key for Outlook mobile app on iOS (using Intune)  which allows me to configure automatic connection to OneDrive when user login.

Is this even possible?

[2020-02-18 14:09] bmshahrier opened #1741 "MFA for SMTP Relay"
Option 1 don't work if MFA enabled on account. If this information could be mention in this article, it would same time for administrators and Microsoft support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e4e3f0-bb9c-cca0-9343-49926262caba
* Version Independent ID: 75645bf5-f9a5-b5b9-d9e6-856e32ffc97f
* Content:

[2020-02-18 19:10] dariomws306 commented on #1659
Hi @yacooob, thank you for your feedback.

If you click on the "Multi-domain support for Office 365 Groups" link you can find this information.

[2020-02-18 19:31] msdmaguire commented on #1377
Hi, sorry for the delay. I'm going to assign this to @mattpennathe3rd, and if his bandwidth allows an updated screen shot, great. However, the entire Exchange admin console is currently undergoing an update, so fixing older visuals is not a high priority right now.

[2020-02-18 19:35] dariomws306 commented on #1658
Hi @olmitt, thank you for your feedback.

I am thinking that it doesn't add real value as it shouldn't affect the rollback process.

[2020-02-18 19:39] NeighborGeek opened #1742 "Specify that the onmicrosoft.com address should be used"
Under the "Apply to a small set of users" section, there is a note explaining that enhanced filtering only applies if the specific email address matches, and that for a user with multiple addresses it would be necessary to enter each of those addresses separately in order to ensure enhanced filtering applies.  That's correct, but I think it needs to go a little further.  With support's assistance,

[2020-02-18 20:20] dariomws306 commented on #1638
Hi @3novsan, thank you for your feedback.

You don't require Organization Management and Recipient Management, you require Organization Management or Recipient Management.
Organization Management includes all the permissions granted to Recipient Management.

[2020-02-18 20:23] dariomws306 commented on #1634
Hi @nickinenglish, thank you for your feedback.

I have just verified in my lab environment and Send As is there:
![image](https://user-images.githubusercontent.com/33589238/74774928-60fafe80-5273-11ea-8807-ec9619905ce3.png)

[2020-02-18 20:29] dariomws306 commented on #1632
Hi @andocromn, thank you for your feedback.

There is a note in the article about this:
"To delete items from the mailbox without copying them to another mailbox, use the preceding command without the TargetMailbox and TargetFolder parameters."

[2020-02-18 20:58] msdmaguire commented on #1303
@dstrome if you don't have bandwidth to address, or know the answer, we should give this to @mattpennathe3rd to prioritize and chase down an answer.

[2020-02-18 21:16] msdmaguire commented on #1321
Fixed the broken links and changes should be live by end of day.

[2020-02-18 21:16] #1321 closed

[2020-02-18 21:53] devFofo commented on #134
The powershell command examples for p7b have an extra ] at the end.

[2020-02-18 21:54] devFofo opened #1743 "PKCS #7 Powershell examples have an extra ] characters at the end of the line"
Right line is probably:
Import-ExchangeCertificate -FileData ([Byte[]](Get-Content -Encoding Byte -Path "&lt;FilePathOrUNCPath&gt;" -ReadCount 0))
with no ] at the end

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0aa4eed-e992-4cd9-0b43-4321eb65160d
* Version Independent ID: 3fe6fed7-215e-a93a-9dd5-24b59af1c815
* Con

[2020-02-19 07:15] nickinenglish commented on #1634
Thank you for the response, I do apologize, the user account I was using
was not the default administrator account so the "send as" option was
not there.

Thank you

On 2020-02-18 3:23 p.m., Dario Woitasen wrote:

[2020-02-19 08:59] JonasDewit opened #1745 "Error 5.7.708 - access denied"
The information in this paragraph is unclear. What is the low reputation of the IP addresses based on? Which IP addresses does this refer to? Which licenses does this refer to? How to request an exception? And an exception to what exactly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf9a643-6f4b-c052-8d93-380d85d17

[2020-02-19 16:45] dariomws306 commented on #1625
Hi @CaseGuide, thank you for your feedback.

Same issue for me with semicolon:
![image](https://user-images.githubusercontent.com/33589238/74854392-09fe3380-531e-11ea-851c-b8d00890e9c5.png)

Could you kindly share a screenshot?

[2020-02-19 17:17] vsmusic2000 opened #1746 "Outlook for iOS and Android"
In the list of unsupported clients, why does it say that Outlook for iOS and Android do not support modern authentication?

[2020-02-19 17:20] dariomws306 commented on #1624
Hi @jonwbstr, thank you for your feedback.

Reviewing the entire article, I see that at no time is there any mention of alternative solutions to public folders. I think this question should follow the same line.

[2020-02-19 18:14] dariomws306 commented on #1629
Hi @FredVH, thank you for your feedback.

Similar issue was opened some months ago:
https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/1029
I think we don't have any update on this but let's try.

@mattpennathe3rd @msdmaguire could you kindly help to confirm if we have more information now? Thanks!

[2020-02-19 18:22] dariomws306 commented on #1629
I have installed Exchange 2016 and 2019 from scratch in two separated lab environments and I found 6 SystemMailboxes. This is the new one:
SystemMailbox{8cc370d3-822a-4ab8-a926-bb94bd0641a9}

[2020-02-19 18:25] j0rt3g4 opened #1747 "This Cmdlet is no longer valid on Exchange Online"
The cmdlet New-GlobalAddressList or Get-GlobalAddressList is no longer available for Exchange Online.
![image](https://user-images.githubusercontent.com/5489996/74863401-7293e300-5313-11ea-943f-9ed6f47289dd.png)

![image](https://user-images.githubusercontent.com/5489996/74863437-87707680-5313-11ea-916f-7142f97aa69f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-02-19 18:39] jonwbstr commented on #1624
Good point. My suggestion was to provide an alternative and avoid just
saying no, similar to other answers in this article
For example, the question 'Can public folders be accessed using smart
phones or mobile phones' could also be answered with 'no, not at this time'
and isn't.

The alternative is migrate the public public folders to something o365
groups, which I also notice isn't listed as a mi

[2020-02-19 18:46] mattpennathe3rd commented on #1675
@tfurstms I believe we have a fix in place and the revised article will be published soon. Thanks again for filing this and please let me know if you have further comments on the content.

[2020-02-19 18:50] #1675 closed

[2020-02-19 19:21] mattpennathe3rd commented on #1687
@Krytical13 We've added many descriptions surrounding this feature, so this should resolve your issue. Thanks again or opening this issue. The updated article will be published in the near future.

[2020-02-19 19:38] #1687 closed

[2020-02-19 20:00] mattpennathe3rd commented on #1701
@craig-martin This has been updated and the revised article should be published in the near future.

[2020-02-19 20:00] #1701 closed

[2020-02-19 22:51] dariomws306 commented on #1624
Agree. I had not seen those 2 lines, I think we can add something similar to this question.

[2020-02-19 23:10] mattpennathe3rd commented on #1613
@Mike-Crowley Thank you for raising this. I double-checked with the team and the article is correct as written; 1000 public folders are supported when they're created new, but only 100 are supported when they are being migrated from Exchange Server.

Even so, this distinction is a point of confusion and I've made some changes to the article to try to clarify. These changes should be published soon

[2020-02-19 23:11] mattpennathe3rd commented on #1518
@mariosaelikeit You are correct. Thank you very much for raising this. I've updated the article and the changes will be published in the near future.

[2020-02-19 23:11] dariomws306 commented on #1621
Hi @GLComputing, thank you for your feedback.

I updated collaboration link, not sharing link because there isn't new content for Exchange 2016/19.

[2020-02-19 23:16] Mike-Crowley commented on #1613
aha, yes, that'd be great. I think adding that distinction would be a helpful addition.

[2020-02-20 00:30] #1518 closed

[2020-02-20 00:30] #1613 closed

[2020-02-20 00:30] #1698 closed

[2020-02-20 09:57] lindspea commented on #1722
@PrayingMoses please send us the link to the document you are referring to so we can investigate further.

[2020-02-20 10:16] teafilter opened #1751 "Not valid brake-tags"
you are using invalid brake html tags, in your html section:
&lt;div style="font-size:9pt;  font-family: 'Calibri',sans-serif;"&gt;
%%displayname%%&lt;/br&gt;
%%title%%&lt;/br&gt;
%%company%%&lt;/br&gt;
%%street%%&lt;/br&gt;
%%city%%, %%state%% %%zipcode%%&lt;/div&gt;
&nbsp;&lt;/br&gt;
&lt;div style="background-color:#D5EAFF; border:1px dotted #003333; padding:.8em; "&gt;
&lt;div&gt;&lt;img alt="F

[2020-02-20 10:18] lindspea commented on #1727
@mattpennathe3rd

[2020-02-20 14:42] J-a-k-o-b opened #1752 "Working with soft deleted mailboxes: connect-mailbox not possible"
Hi,
when i try to connect a soft deleted mailbox via connect-mailbox this isn´t possible. The connect-mailbox command can´t find the disconnected mailbox. This is also whats described in:
https://docs.microsoft.com/en-us/exchange/recipients/disconnected-mailboxes/disconnected-mailboxes?view=exchserver-2016#working-with-soft-deleted-mailboxes
But in the table:
https://docs.microsoft.com/en-us/excha

[2020-02-20 16:18] j0rt3g4 commented on #1747
The solution was on the EAC (Portal > Show All > Exchange > Permissions > (On tab Admin Roles) select Organization Management)
![image](https://user-images.githubusercontent.com/5489996/74955352-29eb3100-53ca-11ea-9c29-d02851dcf3db.png)

Then Add: Address List and press ok as shown:
![image](https://user-images.githubusercontent.com/5489996/74955487-569f4880-53ca-11ea-8d50-61e5d1bef7f8.png)

[2020-02-20 18:25] dariomws306 commented on #1616
Hi @Mike-Crowley, thank you for your feedback.

I am applying an update, let's see if gets approval. Please, if you don't mind check the pull request to see if you agree.

Thanks again!

[2020-02-20 18:48] apanzalovic opened #1754 "Delivery notification or delivery receipts for O365 Groups"
Can we get clarity on the Delivery notifications/receipts on a MS Group? Seems to be dropped by the server with a very ambiguous error stating that an InboxRule deleted the message but perhaps it should state the same error as we have for DLs to indicate that delivery receipts are not applicable for Groups.
You guys created a complex Chimera of a product but some of the logic seems to not have fol

[2020-02-20 20:51] dariomws306 commented on #1635
Hi @JeroenDronkers, thank you for your feedback.

@mattpennathe3rd could you kindly help with to confirm this information?

[2020-02-20 21:19] dannyp14 commented on #1609
https://docs.microsoft.com/en-us/Exchange/collaboration/public-folders/batch-migration-from-previous-versions?view=exchserver-2016

[2020-02-21 18:36] jreinhardtiv4 opened #1756 "Converting a Classic to a Modern Deployment"
The note under Running setup that claims that the modern option is not presented when a classic deployment has already been deployed doesn't seem to be holding true for me. When a pre-existing Exchange 2010 Classic deployment is enabled and the wizard is run connecting to an Exchange 2016 server to upgrade the deployment to Exchange 2016, there is a request on whether to setup classic or modern hy

[2020-02-21 19:27] mattpennathe3rd commented on #1699
@jreinhardtiv4 We've updated this article, but I want to make sure we've addressed all your concerns. Specifically, I'm not sure how the UserScopeFrom section can be improved. This issue will be closed when the existing changes are merged, BUT please comment back (or open a new issue and reference this one in the description) if you feel there's a need for more changes. I might need some additiona

[2020-02-21 19:36] #1699 closed

[2020-02-21 20:12] mattpennathe3rd commented on #1751
@teafilter Thank you very much for pointing this out! I've fixed these (and the identical problem in 2 other files, as well), so this should be all set. Thank you again for filing the issue.

[2020-02-21 20:31] Weishaupt commented on #1561
@scanum can you elaborate why this is the best course of action? This is clearly related to missing documentation.

[2020-02-21 20:39] scanum commented on #1730
@omertaran thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-02-21 20:39] scanum commented on #1731
@Canis-Lupis An apology about that. Will re-open.

[2020-02-21 20:39] #1730 closed

[2020-02-21 20:39] scanum commented on #1739
@Dzysta thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-02-21 20:39] #1739 closed

[2020-02-21 20:40] scanum commented on #1746
@vsmusic2000 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-21 20:40] #1746 closed

[2020-02-21 20:40] scanum commented on #1752
@J-a-k-o-b thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-02-21 20:40] #1752 closed

[2020-02-21 20:42] scanum commented on #1738
@jkalber-wc  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:42] scanum commented on #1741
@bmshahrier  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:42] scanum commented on #1742
@NeighborGeek  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:43] scanum commented on #1743
@devFofo  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:43] scanum commented on #1745
@JonasDewit  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:43] scanum commented on #1751
@teafilter Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-21 20:43] #1751 closed

[2020-02-21 20:43] scanum commented on #1754
@apanzalovic Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:48] scanum commented on #1756
@jreinhardtiv4 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:50] mattpennathe3rd commented on #1751
@scanum I appreciate the follow-up, but there is no need to close "Resolved" issues manually on this repo. They are closed automatically when the pull request is merged (using the "closes" keyword on the PR). Best to leave them open until they are automatically closed, as it's easier to track what still needs attention this way.

[2020-02-21 20:56] mattpennathe3rd commented on #1623
@pete-fordway Thanks very much for this contribution! I have updated the doc and the updated version will be published in the near future.

[2020-02-21 20:58] #1623 closed

[2020-02-21 21:28] mattpennathe3rd commented on #1616
@Mike-Crowley This has been clarified and the updated article will be published in the near future, but please let me know if you have further suggestions and I'd be glad to incorporate them. Thank you very much for filing this issue!

[2020-02-21 22:02] #1616 closed

[2020-02-22 16:52] GiantCrocodile commented on #1717
In same context of the original request: I would like to see clarification if HTTP or HTTPS is used and if HTTPS, how strong the encryption is mattpennathe3rd

[2020-02-24 03:02] sowjanya365 commented on #538
Hello @danmyhre

The following article explains troubleshooting issues with certificates and Troubleshooting specific errors of the Hybrid Configuration wizard.

https://docs.microsoft.com/exchange/hybrid-deployment/troubleshoot-a-hybrid-deployment

If you are looking for any specific issue troubleshooting, open a service ticket in your tenant so this can get addressed ASAP.

Please follow this li

[2020-02-24 11:35] rmaldon626 opened #1757 "GCC High availability?"
Great article! do we have any idea when google migration (Gmail) will be available on GCC High?

I could not find any information in the M365 RoadMap page: https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Launched%2CWorldwide%20(Standard%20Multi-Tenant)

Thanks in advance

/RAF

[2020-02-24 22:22] SerdarSoysal commented on #1303
@mattpennathe3rd pls sync with David Strome before you find the answer.

[2020-02-24 22:29] mattpennathe3rd commented on #1561
@Weishaupt This does indeed look like there might be something missing, so I have reopened this issue. I'm sorry about the delay in responding substantively. I'll need to investigate further, but will post back in the near future.

[2020-02-24 22:31] mattpennathe3rd commented on #1747
@j0rt3g4 I'd like to investigate this one further, so I have reopened the issue. I will follow up in the near future.

[2020-02-25 00:54] j0rt3g4 commented on #1747
@mattpennathe3rd  Excellent Matt, If you require me to do any Pull Request to make the doc better I'll be up to do so.
I work with Mr @kenwith  on the documentation team as well, but this repo is out of our scope at the moment.

[2020-02-25 01:22] j0rt3g4 commented on #1399
I've created a PR with #1760 for this issue

[2020-02-25 02:41] GLComputing commented on #1621
The Collaboration link is still 2013 ... In fact, most of the "in-product" help links are 2013. Isn't it time MS produced full docs for 2019?

[2020-02-25 02:52] GLComputing commented on #1619
I January, I spoke to someone at MS who got me to test a workaround for this and, after I verified it, posted it on this KB:
https://support.microsoft.com/en-au/help/4538303/exchange-2019-setup-prerequisite-check-fails-for-net-4-8-framework

While I only tested on Ex2019, I guess (hope) it might help those with the same issue on the latest 2016CU as well.

I thought I'd add it here for anyone who

[2020-02-25 04:33] j0rt3g4 commented on #1401
Worked on PR #1761

[2020-02-25 05:31] GLComputing opened #1762 "Wrong link for more info on Set-ClientAccessRule."
The link for - "For detailed syntax and parameter information, see Set-ClientAccessRule." goes to Set-Clutter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337b2115-1684-2259-5fb7-548cf4bfa7ee
* Version Independent ID: 0ca2abb6-2148-f085-5385-34ed580631e3
* Content: [Procedures for Client Access Rules in Exchange 2019

[2020-02-25 06:14] GLComputing opened #1763 "Authentication types and protocols - The table has no data and formatting is off"
As per subject

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e48342-ca51-4710-a47b-678ae06dbdc1
* Version Independent ID: cdf19120-9f92-2fe2-a4b7-2fb24072b8d1
* Content: [Client Access Rules in Exchange 2019](https://docs.microsoft.com/en-us/exchange/clients/client-access-rules/client-access-rules?view=exchserver-20

[2020-02-25 09:51] GiantCrocodile commented on #1596
Hi @scanum! I tried to ask the support to answer these questions. This didn't go well so far:

First they stated that they have only the same information as me in the online documentation. I complained about that. Then they stated that the information can't be published or given out to customers as it's sensitive information regarding security and product information. I once again complained and a

[2020-02-25 13:01] dariomws306 commented on #1621
It's no live yet, it needs to follow a process, first need to be approved then will go live.

[2020-02-25 19:25] JeremyTBradshaw opened #1766 "WitnessServer is a mandatory parameter"
Hello,

All the points about not having to specify the WitnessServer are false.  It is a mandatory parameter whether you use the GUI or PowerShell.  I'm talking Exchange 2016, CU 15.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c67924e-f4a7-d018-bd7a-7f52ff9fc418
* Version Independent ID: 7668d147-7bb5-b67c-7206-2be

[2020-02-25 21:48] jeremieweldin opened #1767 "Breaking change in Phase 1 Step 6"
WARNING: Breaking changes in the cmdlet 'New-AzVirtualNetworkSubnetConfig' :
WARNING:  - Update Property Name

WARNING: Cmdlet invocation changes :
 Old Way : -ResourceId
 New Way : -NatGatewayId
WARNING:  - Update Property Name

WARNING: Cmdlet invocation changes :
 Old Way : -InputObject
 New Way : -NatGateway
WARNING: NOTE : Go to https://aka.ms/azps-changewarnings for steps to suppress this br

[2020-02-25 22:19] upmyoung opened #1768 "Still a bit confusing"
Although it is much improved now. This topic suffers from the lack of overall documentation on the connection mechanism for each client type to Exchange Online, and the connection endpoints available in Exchange Online. Such documentation would allow customers to be clearer on how connections from MacOS-based Outlook are different from Windows-based Outlook, for instance.

I agree with the people

[2020-02-26 06:08] ishfaq19 commented on #1716
I need a clarification regarding the Forwarding that happens after the Final Sync,

After the Final sync, on Gsuite, is the option set to "Store and forward or just Forward without delivering the emails in Gsuite mailbox"?

[2020-02-26 08:53] pka23 opened #1769 "Wrong calculations on page"
1024\*1024 = 1048576 not 1048756
so example with 89478486 (64\*4/3\*1048756) not right too. The correct one 89478486 (64\*4/3\*1048576)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee5dfea-ce93-b800-b21c-1323559e17d0
* Version Independent ID: 458e568f-9bff-e24b-3395-77fa19734f71
* Content: [Configure client-specific

[2020-02-26 13:05] ondrejdrobilek opened #1771 "Event type Sendexternal"
Hello, I miss here eventid send external, which is available on exchange 2016 on some earlier CU. On exchange 2019 is it present since beginning. Please check and update. Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a835d54-db8a-5c1c-a3f9-244e3a363475
* Version Independent ID: cc95465f-0969-7815-ff1e-243f3412e2a

[2020-02-26 14:10] ii-batman opened #1772 "How to check when a mailbox was put on inplace hold?"
Hi Team,
when running the new EXO commands, I can see that we can we have a "LitigationHoldDate" property but not a "InplaceHoldDate".
- Is there a way to find out when a mailbox was set InPlaceHold
- Is this something that can be added to Powershell ASAP?

I need to produce reports based on which mailbox is on hodld, when it was set, etc and not having this property for my hold it's really impari

[2020-02-26 16:46] wobblewobble opened #1773 "Does the intro paragraph, last sentance make sense"
The Hybrid Agent supports free/busy and mailbox migrations; mail flow, directory synchronization, and other hybrid features are not included.

Not sure the value that the statement "and other hybrid features are not included" is correct. Or has something been missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17414

[2020-02-26 16:54] Scaraban opened #1774 "Search-Mailbox appears to have been deprecated with documentation not properly on how to use its replacement."
Most resources now point towards using Compliance Search to perform this task but with no defined path towards doing so, only generic links to Compliance Search documentation. Referenced documentation offers no clear answer on how to perform the task defined on both this page and the "mailboxes on hold" version of page.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-02-26 19:32] scanum commented on #1762
@GLComputing  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1766
@JeremyTBradshaw  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1767
@jeremieweldin  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1768
@myoung-pugetsound-edu  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1769
@pka23  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1771
@ondrejdrobilek  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1772
@ii-batman  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1773
@wobblewobble  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:32] scanum commented on #1774
@Scaraban  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 19:34] scanum commented on #1757
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-02-26 19:34] #1757 closed

[2020-02-26 21:34] sixfivemil commented on #1680
I'd be interested in discovering how this will be handled as I don't want to use security defaults either.

[2020-02-27 04:41] #1624 closed

[2020-02-27 04:42] mattpennathe3rd commented on #1624
@jonwbstr Thanks for filing this issue. I've updated the article and the changes should be published in the near future. Please let me know if you need anything further and I'd be glad to help out.

[2020-02-27 05:04] whh5599 commented on #1558
@officedocspr officedocspr 添加了 Microsoft提交者 标签 on

[2020-02-27 05:12] jonwbstr opened #1775 "Add missing migration scenario"
The section above and below this heading details supported scenarios. The best one is missing, public folders to o365 groups
https://docs.microsoft.com/en-us/exchange/collaboration/public-folders/migrate-to-office-365-groups?view=exchserver-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd73dfc1-fa96-8d62-6504-e97

[2020-02-27 05:13] jonwbstr commented on #1775
Oops, above and below this heading

"What are the supported public folder migration scenarios?"

[2020-02-27 05:15] mattpennathe3rd commented on #1621
@GLComputing Thanks for filing this issue. The "Collaboration" link has been updated and will be published in the near future. The "Sharing" link is a longer-term problem because there is no updated article available for that content. I'll see if I can help resolve that, in time, but for now, there is no fix available.

Thank you again for filing this and please let me know if I can help further.

[2020-02-27 05:16] #1621 closed

[2020-02-27 06:25] mattpennathe3rd commented on #1401
@hishikitetsuya Thank you for filing this issue. I'm sorry for the delay in addressing this, but this appears to have been fixed by prior edits to this article and should be no problem now. Thank you again for reporting this.

[2020-02-27 06:25] #1401 closed

[2020-02-27 09:51] RascoPK commented on #1524
Same here!
We are able to see some information in Azure SignIn Logs but I dont think everything is there.
We are missing full list of ActiveSync users (int not in Azure Sign In Logs)

[2020-02-27 13:02] Jmartinez589 opened #1776 "Include a Cloud Based e-mail delivery scenario"
I've recently worked a request where a cloud based mail service was sending as alias@domain.com to the same alias@domain.com inside Office 365. The issue it appears is that it is an illegal move (unsupported configuration) as there is no authentication to the account, and adding the service (mandrillapp.com) to the SPF and allowed senders domain was not enough to allow the e-mail to go through.

T

[2020-02-27 21:10] jeremieweldin opened #1777 "Access from local Outlook?"
How would I adjust things to be able to test with Outlook? It would be sufficient to be able to install it on the exVM or adVM and be able to log in as either of the test accounts. I'm looking to be able to test Outlook AddIns against Exchange's Global Address List functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-27 22:07] mattpennathe3rd commented on #1399
@jtnnguyen Thank you for filing this. I've submitted a substantial fix for this issue that I hope will clarify things. It should be published in the near future. Please let me know if you have any further feedback.

[2020-02-27 22:43] jtnnguyen commented on #1399
Can you please update me as soon as we have it published?

Thank you!

--
Jennifer Nguyen
Technical Account Manager, Healthcare & Life Sciences
209-406-5288 |jennifer.nguyen@microsoft.com
Microsoft
________________________________
From: Matt Penna <notifications@github.com>
Sent: Thursday, February 27, 2020 2:07:43 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
C

[2020-02-28 01:12] mattpennathe3rd commented on #1399
@jtnnguyen Another team handles the publishing task, but it should be up by Friday afternoon. I'll follow up with you shortly.

[2020-02-28 01:26] mattpennathe3rd commented on #1747
@j0rt3g4 Thank you! This looks good, after all. I believe that the process you documented in your screenshots is alluded to in the PowerShell documentation, so this should work as expected.

[2020-02-28 01:26] #1747 closed

[2020-02-28 02:23] #1632 closed

[2020-02-28 02:31] mattpennathe3rd commented on #1622
@Rameshrao99 The article has been extensively updated, so please review and see if your problem has been resolved with the article as it is now.

[2020-02-28 02:37] mattpennathe3rd commented on #1505
@scanum Chris and I spoke offline and this one needs review from a SME for further insight. It's in my queue for later work.

[2020-02-28 02:58] mattpennathe3rd commented on #1582
@Niels-NL @p0shkar I've done a lot of research on this around the web and the experience seems to be very inconsistent. It looks like it was possibly once supported, then broken, then fixed, or users restored functionality using various workarounds. But it still does not seem to work universally.

I'm going to close this issue for now, but once this is officially supported, I'll be very glad to up

[2020-02-28 02:58] #1582 closed

[2020-02-28 03:28] mattpennathe3rd commented on #1704
@JeremyTBradshaw Just to let you know, I am actively investigating this behind the scenes. I don't have much authority outside of this repo, but I've escalated this and will report back (though I don't have an ETA). I appreciate the candid feedback!

[2020-02-28 03:53] mattpennathe3rd commented on #1552
@NRPPS @danmyhre I'm investigating this one to see if we can clarify the article on this point. I will report back as soon as I have an update, but I don't have an ETA at this time.

[2020-02-28 04:00] mattpennathe3rd commented on #1429
@smithre4 Do you happen to have any insight on this one?

[2020-02-28 04:05] mattpennathe3rd commented on #1470
Reopening this one. I will incorporate some edits from another article so that the content from both of these articles align.

[2020-02-28 04:13] mattpennathe3rd commented on #1532
@JeremyTBradshaw Reopening and I will investigate this one a bit further to see if it's something that we can document. I will report back.

[2020-02-28 04:19] mattpennathe3rd commented on #1549
@MaratMussabekov Thank you for pointing this out. I have updated the article and the revisions will be published in the near future.

[2020-02-28 04:21] #1549 closed

[2020-02-28 04:50] mattpennathe3rd commented on #1731
@Canis-Lupis I will close this issue now so we can keep the discussion on your original issue (which has been reopened).

[2020-02-28 04:50] #1731 closed

[2020-02-28 05:01] mattpennathe3rd commented on #1557
@danmyhre @parlevjo2 My apologies for the premature closure.

Regarding your issue, this article is slated for removal in the next few days because this analyzer no longer exists. (The Tools link to this article from within Server 2013 will still reach the page, but the article has been mostly wiped and now only explains that the analyzer is no longer available. The link to the analyzer is dead, u

[2020-02-28 05:10] mattpennathe3rd commented on #1455
@j0rt3g4 Let's keep this open for now. I'm investigating some 2019 content updates and this might play into that. We'll close later if this is deemed unnecessary.

[2020-02-28 05:21] mattpennathe3rd commented on #1690
@msbemba Thanks for that. Do you think this article can be clarified in any way, or is it good as it stands? If you think it's good, you are welcome to close this issue.

[2020-02-28 05:28] #1659 closed

[2020-02-28 05:45] mattpennathe3rd commented on #1658
@dariomws Not too consequential, but it's a straightforward addition and it can prevent much user anguish after the rollback, so I think it's good to add. I've updated the article and the revisions will be published in the near future.

Thank you for filing this issue, @olmitt! Please let us know if you have any further feedback.

[2020-02-28 05:49] mattpennathe3rd commented on #1638
@dariomws I assume this refers to the table at the end of the article, so is this true for all of the entries in the table? If it only requires one of these and not both, then I think we can clarify that.

[2020-02-28 05:52] #1634 closed

[2020-02-28 05:54] mattpennathe3rd commented on #1629
@dariomws I will see if I dig up some further information on this one. (It might take some time to do so, but I will report back.)

[2020-02-28 05:58] mattpennathe3rd commented on #1722
I believe this refers to this doc:

https://docs.microsoft.com/en-us/exchange/mail-flow/transport-logs/message-tracking

...which actually has a duplicate issue for the exact same problem: #1771

As such, I'm closing this issue as a duplicate, but we will explore a fix in #1771.

[2020-02-28 05:58] #1722 closed

[2020-02-28 06:03] mattpennathe3rd commented on #1727
I'll see if I can dig up an answer to this one. I will report back.

[2020-02-28 06:05] mattpennathe3rd commented on #1703
@PJNield To clarify your situation, were you using scripts that were provided with an on-premises installation, or did you download the latest scripts and then you still encountered this problem? If you're able to reproduce with the latest scripts, please let us know (if this is feasible for you).

[2020-02-28 06:14] mattpennathe3rd commented on #1609
@dannyp14 I'm not sure this applies in this case, but I will verify with some of the technical folks to be sure. Thanks for submitting this.

[2020-02-28 06:21] mattpennathe3rd commented on #1743
@devFofo You are correct! Thank you for submitting this. I have updated the commands the revisions will be published in the near future. Thanks again for pointing this out.

[2020-02-28 06:23] #1743 closed

[2020-02-28 06:31] mattpennathe3rd commented on #538
@danmyhre I'll dive into this one a bit and see if I can find some further information for you. I'll report back.

[2020-02-28 07:20] PJNield commented on #1703
Hi,

I downloaded the latest script.  I’ll have a look a reproducing the issue.

From: Matt Penna <notifications@github.com>
Sent: Friday, 28 February 2020 7:05 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: PJNield <peter.nield@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] Export-ModernPublicFolderStatistic

[2020-02-28 07:22] mattpennathe3rd commented on #1596
@GiantCrocodile I'm sorry for your trouble. I cannot promise anything on the support side of things, as I don't have much access to that team, but I am looking into your questions to see if we can get more details into this article. I will report back and will let you know what's possible here.

[2020-02-28 11:42] dariomws commented on #1629
@mattpennathe3rd thank you!

[2020-02-28 11:43] dariomws commented on #1638
@mattpennathe3rd yes, table at the end. It's true, I think it's a good idea, I will do.

[2020-02-28 12:32] JeremyTBradshaw commented on #1704
Hi @mattpennathe3rd , thanks for the update.  And please don't take my harsh messages to heart.  I tend to write comments way more ferociously that I would intend to behave in real life.

FYI/update - I've just gone through this process in 2 fairly large production environments with Exchange 2016/2010 coexistence, using the renew still-valid certificate procedure.  The process worked, however in b

[2020-02-28 13:46] Canis-Lupis commented on #1470
@mattpennathe34rd, thank you!

[2020-02-28 14:51] Rameshrao99 commented on #1622
Thank you Sir.

[2020-02-28 15:00] Rameshrao99 commented on #1622
This is a different issue.

[2020-02-28 16:40] #1658 closed

[2020-02-28 20:26] scanum commented on #1775
@jonwbstr Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:27] scanum commented on #1776
@Jmartinez589 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:27] scanum commented on #1777
@jeremieweldin Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:32] mattpennathe3rd commented on #1470
@Canis-Lupis I'll need to take your question in two parts to make sure I'm covering everything!

First, is it possible for these instructions to work by changing the order of the steps you follow on your end to deal with a terminated user? That is, if you (for example) tried to wipe the phone data before disabling their account? Or does this not work? I might be able to address this by pointing ou

[2020-02-28 22:01] smithre4 commented on #1429
I don't know where this should be published as this isn't Exchange specific, but IMAP connections follow a similar flow to the on-premises mailboxes - Outlook mobile connects to the Microsoft cloud and the Microsoft cloud connects to the IMAP endpoint. This means a portion of the mailbox data from the IMAP endpoint is synchronized into the Microsoft cloud. In terms of credential management, etc. t

[2020-02-29 00:43] j0rt3g4 commented on #1747
That process is not on the documentation
We just have a note there.
![image](https://user-images.githubusercontent.com/5489996/75597259-18ed9000-5a5a-11ea-9ee5-2cd818555391.png)

I still thinks there's a need of those screenshots on the documentation for new users :)

[2020-02-29 00:44] j0rt3g4 commented on #1455
Thank you for your comment @mattpennathe3rd  if you need something you know how to reach me :)

[2020-02-29 01:56] mattpennathe3rd commented on #1429
@lucianf In line with Ross's comment, I don't think this applies to an Exchange environment, so I am not sure this information belongs in these docs. Is there a scenario where this comes into play in your Exchange environment?

[2020-02-29 02:10] mattpennathe3rd commented on #1747
@j0rt3g4 We avoid screenshots whenever possible because they tend to make procedures harder to follow instead of easier.

To recap, is there a problem with this document? As you quoted, it mentions that the role groups need to be modified, and then we link to an article explaining how to do that using PowerShell (which also links to another article showing how to do it through the EAC GUI), so it

[2020-02-29 02:29] mattpennathe3rd commented on #1703
@PJNield Thanks for helping us nail this down. Let me know how it goes with reproducing the issue.

[2020-02-29 04:57] mattpennathe3rd commented on #1558
@r-milne I have updated this article and the additions should be published in the near future. FYI, the recommendation for ReFS allocation unit sizes is 64KB.

[2020-02-29 05:04] #1558 closed

[2020-02-29 05:15] j0rt3g4 commented on #1747
If I didn't know where the roles were.
I would be totally lost.
That's all I'm saying, the documentation should be to make people's life easier and not navigating through several iterations wherein the end people will not understand a thing :) and get lost. It's my opinion.

[2020-02-29 05:28] mattpennathe3rd commented on #1727
@hilljw I checked with our migration team and this is currently not possible. Because of the way in which GCC High (and similar) environments are locked down, they do not have access to G Suite, so the migration cannot work.

Unfortunately, there is no timeline for when (or if) this might be supported.

Please let me know if I can be of further help with docs issues.

[2020-02-29 05:28] #1727 closed

[2020-02-29 05:47] mattpennathe3rd commented on #1757
This one was resolved after closure through internal email.

[2020-02-29 06:03] wrall commented on #1738
Hello @jkalber-wc,

The purpose of the routing domain back to G Suite is to allow for a coexistence period when the migration of user1 has completed but the migration for user2 has not.  The routing domain allows mail from user1 sent from within the Office 365 to flow to user2 in Gmail.

Thanks
-Will

[2020-02-29 12:09] dariomws commented on #1638
@mattpennathe3rd I double checked this and it's explained at the top of the article:

----------------------------------------------------------------------
To find out what permissions you need to perform the procedure or run the cmdlet, do the following:

1. In the table below, find the feature that is most related to the procedure you want to perform or the cmdlet you want to run.

2. Next, loo

[2020-03-01 15:40] mbenadiba opened #1783 "Uninstalling Hybrid Agent (Switching from Modern to Classic) Runs and Never Ends"
Hello
I have a very new Exchange 2019 organization and I have deployed Hybrid Modern in this organization.
I am looking to enable Hybrid Modern Authentication and I wish to switch to Classic.
I have followed the steps in this guide but the steps do not work.
The Uninstalling Hybrid Agent status window displays and never advances.
Is there some other step that must be taken to successfully complete

[2020-03-01 21:02] msbemba commented on #1680
@sixfivemil Thank you for your feedback. There is another document that talks about Moving away from legacy authentication without security defaults.

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-block-legacy-authentication

Hope this helps!
Thanks
Sri

[2020-03-02 14:12] JeremyTBradshaw opened #1784 "Re:Open of issue #327 (PowerShell and Exchange Online)"
I'm trying to get a clear answer on this.  For regular customers (i.e. not partners, not delegated admins, etc.) - if they disable Basic Authentication, is it really as simple as just not enabling MFA for their automation account and they will be able to continue using Basic Authentication even after October 13th 2020?

Or is there something else coming, similar to Secure App Model, but for regula

[2020-03-02 14:33] asampson68 opened #1785 "Accessing the Discovery Mailbox"
Could you please add documentation indicating how one is supposed to add the Discovery Mailbox to an Outlook client so the copied results can be viewed? It's rather buried in the properties of an existing account, and I'm seeing some forums online indicating that it can be accessed through OWA but I've tried everything and can not find any method of doing so. I also cannot find any documentation a

[2020-03-02 15:03] born-slippy commented on #1716
Hello:
After we enabled the option to allow user forwarding of mail, and after a
final sync of our test user, the option 'Forward a copy of incoming mail to
<365 routing address>' and 'keep <organization name>'s copy in the Inbox'
is set on the mailbox.  This was verified via the User mailbox options ->
'Forwarding and POP/IMAP' blade.  Hope that helps - not sure if the
question was for me.

On We

[2020-03-02 19:07] mattpennathe3rd commented on #1638
@dariomws Thank you for pointing this out. Looking at this again, the article seems clear as written. I'd like to clarify the request to make sure I understand the issue.

@3novsan Can you clarify your question? The article seems to already say what you described. If there is something that is wrong or unclear, please point it out.

[2020-03-02 22:26] #1399 closed

[2020-03-03 17:23] mattpennathe3rd commented on #1399
@jtnnguyen The changes are now live! Please have a look and see if this helps. I'm glad to make further edits if you think things can be clarified. I also updated a handful of other articles that spoke to this topic and made sure they are all consistent.

[2020-03-04 00:08] cammurray opened #1789 "Authorization Method doesn't reference OAuth"
Autodiscover and Web Services in Exchange 2013 and above prefer OAuth for authentication over DAuth. This page only refers to WS-Security Authentication (DAuth).

Page probably needs to be updated. Also, if using OAuth, does the root EWS path (/ews/exchange.asmx) support pre-authentication? I assume the answer is no but this needs to be clarified.

---
#### Document Details

⚠ *Do not edit this se

[2020-03-04 02:43] jackvdbuk opened #1790 "Batch scored as investigate - next steps"
The article states that when receiving a DSC of investigate and how to proceed however there is no in between bit. Is there anything we can do to improve the DSC or improve the situation? should we be checking ACLs in a particular report? or just proceed and hope for the best like the article mentions how to do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-03-04 04:56] scanum commented on #1785
@asampson68  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:56] scanum commented on #1789
@cammurray  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:56] scanum commented on #1790
@jackvdbuk  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:58] scanum commented on #1783
@mbenadiba thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-04 04:58] #1783 closed

[2020-03-04 04:58] scanum commented on #1784
@JeremyTBradshawthank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-03-04 04:58] #1784 closed

[2020-03-04 10:42] JeremyTBradshaw commented on #1784
It's a real problem for all customers.  I'm not having an issue.  Wish I could just forcibly reopen this issue here.

Microsoft have announced that they will stop allowing basic authentication on October 13 2020.  They have yet to publish how to connect with modern authentication non-interactively , except for partners, who they have published info for.

It is similarly aggravating to how they pub

[2020-03-04 11:36] bauersystems opened #1792 "Option 3 doesn't talk much about SMTP Relay authentication by Client Certificate"
Option 3 focuses purely on the IP address sides of identification for connectors and completely ignores Client Certificates. When creating a connector, the Client Certificate method has the label of: "By verifying that the subject name on the certificate that the sending server uses to authenticate with Office 365 matches this domain name (recommended)". Considering it is the recommended method of

[2020-03-04 15:14] davehagel opened #1793 "Clairification"
Under the "Guidance for grades of Investigate or Poor" section you state:

If the migration receives a grade of Investigate, then you can approve skipped items manually to allow the migration to succeed.
If you are using batches, then run:
Set-MigrationBatch -ApproveSkippedItems or Set-MigrationUser -ApproveSkippedItems

Could you provide a full sample?  If I'm using batches, I assume I'd need to

[2020-03-04 17:52] gbordier opened #1794 "Disable SafetyNet on Edge Server"
It looks like Edge Servers have safety net enabled by default. It seems we should either disable safetynet on edge by default or instruct administrators to disable it after installation. This could otherwise lead to safetynet queue database filling the underlying storage for no reason

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-04 19:18] TyNavarre commented on #1679
We have a similar situation where we need to deal with EWS as it relates to third party products

[2020-03-04 19:45] mattpennathe3rd commented on #1784
@JeremyTBradshaw The best I can do is refer you to better places to help address these questions. We don't currently have guidance that can be documented here.

I can refer you to some recent blog posts. Further news regarding your questions will most likely be posted there in the future, and then changes will trickle down to the docs, so please be sure to keep an eye on the blogs.

Check out this

[2020-03-05 01:52] j0rt3g4 commented on #1409
Added PR #1795
@scanum  Please link the authors to solve the listing on this article on On-premises 2013 instead of 2016 or 2019.

[2020-03-05 12:45] JeremyTBradshaw commented on #1784
What timing for the second link, it was just posted yesterday!  That is how my luck works.  So I will change my approach - I'll now go wait and watch there for updates regarding the app-only topic they mentioned at the end.

Thanks.

[2020-03-05 19:18] ericreiss opened #1797 "NLB with DAG"
Under the section "Load balancing options in Exchange Server" it says that "Be aware that DAGs use Microsoft Clustering Services. These services can't be enabled on the same server as Windows Network Load Balancing (NLB). Accordingly, Windows NLB is not an option when using DAGs. "  Are you saying you can't use NLB on a different Windows Server/VM  that is separate from the DAGs?

Thank you.

---

[2020-03-06 23:56] scanum commented on #1792
@bauersystems  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 23:56] scanum commented on #1794
@gbordier  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-07 06:15] davidscott851 commented on #1166
I'm here to recommend you this lotus notes to office 365 converter software to convert all lotus notes files into office 365 without any loss of original data. With this tool you can instantly migrate lotus notes such as mails, contacts, calendars and tasks to office 365 effectively.  **Visit here:- https://www.emailsoftwares.com/lotus-notes-to-office-365-migration.html**

[2020-03-08 23:36] John-D1 opened #1799 "Security defaults with Azure AD blocks App Password"
After enabling the Security defaults with Azure AD, all App Passwords were blocked thereby blocking SMTP relay option 1.

** App passwords are only available in per-user MFA with legacy authentication scenarios only if enabled by administrators.
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-mfa-get-started

[2020-03-09 00:00] John-D1 commented on #1741
We did not have problems using App Passwords with MFA until we enabled Azure AD security defaults last week.  Once you enable the Azure AD security defaults it turns off App Passwords.

REF: ** App passwords are only available in per-user MFA with legacy authentication scenarios only if enabled by administrators.

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundame

[2020-03-09 06:22] scanum commented on #1799
@John-D1 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-09 06:22] #1799 closed

[2020-03-09 06:34] VinodSP1980 opened #1800 "$PfEndpoint = New-MigrationEndpoint -PublicFolder -Name PublicFolderEndpoint -RPCProxyServer $Source_OutlookAnywhereExternalHostName -Credentials $Source_Credential -SourceMailboxLegacyDN $Source_RemoteMailboxLegacyDN -PublicFolderDatabaseServerLegacyDN $Source_RemotePublicFolderServerLegacyDN -Authentication Basic"
The commandlet ask to use Basic authentication. But it fails if authentication is NTLM so we have to use as NTLM. please update the document with this information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4977532-9e3b-a1c3-3d00-563e01892417
* Version Independent ID: fc52a739-429e-730f-236d-29fe8da80db9
* Content:

[2020-03-09 08:19] p0shkar commented on #1524
Microsoft just recently announced how reporting can be done via the GUI [here](https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-auth-and-exchange-online-february-2020-update/ba-p/1191282#).

Also, [this](https://github.com/p0shkar/powershell/blob/master/Office365/Get-BasicAuthLogins.ps1) is my attempt at doing it via Powershell, however there are some big disclaimers associated with

[2020-03-09 09:17] p0shkar opened #1801 "Does the default policy affect hybrid synced on-prem users?"
So the topic "How Basic authentication is blocked in Exchange Online" provides an example where it is a Hybrid environment and the on-prem users does not exist in O365. In this case the on-prem user is understandably not affected by the authentication policy.

However, what happens in the case where you have a Default Authentication Policy and a Hybrid environment syncs all on-prem users to O365 b

[2020-03-09 13:07] QM-75 opened #1802 "Step 8: Test and unlock the public folder migration-Missing Exchange 2016 cmdlet"
After point 5 in Step 8, there should be a cmd to set the Exchange 2016 Organisation to;
"Set-OrganizationConfig -PublicFoldersLockedForMigration:$False"
The default for Exchange 2016 is True. If this is left at True, emails sent to mail enabled public folders (MEPFs) fails.
The other access to the Exchange 2016 public folders, such posting items, viewing the hierarchy etc is not affected by leavi

[2020-03-09 16:24] mattpennathe3rd commented on #1409
This one will likely need some further rewriting, but I have reached out to get feedback.

[2020-03-10 07:49] janvanveldhuizen opened #1803 "Please give clarity on IMAP and POP"
I am trying to get clarity on IMAP and POP.
The messages are a quite contradictory. Some say: Microsoft is working on enabling OAuth with IMAP and POP. Others say: IMAP and POP will be disabled altogether.
Who can I believe? I have to advice development teams on how they have to handle the upcoming changes.

[2020-03-10 13:53] copenhaus opened #1805 "discrepancy"
there's a discrepancy on the version number with this page:  https://www.microsoft.com/en-us/download/details.aspx?id=100908

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf984bf-df1c-bcd5-6475-54b9ef24fe74
* Version Independent ID: 00547ab9-7b3b-f6b0-fa7f-429f5e2bea56
* Content: [Exchange Server build numbers and re

[2020-03-10 16:58] mattpennathe3rd commented on #1805
@copenhaus Thank you for pointing this out, but which version number(s) will need correction?

[2020-03-10 17:14] copenhaus commented on #1805
the latest version number (as of today and according to the page I linked) is 15.01.1913.007

[2020-03-10 17:22] mattpennathe3rd commented on #1805
@copenhaus I see what you're saying. What you linked to is a security update for CU15, which has a later version number than CU15 itself; the version number for CU15 itself (which is what is documented on this page) is correct, I believe. We only document release version numbers here because it would be very difficult to maintain the latest release version numbers after every minor update.

You ca

[2020-03-10 17:22] #1805 closed

[2020-03-10 18:06] rickleye opened #1806 "Is this article still relevant Since users are now hosted in Cloud Voicemail ?"
Seeking clarity if this article is relevant since UM has been decommissioned and voicemail now hosted in Cloud Voicemail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 332316b2-6fd5-8428-db0b-a55708126696
* Version Independent ID: ad2015cc-423a-ffa3-0854-d83cf4c0976c
* Content: [Enable or disable multimedia playback o

[2020-03-10 21:56] ii-batman opened #1810 "Powershell example to set all mailboxes on inPlaceHold?"
So many examples to list (Get-Mailbox) but nothing showing how to set all mailboxes on inPlaceHold? Can we have examples on how to set all mailboxes and then new mailboxes on inPlaceHold?
Many Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5df32d01-b725-d254-ad64-d922a561b0b9
* Version Independent ID: 71bc178

[2020-03-10 21:59] ii-batman opened #1811 "Powershell example to set all mailboxes on inPlaceHold?"
So many examples to list (Get-Mailbox) but nothing showing how to set all mailboxes on inPlaceHold? Can we have examples on how to set all mailboxes and then new mailboxes on inPlaceHold?
Many Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c31e2ef-896e-edde-bbd9-2f9054cc41b0
* Version Independent ID: 9417809

[2020-03-10 22:03] ii-batman opened #1812 "Powershell example to set all mailboxes on inPlaceHold?"
How can I set all mailboxes on inPlaceHold?
How can I set all new mailbox on inPlaceHold?
Please post real life examples as we need this for our day to day...
Thanks, :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a137ee50-f3b9-07e1-7214-58d282896a66
* Version Independent ID: 70fc82e3-88f8-bc68-a094-37b81c778038
* C

[2020-03-11 02:06] scanum commented on #1800
@VinodSP1980 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:06] scanum commented on #1802
@QM-75 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:07] scanum commented on #1806
@rickleye Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:07] scanum commented on #1810
@ii-batman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:07] scanum commented on #1811
@ii-batman Duplicate

[2020-03-11 02:07] #1811 closed

[2020-03-11 02:08] scanum commented on #1812
@ii-batman Duplicate

[2020-03-11 02:08] #1812 closed

[2020-03-11 02:08] scanum commented on #1803
@thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted h

[2020-03-11 19:12] JeremyTBradshaw commented on #1481
Just wondering if anyone caught wind of this issue yet?

[2020-03-11 19:21] JeremyTBradshaw commented on #1481
Yeah.. re-reading now, months later, it's still confusing me.  Too much interchange of the terms "Message Size Limits" and "Recipient Limits".  I want to say that "Recipient Limits" should be reserved for use with the topic of recipient counts per message.  "Message Size Limits" should be reserved for use with message / data size topics.

[2020-03-11 20:10] scanum commented on #1801
@p0shkar thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-11 22:42] j0rt3g4 commented on #1410
Added PR #1814

[2020-03-11 22:57] j0rt3g4 commented on #1414
Added PR #1815

[2020-03-11 23:00] j0rt3g4 commented on #1416
Added PR in #1816

[2020-03-11 23:23] j0rt3g4 commented on #1420
The definition of an SMTP relay is basically that you have some kind of sort of email server internally and then you're going to be sending them out using O365.

If you do have only O365 as the only email provider you can use any licensed user or just a shared mailbox to send out emails after resetting its password.

[2020-03-11 23:35] j0rt3g4 commented on #1481
Hello @JeremyTBradshaw
Let me try to clear your doubts.

## Taking your example:
If I have RecipientLimits:Unlimited on my mailbox and the Receive Connector that will receive my message is set to 200 for MaxRecipientsPerMessage - what happens when:

### I email >200 internal users where they and I are both "authenticated"?
* Let's assume 300 in total internal users

The message is accepted for the

[2020-03-12 02:31] scanum commented on #1175
@gnr2bernstein The team is currently updating docs and will reflect soon.

[2020-03-12 02:31] #1175 closed

[2020-03-12 02:32] scanum commented on #1275
@mattpennathe3rd

[2020-03-12 02:32] scanum commented on #1303
@mattpennathe3rd  @dstrome Any update on this? Thanks!

[2020-03-12 02:33] scanum commented on #1420
@Canis-Lupis
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:33] #1420 closed

[2020-03-12 02:33] scanum commented on #1429
@lucianf  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:33] #1429 closed

[2020-03-12 02:34] scanum commented on #1470
@Canis-Lupis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:34] #1470 closed

[2020-03-12 02:34] scanum commented on #1481
@JeremyTBradshaw Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 14:57] gmyershere opened #1818 "winmail.dat file created for attachments not readable on Mac outlook"
Finally found a solution that works. This blog entry has a registry edit solution that works on Outlook 360 and Win 10.  Its about halfway through the article.

https://blog.gimm.io/how-to-fix-winmail-dat-attachments-in-outlook/

[2020-03-12 16:05] mattpennathe3rd commented on #1806
@rickleye Your question is well timed! I'm already working on some major updates to all of this content because UM will be going away completely in the near future. UM is mentioned in many places in the docs, so this is a big job and it will take time, but the changes are coming soon.

[2020-03-12 16:05] #1806 closed

[2020-03-12 17:34] rickleye commented on #1806
Thanks Matt for the update.
I totally understand the herculean task ahead. The Issue we face is that while we are informing clients of the change we are constantly having this and other docs slammed in our face while they are still up.

Regards

From: Matt Penna <notifications@github.com>
Sent: Thursday, March 12, 2020 12:06 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.git

[2020-03-12 17:44] GrahamJB1 opened #1819 "uploadReadAheadSize limits send size, but is incorrectly omitted from documentation"
uploadReadAheadSize must also be set but is not mentioned above.

e.g. It defaulted to zero ... nothing can be sent.
If set to 10MB you can send 10MB files

see https://social.technet.microsoft.com/Forums/en-US/45ad0d2d-4ba5-454e-916b-63f562dcc07d/cannot-send-email-exchange-2016?forum=Exch2016MFSM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-03-12 17:57] mattpennathe3rd commented on #1806
@rickleye Understood. I'll do what I can to move it along. I'm planning to have this mostly worked out in the next couple of weeks, if all goes well.

[2020-03-12 21:15] JeremyTBradshaw commented on #1481
Thanks @j0rt3g4 , appreciate the descriptive response.

So then all rules of precedence apply to both message size limits and recipient count limits, and so do the exemptions for internal/authenticated users.

Many thanks.

[2020-03-12 21:47] jblot opened #1820 "Cannot provision Mail Users"
Hi,
We are currently using Gsuite and looking to Migrate to O365 Exchange Online (cloud only).
We already add users provisioned in O365 for licensing Office Apps (O365 Business license).

I went through all the steps in that guide to prep for migration up until the "Provision users in O365". It appears that because I already have all my users created in O365 (but not in Exchange Online), I am unab

[2020-03-12 21:52] rickleye commented on #1806
Thanks 😊

From: Matt Penna <notifications@github.com>
Sent: Thursday, March 12, 2020 1:58 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Richard Ojeleye <richard@voltronlions.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] Is this article still relevant Since users are now hosted in Cloud Voicemail ? (#1806)

@rickl

[2020-03-12 22:05] jblot commented on #1350
Hey @robthayer . Running into the same issue. Did you ever have any luck getting that resolved ?

Thanks!

[2020-03-12 22:48] jblot opened #1821 "Create Mail Users not working"
Hi,
We are currently using G Suite. Looking to migrate all our mailboxes to O365 Exchange online. I have followed all steps in https://docs.microsoft.com/en-us/exchange/mailbox-migration/perform-g-suite-migration

At the "Provision users in O365" I am running into issues creating Mail Users. I have tried both from EAC and Powershell with command:

New-MailUser -Name "<Display Name>" -Alias <Alias>

[2020-03-13 01:23] markjjo commented on #1774
@scaraban Thanks for the heads up about this article. Yes, Search-Mailbox is being retired on April 1, 2020, as per this article: https://docs.microsoft.com/en-us/microsoft-365/compliance/legacy-ediscovery-retirement?view=o365-worldwide#search-mailbox-cmdlet

To delete content, you will have to use *ComplianceSearch and *ComplianceSearchAction cmdlets as per this topic about using cmdlets for sear

[2020-03-13 04:43] scanum commented on #1818
@gmyershere thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-13 04:43] #1818 closed

[2020-03-13 04:44] scanum commented on #1820
@jblot thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-03-13 04:44] #1820 closed

[2020-03-13 04:44] scanum commented on #1821
@jblot thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-03-13 04:44] #1821 closed

[2020-03-13 04:45] scanum commented on #1819
@GrahamJB1 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-13 08:02] jfgoodhew1 opened #1822 "Schedule Send/Receive interval missing"
If I set up send/receive every xx minutes, it works on my main inbox but I cannot select my shared mailboxes to send/receive under the account group. I would like to know how to schedule send/receive for the shared mailbox too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb78b621-ad88-04ad-c449-4d8c7e1b2d24
* Versio

[2020-03-13 10:44] RazvanB-MS opened #1823 "Hybrid permissions"
In the old article we also had permissions for account that was used by the endpoints in Hybrid environments. Here is the info we had :
"Remote move migration in Exchange hybrid deployments
For remote move migrations, the migration administrator account must be:
A member of the Domain Admins group in Active Directory in the on-premises organization.
Or
A member of the Exchange Recipients Administr

[2020-03-13 16:42] linlu commented on #1745
A more complete explanation of the steps to take for 5.7.705 are located here: https://support.microsoft.com/en-us/help/4498191/tenant-has-exceeded-threshold-error-when-you-send-mail
All suggested actions in this article should include links to specific step-by-step actions to take. I found several articles via Google to various Microsoft support areas that specifically address the lack of detail

[2020-03-13 17:02] alexleach opened #1824 "Missing Step for Performing Maintenance on DAG Members?"
Hi, I've found that when verifying that the cluster node is paused, it will always show as up.

`Get-ClusterNode &lt;ServerName&gt; | Format-List`

To ensure the cluster is paused, I have found the last step in 'To begin maintenance procedures on a DAG member' should be to run the following:-

`Get-ClusterNode &lt;ServerName&gt; | Suspend-ClusterNode`

Then, the first step when I'm 'ready to resto

[2020-03-15 06:22] shivtorov opened #1825 "PowerShell 7 side-by-side support?"
There is a section "Windows PowerShell", and it says "If there are other installed versions of **Windows** PowerShell that support side-by-side operation, Exchange will use only the version that it requires."

Note: the above statement, only covers **Windows** PowerShell versions, but not mentioning at all PowerShell **Core** versions (6.x/7.x) installed side-by-side.

Could you please update the

[2020-03-15 13:53] get-itips commented on #1773
Hello @wobblewobble how are you? 👍
To my understanding (I am not the author of the article) is clarifying that you have to leverage other tools to, for example accomplish directory sync or configure the mail flow between onpremises and online, does that makes more sense for you now? If I understood you correctly.

[2020-03-15 14:38] get-itips commented on #1772
Hello @ii-batman 👍
I reviewed the properties of both the MailUser and MailboxSearchObject (Get-MailboxSearch) objects and could not find one property belonging to Creation date, the most approximate was MailboxSearchObject.LastModifiedTime

I would recommend submitting your request [here](https://office365.uservoice.com/)

Hope this info helps you.

[2020-03-15 14:48] get-itips commented on #1768
Hello @mattpennathe3rd Matt 👍 Can you please step in here to review @myoung-pugetsound-edu suggestions? I appreciate.

[2020-03-15 15:04] get-itips commented on #1767
Hello @jeremieweldin Jeremie how are you?

The link that is included when running New-AzVirtualNetworkSubnetConfig says

So it is notifying us that they will soon change some parameter names, however, the parameter names that will be changed are not being used in the step. (ResourceId or InputObject)

Thanks

[2020-03-15 15:31] get-itips commented on #1769
Hello @pka23 Thanks for that

[2020-03-16 04:52] scanum commented on #1822
@jfgoodhew1 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-16 04:52] scanum commented on #1823
@RazvanB-MS Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:52] scanum commented on #1824
@alexleach Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:52] scanum commented on #1825
@shivtorov Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 14:01] robthayer commented on #1350
@jblot. No, but I found out I didn't need to perform a manual migration because our CSP (Dell) was going to do it. Dell used a third party migration solution (SkyKick), and after a few minor issues (related to their own documentation) they were able to successfully migrate us from G-Suite to O365.

[2020-03-16 21:33] bacon1986 commented on #1741
I've spent about a week or more fighting this one trying to work out why I can't get SMTP to work from any device using Option 1 no matter what I do with passwords and app passwords and why MFA is being required for an account where MFA appears not to be enabled. Can you please update this document to make it clear that "Security Defaults" are now enabled by automatically for new tenants and stop

[2020-03-16 22:30] wobblewobble commented on #1773
Andres, for some reason I missed the semicolon and it makes sense now. apologies

[2020-03-16 23:19] mattpennathe3rd commented on #1773
@wobblewobble We appreciate the report, nonetheless! Let us know if you have trouble anywhere else in the docs.

[2020-03-16 23:19] #1773 closed

[2020-03-16 23:27] mattpennathe3rd commented on #1175
@scanum Is there a PR for this issue?

[2020-03-16 23:31] mattpennathe3rd commented on #1420
@Canis-Lupis I wanted to verify that the comments on this issue have clarified the doc for you. Do you still have feedback on this article?

[2020-03-16 23:35] mattpennathe3rd commented on #1470
@Canis-Lupis Following up to see if you have further details regarding my questions above. If not, this issue will remain closed. Let me know if I can help.

[2020-03-16 23:40] mattpennathe3rd commented on #1774
@markjjo Is there a reason this issue was closed? If the article needs updating with this information, it should remain open so we know to address the problem.

[2020-03-16 23:56] mattpennathe3rd commented on #1414
@matteoclc @smcirvin Thank you for pointing this out! This has been correct and the updated article will be published shortly.

[2020-03-16 23:56] #1414 closed

[2020-03-17 00:01] #1769 closed

[2020-03-17 01:22] Brain2000 commented on #1562
I'd like to know what the status update is as well. We are currently pulling around 2500 IMAP accounts for our customers, many which are 365 customers, and would like to know what we have to do in order to make this continue to work.

[2020-03-17 10:53] lindspea commented on #1762
@GLComputing thank you for pointing this out and helping improve MS Docs. I'll have a look and get it sorted shortly.

[2020-03-17 15:29] John-D1 commented on #1741
As of this message, here's where I'm at with Microsoft.

Basically once security defaults are enabled on an Office 365 account you must pay for Azure AD premium in order to allow for trusted IP ranges.

You can access both features below with one license, which is assigned to the Global Administrator account, to manage Conditional access policy and trusted IP features...

Once you have Azure AD Pr

[2020-03-17 17:11] JeremyTBradshaw opened #1831 "Missing source value "RESOLVER""
I just happen to be wondering what this source is and means since I'm troubleshooting a message that was sent but where the sender claims they didn't actually send the message.  The first event (based on timestamp) is EventId "RECIPIENTINFO", from source "RESOLVER".  I guess my investigation ends here, woohoo, ha ha.  But seriously, any idea what "RESOLVER" for the source means?

Thanks in advance

[2020-03-17 18:14] get-itips commented on #1766
Hello @mattpennathe3rd
I could verify that, on Exchange 2016, both the GUI and the Ps cmdlet won't let you continue without specifying Witness server.

EAC
![image](https://user-images.githubusercontent.com/36666927/76887643-55462c00-6861-11ea-9961-b0c31403153f.png)

PS
![image](https://user-images.githubusercontent.com/36666927/76887994-de5d6300-6861-11ea-8891-59d57f6e0aac.png)

Get-Help
![image]

[2020-03-17 19:48] jarogers-msft opened #1832 "Whe should be We"
Small typo.  "Whe" should be "We"

[2020-03-18 07:34] scanum commented on #1831
@JeremyTBradshaw Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:34] scanum commented on #1832
@jarogers-msft Please link documentation you are referring to.

[2020-03-18 17:56] jreed336 opened #1833 "Please update for new-mailboxsearch parameters!"
We need the new formats for these commands!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e5010fa-a741-a1b1-979d-48e6f61fa5de
* Version Independent ID: b231b1d9-4ff5-d245-f3d2-32cbaecbb66d
* Content: [Clean up or delete items from the Recoverable Items folder](https://docs.microsoft.com/en-us/Exchange/policy-and-comp

[2020-03-19 20:35] redamaleki opened #1834 "2 Member DAG, lost quorum"
Can you add a link here to the steps for bringing the quorum back online when " If a majority of the voters can't communicate with each other, the DAG's underlying cluster loses quorum, and the DAG will require administrator intervention to become operational again."?
The scenario in which a two member DAG (plus a fileshare witness), loses one member server that happened to have the most up to dat

[2020-03-20 05:27] scanum commented on #1833
@jreed336  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:27] scanum commented on #1834
@redamaleki  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 07:24] Madushka opened #1835 "Set-PopSettings command doesnt have switch called "identity""
Set-PopSettings command doesnt have switch called "identity"  it should be "Server"

[2020-03-20 12:11] bakerm00 opened #1836 "However, a maximum of 100 public folders is supported for migration from Exchange Server."
However, a maximum of 100 public folders "mailboxes" is supported for migration from Exchange Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da991095-e3e4-6cc4-14ae-d98a0521a947
* Version Independent ID: c8552026-4fed-592a-3b66-446daac2df8d
* Content: [Exchange public folder migration, migrate public folders to

[2020-03-20 17:14] mattpennathe3rd commented on #1836
@bakerm00 The purpose of this sentence is distinguish between the two. Public folders and public folder mailboxes are not the same; they have different limits when being migrated. Have I misunderstood your question?

[2020-03-20 17:18] bakerm00 commented on #1836
yes - if you don't say public folder mailboxes - you are basically saying you can only migrate 100 public folders from onpremise to o365;   if you state public folder mailboxes you are declaring the limit the number of targets the synchronisation can handle (which is way below the service 1000 limit)

[2020-03-20 22:10] mattpennathe3rd commented on #1836
@bakerm00 "you are basically saying you can only migrate 100 public folders from onpremise to o365"

That is correct. 100 public folders is the supported limit for migrations (at least at this time). This point was just added on February 19th in response to another issue: https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/1613

I verified this limit with the Engineering team while working

[2020-03-20 23:27] sarahcocks opened #1838 "Uodate to monile version"
Hi all
There has been an update this month in outlook and since this you aren't able to approve microsoft exchange emails to an applicable distribution list. This now has to be done on PC only. Please can you reservse this or allow the update to approve requests
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f93

[2020-03-21 02:20] xuanhien1894 opened #1839 "migrate Exchange 2013 to 2019"
I want to upgrade the server from 2013 to 2119 and upgrade the server

[2020-03-21 09:58] bakerm00 commented on #1836
so you have published a method that cannot be used in most environments? 10,000+ folders cannot work.   You need to provide direction in those scenarios - probably in table format to make it 100% clear

[2020-03-21 10:02] bakerm00 commented on #1836
however, based upon #1613, i still think you are confusing the number of source public folders within hierarchy that contain data with the limits on number of PF storage mailboxes in o365.

[2020-03-23 09:15] weyCC81 opened #1840 "Choose server languages"
What are the pro and contra of choosing a server language other than English?
- Active Directory Language
- Hybrid Scenario
- Exchange Migration (other Exchange Server's Language)
- Default Mailbox Language
- Log Files (Log Management)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57930947-1fd2-b494-f00c-73499501bfd2

[2020-03-23 12:22] get-itips commented on #1766
@mattpennathe3rd Matt, could you see my question? Thank you

[2020-03-23 12:24] get-itips commented on #1767
@scanum Manuela, I think we can now close this issue. Thanks

[2020-03-23 12:25] get-itips commented on #1772
Hello @scanum Manuela, I think we can close this thread now, thank you

[2020-03-24 08:25] scanum commented on #1835
@Madushka thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-24 08:26] scanum commented on #1838
@sarahcocks thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-24 08:26] #1838 closed

[2020-03-24 08:26] scanum commented on #1839
@xuanhien1894 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-03-24 08:26] #1839 closed

[2020-03-24 08:26] scanum commented on #1840
@weyCC81 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-24 08:26] #1840 closed

[2020-03-24 19:01] AdamWyzgol commented on #1674
For me it's clear, you don't need additional license for "service account" that is used for authentication, but any named user need to have assigned license to send mail using this service.

[2020-03-24 22:18] sccmfan opened #1842 "which region is used for device key and password operations"
can you please clarify:
- which region is used to process user password encryption/decryption and storage operation (is it the same rule as for synchronizing user data)?
- is it Azure data center or external?
- is it the same data center for iOS and Android devices?
- how is the username stored in the system?

thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-03-24 22:24] sccmfan opened #1843 "synchronized data location fro on-prem only"
could you please clarify the location of synchronized user data when using Exchange on-premise only? is it also Outlook.com as in case of hybrid setup without HMA?

thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b5db977-3944-f327-234e-bf5d84554542
* Version Independent ID: d4b39a70-960a-31e3-c586-2e48410e616

[2020-03-24 22:44] sccmfan opened #1844 "is this scenario still supported after oct. 13 2020?"
Could you please clarify if we can or cannot continue using Outlook app on iOS and Android devices to access on-premise only Exchange after Microsoft drops support for Basic auth in Exchange online on oct. 13 2020?

thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b5db977-3944-f327-234e-bf5d84554542
* Version

[2020-03-25 17:10] JimM1920 opened #1845 "Doesn't work!"
I've tried these instructions, which are not accurate, and I still can't authenticate the account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62f5860-4f99-6794-f8d6-2207b7f19979
* Version Independent ID: c28b87f8-1984-6522-021f-bae92e46d08c
* Content: [Prepare your Gmail or G Suite account for connecting to Outloo

[2020-03-25 17:24] mattpennathe3rd commented on #1845
@JimM1920 I'd be glad to help fix the article, but I need a bit more to go on. Where is the problem in the procedure?

[2020-03-25 18:02] JimM1920 commented on #1845
I've tried to add the two step authentication, which I was finally able to find, and it doesn't appear to work.  I've just upgraded to Outlook 365, which pops up a box, but when I go to my phone and click on "It was me", the pop-up never clears.

[2020-03-26 07:58] scanum commented on #1842
@sccmfan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-26 07:58] scanum commented on #1843
@sccmfan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-26 07:58] scanum commented on #1844
@sccmfan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-26 09:12] IamAliBaba commented on #1747
$UserCredential = Get-Credential

$Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://outlook.office365.com/powershell-liveid/ -Credential $UserCredential -Authentication Basic -AllowRedirection

Import-PSSession $Session

[2020-03-26 10:47] amdf777 opened #1846 "During migration Full access permissions for Security"
There is no mentioning in the article that during hybrid mailbox migration Full access permissions for Security Groups won't be migrated.
Now I can see that Full permissions assignments for users migrate well, while Assignments to Security Groups missed.
PS: Security Groups are synced to cloud.

[2020-03-26 11:33] #1846 closed

[2020-03-26 13:05] kitleyn commented on #1561
@mattpennathe3rd Any progress on this? The Powershell cmdlet still doesn't allow you to set the parameter and the docs have still not been updated

[2020-03-26 21:58] darylzero opened #1848 "Partner Domain Name??"
"Under Address space, click Add Add Icon. In the Add domain window, make sure SMTP is listed as the Type. For Fully Qualified Domain Name (FQDN), enter the name of your partner domain. Click Save."

What is the "Partner Domain"??  My domain?  my .onmicrosoft.com domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53

[2020-03-26 22:12] pirutgrrrl commented on #951
@scanum This issue doesn't appear to be resolved.   This is the second time I'm looking here for help on this same step.  If a dirsync needs to be complete, it should be added after step 4 as well.  I have forced sync and waited an entire day in a two-server environment and this is still an issue.  When running set-organizationconfig  to Exchange online from step 5 receive:
Couldn't find object "P

[2020-03-27 06:07] qaehtesh opened #1849 "Clarification on personal contact support in Outlook and GAL contact support in OWA with free busy"
1) Need to add comment or clarification for customers that the step documented are although enough for setting up org relationship between two tenants, when using Outlook, personal contacts are not supported for free busy lookup and only GAL contacts would work.

Related work item-
Bug 3912768: Issue Severity: 2 HOTFIX: [JPN] Personal Outlook contact no longer works in Outlook for free busy sharin

[2020-03-27 12:16] andreaslarssonliu opened #1850 "Only allow admin managed addins"
Before this change was done, you were able to only allow addins that the admin has made available.
How would we achive this setting again?

As now right now we are forced to block users from adding addins, as legally we cant allow users from downloading any app they want.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-27 12:39] VLG17 commented on #951
@pirutgrrrl Your two-server environment is Exchange 2010 CAS/MBX? You're using ADConnect for doing the directory sync, right? Did you also make sure that you are syncing the OU which contains the PFMailbox1 which you created? If not, you need to specify that explicitely and then force a sync or wait for a sync cycle to pass.

[2020-03-27 14:54] AMagee-BJC opened #1854 "Can an Active Directory Group automatically update to an auth policy?"
The description here is using the group membership to find and update the members. It appears to be a one-time setting the auth policy for those users. How would you recommend having the group membership (for example a group that is provisioned during the onboarding process for a particular department) cause the auth policy to be assigned to that user? The process here seems static - I'm looking f

[2020-03-27 15:32] pirutgrrrl commented on #951
@VLG17 - that did it for me, thank you.  I wasn't syncing the built-in users OU.  Does it matter if the DB is mounted or not?  If it needs to be mounted, we should get that added to the cmdlet

[2020-03-27 16:10] VLG17 commented on #951
@pirutgrrrl I'm happy to hear that fixed the issue for you. I don't have an easy way to test this, so i cannot say for sure, but i guess for the syncronization part it does not need to be mounted, because you just need to sync the AD object. In order to access actual data from the PF Mailbox, of course it needs to be mounted.

[2020-03-28 00:52] markjjo commented on #1774
@Scaraban Just an FYI that the retirement of the Search-Mailbox cmdlet has been delayed until July 1, 2020. For more information, see: https://docs.microsoft.com/en-us/microsoft-365/compliance/legacy-ediscovery-retirement

[2020-03-29 16:42] trudolf-msft opened #1858 "Incorrect information"
"Assign delegate permission via PowerShell: Updates to the Add-FolderPermissions cmdlet so administrators can assign delegate permissions."

This parameter is available only in the cloud-based service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9adfb815-bc64-46f2-97df-ff9af957e7cf
* Version Independent ID: 9e1758f6

[2020-03-30 07:20] scanum commented on #1849
@qaehtesh Please link the documentation you are referring to. Thanks!

[2020-03-30 07:20] scanum commented on #1850
@andreaslarssonliu Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-30 07:21] scanum commented on #1854
@AMagee-BJC Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-30 07:21] scanum commented on #1858
@trudolf-msft Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-30 07:21] scanum commented on #1848
@darylzero Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-30 08:05] qaehtesh commented on #1849
Article in question is as below -
This provides step by step guidance on enabling free busy between two different tenant and it's pre-requisite however does not tell what would work or not work from client side such as OWA and Outlook so adding above would help customer to have one stop shop when they performing this in their tenant.

Enable Free/Busy information between the Office 365 users from

[2020-03-30 12:50] cubspsycho85 opened #1859 "Hybrid Exchange 2019 on Azure VM"
Having a hard time finding any MS official documentation about running an Exchange 2019 Hybrid VM in Azure. We have no user mailboxes left in our onprem org, and only the system mailboxes. We would like to move to 1 hybrid server, only in Azure. I know how to set it up, but want to make sure it's supported. Thanks!

[2020-03-30 13:21] amdf777 opened #1860 "ADFS fallback"
There is next Note in this article:

Which is simply false. if ADFS goes down, authentication simply times out because ADFS is unreachable. You can manually switch domain from federated to managed domain, but it require manual steps and take time.

[2020-03-30 13:52] kabadisha opened #1861 "Does enabling this feature force all users to re-authenticate?"
We are looking to enable this feature on our tenant, but I can't find anything in the documentation (or anywhere else) about whether or not this will trigger re-authentication for all users (or at least Windows users) at the point we turn it on. My guess is no, but would be good to have that confirmed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟