[2020-03-31 07:45] thorstd opened #1862 "The article should be corrected"
According to the article:

&gt; A recipient is considered to be outside the organization if either of the following conditions is true:
&gt; • The recipient's email address isn't in an accepted domain.
&gt; • The recipient's email address is in an accepted domain that's configured as an external relay domain.

If there is a remote domain for the recipient is considered as outside the organization

[2020-03-31 16:53] luebberm opened #1863 "Rollback step missing"
If the mailboxes are migrated to Exchange 2016, you will need to run the following on an Exchange 2016 server to point the users back to Exchange 2010 to access the public folders.
  Set-OrganizationConfig -PublicFoldersEnabled Remote -RemotePublicFolderMailboxes PFDiscoveryMbx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-01 05:19] scanum commented on #1863
@luebberm  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-01 05:19] scanum commented on #1862
@thorstd  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-01 05:19] scanum commented on #1861
@kabadisha thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-01 05:19] scanum commented on #1860
@amdf777 Thank you for submitting feedback. Could you please link the documentation you are referring to? Thanks!

[2020-04-01 05:19] scanum commented on #1859
@cubspsycho85 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-04-01 05:19] #1859 closed

[2020-04-01 06:39] SultanRayes opened #1865 "broken URL"
The URL : Choose the right authentication method for your Azure Active Directory hybrid identity solution. is not found !!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50117f9a-45dd-90fb-a592-6a12c6104875
* Version Independent ID: d07fe199-59af-86bf-fe79-c7e2d342a463
* Content: [Single sign-on with hybrid deploymen

[2020-04-01 06:47] amdf777 commented on #1860
Here it is:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tutorial-phs-backup

[2020-04-01 10:57] cubspsycho85 commented on #1859
I have done this previously, stating the reason it's not documented (that I
can find), and they said I couldn't open a ticket for an advisory inquiry.

On Wed, Apr 1, 2020, 1:20 AM Manuela Scanu <notifications@github.com> wrote:

[2020-04-01 11:34] npigit commented on #1561
@mattpennathe3rd  I am facing the same issue. I want to enable AllowBasicAuthRest on my policy however the I got an error:

set-AuthenticationPolicy -Identity "Allow Basic Auth" -AllowBasicAuthRest
A parameter cannot be found that matches parameter name 'AllowBasicAuthRest'.
    + CategoryInfo          : InvalidArgument: (:) [Set-AuthenticationPolicy], ParameterBindingException
    + FullyQualifie

[2020-04-01 13:34] GLComputing opened #1866 "Ex 2019 CU5 Download"
Is there a link for this for those not on VLSC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf984bf-df1c-bcd5-6475-54b9ef24fe74
* Version Independent ID: 00547ab9-7b3b-f6b0-fa7f-429f5e2bea56
* Content: [Exchange Server build numbers and release dates](https://docs.microsoft.com/en-us/Exchange/new-features/build-numb

[2020-04-01 14:17] blazncaczn commented on #1741
@bacon1986 You can find "Security Defaults" in "Azure Active Directory" panel, then select "Properties". You'll see an option for "Manage Security Defaults" at the bottom of the screen for the Directory Properties.

[2020-04-01 14:55] i-windows opened #1867 "Section 3 is incorrect"
Section 3 needs to be run on an exchange server, and cannot be run remotely as the certificate is stored in the cert store on the servers, and therefore to export the cert you must run the script on the server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484887bf-a423-cb36-d8d1-712858e746bb
* Version Independent ID:

[2020-04-01 15:11] i-windows commented on #1867
also if you use MFA to exhange online then section 7
$UserCredential = Get-Credential
$Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://outlook.office365.com/powershell-liveid/ -Credential $UserCredential -Authentication Basic -AllowRedirection
Import-PSSession $Session

is incorrect, you should use Connect-EXOPSSession from the exchange online powershell

[2020-04-02 08:53] pbreitenberger opened #1869 "HCW IntraOrganizationConnector"
This part is not needed if HCW was already done:

$ServiceDomain = Get-AcceptedDomain | where {$_.DomainName -like "*.mail.onmicrosoft.com"} | select -ExpandProperty Name
New-IntraOrganizationConnector -name ExchangeHybridOnPremisesToOnline -DiscoveryEndpoint https://outlook.office365.com/autodiscover/autodiscover.svc -TargetAddressDomains $ServiceDomain

There should already be an existing IntraO

[2020-04-02 16:09] philkloose opened #1870 "Are Mail Flow Rule Actions Strictly Ordered?"
Are mail flow rule actions always executed in the order that they appear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81c1119-165b-f408-698c-1092a781ba63
* Version Independent ID: 1a1b6d9a-a75c-e74d-ff84-ccbdf15091de
* Content: [Mail flow rules (transport rules) in Exchange Online](https://docs.microsoft.com/en-us/

[2020-04-03 06:21] scanum commented on #1865
@SultanRayes  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-03 06:21] scanum commented on #1866
@GLComputing  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-03 06:21] scanum commented on #1867
@i-windows  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-03 06:22] scanum commented on #1869
@pbreitenberger  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-03 06:22] scanum commented on #1870
@philkloose  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-03 12:30] asampson68 opened #1871 "Typo"
I believe there is a typo in your first example on this page, the -AddressLists parameter of the Set-OfflineAddressBook cmdlet contains a space between "Address" and "Lists". Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b904aaa3-52bb-1fee-df91-ae0e6592db4f
* Version Independent ID: a0d1a92c-f44c-2ebd-4834-63c

[2020-04-04 11:06] jaapwess opened #1872 "<your tenant name> should be <your verified domainname in step 1"
The second command in step 1 is not correct. It says &lt;your tenant name&gt; but this fails, if you enter &lt;your verified domainname&gt; it succeeds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484887bf-a423-cb36-d8d1-712858e746bb
* Version Independent ID: c1df772a-5b5c-79d0-24fc-c89a09059497
* Content: [Configur

[2020-04-04 15:26] SashkaNebesny opened #1873 "Exchange server 2019 on windows server 2019 core"
Hello.
Please tell me if there are any restrictions for using the Office online server functionality in Exchange server 2019 on windows server 2019 core?
My documents do not open for viewing. Error - document not found or deleted.
But, on SharePoint, everything works great.
WACDiscoveryEndpoint pointed to Set-OrganizationConfig

[2020-04-04 20:49] AimarL commented on #123
Hello. It would be really nice if You add edge server part also to this guide. I have sometimes troubles getting these servers to sync with the mailbox server after CU update. So it would be great if You add also some test examples to confirm that all is up and running.

[2020-04-05 19:11] manasrrp opened #1876 "Exchange ActiveSync-compatible devices"
Kindly put the complete list (Android, iOS, Windows Mobile, Black Berry etc) for ActiveSync compatible, so that we can choose the branded smart phone which are fully compatible with ActiveSync for enterprise use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6eefde9d-c209-c66f-1d5f-4e76b8df3e39
* Version Independent I

[2020-04-05 23:01] bingoglossy opened #1878 "Should there be a comma btwn "multi-factor authentication (MFA)" and "using smart cards" in the first sentence?"
Should there be a comma btwn "multi-factor authentication (MFA)" and "using smart cards" in the first sentence?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3595c01-2eb7-a6e0-0424-12d7628fa25b
* Version Independent ID: 2368964f-83cb-e16f-c04c-832361e18c63
* Content: [Enable modern authentication in Exchange

[2020-04-06 06:24] scanum commented on #1871
@asampson68 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-06 06:25] scanum commented on #1872
@jaapwess Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-06 06:25] scanum commented on #1876
@manasrrp Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-06 06:25] scanum commented on #1878
@bingoglossy Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-06 06:26] scanum commented on #1873
@SashkaNebesny thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-06 06:26] #1873 closed

[2020-04-07 02:15] hughesey opened #1880 "ViewDNS.info integration"
Hi guys,

I run the site https://viewdns.info/ and we're getting a number of emails asking us to unblock users that have been blocked by our anti abuse scripts.  On further investigation, it seems that the Exchange Hybrid Configuration Wizard has been configured to screen scrape our website when verifying domain name ownership.

We were never informed of this by Microsoft so we weren't able to all

[2020-04-07 02:30] mattpennathe3rd commented on #1880
@hughesey I'm only a technical writer, so I only work on the documentation, but I'll see what I can do to get this in front of the right person. (This might take some time, but I will report back.)

[2020-04-07 02:36] hughesey commented on #1880
Thanks @mattpennathe3rd!

[2020-04-07 03:31] mattpennathe3rd commented on #1835
@Madushka Sorry for the confusion on this issue.

You were correct. I found a handful of errors with this parameter in several articles in this repo and I have submitted fixes for all of them. They should be published in the near future.

Thank you very much for submitting this issue. We appreciate the feedback.

[2020-04-07 10:44] jelmerS2 opened #1881 "How to allow specific 3rd party clients? (Apple Mail on MacOS)"
Hi

We are limiting how users can access their outlook/exchange accounts and are blocking all third party apps from accessing Exchange accounts.
However, we would like to make an exception for certain programs, such as Mail on MacOS.
Is this possible? If so: could someone provide an example?
I've checked https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/client-access-

[2020-04-07 16:00] #1835 closed

[2020-04-07 17:18] mattpennathe3rd commented on #1866
@GLComputing The only other way to download CUs is through the Visual Studios Subscriptions site. Do you have a use case where this doesn't work for you?

[2020-04-07 18:18] JestyDS opened #1882 "error while installing Exchange"
[Enter feedback here]
Performing Microsoft Exchange Server Prerequisite Check

.\setup.exe : The following error was generated when "$error.Clear();
At line:2 char:1
+ .\setup.exe /mode:Install /role:Mailbox /OrganizationName:Contoso /Ia ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (The following e...error.Clear(); :String)

[2020-04-07 18:44] corykenedy commented on #1861
@kabadisha, want to enable this for my tenant but not sure what to expect. Did you enable this and did you have any issues with users authenticating or using legacy MFA passcodes?

[2020-04-07 19:04] haflidif commented on #1882
Hey JestyDS, are you running the PowerShell window with elevated permission (run as administrator), just checking the basics :-)

[2020-04-07 19:11] haflidif commented on #1882
Hey JestyDS, Is your exVM joined to the domain of adVM and are you able to communicate between those machines ?
As the Error log states as well
This computer isn't part of an Active Directory domain.
The user isn't logged on to an Active Directory domain.
This computer doesn't belong to a valid Active Directory site. Check the site and subnet definitions.

[2020-04-07 19:15] haflidif commented on #1882
As well as I see you are missing some prereqs like .Net 4.8 and Visual C++ 2013  Redistrubatble Package, this needs to be installed on the server before installing Exchange 2016.

[2020-04-07 19:17] JestyDS commented on #1882
Sure. I saw them as per the doc it says to add the DNS name on the AD server. When I connected the exchange server to the domain I am no longer able to login the server. I am using adminstrator shell on the server

[2020-04-07 19:19] JestyDS commented on #1882
I saw the exchange server was a workgroup server hence added it to the domain . Now I'm unable to login to the server after server restart.

[2020-04-07 19:23] haflidif commented on #1882
Do you see the Exchange server in Active Directory under Computers ?, just to check if you've successfully joined the machine to the Domain, as well you now need to login to the server using domain credentials, and to manage the server using Powershell is maybe blocked by the  Domain firewall profile

You need to open exVNET and set the DNS there to the private Ip Address on the domain controller

[2020-04-07 19:30] JestyDS commented on #1882
I am able to see the server under computers in ad. As you had mentioned this could be a ip config issue. I will try creating a different subnet and see if it works. Thank you

[2020-04-07 19:33] haflidif commented on #1882
okay, so the server is at least joined to the domain, are you connecting to the exVM using the domain credentials, not the local admin credentials?

[2020-04-07 19:35] haflidif commented on #1882
basically user@contoso.corp or something instead of the exVM local Admin.
This Credentials -> $cred=Get-Credential -Message "Type the name and password of the local administrator account for adVM."

Not this credentials: $cred=Get-Credential -Message "Type the name and password of the local administrator account for exVM."

[2020-04-07 19:37] JestyDS commented on #1882
Oh my bad. I was using the local admin account (exvm) for logging onto the server.

[2020-04-07 19:40] haflidif commented on #1882
No problem, hope this will solve your problem, remember to install .net 4.8 and  Visual C++ 2013 Redistrubatble Package before running the Exchange Setup :), feel free to vote for my answers if they helped you.
Good luck going forward.

[2020-04-07 19:42] haflidif commented on #1777
If you have a Visual Studio Pro / Enterprise subscription, you are able to deploy Windows 10 VM in Azure, you should be able to test local outlook from that computer if it's joined to your test domain.

[2020-04-07 20:04] JestyDS commented on #1882
I had logged onto the Exchange server using the Domain account and had installed the prerequisites but i still get an error while running the Exchange setup
 Configuring Prerequisites
.\setup.exe : The following error was generated when "$error.Clear();
At line:2 char:1
+ .\setup.exe /mode:Install /role:Mailbox /OrganizationName:Contoso /Ia ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-04-07 20:16] haflidif commented on #1882
Are you installing the Exchange Server on Server Core ? hence the Server-Gui-Mgmt-Infra windows feature error and if that's correct the Server OS you are using for your exVM is not supported, it needs full version of Windows Server 2012, 2012r2, 2016 - Standard or Datacenter

[2020-04-07 20:19] JestyDS commented on #1882
Hi haflidif

I am using a Windows server 2019 datacenter edition. Does it not support?

[2020-04-07 20:22] JestyDS commented on #1882
My bad Exchange 2016 does not support Windows server 2019 ..

[2020-04-07 20:34] haflidif commented on #1882
No that's correct Exchange 2016 doesn't support Server 2019, try at least windows server 2016 :)
Good luck going forward.

[2020-04-07 21:34] mattpennathe3rd commented on #1882
@JestyDS @haflidif I'm going to assume this one is not a documentation problem and will close this issue now, but please feel free to open a new issue if you find there's any error or omission in the documentation. Just so you know, this repo is not checked by Microsoft support staff and I'm only equipped to help with documentation problems here. (I'm only a Technical Writer. 😄 )

[2020-04-07 21:34] #1882 closed

[2020-04-08 03:26] #1762 closed

[2020-04-08 03:43] novomaticgroupns opened #1883 "NOVOMATIC GROUP - IT sector"
Let's play

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 206471ee-963a-333f-6941-415a443b273c
* Version Independent ID: c0cd8f8a-5cdd-24f3-eace-3cb0930d65b5
* Content: [Monitoring, reporting, and message tracing in Exchange Online](https://docs.microsoft.com/en-us/exchange/monitoring/monitoring#feedback)
* Content Sou

[2020-04-08 03:50] #1883 closed

[2020-04-08 05:54] scanum commented on #1881
@jelmerS2 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-08 05:54] #1881 closed

[2020-04-08 12:44] KaushikDas19860216 opened #1884 "Disabling Integrated Windows Authetication"
I don't see any mention about Integrated Windows Authentication whether to keep that enable or disabled on the EWS virtual directory. I found keeping it disabled gives an error "connection to server xxxx couldn't be completed" while creating migration endpoint. Also from the security angle is it advisable to  keep it disabled or enabled to avoid attack. If someone could clarify on this.

---
####

[2020-04-08 13:18] gp92 commented on #1850
Have the same problem. It would be nice to restore this settings again and permit only admin-managed addins

[2020-04-08 13:28] andreaslarssonliu commented on #1850
If you in the exchange roles prevent users from customizing their addons (there is a checkbox for that). After that is done users should be able to add addons in owa (that are published by the admin), and those addons will be synced to the office365 client on the computer. However, this causes the "addons" option in outlook to stop working. Its a workaround, so if they dont come up with anything b

[2020-04-08 13:32] gp92 commented on #1850
this is my current situation in Exchange user roles:
![image](https://user-images.githubusercontent.com/5497444/78789910-1150cd80-79ae-11ea-8e3f-c8603129c160.png)
Also in this case I still have the option on my outlook client to add non-admin managed addins

[2020-04-08 13:38] andreaslarssonliu commented on #1850
We have the same settings, unsure why it works for us, are you certain that the user you are testing with is assigned with that role.

[2020-04-08 13:40] gp92 commented on #1850
Yes, I checked the role assignment policy of the user and it contains the policy with my custom settings as showed in the image attached above

[2020-04-08 13:54] pjrcdf opened #1885 "404 from Related Topics Link"
When clicking the "Mail flow insights in the Office 365 Security & Compliance Center" link under related Topics, the link redirects to a 404 error

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb585f32-3cd9-2d99-d989-9abb99fb2a7b
* Version Independent ID: aa9e599b-3c5b-b0d0-e4e9-23d7e8ab3894
* Content: [Customize and

[2020-04-08 17:17] mattpennathe3rd commented on #1850
@andreaslarssonliu @gp92 I'd love to help, but this sounds more like a product issue than a documentation issue. I'm only able to help with docs problems in this repo. Was there a specific change in this article that you're referring to?

[2020-04-08 18:17] mattpennathe3rd commented on #1885
@pjrcdf Thank you very much for pointing this out. We appreciate it! I've submitted a fix and it should be published later today.

[2020-04-08 18:18] #1885 closed

[2020-04-08 19:33] GLComputing commented on #1866
I found the full ISO on the Partner site. I assume this will work as an upgrade?

[2020-04-08 20:20] TimAbmgf opened #1887 "Link to Exchange Online equivalent"
I was trying to find where to view the current settings for my organization (which is in Exchange Online).

I didn't notice at the beginning of this article (stating the platform that this applies to). I only noticed on the left hand menu that this is for Exchange 2019 (I was directed here from a websearch for: 'configure exchange online dumpster')

---
#### Document Details

⚠ *Do not edit this s

[2020-04-08 20:48] mattpennathe3rd commented on #1866
@GLComputing I'm sorry, but I'm not certain what you've downloaded, so I can't answer definitively.

The CUs themselves are full installers and are usable as first-time installs or as upgrades of an existing server, but according to the support person I pinged, they are only obtainable through VLSC or the Visual Studios Subscriptions site; they are not distributed through any other channels.

[2020-04-08 20:56] #1275 closed

[2020-04-08 21:03] mattpennathe3rd commented on #1887
@TimAbmgf There is more than one article covering this material in Exchange Online, but I believe you'll find what you need [here](https://docs.microsoft.com/exchange/security-and-compliance/recoverable-items-folder/recoverable-items-folder) and [here](https://docs.microsoft.com/exchange/recipients-in-exchange-online/manage-user-mailboxes/change-deleted-item-retention). There are other articles co

[2020-04-08 21:03] #1887 closed

[2020-04-08 23:11] mattpennathe3rd commented on #1275
@meshkerila This article is complete and has been published [here](https://docs.microsoft.com/Exchange/hybrid-deployment/hybrid-with-multiple-forests). I expect that we will make some further additions and edits, but if you notice problems in the article, please open a new issue (or click the Edit button on the top of the page to submit a PR of your own) to let me know. Thanks for pointing out thi

[2020-04-09 03:09] mattpennathe3rd commented on #1833
@jreed336 Can you provide a bit more context for this issue? What is missing or broken in the article, please?

[2020-04-09 03:40] mattpennathe3rd commented on #1410
@JamieWilsonOurIT Thanks for filing this issue. DBEB does not support mail-enabled public folders that are hosted in Exchange Online, but it does work as it should for on-premises mail-enabled public folders. I've updated the article to make this caveat clearer and the changes should be published in the near future.

Please let me know if there is an angle to this that I am missing.

[2020-04-09 05:27] andreaslarssonliu commented on #1850
@mattpennathe3rd , well there was documentation for how to define what we are discussing, then microsoft decided that this no longer applies for Outlook and there is no longer any documentation on how to achieve this, so I would say this is very much a document issue.

[2020-04-09 08:23] Birbfeeder opened #1888 "Want to know more about cross-premises permission in OWA"
According to the page "Cross-premises mailbox permissions aren't fully supported in Outlook on the web."
I have tested accessing "Options" of an on-prem mailbox (Exchange 2010)  via online full-access delegate is not supported.
It will help a lot if there is any specific settings that inaccessible or list of limitation for cross premises mailbox permission in outlook on the web.

---
#### Document

[2020-04-09 08:38] Birbfeeder opened #1889 "Need to rename the .edb file after relocate them in different database"
After copy the database and logs here and there, we need to rename the file and then we could mount the database with file from other database.
And we need to run Set-MailboxDatabase "identity" -AllowFileRestore $true, otherwise the database won't mount and we will get MSExchangeIS Event 1047 and 1048 in application log.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-04-09 13:21] merwindz opened #1890 "Calendar Free busy"
Does this migration process will help the users to look up for free busy time during the mailbox migration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963b7331-1f6d-0400-d004-59797a4e87d1
* Version Independent ID: 71f2a5dd-0581-d33a-c41a-bef0ed1f208c
* Content: [Perform a G Suite migration](https://docs.microsoft.c

[2020-04-09 15:20] #1410 closed

[2020-04-09 17:17] mattpennathe3rd commented on #1416
@SuperFlue Thanks very much for contributing back, but after checking with our teams internally, gMSA accounts are not a supported or tested scenario in on-premises Exchange Server environments. I will look at this article to see if I can add a note to that effect so other users are aware in the future and don't get frustrated by this.

Thank you again for opening the issue.

[2020-04-09 17:24] mattpennathe3rd commented on #1850
@andreaslarssonliu I'm sorry, but can you tell me what documentation you are referring to? I checked the history of this article and I cannot see that anything substantive has been removed (at least not for over a year).

If there is something missing or that was removed incorrectly (whether from this article or from another), please point it out to me and I will look into it.

[2020-04-09 17:46] #1416 closed

[2020-04-09 21:19] mattpennathe3rd commented on #1890
@merwindz This behavior might be a little unpredictable (which is why it is not documented), but what you should see is that users in one environment should be able to see free/busy information for users in that same environment. That is, if UserA has been migrated and UserB has not yet been migrated, then they would not be able to see free/busy information for each other until the migration of bo

[2020-04-09 21:19] #1890 closed

[2020-04-09 23:56] mattpennathe3rd commented on #1889
@Birbfeeder Thank you very much for pointing this out. Can you tell me where in the procedure you needed to perform these extra steps?

[2020-04-10 07:55] Ragnar157 opened #1892 "HCW issue with previously uninstalled HybridAgent"
Due to issues getting ModernHybrid working i try to switch back to classic mode.
but it always tries the msappproxy url for MRS!

HCW log
2020.04.10 07:18:48.450         10386 [Client=UX, Thread=6] Previous Connector Application Name found: ba6a948b-6ceb-4d30-bda5-fc7314ab9d04
2020.04.10 07:18:49.107         10332 [Client=UX, fn=SendAsync, Thread=6] START GET https://graph.microsoft.com/edu/73bc63

[2020-04-10 12:18] jasonstroup2002 commented on #1562
Running this command WILL break IMAP/POP3 unless you set up conditional access policies in AzureAD to specifically allowing it for individual accounts.   The exchange team made a blog post in 2/2020 that support is coming for ModernAuth with imap/pop3 but is not currently available.

[2020-04-10 13:06] Joepvtilburg commented on #1716
Since this week i noticed this is no longer working

TooManyTransientFailureRetriesPermanentException/BadRequestWebTransientException/WebException: Error: The job encountered too many transient failures ‎(65)‎ and is quitting. The most common failure is BadRequestWebTransientException/WebException with the hit count 59. --> The web server responded with a 400 Bad Request error. Uri: https://www.go

[2020-04-10 17:27] Brain2000 commented on #1562
In October they're all going to break unless Microsoft releases IMAP with Modern Auth for O365.
As a service provider, that is concerning to me. According to this link it is not complete yet:

https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-auth-and-exchange-online-february-2020-update/ba-p/1191282

[2020-04-10 17:44] mattpennathe3rd commented on #1562
@bakerm00 @Brain2000 @jasontroup2002 So, it appears this is covered in [this blog post](https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-auth-and-exchange-online-february-2020-update/ba-p/1191282) in the "POP, IMAP and SMTP" section. Support for this is gradually rolling out, and as announced in [another blog post from last week](https://techcommunity.microsoft.com/t5/exchange-team-

[2020-04-10 17:48] missilelaunchr commented on #1559
@Weishaupt see this post: https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/issues/722

A Microsoft representative acknowledged the lack of source IP information as a legitimate issue and one that needs to be answered.  Blindly coming to the defense of these ill written articles doesn't help anyone including Microsoft.

[2020-04-10 18:07] bakerm00 commented on #1562
If you read further - the change has been deferred TIL h2 21

Mike Baker

________________________________
From: Brain2000 <notifications@github.com>
Sent: Friday, April 10, 2020 6:28:07 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Baker, Michael (ELS-OXF) <m.baker.1@elsevier.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Ex

[2020-04-10 18:08] missilelaunchr commented on #1559
@dstrome It's extremely frustrating that you are disregarding this issue and closing the case.  The general culture of assuming these articles are correct and perfect is also extremely frustrating.  We already have the article you linked to and it fails to contain the information we require.  Further, in the link you just shared is the following text _"Endpoint data below lists requirements for co

[2020-04-10 18:14] mattpennathe3rd commented on #1559
@missilelaunchr @danmyhre @ckssaas I am actively investigating this further to see what can be done. I will report back.

[2020-04-10 18:54] mattpennathe3rd commented on #1481
@JeremyTBradshaw Just to follow up, I'm investigating some changes to this article to see if I can bring some more clarity. I will report back soon.

[2020-04-10 21:05] mattpennathe3rd commented on #1716
@ishfaq19 The default behavior should be store and forward; messages will be in the GSuite mailbox and also forwarded.

@born-slippy Thanks again for opening the issue. I'm sorry that this took some time to address. The behavior you described is correct and expected, but we should definitely call this out in the article, so the updated version will be published in the near future. Thank once more

[2020-04-10 21:49] mattpennathe3rd commented on #1844
@sccmfan Two items to note:

1. Disabling basic auth for IMAP and POP will not affect on-premises Exchange Server at all. This change only applies to Exchange Online.

2. This change has been delayed until the second half of 2021, as per [this blog post](https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-and-exchange-online-april-2020-update/ba-p/1275508) from a few day

[2020-04-10 21:49] #1844 closed

[2020-04-10 21:53] mattpennathe3rd commented on #1845
@JimM1920 It sounds like this is a problem with Outlook, but this GitHub repo is only for documentation issues with Exchange Online and Exchange Server, so I am unable to help with this. Please contact support for help with your issue.

If you find that there are problems with the documentation, please open a new issue and I'd be glad to help address them.

[2020-04-10 21:53] #1845 closed

[2020-04-10 22:01] mattpennathe3rd commented on #1848
@darylzero This article explains how to set up a send connector to a partner domain. A partner domain is the domain that belongs to an organization you communicate with and with whom you want to enforce security restrictions.

Is there something about the article that is not clear?

[2020-04-10 22:03] #1716 closed

[2020-04-10 22:13] mattpennathe3rd commented on #1849
@qaehtesh You've linked to an old blog posting. These are never updated.

The only documentation I can assist with are the articles posted in this GitHub repo. Does your question apply to one of these articles? I do not have easy access to the bug databases, so if you find holes in any of the existing documentation, please click the Edit button at the top right of any article in which you find pro

[2020-04-10 22:13] #1849 closed

[2020-04-10 22:41] mattpennathe3rd commented on #1858
@trudolf-msft Thanks very much for the correction! I will make sure this line is removed.

[2020-04-10 22:58] mattpennathe3rd commented on #1860
@amdf777 Thanks very much for pointing this out. I've corrected this note in a pull request and it should be published in the near future. Thank you again for helping to improve the docs!

[2020-04-10 23:19] #1858 closed

[2020-04-10 23:21] mattpennathe3rd commented on #1861
@kabadisha Thanks for opening this issue. I've reached out for some clarification from those more in the know on this question and I will report back soon.

[2020-04-10 23:24] #1860 closed

[2020-04-11 02:03] mattpennathe3rd commented on #1892
@Ragnar157 I'm sorry, but this is not a documentation issue. I am not a support engineer and I can only help with documentation problems in this repo. For help with your issue, please open a support ticket.

[2020-04-11 02:03] #1892 closed

[2020-04-11 02:09] mattpennathe3rd commented on #1703
@PJNield Just following up to see if you've had the opportunity to retry this with the latest scripts. Please let me know how it is going for you.

[2020-04-11 02:33] mattpennathe3rd commented on #1878
@bingoglossy Thanks for pointing this out. This sentence definitely needed clarifying, so I've rephrased this part slightly and the fixes should be published in the near future. Thanks again for opening this issue.

[2020-04-11 02:33] #1878 closed

[2020-04-11 02:37] mattpennathe3rd commented on #1871
@asampson68 You are correct! Thank you for pointing this out. I have submitted a fix and the updates should be published in the near future.

[2020-04-11 02:39] #1871 closed

[2020-04-11 02:45] #1866 closed

[2020-04-11 02:47] mattpennathe3rd commented on #1865
@SultanRayes Thank you for pointing this out! I have submitted a fix and the updated version will be published in the near future.

[2020-04-11 02:49] #1865 closed

[2020-04-11 03:01] mattpennathe3rd commented on #1832
@scanum I was able to track it down!

@jarogers-msft Thanks for pointing this out. I've submitted a PR to correct this and the updated article should be published in the near future.

[2020-04-11 03:11] mattpennathe3rd commented on #1803
@janvanveldhuizen I am not aware of any plans to eventually disable POP and IMAP. In terms of authentication plans, this is still a bit fluid, but I am actively working document this. Have a look at my comments on https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/1562 for a little more detail and links to authoritative sources.

[2020-04-11 03:11] #1803 closed

[2020-04-11 03:45] #1767 closed

[2020-04-11 03:50] mattpennathe3rd commented on #1763
@GLComputing I'm not seeing that here. The table is populated and displaying correctly in my browser.

[2020-04-11 03:50] #1763 closed

[2020-04-11 04:14] #1690 closed

[2020-04-11 04:32] mattpennathe3rd commented on #1638
@3novsan Following up on this once again. Can you provide any more clarity on your question?

[2020-04-11 04:36] mattpennathe3rd commented on #1625
@CaseGuide Just following up. Can you clarify your problem so we can verify if the article is wrong?

[2020-04-11 04:42] mattpennathe3rd commented on #1596
@GiantCrocodile I've dug into this and because this kind of information is subject to change as the service evolves, it's just too detailed to document reliably. I'm sorry that I can't be of more help on your question.

[2020-04-11 04:42] #1596 closed

[2020-04-11 04:56] #1236 closed

[2020-04-11 10:17] GiantCrocodile commented on #1596
@mattpennathe3rd I'm not sure this is true: PDF is such a widespread standard that we won't see major changes there and the same is true for raw/plain file types like CSV files or XML files (SVG). Also it's not much work to list the one or two archive types you do support. Furthermore it's still unclear what limit this article refers to.

I have to say that this makes (from a technical point of vi

[2020-04-11 12:59] CaseGuide commented on #1625
I cannot recall the details of this minor technical issue from 4+ months ago. From my vague recollection the tuteotial for the Exchange Admin Center didn’t work if you separated domains with a semicolon. Using a comma did. To verify, follow the tutorial using the EAC.

[2020-04-11 13:12] dariomws commented on #1625
Hi @mattpennathe3rd,

The issue is on step 5: "If you need to enter more than one domain, separate the domain names with a comma. For example, contoso.com, service.contoso.com."

Use a comma to separate the domain names is not working:
![image](https://user-images.githubusercontent.com/33589238/79044616-8275c800-7bdc-11ea-9726-4ad8b514005b.png)

Semicolon for me neither:
![image](https://user-imag

[2020-04-11 13:33] dariomws commented on #1377
Hi @msdmaguire/@mattpennathe3rd, Could we close this issue? I think it was fixed in the new Admin Center:
![image](https://user-images.githubusercontent.com/33589238/79045098-a4bd1500-7bdf-11ea-88bc-57f68b270fef.png)

The issue was the popup message here:
![image](https://user-images.githubusercontent.com/33589238/79045064-82c39280-7bdf-11ea-82a1-f9a311046a80.png)

And, I understand that when the

[2020-04-12 00:51] mattpennathe3rd commented on #1377
@dariomws Indeed, all of these screenshots will need to be scrapped; they either need to be updated to match the new EAC, or simply removed with the procedures modified accordingly.

I will close this issue now, but will be working in the (probably near) future on an inventory and update of all of these screenshots throughout the documentation set.

[2020-04-12 00:51] #1377 closed

[2020-04-12 01:14] mattpennathe3rd commented on #1772
@ii-batman I've reached out to see if this functionality is hiding somewhere and will report back once I find out if this is something we can document. Thanks for opening this issue.

[2020-04-12 02:25] mattpennathe3rd commented on #1560
@sietec Thanks for your patience and for the candid feedback. I've done my best to clean up the article so there is less fluff, so I hope the new version is a bit clearer. It should be published in the near future, but if you have further feedback, please report back and/or open a new issue.

I'm just the docs guy, so all I can do is help with what's in this repo. Thanks again for your feedback.

[2020-04-12 03:07] mattpennathe3rd commented on #1436
@shivtorov A belated thank you for opening this issue. I've updated the article and chose to remove parts of this procedure in favor of linking to the article you mentioned (which will always be more up to date than the Exchange-focused article). The updated version should be published in the near future. Thanks again for pointing this out.

[2020-04-12 03:16] mattpennathe3rd commented on #1483
@r-milne Thank you for pointing this out. It seems that this content was updated recently and this explanation was clarified. It's possible to spread these roles across multiple servers, but the recommendation is that they be on the same server.

Thanks for opening this issue and I'm sorry for the belated response. Please feel free to open a new issue if you have additional feedback on the documen

[2020-04-12 03:16] #1483 closed

[2020-04-12 03:27] mattpennathe3rd commented on #1584
@mramnet This is a duplicate of #1559 and I am actively working to get more information on that issue, so I will close your issue now, but please follow along on the other issue if you wish.

[2020-04-12 03:27] #1584 closed

[2020-04-12 03:32] #1603 closed

[2020-04-12 09:59] perwy19 opened #1897 "Get-OutboundConnector -Identity "<Connector Name>" | Format-List Name,RouteAllMessagesViaOnPremises"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 3ab6d0e4-0ea5-f8a9-bf67-bf7cacc74b3e
* Version Independent ID: c72592d3-bfd1-ddf3-793f-dcc0374db074
* Content: [Email non-delivery reports in Exchange Online](https://docs.microsoft.com/th-th/exchange/mail-flow-best-practices/non-delivery-reports-in-exchange-on

[2020-04-12 09:59] #1897 closed

[2020-04-13 03:20] mattpennathe3rd commented on #1708
@Canis-Lupis Thanks for your patience!

To cover mailboxes created in the future, you should be able to use a mailbox plan that has the new retention policy that you wish to apply to new mailboxes.

https://docs.microsoft.com/en-us/exchange/recipients-in-exchange-online/manage-user-mailboxes/mailbox-plans

https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/set-mailboxplan?view=e

[2020-04-13 07:50] lawrencegripper opened #1898 "Retired notice"
Hi,

This page would be better removed or carrying a notice that this functionality is now retired. Portal displays the following when using it:

[code]

Kind regards,
Lawrence

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afa9584b-0025-474c-66b0-a1df9233e8b3
* Version Independent ID: e4604c40-df8a-37d1-521b-13d5797da

[2020-04-13 08:17] scanum commented on #1832
Thanks @mattpennathe3rd !

[2020-04-13 14:10] mhunecke commented on #1833
Team, as soon as the search-mailbox command was depreciated, how we can clear the Deliverable Items folder? I had the following cmdlet:
Search-Mailbox -Identity <Mailbox> -SearchQuery size>0 -SearchDumpsterOnly -DeleteContent -force
The cmdlet that replaces Search-Mailbox would be "New-ComplianceSearchAction", but there is no option to search and delete the Recoverable Items folder (in case -Searc

[2020-04-13 16:26] labanex opened #1899 "eDiscovery CAUTION re-wording."
CAUTION: "After a discovery manager copies the results of an eDiscovery search to a discovery mailbox, the mailbox can potentially contain sensitive information. You should control access to discovery mailboxes and make sure only authorized users can access them."
If this can be re-worded. I was under the impression that you can tell eDiscovery Search can be imported into eDiscovery mailbox automa

[2020-04-13 16:52] #1560 closed

[2020-04-13 17:50] mattpennathe3rd commented on #1898
@lawrencegripper Thanks, but this page is for Exchange Server (on-premises) and nothing should be changing with this product. Please let me know if there is indeed expected breakage in Server and I'll look into it further.

The Exchange Online pages already have warnings about this, so I think we're all set.

[2020-04-13 17:51] lawrencegripper commented on #1898
Sorry, my bad - thanks for the quick response and sorry for wasting your time

[2020-04-13 17:52] #1898 closed

[2020-04-13 17:53] mattpennathe3rd commented on #1898
@lawrencegripper Not a waste of time at all! I appreciate the issue. Things change quickly around here and I always wonder if I'm missing something. Many times, the answer is yes. 😉

[2020-04-13 18:28] #1436 closed

[2020-04-13 18:33] #1832 closed

[2020-04-13 18:46] mattpennathe3rd commented on #1861
@kabadisha @corykenedy I double checked this and your users will be asked to re-authenticate (both Windows and Mac clients). The authentication dialog box also looks different from the basic auth dialog box. Check [this blog post](https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-auth-and-exchange-online-february-2020-update/ba-p/1191282) and do a Find on the page for "modern auth di

[2020-04-13 18:52] kabadisha commented on #1861
Thanks Matt,

We actually scheduled a change to turn this on today. Hopefully the service desk doesn't get swamped with people who have forgotten their password.
Will report back on how it went and any issues for posterity.

Thanks for following this one up though :-)

[2020-04-13 20:13] mattpennathe3rd commented on #1833
@mhunecke Search-Mailbox is not deprecated on Exchange Server (on-premises). This GitHub issue deals with an on-premises environment.

If there is an omission or a problem in an Exchange Online or PowerShell article, please open a new issue on that article. I am not a support representative and I cannot provide support here, aside from helping to correct docs problems.

[2020-04-13 20:39] mattpennathe3rd commented on #1899
@labanex Thanks for opening this issue. I might have misunderstood your question, but you should be able to copy the results of the eDiscovery search to a mailbox without exporting to PST. This function is present in the EAC.

A section in [this article](https://docs.microsoft.com/en-us/exchange/security-and-compliance/in-place-ediscovery/in-place-ediscovery#estimate-preview-and-copy-search-result

[2020-04-13 22:28] #1861 closed

[2020-04-14 06:52] andreaslarssonliu commented on #1850
Hello again to clarify, how to managed addins are described here: https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide

This was concerning Outlook as well, then Microsoft decided that Outlook will work another way. But its no longer documented on how to properly manage addons.

Do you see the problem? There has not been a change in this page

[2020-04-14 09:27] ruowan opened #1902 "How to use Microsoft service account to send email."
I requested a Microsoft service account. I want to send email from scripts. And I refer to [doc](https://docs.microsoft.com/en-us/Exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-3?redirectSourcePath=%252farticle%252fHow-to-set-up-a-multifunction-device-or-application-to-send-email-using-Office-365-69f58e99-c550-4274-ad18-c805d654b4c4

[2020-04-14 12:27] dariomws commented on #1482
Hi @cheesecracker, thank you for your feedback.

This article has been completely rebuilt. Do you still think that it needs to be updated?

[2020-04-14 13:07] dariomws commented on #1524
Hi @Weishaupt, thank you for your feedback.

As @p0shkar commented, there is an official article from the Exchange Team with directions to get Basic Auth usage reports:
https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-auth-and-exchange-online-february-2020-update/ba-p/1191282#

Also, have in mind that some days ago the Exchange Team decided to postpone disabling Basic Authentication

[2020-04-14 13:27] dariomws commented on #1525
Hi @bryanfritz, thank you for your feedback.

You need to create or enable mail users for each account in Gmail. You can see it in the [Overview](https://docs.microsoft.com/exchange/mailbox-migration/perform-g-suite-migration#overview-of-the-process) section. In your case, as you have Azure AD Connect, you need to enable synced users as Mail User.

@Abdul8383 "yes" to your question. You can also s

[2020-04-14 14:43] dariomws commented on #1546
Hi @quickclix75, thank you for your feedback.

This answer is covered here:
"Q: Can I add two different Office 365 accounts from different Office 365 regions to Outlook for iOS and Android?
Yes, provided both accounts do not have Intune App Protection Policies assigned."

But I think you want more information, right?

[2020-04-14 14:47] decturau commented on #1836
@mattpennathe3rd I have this concern also. It looks as if this should be 100 Public Folder Mailboxes (Not public folder mailboxes) based on #1613?

[2020-04-14 15:28] dariomws commented on #1563
Hi @danmyhre, thank you for your feedback.

It won't work only if you have basic authentication disabled. Basic authentication won't be disabled by Microsoft until the second half of 2021. More information:
https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-and-exchange-online-april-2020-update/ba-p/1275508

[2020-04-14 15:40] dariomws commented on #1565
Hi @danmyhre, thank you for your feedback.

Email Address Policies aren't available in Exchange Online Admin Center. In Exchange Online, email address policies are only available for Office 365 groups and you should use *-EmailAddressPolicy cmdlets to manage them.

[2020-04-14 16:15] mattpennathe3rd commented on #1482
@cheesecracker @dariomws It looks like this content was entirely removed on December 17th and was not replaced. As such, this issue is obsolete and can be closed.

[2020-04-14 16:15] #1482 closed

[2020-04-14 16:33] dariomws commented on #1566
Hi @briankern, thank you for your feedback.

You have to choose one method, anonymous or external, not both.

From the article:
"As described in the introduction, there are two different methods you can use to configure the required permissions on the Receive connector:

- Configure the connections as anonymous.

- Configure the connections as externally secured.

Choose one method or the other."

[2020-04-14 16:48] mattpennathe3rd commented on #1566
@briankern These two commands are mutually exclusive; you should only be using one, as described in the article.

I believe the article is correct, so I will close this issue now, but please comment back if we have misunderstood or need further clarification on something in the article.

[2020-04-14 16:48] #1566 closed

[2020-04-14 16:57] mattpennathe3rd commented on #1565
@dariomws I suspect that @danmyhre was asking for an article describing how to use those cmdlets, which is documentation that we seem to lack (aside from PowerShell reference documentation). This article will need some extensive adaptation in that case, but I will look into it.

[2020-04-14 18:34] danmyhre commented on #1563
Right, but many organizations have already done that, or are in the process of disabling it as it is best practice.  Originally it was October, but with the recent change, we do have more time.  The process still has to be updated to use modern auth / the new Exchange powershell modules.

[2020-04-14 18:38] mattpennathe3rd commented on #1563
@danmyhre You are correct. I'll try to slot in some work on this in the near future, but it might be a little while before I can fit it in. I appreciate your pointing this out.

[2020-04-14 18:53] dariomws commented on #1563
I understand that to support Modern Authentication the script should be updated as it's using New-PSSession instead of Connect-EXOPSSession or Connect-ExchangeOnline.

[2020-04-14 18:58] josemoreno90 opened #1905 "Trouble With Signatures"
I am trying to add the following code to the disclaimer:

&lt;div style="font-size:9pt;  font-family: 'Calibri',sans-serif;"&gt;
%%displayname%%&lt;br/&gt;
%%title%%&lt;br/&gt;
%%company%%&lt;br/&gt;
%%street%%&lt;br/&gt;
%%city%%, %%state%% %%zipcode%%&lt;/div&gt;
&nbsp;&lt;br/&gt;
&lt;div style="background-color:#D5EAFF; border:1px dotted #003333; padding:.8em; "&gt;
&lt;div&gt;&lt;img alt="Fabr

[2020-04-14 19:01] mattpennathe3rd commented on #1905
@josemoreno90 I'm sorry, but this isn't a documentation question, so I'm unable to help with this in this repo. I only maintain the docs and I'm not a support person, so I can't help solve specific implementation problems here.

[2020-04-14 19:01] #1905 closed

[2020-04-14 20:58] mattpennathe3rd commented on #1854
@AMagee-BJC I looked into this with the team and verified that there is no way to do this dynamically. Your options are to create a PowerShell script to loop through a list of users, or have a tenant-level default policy which applies to all users who don’t have user-level policies.

I hope that's helpful to you. I'm not sure there's anything I can add to the article, so I will close this issue no

[2020-04-14 20:58] #1854 closed

[2020-04-14 21:11] mattpennathe3rd commented on #1562
@bakerm00 I've added a note to this article pointing out that IMAP and POP3 access are blocked when modern auth is enabled (at least for the time being). As mentioned, there are some future plans to make this more robust.

The update should be published later today. Please let me know if I can do anything further on this article.

[2020-04-14 22:29] #1562 closed

[2020-04-14 22:36] mattpennathe3rd commented on #1902
@ruowan I am sorry, but this is not a documentation problem. I am only able to provide help with documentation problems in this GitHub repository and I am not a member of the support staff. Please seek help internally or contact support for assistance with your problem. If you find a problem with the documentation, please open a new issue on the article that contains the problem and I would be gla

[2020-04-14 22:36] #1902 closed

[2020-04-15 08:44] Joepvtilburg opened #1906 "Automatic forwarding no longer working"
This used to work (it did in my first two batches) but it no longer does and I see the following error in the migration status:

Data migrated: 36.05 GB ‎(38,713,680,595 bytes)‎
Migration rate: 0 B ‎(0 bytes)‎
Last successful sync date: 4/7/2020 7:00:57 PM
Error: TooManyTransientFailureRetriesPermanentException/BadRequestWebTransientException/WebException: Error: The job encountered too many trans

[2020-04-15 11:52] Joepvtilburg commented on #1906
Please close this, i should have posted this in the gsuite doc

[2020-04-15 11:53] Joepvtilburg opened #1907 "Automatic mail forwarding no longer working"
This used to work (it did in my first two batches) but it no longer does and I see the following error in the migration status:

Data migrated: 36.05 GB ‎(38,713,680,595 bytes)‎
Migration rate: 0 B ‎(0 bytes)‎
Last successful sync date: 4/7/2020 7:00:57 PM
Error: TooManyTransientFailureRetriesPermanentException/BadRequestWebTransientException/WebException: Error: The job encountered too many trans

[2020-04-15 12:14] #1906 closed

[2020-04-15 17:34] mattpennathe3rd commented on #1907
@Joepvtilburg Thanks for opening this issue. I'm not sure this is a documentation problem, and I've not seen any other reports of this here, so it might just be a temporary operations issue rather than a problem with this article.

Unfortunately, I'm not a support rep (I only work on the docs), so the best I can suggest is to contact support to see if they can help work through it with you.

I wil

[2020-04-15 17:34] #1907 closed

[2020-04-15 22:32] richmcd commented on #1824
The StartDAGServerMaintenance.ps1 script should pause the cluster node through the Call-ClusterExe cmdlet, but requires the "PauseClusterNode" switch to do so.  The StopDAGServerMaintenance.ps1 script attempts to resume the cluster node using Call-ClusterExe by default, which may display an error if the PauseClusterNode switch wasn't used when starting maintenenace or if the cluster node wasn't pa

[2020-04-16 09:29] nitzdaniel commented on #1850
Same Problem here. We have now a situation where we have the same situation but somes users are still able to add Addins and others are blocked correctly. Our scenario looks like this: We want to prevent users from installing apps unless they have been approved by an Administrator.

[2020-04-16 17:03] mattpennathe3rd commented on #1850
@andreaslarssonliu @gp92 @nitzdaniel I have reached out to some of my contacts to see if we can figure out what's happening here. I will report back. Thanks for all the details!

[2020-04-16 18:13] mattpennathe3rd commented on #1850
@andreaslarssonliu @gp92 @nitzdaniel I have reviewed this several times and I am sorry to say that I still do not clearly understand the problem.

The page that was linked in one of the comments explains [how to manage deployment of Office add-ins](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins), but there is a note on that page explaining that, "Outlook a

[2020-04-16 19:05] mattpennathe3rd commented on #1824
@richcmd Thank you very much for pointing this out. I will update the article right away.

@alexleach The comment by @richmcd seems to address your question in a very clear way, so I will add the missing switch to the article and it should solve your problem. Please feel free to comment back (or to open a new issue) if you have any other feedback on the article.

[2020-04-16 19:09] mattpennathe3rd commented on #1848
@darylzero I'm going to assume that you are all set and worked through your problem. Please feel free to open a new issue if you have further feedback on the documentation.

[2020-04-16 19:09] #1848 closed

[2020-04-16 19:13] mattpennathe3rd commented on #1833
@jreed336 I cannot proceed with this issue unless I have more information about where the problem lies, so I will close this issue now. Please get back in touch if you have any feedback on the documentation.

[2020-04-16 19:13] #1833 closed

[2020-04-16 20:14] smithre4 commented on #1717
The HTTP connection between Outlook mobile and Exchange Online is secured with TLS 1.2.

[2020-04-16 20:36] #1824 closed

[2020-04-16 22:22] eschrader commented on #1882
If you are using Windows Server 2019, just download Exchange 2019 from my.visualstudio.com w/ CU5 (contains entire installer). Install pre-reqs and there shouldnt be any issues.

[2020-04-16 23:27] mattpennathe3rd commented on #1880
@hughesey I passed your information along. I'm sorry that I can't be of more direct help myself, but the team has been made aware of this.

[2020-04-16 23:27] #1880 closed

[2020-04-16 23:54] mattpennathe3rd commented on #1704
@JeremyTBradshaw Thanks for all of these details. Still working on this.

Regarding your comment above about the "Learn More" links in 2016 server going to outdated content, do you also see this problem in 2019 Server?

[2020-04-17 04:11] paulypoteat commented on #1741
I've enabled security defaults (which broke things).  Based on @John-D1 I've purchased Azure AD Premium P1 and added the public IP as a trusted IP in Azure (and also manually listed it in the Office 365 MFA trusted IP section). That said, option 1 still isn't working.  ISP is blocking port 25 so option 2 never worked.

[2020-04-17 06:39] andreaslarssonliu commented on #1850
Before Outlook was not handled by a different process. So before this change we had documentation.
But after the change we stopped having documentation as this document does not explain how to properly manage add ins.

That is the problem, its not a bug its missing documentation.

[2020-04-17 09:26] alexleach commented on #1824
@richmcd yes thanks for the tip, that seems like the solution here.

@mattpennathe3rd yes, richmcd's comment was indeed very clearly written, thanks. I wasn't aware of the switch, but tbh I am surprised that this isn't the default option. Surely, with a script named `startDAGServerMaintenance.ps1`, it is implied that we want to suspend the cluster on the server. Actually, on that point, there is a

[2020-04-17 11:50] JeremyTBradshaw commented on #1704
Hi @mattpennathe3rd , I don't have a 2019 install available to go check.  I will stand one up though soon, but 'soon' could shift in shape/size so didn't want to leave you hanging without disclaimer.  Hopefully by next week's end.

[2020-04-17 13:41] John-D1 commented on #1741
paulypoteat, I would open a case with Microsoft to review your exact configuration.  Here are some ideas that come to mind, Did you assign the P1 license to the global administrator or the user that needs to authenticate?  My understanding was that the license needed assigned to the global administrator however you may want to try assigning it specifically to the user.  Also, it's possible that so

[2020-04-17 15:42] mattpennathe3rd commented on #1704
@JeremyTBradshaw There's no rush. I appreciate your input! If I'm able to fix the Learn More link problem at all, it will require help from several others outside my team and that always takes time, so any possible fix will not be quick, in any case.

[2020-04-17 15:43] mattpennathe3rd commented on #1824
@alexleach You are absolutely correct. I just realized how lengthy this article is, so it makes some sense to split it up, in any case. I will make a note to split out the maintenance procedure, but I'll also undertake a bigger review of this; it might make sense to split this into several articles with their own topics.

Thanks again for the great feedback. I was an Exchange admin some years ago,

[2020-04-17 15:53] blazncaczn commented on #1741
@paulypoteat When you review your sign in attempts on Azure AD for the account that's sending email, what are you seeing in those logs? It might tell you exactly what is going on. If you have a Premium Azure AD license you can setup a conditional access policy and exclude the user account for requiring MFA with Exchange Online and that should resolve the problem, I'd also recommend putting in the

[2020-04-17 15:54] mattpennathe3rd commented on #1850
@andreaslarssonliu Now I'm seeing where the problem is. Thanks for clarifying.

It will take some time to address this and write the missing content, but I will report back.

[2020-04-17 22:51] paulypoteat commented on #1741
I added AADP1 to a global admin (not the end user) and whitelisted the end user's home IP.  I believe this worked because browser logins for that user (from that location) no longer trigger MFA even when incognito.  I think the issues is this is more than just MFA.  Security Defaults enables MFA and also disables SMTP-Auth.  Whitelisting the home IP doesn't help get the SMTP portion working (I don

[2020-04-18 00:48] mattpennathe3rd commented on #1741
@bmshahrier Thanks for pointing this out. There was a note about this buried late within the Option 1 section, but it was subtle. I have updated the article in several places so that this is more obvious. The updated article will be published in the near future. Thank you very much for opening this issue and helping us improve the documentation.

[2020-04-18 00:51] mattpennathe3rd commented on #1674
@erihnbapsjfdb @AdamWyzgol Thanks for your help in pointing this out. I found some ways to clarify this part of the article and the updated version should be published in the near future.

[2020-04-18 02:07] #1674 closed

[2020-04-18 02:07] #1741 closed

[2020-04-19 14:28] garmoz opened #1911 "Set Cloud Mailbox for PF Mailbox"
It will be very useful to mention to Set-Mailbox DefaultPublicFolders from Exchange Online... at the end of the process.

thanks a lot,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a91350-4f21-d657-2a17-4700fce20acb
* Version Independent ID: 47f55e0e-a94b-c435-9174-c78d107e20c6
* Content: [Configure Exchange Server

[2020-04-20 08:00] nitzdaniel commented on #1850
Are we speaking about the same issue? So I basically need a documentation how to restrict apps that users can add only apps approved by the administrator. Today here is no documentation that explains this use case.
Are we on the same page?

[2020-04-20 18:38] John-D1 commented on #1741
@paulypoteat , that's not the case.  We were using the app password and it was working fine until the Security Defaults were enabled.  Are you saying that you were unable to "Enable SMTP AUTH for specific mailboxes"?

With what you're saying, Microsoft support was in error regarding their information and licensing isn't needed at all.

[2020-04-20 18:52] paulypoteat commented on #1741
I'm suggesting that the idea of an app password is meant to work around MFA.  Another work around is IP white-list.  Separately, when you enable Security Defaults MS forces MFA AND disables legacy (like Send Auth for Multi Function Printers).  I don't think App Passwords or IP White-list will help our situation - where we've enabled Security Defaults but our printers don't support modern authentic

[2020-04-20 20:16] John-D1 commented on #1741
@paulypoteat , we have a lot of customers with legacy devices such as your printer.  For some of the customers, we ended up installing a local free SMTP server such as mailenable or hmail on one of their clients which could do all of the heavy lifting however it presents an issue with sending to 3rd party domains.  The preferred method that we were using prior to the 'security defaults' enforcemen

[2020-04-20 21:04] paulypoteat commented on #1741
@John-D1 For clarification we are/were in the same boat.  We were using App Password (to get around the MFA requirement that we self imposed).  When we enabled Security Defaults it stopped working.  I conflated issues and thought that AAD Premium1 (and setting an IP whitelist) would help.  All that did was get us past MFA.  Security Faults, I believe, kills SMTP Auth ONTOP of forcing MFA so there

[2020-04-20 21:21] John-D1 commented on #1741
@paulypoteat , I totally agree, Option 2 and 3 are not realistic...  any chance you could open a support case with Microsoft to get a final answer regarding this?  ...and depending on that final answer the authenticated client submission docs may also need updated.

[2020-04-20 21:28] paulypoteat commented on #1741
@John-D1 I believe Microsoft has updated to my <cough><cough> satisfaction.  It now reads
"Note: This option is not compatible with Microsoft Security Defaults or multi-factor authentication (MFA). If your environment uses Microsoft Security Defaults or MFA, we recommend using Option 2 or 3 below."

That's everything I needed to know.  I don't believe opening a ticket is going to improve my (our)

[2020-04-21 12:01] tyusaf opened #1913 "Delivery of external mail to a group can fail if you've enabled centralized mail flow"
We need to know why this statement says CAN fail rather than DOES fail.
If O365 groups are supposed to replace distribution groups, and -requiresenderauthentication $false currently works to Internet enable current DLs, this statement needs to be clarified
- is there a configuration that does work?
- why does it sometimes fail?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-21 19:17] PacoBell opened #1914 "Organizational unit field not available"
I want to create a dynamic distribution group based on a specific OU, but it's not showing up as a configurable option in EAC. It's clearly referenced several times in this document. Where did it go?

[2020-04-21 19:33] mrgoos commented on #1378
As you can see I couldn't find help [here](https://github.com/MicrosoftDocs/feedback/issues/2674).
Could you please LMK where can I go with this? Why is it so complicated?
Just a DIRECT link will do if you don't want to take care of it by yourself.

[2020-04-21 19:46] dariomws commented on #1378
Hi @mrgoos, I sent you the link to user's voice. This is the place where people can create/request a new idea/features:
https://office365.uservoice.com/

I can help you if you think we can improve an article in docs.microsoft.com.

[2020-04-21 19:53] mrgoos commented on #1378
Thanks, opened in `Office 365 Admin`.

[2020-04-21 20:49] KarlBystrak opened #1915 "The section on customizing the language selection page is incorrect."
It says to edit %ExchangeInstallPath%ClientAccess\Owa\Current2\version\resources\styles\languageselection.css but that is the wrong file.  If you read the code in the languageselection.aspx file you will see this:
&lt;link type="text/css" rel="stylesheet" href="&lt;%=OwaUrl.ApplicationRoot.GetExplicitUrl(Request)%&gt;prem/&lt;%=OwaVersion%&gt;/resources/styles/languageselection.css"&gt;
which is a

[2020-04-22 00:02] mpowrie opened #1917 "Link is broken"
The link to "Getting Started with Log Parser Studio" is broken (points to a generic "archived blogs" page)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b946a8f-95c0-db27-df0c-9fa3eaf80be4
* Version Independent ID: 3468d939-ae42-5ea9-4da5-8a1192690ac8
* Content: [IIS Logs and Log Parser Studio Reports: Exchange 2013

[2020-04-22 01:39] mattpennathe3rd commented on #1917
@mpowrie Thank you for pointing this out. I've updated the link with something much more current and the article should be published in the near future.

[2020-04-22 01:39] #1917 closed

[2020-04-22 15:52] merwindz commented on #1890
OK understood.

Do you know if this migration process can also migrate distribution list to Exchange Online? The migration limitation section in the document doesn't mention anything about it.

[2020-04-22 16:00] merwindz commented on #1525
We are in the process of migrating over 3000 mailboxes from G-Suite to Exchange Online and we would like to use our AD accounts so we plan to sync them to Azure AD. We have no exchange in the environment and planning to have one to support the migration. Since there is no Exchange attributes in the accounts, how would these accounts appear as Mail Users in Exchange Online? Do I need to add externa

[2020-04-22 16:13] dariomws commented on #1525
Hi @merwindz,

In this case, as you are using Azure AD Connect, you need to install an Exchange server for management, and when you install it you will prepare you AD Schema for Exchange. In this way, you will get the Exchange attributes.
Then, you need to enable mail users on-premises using this Exchange server and they will be synced to Azure AD/Exchange Online.

Hope it helps.

[2020-04-22 16:21] merwindz commented on #1525
Thanks. Looks like the targetaddress attribute needs to be populated with alias@gsuite.compnayname.com and sync to Azure AD and the migration process will update attribute and account types during the cutover :)

[2020-04-22 16:40] merwindz opened #1919 "Distribution list migration"
Migration limitation section in the document doesn't talk about Distribution List migration so just wondering if this migration process support DL migration? Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963b7331-1f6d-0400-d004-59797a4e87d1
* Version Independent ID: 71f2a5dd-0581-d33a-c41a-bef0ed1f208c
* Conten

[2020-04-22 18:00] kabadisha commented on #1861
For anyone who finds this thread, we enabled this feature on our tenant (approx 2000 users) and found no issues. Users were not signed out. In fact, nobody noticed anything.

[2020-04-22 22:56] srautwar commented on #1595
Microsoft Exchange Team, Any update on this? This is a MUST have item for the last several years. It is painful the manage the on-perm Exchange Server just to manage few attributes. Please come up with a solution to address this limitation.

[2020-04-22 22:57] srautwar opened #1920 "OnPrem Exchange Server"
It doesn’t make any sense to keep the OnPrem Exchange Server just for managing a few exchange attributes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6eb1f9b-27f6-4d93-5a97-ad3f8b6ed27d
* Version Independent ID: f248ffa0-1bc3-be8f-055a-1c941e3ad234
* Content: [How and when to decommission your on-premises Exchange

[2020-04-23 02:47] mattpennathe3rd commented on #1861
@kabadisha Thanks for reporting back. Can you share which clients your users are using to connect?

[2020-04-23 07:52] kabadisha commented on #1861
We've got a bit of a mixed bag, all modern clients though, we've managed to keep most people up to date.
Mostly Windows users (all Win 10) with some Mac users (myself included). I think all office clients are version 2016 and above.

[2020-04-23 09:16] ioanstavar opened #1921 "Exchange 2016 Management Tools on Windows Server 2019"
Is there a way to install Exchange 2016 Management Tools only on a Windows Server 2019 Standard (GUI) ?

Thank You

[2020-04-23 15:43] andrePKI opened #1922 "What "Microsoft 365 admin permissions" ?"
To access the Exchange Admin center "You must have Microsoft 365 admin permissions". OK, but *what* admin permissions? Is it Exchange Admin only? If so, why not state just that? I am for instance a Security Admin, but I have no access to EAC.
So based on the text above I assume I'm OK. But it is just not so...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-04-23 16:35] schodosa commented on #1595
Also in need of an update. Planning DNS changes tonight and had no intention of leaving an on-prem Exchange Server running.

[2020-04-23 18:28] Krytical13 commented on #1595
M$ is about making money...
So what do they do?
Save money by having less developers, and less expensive ones
(See quality of windows 10 updates, and removal of matured features from mature enterprise software due only to the inability to maintain the code for confirmation of this)

Save money by getting the community to do their documentation, rather than spend a bunch of money on employees to do

[2020-04-24 04:21] scanum commented on #1914
@PacoBell thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-24 04:21] #1914 closed

[2020-04-24 04:21] scanum commented on #1915
@KarlBystrak thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-24 04:22] scanum commented on #1919
@merwindz Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-24 04:22] scanum commented on #1920
@srautwar thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-24 04:22] #1920 closed

[2020-04-24 04:22] scanum commented on #1921
@ioanstavar thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-24 04:22] #1921 closed

[2020-04-24 04:22] scanum commented on #1922
@andrePKI thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-24 13:45] VLG17 commented on #1831
@JeremyTBradshaw "**The component of the categorizer that's responsible for recipient resolution is frequently called _the resolver_.**" from [this article](https://docs.microsoft.com/en-us/exchange/mail-flow/mail-routing/recipient-resolution?view=exchserver-2019)

[2020-04-24 15:16] jwood-msft opened #1924 "Outlook for Mac for Office 365 support for Public Folder Hybrid"
Outlook for Mac for Office 365 guidance should be aligned with Outlook 2016 for Mac. Outlook for Mac for Office 365 is now at ver 16.36 and Outlook 2016 is at ver 16.16.20.

Include Outlook 2019.

Also replace O365 with Office 365 in Step 2.

https://docs.microsoft.com/en-us/exchange/collaboration-exo/public-folders/set-up-modern-hybrid-public-folders

[2020-04-24 16:11] mattpennathe3rd commented on #1915
@scanum This is a documentation issue and not a support issue.

[2020-04-24 16:14] mattpennathe3rd commented on #1922
@scanum This is a documentation issue.

@andrePKI Thanks for filing this. I will look into it and see if we can make this more specific.

[2020-04-24 18:54] felgar73 opened #1926 "Dynamic Group support?"
Are dynamic distribution groups supported? I've heard different opinions, including how expanded recipients are cached in transport, but would like to confirm this.
-thnx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8d4ec80-7a55-398a-22e9-3f5df24a867b
* Version Independent ID: 4543c414-41d1-b8fe-8a58-4dc61ccf61ff
*

[2020-04-24 22:26] JeremyTBradshaw commented on #1831
@VLG17 thanks for the reference.  I could close this now with that, but will leave it to the mods in case there's any updating of this page worth doing.

[2020-04-25 01:37] swxxii opened #1927 "Heading does not match TOC"
TOC - Manage group access to Microsoft 365 groups
Page Heading - Allow/Block guest access to Microsoft 365 groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08bf021-f95a-ab2f-85e3-4f4c44374501
* Version Independent ID: 2d7ea71a-f42c-693a-eb4e-c1d9336b44eb
* Content: [Allow/Block guest access to Microsoft 365 group

[2020-04-27 03:27] scanum commented on #1924
@jwood-msft  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-27 03:27] scanum commented on #1927
@swxxii  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-27 03:28] scanum commented on #1926
@felgar73
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-27 03:28] #1926 closed

[2020-04-27 11:31] ita-tomi opened #1929 "Clarification on section "Network and directory requirements" section"
"You can't install the Exchange server and then remove the domain controller from the Active Directory site."

I think this means you cannot remove domain controller ROLE from Exchange server after installing Exchange?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-c046-ac148d95a102
* Version Indepen

[2020-04-27 15:21] challengelogic opened #1930 "Where is..?"
Regarding: "If your organization requires that users on hold be informed, you can add a notification message to the mailbox user's Retention Comment property and use the RetentionUrl property to link to a web page for more information." - a link to the PowerShell cmdlets would be useful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-04-27 17:37] Granty50 commented on #1820
jblot, did you get anywhere with this?  We're facing the same issue.   I would love to hear how this went.

[2020-04-27 17:41] jblot commented on #1820
Hi,

Unfortunately I had to delete all O365 user accounts I had created manually. Then when syncing them back through AzureADConnect, it created the Mail users contact properly.

[Logo]<https://totalnorth.ca/>
Julien Blot
IT Managed Services Manager
phone: (867) 668-5175<tel:+18676685175>
mobile: (867) 334-9774<tel:+18673349774>
email: jblot@totalnorth.ca<mailto:jblot@totalnorth.ca>
127 Copper Roa

[2020-04-28 04:34] scanum commented on #1929
@mattpennathe3rd Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-28 04:34] scanum commented on #1930
@challengelogic Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-28 07:37] fpolikavo opened #1931 "update"
Altought is a well knonw site, it will be nice to supplement the article by adding a link reference to the testconnectivity.microsoft.com address, so people shall not jump pages around

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21b5e59e-b1df-376c-22f3-fedf3a1e2fe9
* Version Independent ID: 459dc342-6e86-2a47-3552-b

[2020-04-28 11:17] VLG17 commented on #1822
@jfgoodhew1 Are you testing with an on-premises mailbox which has an added shared mailbox also residing onpremises? What Exchange server version is it? Or are we talking about Exchange Online?

Did you try with other shared mailboxes (maybe a test one) just to check if it's not related to that specific shared mailbox?

As far as i know, there is no explicit option for shared mailboxes related to S

[2020-04-28 11:38] jfgoodhew1 commented on #1822
Hello,

I don't know much about it, I just know we're all on Office 365 Business
Premium, and it's Exchange Online always updated because it's a 365 license.
We want that option, because we want to send emails to a shared mailbox
from our CRM to trigger VBA code / events. This inbox must be able to be
checked by other users.
The events are time-sensitive, so we can't really wait 5 minutes until
Ou

[2020-04-28 13:21] VLG17 commented on #1822
@jfgoodhew1 thank you for your response. As far as i know, this option already exists, that's why i recommended to test with another shared mailbox (a new one would be best) to check if you can reproduce the issue or not (if not, then the problem comes from using that specific shared mailbox).

I would also recommend [reaching out to support](https://docs.microsoft.com/en-us/microsoft-365/admin/co

[2020-04-28 13:32] VLG17 commented on #1810
@ii-batman The [second paragraph](https://docs.microsoft.com/en-us/exchange/place-all-mailboxes-on-hold-exchange-2013-help#place-all-mailboxes-on-litigation-hold) of the article you referenced talks about that:

![image](https://user-images.githubusercontent.com/41186174/80493122-a7ed2a80-896d-11ea-9df3-12bceb6fc278.png)

If you follow that link, it takes you to [the article which contains the nee

[2020-04-28 13:49] jfgoodhew1 commented on #1822
Hello.

You just told me in the email before this one:
"As far as i know, there is no explicit option for shared mailboxes related
to Send/Receive interval."
Now in this last email, you say:
"As far as i know, this option already exists"

I can't work with that kind of information, so I'm going to stop emailing
you and make sure it's on User Voice.

Thank you for your time and all the best.
James

[2020-04-28 14:04] VLG17 commented on #1822
@jfgoodhew1 I guess you misunderstood me. With

I meant there is no explicit box which you need to select in order for the change you do for Send/Receive interval to apply also for shared mailbox. It will apply automatically.

[2020-04-28 15:55] jfgoodhew1 commented on #1822
That's fine, but it doesn't tell me which Send/Receive interval will
Outlook automatically apply. The one for the main Outlook user's account,
the one for the Outlook Profile currently in use, or a random one Microsoft
decides?

Ideally I want to specify 1min (or less) for the shared mailbox, but
currently there can be emails in the shared mailbox Exchange inbox that
don't come into the same inbox

[2020-04-28 18:27] isuckatscripting opened #1933 "This text is not in a blue box like the other call outs"
Important: The values that you enter for the selected attribute must exactly match those that appear in the recipient's properties. For example, if you enter Washington for State or province, but the value for the recipient's property is WA, the condition will not be met. Also, text-based values that you specify aren't case-sensitive. For example, if you specify Contoso for the Company attribute,

[2020-04-28 19:13] mattpennathe3rd commented on #1810
@ii-batman I believe the above comment answers the first part of your question, but regarding the second part, it is not possible to automatically place new mailboxes on hold. This is noted in the table on this page.

I will close this issue now, as I think what you've asked for is already documented, but please comment back if I have misunderstood.

[2020-04-28 19:13] #1810 closed

[2020-04-28 19:32] mattpennathe3rd commented on #1933
@isuckatscripting Thanks for pointing this out! I'm not sure why that was left that way, but I have submitted a fix and it should be published in the near future.

Thank you again for submitting this. Also, I love the username. :-)

[2020-04-28 19:32] #1933 closed

[2020-04-28 21:04] mattpennathe3rd commented on #1717
@mcastorina08 The protocol used is encompassed in the native Microsoft sync technology. It is not MAPI over HTTP. I've tried to clarify this a bit in the article and I hope this helps.

@GiantCrocodile In line with the comment above, I've clarified in the article that we use TLS 1.2 over HTTPS.

The updated version of the article should be published in the near future. Thanks very much for asking

[2020-04-28 21:11] mattpennathe3rd commented on #1924
@jwood-msft Thanks for opening this. The guidance for Outlook for Mac seems to reflect version 2016 already. Which elements of the article are you referring to?

As for the typo, I've submitted a fix and that should be corrected in the near future. Thanks for pointing this out.

[2020-04-28 21:19] #1717 closed

[2020-04-28 21:34] mattpennathe3rd commented on #1924
@jwood-msft Scratch the prior comment. I've reorganized and clarified some of the existing content, which should help with this.

Regarding Outlook for Mac for Office 365, do you know when support for cross-prem public folders was introduced?

[2020-04-28 21:43] mattpennathe3rd commented on #1927
@swxxii Thank you for pointing this out. I have corrected the title.

Many of our article titles don't exactly,align with the table of contents, but I think this one definitely needed to be fixed. Thanks very much for submitting this.

[2020-04-28 21:43] #1927 closed

[2020-04-29 12:30] VLG17 commented on #1822
@jfgoodhew1 Thank you for your answer and for taking the time to test this behavior. Let's see what the feedback from UserVoice is and afterwards let's check what needs to be added to the documentation.

[2020-04-29 15:56] mattpennathe3rd commented on #1822
@jfgoodhew1 This sounds like a problem with your mail client rather than Exchange Server. This GitHub repo is for documentation feedback on Exchange Server and Exchange Online and I'm unable to provide help with product support here (I'm only a technical writer).

I will close this issue now, but if you uncover something that we might be able to document for Exchange Server or Exchange Online, ple

[2020-04-29 15:56] #1822 closed

[2020-04-29 18:49] NavishkarSadheo opened #1936 "Exchange 2016 Mailbox servers on Windows Server 2016"
Why do I need to install "Visual C++ Redistributable Package for Visual Studio 2012" for Windows Server 2016 when it clearly states on the "Visual C++ Redistributable Package for Visual Studio 2012" product page that the support OS's are "Windows 7 Service Pack 1, Windows 8, Windows 8.1, Windows Server 2003, Windows Server 2008 R2 SP1, Windows Server 2008 Service Pack 2, Windows Server 2012, Windo

[2020-04-29 19:13] mattpennathe3rd commented on #1936
@NavishkarSadheo Thanks for opening this issue. I believe the article is correct (in spite of the confusing supported OSes), but I am double checking and will report back.

[2020-04-29 19:18] mattpennathe3rd commented on #1481
@JeremyTBradshaw Thanks for waiting! I worked with one of our engineers to get more technical details on this. There will be a new section added about interaction between various limits as well as an example scenario that should be informative.

The updated article will be published in the near future (likely within a few hours of whenever this issue is closed), so when you have time, please feel

[2020-04-29 19:38] mattpennathe3rd commented on #1792
@bauersystems I went over this with one of our engineers and we've written a new section with a few more details on using certificates for relays. The updated article will be published in the near future. If the new article still doesn't cover what you need, please feel free to open a new issue.

[2020-04-29 20:29] #1792 closed

[2020-04-29 22:42] mattpennathe3rd commented on #1924
@jwood-msft I rephrased the section in question to be much more current. This should help immensely and the updated version should be published in the near future, but if you see any further issues with this article, please let me know and I'd be glad to fix them.

[2020-04-29 23:36] #1481 closed

[2020-04-29 23:46] #1924 closed

[2020-04-30 00:13] harindergiri opened #1937 "Finalizing Cutover migration"
Even though Forwarding addresses are not needed when doing a cutover migration from G Suite to Exchange Online. but the status of Migration will be failed and Reports will say Error: TooManyTransientFailureRetriesPermanentException/GmailForwardingAddressRequiresVerificationException: Error: The job encountered too many transient failures ‎(61)‎ and is quitting. The most common failure is GmailForw

[2020-04-30 00:51] trevevs opened #1938 "Confirm all the commands are wrong!"
The amended commands posted above are correct and work. (you are missing " before /custom binding & at end to close it off.)
Please update the doc.
Errors produced are:
ERROR ( message:Malformed collection indexer; format is [@position,name='value',name2='value2',...].  The @position specifier is optional, and be '@start', '@end', o
r '@N' where N is a numeric index into the collection. )
ERROR (

[2020-04-30 13:24] VLG17 commented on #1819
@GrahamJB1 As far as i've seen, raising this limit applies only to some specific scenarios, when certificate based authentication and certain mobile OS is involved. I guess we could add a note about it, but i would not add it to the article as a must. What do you think?

[2020-04-30 13:27] dagroll opened #1939 "Instructions on how to generate an CSR for ECC"
Under the "What you need to know" section of this article, it states:
"Exchange generates a PKCS #10 request (.req) file that uses Base64 (default) or Distinguished Encoding Rules (DER) encoding, with an RSA public key that's 1024, 2048 (default), or 4096 bits.  Note that encoding and public key options are only available in the Exchange Management Shell."
Can you provide instructions in this arti

[2020-04-30 13:39] GrahamJB1 commented on #1819
I am using Client Certs, and this affected me on Android.
It also affects iPhone, and from the explanation appears to be a generic ActiveSync issue.
As it affects multiple mobile devices, I would recommend it is in there as a must - I leave you to test if it is only a **must if you are using Client Certs** or is always required.

Here are some articles:
https://support.microsoft.com/en-gb/help/295

[2020-04-30 13:53] VLG17 commented on #1802
@QM-75 According to the [documentation for Set-OrganizationConfig](https://docs.microsoft.com/en-us/powershell/module/exchange/organization/set-organizationconfig?view=exchange-ps), **the default is $false**.

[2020-04-30 16:04] mattpennathe3rd commented on #1936
@NavishkarSadheo I have verified that this is correct. VC++ 2012 redistributable is required, the system requirements on the download page notwithstanding. I agree this is confusing and I will add some notes to this page explaining this.

[2020-04-30 18:06] mattpennathe3rd commented on #1001
@nikunjapadhy A long overdue thank-you for submitting this correction. I am sorry that this was not incorporated when you submitted it, but I have corrected these commands and the updated article will be published later today. Thank you again for submitting this and I hope that you will continue to point out problems in our documentation as you find them. We appreciate your input.

[2020-04-30 18:08] mattpennathe3rd commented on #1938
@trevevs You are absolutely correct. The other issue that included the corrections was closed for reasons unknown, but I have gone back and incorporated all of these into the article. The updated version will be published later today.

Thanks for drawing attention to this. If you find any other problems in the documentation, please feel free to open up new issues and I will look into them.

[2020-04-30 18:16] #1001 closed

[2020-04-30 18:16] #1938 closed

[2020-05-01 05:57] scanum commented on #1931
@fpolikavo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-01 05:58] scanum commented on #1937
@harindergiri  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-01 05:58] scanum commented on #1939
@dagroll Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-01 08:34] VLG17 commented on #1801
@p0shkar A hybrid environment implies synchronized identities, and you have 3 options here: Password Hash Sync, Pass-through Authentication and Federation. The fact that the user mailbox still resides onpremises and was not migrated to the cloud does not change anything in terms of where it gets authenticated - either in the cloud (password hash sync) or onpremises (pass-through authentication and

[2020-05-01 08:41] VLG17 commented on #1800
@VinodSP1980 a note has been added above this cmdlet to adress that:

![image](https://user-images.githubusercontent.com/41186174/80793776-b8391b80-8ba0-11ea-8d62-23aa39ec07b6.png)

[2020-05-01 08:46] VLG17 commented on #1797
@ericreiss You can leverage NLB on a different Windows Server / VM which is not part of a DAG structure.

The article states that NLB cannot be installed on a server that is part of a failover cluster (DAG) as the two clustering technologies are not compatible.

[2020-05-01 10:47] liquidkristal opened #1940 "Example incorrect"
Get-MailboxStatistics -Database <recovery Database> | Format-Table Name,MailboxGUID -AutoSize

needs to be

Get-MailboxStatistics -Database <recovery Database> | Format-Table DisplayName,MailboxGUID -AutoSize

On Exchange 2016 CU15 (maybe on other versions as well)

[2020-05-01 15:02] kekici opened #1941 "Exchange documentation need update for performance counters"
TCPv6\Connection Failures
Shows the number of TCP connections for which the current state is either ESTABLISHED or CLOSE-WAIT. The number of TCP connections that can be established is constrained by the size of the nonpaged pool. When the nonpaged pool is depleted, no new connections can be established.

Not applicable
-- | -- | --

Above description is wrong it should be like below;

TCPv6\Connec

[2020-05-01 16:30] mattpennathe3rd commented on #1802
@QM-75 As mentioned above, the default is $false, so this should not have been set to to $true on your 2016 server. This was most likely something unique to your environment and should not affect others, so I will close this issue now. If you uncover any further issues in the docs, please feel free to open a new issue.

[2020-05-01 16:30] #1802 closed

[2020-05-01 16:45] mattpennathe3rd commented on #1936
@NavishkarSadheo Thank you again for opening this issue. I've updated the article and the new version should be published later today. If you see any other problems with the documentation, please open a new issue and I'll gladly take a look at it.

[2020-05-01 16:59] mattpennathe3rd commented on #1800
@VinodSP1980 Thanks for pointing this out. I believe this article has already been updated to address your issue, so I will close this now, but please feel free to comment back or to open a new issue if you run into any other problems with the documentation.

[2020-05-01 16:59] #1800 closed

[2020-05-01 17:13] #1936 closed

[2020-05-01 17:30] mattpennathe3rd commented on #1940
@liquidkristal I assume you're speaking about this article: https://docs.microsoft.com/en-us/exchange/high-availability/disaster-recovery/restore-data-using-recovery-dbs

I'll look into this further and will report back.

[2020-05-01 18:19] liquidkristal commented on #1940
HI

Yes that’s the article.

Regards

Mike.

From: Matt Penna <notifications@github.com>
Sent: 02 May 2020 00:30
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Mike Hyslop <mike@mikehyslop.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] Example incorrect (#1940)

@liquidkristal<https://github.com/liquidkristal> I ass

[2020-05-01 23:14] mattpennathe3rd commented on #1595
@sw-sw-sw-sw @RescueWhale @amolpawar297 @atguilmette @Krytical13 @srautwar @schodosa

I checked thoroughly into this and as of right now, there is no solution. You do have access to a free license (the "hybrid key") for the remaining hybrid server via the Hybrid Configuration Wizard, so the remaining server should not incur further software cost.

I'm sorry that I'm not able to help further; I onl

[2020-05-01 23:14] #1595 closed

[2020-05-01 23:15] mattpennathe3rd commented on #1638
@3novsan Closing this issue out for now, but please feel free to follow up in the future if you need further documentation help.

[2020-05-01 23:15] #1638 closed

[2020-05-02 00:04] mattpennathe3rd commented on #1831
@JeremyTBradshaw It looks like we can update this page with a couple of details on this. I'll follow up and see what can be done.

[2020-05-02 00:06] mattpennathe3rd commented on #1899
@labanex Just following up to see if you have any further details to offer on this issue. Thanks again for opening it.

[2020-05-02 01:40] mattpennathe3rd commented on #1940
@liquidkristal Mike, thanks for pointing this out! I've corrected this and the updated article will be published in the near future. I also checked the rest of our Exchange documentation set and (fortunately) this was the only instance of this error. Thanks again for opening this issue and please feel free to open others for any other problems you run across in the docs.

[2020-05-02 01:43] #1940 closed

[2020-05-02 08:43] QM-75 commented on #1802
Thank you for your updates and feed back on this. I have a few forthcoming similar migrations to do and will check this.

[2020-05-04 05:26] scanum commented on #1941
@kekici Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-04 08:41] VLG17 commented on #1794
@gbordier I don't think the recommendation should be to disable SafetyNet on Edge Servers. If the mail.queue is growing too large, then we can leverage the **SafetyNetHoldTimeInterval** parameter.

One thing to keep in mind is [this issue](https://support.microsoft.com/en-au/help/3019650/safety-net-hold-time-settings-are-not-synced-to-exchange-server-2013-e), which could still apply to Exhhange 20

[2020-05-04 09:47] VLG17 commented on #1790
@jackvdbuk I think the [Exchange Team Blog](https://techcommunity.microsoft.com/t5/exchange-team-blog/improving-migrations-using-data-consistency-scoring/ba-p/1105920) can provide more context here:

Keeping in mind that you can view the DataConsistencyScore for your migration at a per-user level, you could try and check ACLs, Folder level permissions and any other things you could think of in you

[2020-05-04 11:18] VLG17 commented on #1785
@asampson68 The recommended way of viewing the results is exporting them to a .pst file as mentioned in the article you provided and [described here](https://docs.microsoft.com/en-us/Exchange/policy-and-compliance/ediscovery/export-results-to-pst?view=exchserver-2019).

You could also open the Discovery Search Mailbox in Outlook, as described [in this article](https://docs.microsoft.com/en-us/prev

[2020-05-04 11:55] VLG17 commented on #1777
@jeremieweldin As mentioned above, you could create another VM (client) in the same subnet, install Outlook on this VM and test what's needed. Remember to [shutdown the VMs](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management) after testing, so you don't burn through all your Azure credit.

[2020-05-04 18:49] gbordier commented on #1794
I may be wrong but it seems SafetyNet does not actually do anything on edge servers.  quotiing for the documentation "Safety Net is designed to protect message delivery on Exchange Servers hosting end-user mailboxes. Customers who have deployed a hub and spoke routing topology should disable Safety Net on transport servers in hub sites to avoid a large growth in the size of the transport database

[2020-05-05 09:20] aldoug opened #1944 "Clarity request"
Can we confirm by statement whether this statement is also true if the mailbox used to authenticate has SendAs permissions on the account it is impersonating?

"Error: Client was not authenticated to send anonymous mail during MAIL FROM

This error indicates that your printer connects to the SMTP client submission endpoint (smtp.office365.com). However, your printer must also logon to a mailbox to

[2020-05-05 09:37] mzafzal1 opened #1945 "FQDN of Exchange Server"
In NDR external users getting, "The following organization rejected your message: edge.contoso.com." How to remove/change this line from NDR? I dont want to show my server names to senders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27a93c3c-15f2-8bca-90f4-c4b8abf2d588
* Version Independent ID: e683fa27-017f-910f-c

[2020-05-05 10:22] AndreyNov opened #1946 "restart IIS"
The question about Step 5. Why are you calling to stop "was" service and then start another "w3svc" service?
First action stop 3 services (including w3svc).
Therefore after second action we have 2 services stopped and not restarted:
- Net.Tcp Listener Adapter
- Net.Pipe Listener Adapter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-05-05 15:07] VLG17 commented on #1794
@gbordier I think the confusion comes from the fact that you are refering to the **hub-and-spoke scenario**. [This article ](https://docs.microsoft.com/en-us/exchange/route-mail-between-active-directory-sites-exchange-2013-help#implementing-hub-sites) describes this scenario and what it involves. It's not about Edge servers, but more about how you design the mailflow and which servers in needs to

[2020-05-05 15:27] gbordier commented on #1794
Well, an exchange server in an hub site, without mailboxes is functionally really close to an edge server, from the doc I don’t see any added value of safety net on edge servers.

From what I understand SafetyNet without a mailbox server in range does not do anything except filling up disk space, so it should be disabled.

@Pascal L'Huriec<mailto:phuriec@microsoft.com>, @Didier Akakpo<mailto:didak

[2020-05-05 16:00] gbordier commented on #1794
Hello,
Yes I agree. If there is no mailbox in the AD site, it is not useful to keep SafetyNet enabled. If you keep it enabled, that will fill the disk space, but SafetyNet will not help you for anything else.
If your AD site is dedicated to Message Relay you should disable SafetyNet on these servers. It’s written here:
https://docs.microsoft.com/en-us/Exchange/mail-flow/transport-high-availability

[2020-05-05 18:14] VLG17 commented on #1794
@gbordier In this case, do you think adding a note to [this segment](https://docs.microsoft.com/en-gb/exchange/mail-flow/transport-high-availability/safety-net?view=exchserver-2016#safety-net-maximum-supported-sizes) like below would be enough?

**Note!
Valid also for Edge Servers. (or something similar)**

Disabling it by default would need to be adressed via UserVoice in order for it to reach th

[2020-05-05 18:16] mattpennathe3rd commented on #1794
@VLG17 These are MS employees, so I will handle this one from here. Thanks for all the follow up!

[2020-05-05 19:59] ncasa-johnj opened #1947 "Mailbox usage "More options" not available"
"More options" is not available as part of the Mailbox usage tab when I view accounts from EAC. Is this a configurable item?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba50998c-7b9a-bc1f-81af-05ade620793c
* Version Independent ID: 46a00993-86e7-4d06-bff4-bc16b1df2c96
* Content: [Configure Deleted Item retention and

[2020-05-05 22:30] mattpennathe3rd commented on #1947
@ncasa-johnj Are you using the modern EAC or the classic EAC? We're still working on updated docs for the modern EAC, as it's brand new, but please let me know if you're still using classic and I will look into it.

[2020-05-05 22:42] ncasa-johnj commented on #1947
It feels classic.  Screenshot attached.

![Capture](https://user-images.githubusercontent.com/64867250/81123035-045cc680-8ee7-11ea-818e-0682f46c013d.PNG)

[2020-05-05 22:57] mattpennathe3rd commented on #1947
@ncasa-johnj Forgive me. I misread your issue and didn't realize this was for an article dealing with on-premises Exchange Server; the modern EAC is only for Exchange Online.

I'll dig a little and will report back. Thanks for your patience.

[2020-05-05 23:06] ncasa-johnj commented on #1947
On-premise Exchange would explain the issue.  We are O365 hosted.

Regards,

JOHN JOYNT
Sr. Director of Information Technology & Operations
206.774.7226  |  johnj@nationalcasagal.org<mailto:johnj@nationalcasagal.org>
NATIONAL CASA/GAL ASSOCIATION FOR CHILDREN
100 West Harrison Street, North Tower, Suite 500, Seattle, WA 98119
800.628.3233  |  nationalcasagal.org<https://nationalcasagal.org/>

My e

[2020-05-05 23:09] mattpennathe3rd commented on #1947
@ncasa-johnj That would do it! I will close this issue now, but please feel free to open new issues if you run into holes in the Online/O365/M365 documentation.

[2020-05-05 23:09] #1947 closed

[2020-05-06 00:12] scanum commented on #1944
@aldoug Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-06 00:12] scanum commented on #1945
@mzafzal1 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-06 00:12] scanum commented on #1946
@AndreyNov Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-06 08:21] VLG17 commented on #1742
@NeighborGeek Does the second note under "Apply to a small set of users" section not address this?

The remote routing address is in fact a proxy address, right?

https://docs.microsoft.com/en-us/powershell/module/exchange/federation-and-hybrid/new-remotemailbox?view=exchange-ps

![image](https://user-images.githubusercontent.com/41186174/81152997-27d94d00-8f8b-11ea-84fe-c4326ad0388b.png)

If you

[2020-05-06 08:38] VLG17 commented on #1680
@Jhines09 another thing to keep in mind is [the last update](https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-and-exchange-online-april-2020-update/ba-p/1275508) about disabling Basic Authentication in Exchange Online for tenant that actually use it:

[2020-05-06 12:30] justin-fb opened #1949 "Biometrics (Fingerprint and Facial Recognition)"
Is there a setting that requires a password but will allow biometrics such as a fingerprint sensor or facial recognition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8953d102-718c-d28a-976a-5906000567c3
* Version Independent ID: 0a13e776-9b35-7b46-5bb5-86b4ba8ddbe5
* Content: [Mobile device mailbox policies in Excha

[2020-05-06 12:31] justin-fb commented on #1949
I should add, this option is not indicated in the docs. That is why I am asking.

[2020-05-06 16:58] peterwilson69 opened #1950 "Received this error followng MS docs re: Migration from G-Suite to Office 365"
I suspect this problem is occuring because of a mail-protection bug. Possibly a DNS misconfiguration with the TXT record "v=spf1 include:spf.protection.outlook.com -all".  I could be wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9428237-4e3c-8d0e-d64e-4c40b4a5e560
* Version Independent ID: 8a2e802c-c072-9e37-2

[2020-05-06 17:40] peterwilson69 commented on #1950
Should I be using a separate SPF TXT record on the o365.example.com domain (used for migration) and it's root, example.com?
I've just tried experimenting by adding multiple servers to the spf TXT record on the root of my domain name. I'm really taking guesses here.

[2020-05-06 17:42] mattpennathe3rd commented on #1950
@peterwilson69 I'm sorry, but these are questions you will need to work out with support. Please open a support ticket to get help with your configuration. I will close this issue now, but if you discover problems in our documentation, please feel free to open a new ticket.

[2020-05-06 17:42] #1950 closed

[2020-05-06 18:45] smithre4 commented on #1949
Exchange mobile device mailbox policies do not controlling whether biometrics can be used in lieu of typing the device PIN. Mobile device mailbox policies can be configured to require a device PIN. Users can control whether they can use biometrics after complying with the device PIN requirement. Customers that need advance control over the user of biometrics should consider device enrollment solut

[2020-05-06 18:54] mattpennathe3rd commented on #1949
@justin-fb Ross's comment above should answer your questions, but please follow up if this still isn't clear. I try to add some details to this article to make this obvious, also.

[2020-05-06 21:00] #1949 closed

[2020-05-07 09:39] nitzdaniel commented on #1850
Any Updates @mattpennathe3rd ?

[2020-05-07 22:27] Jodyl1971 opened #1953 "role or roles?"
The first instance says to run:  Setup /roles:&lt;Failed Server Role&gt;
But later, it says : Setup.com /role:HubTransport /Mode:Install

so is it /role, or /roles ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64f3a8f1-b5fe-db28-787f-be1e42ff085a
* Version Independent ID: 34b31be9-078b-8580-a167-f6dd86ce365e
* Conte

[2020-05-07 22:59] mattpennathe3rd commented on #1953
@Jodyl1971 It should be "role", singular. Thanks for pointing this out. I will update this article and the fixed version will be published in the near future.

[2020-05-07 23:02] #1953 closed

[2020-05-08 17:38] VLG17 commented on #1681
@jebalert You can leverage the architecture described [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies#each-object-only-once-in-an-azure-ad-tenant). But you must keep the following in mind:

So that means you can create a hybrid with one of the configured ADConnect instances, migrate the mailboxes to Tenant 1, remove the hybrid, configure another hybrid

[2020-05-08 17:53] mattpennathe3rd commented on #1528
@marcgoff Thanks for opening this issue. The article has been updated and published, but please comment back or feel free to open a new issue if you find any further problems with the documentation.

[2020-05-08 17:53] #1528 closed

[2020-05-08 17:54] VLG17 commented on #1684
@milkshakespoon I see you asked the following question in the [related issue](https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/1612) you pointed out.

"The PFs no longer exist on prem... so how would it know where to route mail?"

I think the below step, from the [initial article](https://docs.microsoft.com/en-us/exchange/collaboration-exo/public-folders/batch-migration-of-legacy-public

[2020-05-08 17:58] VLG17 commented on #1693
@alnelsonau what is the article you are referring to or where would you have this information added? I'm trying to understand more about the context of this backup requirement.

[2020-05-08 18:03] VLG17 commented on #1696
@IanBarnesZa @RobXYZ @mattpennathe3rd would [this](https://docs.microsoft.com/en-us/exchange/mailbox-migration/perform-g-suite-migration) be a good candidate to add a note about this error to? Maybe at the end of the article under "Finalizing your migration".

If yes, could you please link it to this issue so i can do that?

[2020-05-08 18:40] jebalert commented on #1681
So when talking about migrating mailboxes it’s important to think of hybrid as two swim lanes. You’re looking at this mostly from a identity standpoint, and the facts you highlighted are accurate. Hence my initial question.. at the time I originally wrote this I was exploring architectural design choices around the feasibility of circumventing the use of the hybrid exchange wizard to accomplish th

[2020-05-08 18:42] mattpennathe3rd commented on #1681
@jebalert Thanks for following up in detail. If you find further docs shortcomings in the future, please feel free to open a new issue.

[2020-05-08 18:42] #1681 closed

[2020-05-08 19:45] alexcher84 commented on #1850
Hi there, this guide is not very clear. I think I figured out the steps required, but would like to confirm.

Can you please provide step by step instructions on what exactly needs to be done to prevent users from being able to install Add-Ins for the Windows Outlook applications?

For example:

1. Login to EAC as Global Admin (or an account that is at least an Exchange Admin)
2. Navigate to Permi

[2020-05-08 23:12] Maryis665 opened #1955 "Computer"
I can't login on my computer, it's showing my old address jeraldjohnson60@gmail.com my phone is fine. It's showing jeraldjohnson690@gmail.com if you can't help me with this, who can? I can't even login computer. Thx Jerald Johnson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1640bb5-ca97-15ff-28e5-5efe4e73193f
* Ver

[2020-05-08 23:32] mattpennathe3rd commented on #1497
@johnsop Thank you for opening this issue. We've updated the article with an additional example that showcases this parameter, so I hope this helps. The new article should be published in the near future. Thanks again for helping us improve the documentation.

[2020-05-08 23:34] #1497 closed

[2020-05-08 23:40] mattpennathe3rd commented on #1955
@Maryis665 I'm sorry, but this GitHub repository is for feedback on the documentation for the Microsoft Exchange product. We are unable to provide technical support here. Please contact the support team for help with your issue.

[2020-05-08 23:40] #1955 closed

[2020-05-09 00:36] alnelsonau commented on #1693
It would be great to see some clear guidance in the Exchange Online availability documentation. A lot of vendors provide cloud backup for Exchange and Microsoft doesn’t comment publicly on the benefits of this compares with retention.

[2020-05-09 21:59] pear7777 opened #1956 "what a ueseless page is this"
what a ueseless page is this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5e113dc-f087-834a-531d-623d741f320a
* Version Independent ID: f34e119c-f4ea-b40e-5de1-f185fd1bda16
* Content: [Troubleshooting IMAP.Protocol Health Set](https://docs.microsoft.com/en-us/exchange/management/health/troubleshooting-imap-protocol-

[2020-05-10 08:05] anht10 opened #1957 "Hybrid agent does support Windows Server 2019 right?"
I see there's this information "The agent install and the configuration of Hybrid via the Hybrid Configuration wizard (HCW) is supported on either a standalone computer designed as your "agent server" or on an Exchange 2010, 2013, 2016 or 2019 server with the Client Access role." but at the System requirements tab, I don't any Windows Server 2019?

---
#### Document Details

⚠ *Do not edit this se

[2020-05-11 05:16] #1956 closed

[2020-05-11 05:16] scanum commented on #1957
@anht10 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-05-11 06:32] pmeuser opened #1958 "Check of mailbox sync status"
I run into issues with adding the HMA account to Outlook iOS. Is there any way for a customer to check the mailbox sync status as initiated by the Exchange Online Mailbox Replication Service other than opening a support ticket with Microsoft Support? The Powershell script https://aka.ms/TestHMAEAS seems not to do the job (btw: The script looks like being broken and needs some tweaking) - in my cas

[2020-05-11 06:46] pmeuser opened #1959 "Not Exchange (Hybrid)"
If the account provider detected while mailbox setup is "Not Exchange (Hybrid)" - what does that mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0020c770-fbf0-d36b-196c-59fd0a5dbe93
* Version Independent ID: bd5c069a-c325-28cf-5a58-8ae9c34c793d
* Content: [Using hybrid Modern Authentication with Outlook for iOS an

[2020-05-11 08:23] nitzdaniel commented on #1850
Hey @alexcher84 ,

we already configured the policy like this but not all users are blocked even if all have the Default policy assigned. Any idea?

![image](https://user-images.githubusercontent.com/21982714/81539850-17e9b080-9371-11ea-83d5-ae3df884fbc3.png)

[2020-05-11 10:26] richardjgreen opened #1960 "Internal IP Addresses cannot be used for Skip Listing with Enhanced Filtering for Connectors"
When trying to configure the Skip List for Enhanced Filtering for Connectors, regardless of whether it is done via the GUI in the Security and Compliance Center or via PowerShell, you cannot specify internal IP addresses or ranges.

![image](https://user-images.githubusercontent.com/5471987/81551643-1a9cd380-937a-11ea-83d1-8c6d4acc2b85.png)

Trying to enter either a single address (e.g. 192.168.1.

[2020-05-11 16:03] mattpennathe3rd commented on #1957
@scanum This is a documentation issue and I will investigate.

[2020-05-11 18:45] themarkdiesel opened #1961 "scenario 2 with on-prem long gone: can we disable hybrid safely?"
I inherited an environment where scenario 2 would be the closest description of where we are (currently have NO on-prem Exchange servers, and we use AD Sync to sync our on-prem AD to Azure AD), but before we go forth with running Remove-HybridConfiguration and disabling the org relationship from the EO admin panel, do we need to worry about anything? As stated, we have absolutely no on-prem Exchan

[2020-05-11 20:09] mattpennathe3rd commented on #1961
@themarkdiesel I apologize, but I have no way of providing a good answer to this question here. This repo is only for providing feedback on the documentation and you'd be best off contacting support with your question.

If you find that the docs were not adequate, please feel free to open a new issue about the docs problem you encountered and I'd be glad to have a look at it.

[2020-05-11 20:09] #1961 closed

[2020-05-11 20:18] mattpennathe3rd commented on #1958
@pmeuser I'm sorry, but I'm unable to answer this one here, as it's more of a support issue than a documentation issue. You will need to contact support with your questions. This repo is only for providing feedback on the Exchange documentation and I'm not equipped to answer support questions here.

The PowerShell script you linked is not from Microsoft, so I don't believe anyone on our end would

[2020-05-11 20:18] #1959 closed

[2020-05-11 20:25] RobXYZ commented on #1696
That would definitely be the best place to document it.

To link it would I need to create a new issue related to that page and link to this issue?

[2020-05-11 20:25] mattpennathe3rd commented on #1957
@anht10 Thank you for pointing this out! 2019 is indeed supported. I have added this to the system requirements section of the article and the updated article will be published in the near future. Thanks again for opening this issue and helping us improve the docs.

[2020-05-11 20:25] #1957 closed

[2020-05-11 20:37] mattpennathe3rd commented on #1696
@RobXYZ @VLG17 I'll follow up with the engineers and see what we can document on the migration article.

[2020-05-12 08:29] pmeuser commented on #1958
@mattpennathe3rd Matt, you mean a script linked with aka.ms/TestHMAEAS is not supported by Microsoft? Then you better should remove the Microsoft shortcut and any link from documentation.

My suggestion is to add a troubleshooting guide about HMA for Outlook iOS/Android in the section "Administrating and monitoring Outlook for iOS and Android in your organization". Seems to be missing here.

Is th

[2020-05-12 10:39] VLG17 commented on #1693
@alnelsonau could you please link the specific document you are referring to? That way i can check and see where i could potentially add something about what you're requesting.

[2020-05-12 11:12] alnelsonau commented on #1693
There is no document that I am aware of ... it would be good to create one.

[2020-05-12 14:39] merwindz commented on #1525
Hi @dariomws, I have managed to create some AD accounts and enabled them for Mail Users in Ex2016 and when we sync to Azure AD, I don't see them appearing in Exchange Online under Mail Contacts pane. When I looked at the properties of these sync account in exchange Online, I don't see external address showing up. Its pretty much exists in AD, i can see that in AADC logs as well but not in Azure AD

[2020-05-12 15:15] mattpennathe3rd commented on #1958
@pmeuser Where is this script linked from? I cannot find a reference to it in this GitHub repo.

[2020-05-12 15:22] dariomws commented on #1525
Hi @merwindz,

I worked on similar projects but generally, I don't see this kind of problem. Mail users should be synced to AAD/EXO if the OU is included.

[2020-05-12 15:27] merwindz commented on #1525
Hi @dariomws, the accounts are appearing in Azure AD and I can see them in admin portal under Active users but no external and proxy addresses under the account properties. Hence they are not appearing in EO under mail contact  pane. Sounds strange to me!

[2020-05-12 15:37] dariomws commented on #1525
Looks like some (or all) Exchange properties are not being synced to Azure AD. I cannot help here as docs feedback is available to improve documentation.
Please, follow this issue with support and let us know if you think there is something to update/improve in the document.

Thanks!

[2020-05-12 15:39] merwindz commented on #1525
Sure, will do :)

[2020-05-12 15:58] pmeuser commented on #1958
@mattpennathe3rd [Using hybrid Modern Authentication with Outlook for iOS and Android](https://gallery.technet.microsoft.com/scriptcenter/Validating-Hybrid-Modern-ad4c2b16)

In either scenario, verify that your on-premises environment is correctly configured. To do this: from the TechNet Gallery, download and execute the script for [Validating Hybrid Modern Authentication setup for Outlook for iOS

[2020-05-12 16:45] merwindz commented on #1525
So its fixed now!

AADC was setup first and then Exchange 2016 schema update so it required schema refresh in AADC to sync the Exchange Attributes :)

[2020-05-12 16:59] dariomws commented on #1525
@merwindz thank you for share the resolution, I´m glad to know that it was fixed!

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 20:35] mattpennathe3rd commented on #1958
@pmeuser Thanks for that. I wasn't aware of this and we're looking into some changes for the script.

Regarding your original question, I have submitted some changes to this article that might help provide the information you're looking for (in the form of some PowerShell cmdlets), and the updated article should be published in the near future. If I can do anything further to help or if you find o

[2020-05-12 21:47] #1958 closed

[2020-05-13 03:59] scanum commented on #1708
@Canis-Lupis  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-13 04:02] scanum commented on #1524
@Weishaupt Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-13 04:03] scanum commented on #1525
@bryanfritz Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-13 04:03] scanum commented on #1546
@quickclix75 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-13 04:19] scanum commented on #1960
@richardjgreen Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-13 05:05] 3novsan opened #1963 "Guest Users Writeback"
This article doesn't mention what happens to the Guest's account who are part of Office 365 group, Would they be synced back to local AD as part of Group writeback ? Also if someone from On-premises sends email to this O365 Group would Guest users who are part of this O365 Group will receive it? There should be more details provided about the behavior of "Distribution Group" which is created On-pr

[2020-05-13 11:46] cstainie opened #1964 "Option 3 Connector O365 not compatible with Azure Services"
In the document, the following item is described:

"You can't use SMTP relay to send email directly to Office 365 from a third-party hosted service, such as Microsoft Azure"

Are you sure this is correct if you can limit the outbound IP address to one single IP address?

Can you also comment why it would not be supported? I understand that sending from Shared IP is not supported, but there are sol

[2020-05-13 12:09] Weishaupt opened #1965 "Full list of situations where "contents of a message can't be altered""
The `DisclaimerFallbackAction` explains that

Unfortunately this is quite vague. As Disclaimers might be related to security notices I'd like to understand in what exact situations a content of a message can't be altered.

Personally I can only think of two such instances:
1. The message is encrypted
2. The message is signed

Is this the complete list of situations or are there other situations. R

[2020-05-14 07:38] milkshakespoon commented on #1684
You're right, that does make sense. In our scenario we are using a third party spam appliance which our MX records point to. This means we never touch DNS during a migration. I think maybe that could be implemented into the article to explain this if you don't need to update DNS.

[2020-05-14 13:45] shady247 opened #1966 ".\Sync-MailPublicFolders.ps1 Won't Remove Remote Objects if no Local Objects"
I did a sync where there were several legacy public folders that got synced over to online and caused Mailbox1 to fail.

Error: FailedToMailEnablePublicFoldersException: Error: There are 8 mail public folder'(s)' in Active Directory that were not linked to any public folder during migration.

After deleting all the public folder MESO objects and re-running the script, it simply reported there were

[2020-05-15 03:21] scanum commented on #1963
@3novsan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-15 03:21] scanum commented on #1964
@cstainie Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-15 03:21] scanum commented on #1965
@Weishaupt Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-15 03:21] scanum commented on #1966
@shady247 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-15 07:56] tonivervloet opened #1967 "E2010 supported ?"
at the top e2010 is specified as a supported platform for multi-forest hybrid. But a bit lower it states that at least a 2013 server should be there ? Could you please clarify ?
"Exchange servers: At least one Exchange 2013 server with the Client Access server role, or one Exchange 2016 or later server with the Mailbox role, must be installed in each Active Directory forest configured for hybrid d

[2020-05-15 08:50] michelderooij commented on #1967
I think this is aimed at configuration of OAuth. However, it is not mandatory (and not available in Ex2010).

[2020-05-15 09:51] tonivervloet commented on #1967
In an older version of this document, it does mention E2010 in that server chapter as well (https://docs.microsoft.com/en-us/previous-versions/exchange-server/exchange-150/jj873754(v=exchg.150)?redirectedfrom=MSDN).
For me the question still stays: can an Exchange 2010 org participate in a multi-org hybrid setup (the first org is 2013 btw) and be fully supported?

[2020-05-15 12:00] peterhuerlimann opened #1968 "% sign missing in Microsoft.Exchange.Imap4.exe path"
Hi,

There is a %-sign missing on the line "Microsoft.Exchange.Imap4.exe	ExchangeInstallPath%FrontEnd\PopImap".

Kind regards
Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 176e9cde-47cb-31b8-9ecf-51208888a740
* Version Independent ID: 97f0327a-5dba-d810-daeb-cd976b634c8b
* Content: [Running Windows antivirus sof

[2020-05-15 19:50] dariomws commented on #1777
@jeremieweldin Thank you for submitting feedback and contributing to the docs.

Despite that technically you can install Outlook (and even a domain controller) in the same box for testing purposes, it´s recommended that you deploy 3 boxes in this scenario:
- Domain Controller
- Exchange Server
- Windows client with Outlook
This way, you will reproduce a more realistic environment.

[2020-05-15 20:03] dariomws commented on #1785
@asampson68 Thank you for submitting feedback and contributing to the docs.

You can find more update information in the following articles:
https://docs.microsoft.com/Exchange/create-a-discovery-mailbox-exchange-2013-help#step-2-assign-permissions-to-a-discovery-mailbox
https://docs.microsoft.com/exchange/security-and-compliance/in-place-ediscovery/create-a-discovery-mailbox#step-3-assign-permiss

[2020-05-15 20:19] dariomws commented on #1797
@ericreiss Thank you for submitting feedback and contributing to the docs.

Windows Failover Clustering and Windows Network Load Balancing (NLB) are not supported in the same server. You can have them in separate servers.
Since the only server role in Exchange 2016 or 2019 is the Mailbox role, you cannot use NLB in a high availability deployment.

The latest version of Exchange where you can use N

[2020-05-15 20:21] ghostmdb opened #1970 "PublicFolderMailboxesLockedForNewConnections VS PublicFoldersLockedforMigration"
Hello,
in these days I was migrating Exchange 2013 CU23 to 365, and following your guide I had an issue with the final testing.
Infact, using only PublicFolderMailboxesLockedForNewConnections $true, I could test PF with a native 365 user, but not with a migrated user (autodiscover and MX point to local Exchange). Also OWA said that there were no PF on 365.
After a bit of testing, I found that enab

[2020-05-16 02:46] mattpennathe3rd commented on #1708
@Canis-Lupis Thanks again for your patience. If you have any feedback on my comment above, please let me know. I will update this article in the near future, regardless, and I hope that's some help to you.

[2020-05-16 02:48] pnijjar opened #1971 "Step 4: script needs to be run on NEW exchange server"
It was not clear to me [and apparently  to others](https://supertekboy.com/2016/03/09/exchange-2016-public-folder-migration-made-easy/) that you need to run the `PublicFoldertoMailboxMapGenerator.ps1` cmdlet on the NEW Exchange 2016 server and not the old Exchange 2010 one. Maybe I ought to have deduced this from the header title, but I did  not.

Also, I wish that each command would come with an

[2020-05-16 02:50] mattpennathe3rd commented on #1546
@quickclix75 I think we can make this more specific, as you suggested. I will work on this soon and will report back.

[2020-05-16 02:55] mattpennathe3rd commented on #1524
@scanum We can update this article to include more information and/or links to the blog post for clarity.

[2020-05-16 15:12] SignorelliDenis commented on #1960
@richardjgreen  You don’t need to enter internal IPs, Skip Listing is smart enough to know that internal IP should be bypassed. For hybrid scenario, just assign the Public IP which Exchange On-Prem uses.
Regarding the example mentioned in the docs (192.168.1.1) agree with you that are not valid examples, I’ll open a pull request to change that.

[2020-05-16 16:00] SignorelliDenis commented on #1702
@phillkOCCM The scenario that you want to deploy is document: https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/manage-mail-flow-for-multiple-locations#scenario-1-mx-record-points-to-office-365-and-office-365-filters-all-messages

Probably what is not documented is that Hybrid Configuration Wizard will not do this for you, if you want to force all on-prem outbound messages through

[2020-05-16 16:21] SignorelliDenis commented on #538
@danmyhre Agree with you and the good news is that we are preparing a deep dive about Hybrid mail flow to be published on EHLO blog, it’s in the final review and almost ready, stay tuned.

[2020-05-18 05:02] scanum commented on #1967
@michelderooij  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 05:03] scanum commented on #1971
@pnijjar  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 05:03] scanum commented on #1970
@ghostmdb  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 05:03] scanum commented on #1968
@peterhuerlimann  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 12:10] rogermicrosoft opened #1972 "Broken link"
Hi, the link in this article https://go.microsoft.com/fwlink/p/?LinkId=623595 named "New access and security controls for Outlook for iOS and Android" does not work. Best regards Roger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeec798c-00f4-df45-da44-47e5aac06ff9
* Version Independent ID: 4cdfab74-fce7-f298-c3df-5

[2020-05-18 12:33] brolifen commented on #1552
Please also add some information on the fact that perhaps a user has an EAS profile using domainname\samaccountname as username in the original configuration which is not supported by O365 and might require a reconfiguration of the EAS profile.

[2020-05-18 13:08] Canis-Lupis opened #1973 "Scenario two: Why do I still need an on prem Exchange server?"
It is unclear to me why an on prem exchange server is still needed.  We have a hybrid environment and have recently migrated all mailboxes to O365 as well as changing DNS records to point there.  We still use AADConnect to sync Active Directory to O365.  So what is the Exchange server required for? Can't we manage user settings with AD/AADConnect?

---
#### Document Details

⚠ *Do not edit this se

[2020-05-18 18:04] alexcher84 commented on #1850
Bitzdaniel,

It took about 24 hours, but it looks like Outlook Add-Ons installation
appears to have been blocked now.

Have you had a chance to test again since last time?

On Mon, May 11, 2020 at 3:23 AM nitzdaniel <notifications@github.com> wrote:

[2020-05-19 10:42] chiraniya opened #1975 "Enable outlook to access gmail as a less secure app"
I had authentication issue. I tried turning on lesssecureapps setting in google on all user accounts, and that helped. Sharing that here for everyone's benefit. https://myaccount.google.com/lesssecureapps?pli=1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75c68b82-8feb-80fd-2e70-49199991dcd7
* Version Independent ID:

[2020-05-19 14:05] keithysh184 opened #1976 "Mail approval approved notice"
Anyone has idea about setting up the approved notice to sender once the moderator approved the mail

[2020-05-19 20:29] MDAMatt opened #1977 "Test-HybridConnectivity -TestO365Endpoints fails due to expired Cert"
When running the Test-HybridConnectivity -TestO365Endpoints the test fails with the error below because the certificate expired on 3/12/2020. Today is 5/29/2020.

`Performing GET on https://aadap-portcheck-seaus.connectorporttest.msappproxy.net:8080`
`Invoke-WebRequest : The underlying connection was closed: An unexpected error occurred on a send.`
`At C:\Service\HybridManagement.psm1:196 char:19`

[2020-05-19 21:23] dariomws commented on #1911
Hi @garmoz, thank you for your feedback.

I think you are talking about "Set-Mailbox -Identity <MailboxId> -DefaultPublicFolderMailbox <RecipientId>".
By default, the public folder mailbox used by a user is automatically selected by an algorithm that load-balances users across all public folder mailboxes.

I think we shouldn´t add this cmdlet here as I think it´s a good idea to leave default publi

[2020-05-20 00:45] nhoj01 opened #1979 "Complete the migration batch in Office 365"
After the initial sync completes successful, when I try to complete the batch it fails with the error: "Error: TargetDeliveryDomainMismatchPermanentException: Error: The target mailbox doesn‎'t have an SMTP proxy matching o365.yourdomain.com.

I thought this might be because of the step "create sub-domain for mail routing to office 365" but that step was completed successfully. Is there some other

[2020-05-20 05:33] scanum commented on #1972
@rogermicrosoft Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-20 05:34] scanum commented on #1973
@Canis-Lupis Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-20 05:34] scanum commented on #1975
@chiraniya Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-20 05:34] scanum commented on #1976
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-05-20 05:34] #1976 closed

[2020-05-20 05:34] scanum commented on #1977
@MDAMatt Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-20 05:34] scanum commented on #1979
@nhoj01 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-20 11:44] gabymuntean opened #1980 "Step 5: Start the migration request - when creating the migration batch the -AutoStart parameter should not be included"
Step 5: Start the migration request - when creating the migration batch the -AutoStart parameter should not be included, as we manually start the migration at step. 6 (Start-MigrationBatch PublicFolderMigration), or keep the AutoStart parameter at the migration batch creation and omit step. 6.

![image](https://user-images.githubusercontent.com/14187423/82442446-50dc0080-9aa8-11ea-8603-f8feeb0548e

[2020-05-20 12:49] get-itips commented on #1972
Hello @rogermicrosoft Roger, thanks for noticing and reporting.
A fix to the link is on the way.
Thank you again!

[2020-05-20 13:46] get-itips commented on #1973
Hello @Canis-Lupis How are you?
Hope you are doing great. 👍

Yes, currently, you still need to leave a Exchange Server for management in that scenario.

As the article currently states

and also

The question of whether a third-party management tool or ADSIEDIT can be used is often asked. The answer is you can use them, but they are not supported. **The Exchange Management Console, the Exchange ad

[2020-05-20 14:46] Canis-Lupis commented on #1973
There needs to be clarification on this, please. Specifically, why we must keep paying for on prem Exchange servers that we aren't using for email, simply to act as "source of authority" when all our mailboxes are now in the cloud.  This makes no sense technically nor financially.  We already have AD syncing with AAD Connect, so what are the reasons that's not good enough and a full exchange serve

[2020-05-21 04:26] scanum commented on #1980
@gabymuntean Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-21 06:10] nitzdaniel commented on #1850
Yes @alexcher84 No change. For some users it works, for some not. But we set it up exactly as discussed here.

[2020-05-21 09:56] myNGU opened #1984 "Is O365 SMTP AUTH client submission supported in Exchange Hybrid environment?"
Hello,

We have a Exchange Hybrid Environment set up, just wonderring if Option 1 in the link below would work.

https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-3#option-1-recommended-authenticate-your-device-or-application-directly-with-an-office-365-mailbox-and-send-mail-using-smtp-auth-client-submi

[2020-05-21 16:58] dariomws commented on #1929
Hi @ita-tomi, thank you for your feedback and help us to improve docs.

All this section is related to Active Directory site:
"The Active Directory site where you install the Exchange Server must contain at least one writeable domain controller that's also a global catalog server, or the installation will fail. Furthermore, you can't install the Exchange server and then remove the domain controlle

[2020-05-21 17:27] #1775 closed

[2020-05-21 17:43] KuKuPuffs opened #1987 "Typo in Powershell Example code"
You have a Typo in your powershell example code here

$dbs = Get-MailboxDatabase
dbs | foreach {Get-MailboxStatistics -Database $_.DistinguishedName} | where {$_.DisconnectReason -eq "SoftDeleted"} | Format-List DisplayName,DisconnectReason,DisconnectDate

-------

DBS should be $DBS

$dbs | foreach {Get-MailboxStatistics -Database $_.DistinguishedName} | where {$_.DisconnectReason -eq "SoftDelete

[2020-05-21 18:25] #1911 closed

[2020-05-21 21:32] KuKuPuffs commented on #1987
i created a Pull Request #1989

[2020-05-21 21:32] #1987 closed

[2020-05-22 09:22] ita-tomi commented on #1929
@dariomws Ok thanks. I opened this ticket originally because customer asked if this means that they cannot remove any of their current domain controllers from site after installing Exchange and thus never be able to migrate to newer DC:s.

[2020-05-22 11:34] dariomws commented on #1929
@ita-tomi "The Active Directory site where you install the Exchange Server must contain at least one writeable domain controller that's also a global catalog server".

If you have only 1 domain controller in the AD site where you have installed Exchange, you can't remove it. If you install a new writeable domain controller that's also a global catalog server in this AD site, then you can remove th

[2020-05-22 11:55] VinodSP1980 opened #1990 "Source and Target are different domains"
My G-suite domain is abc.com and i want to migrate the data to Office365 Xyz.com domain? can i still use the above migration strategy even if the domains are different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963b7331-1f6d-0400-d004-59797a4e87d1
* Version Independent ID: 71f2a5dd-0581-d33a-c41a-bef0ed1f208c
* Co

[2020-05-22 14:39] CloudHotShot opened #1993 "Also works with (applies to) Exchange 2016"
When the team initially saw this article, we skipped over it because the 'Applies to' only mentions Exch 2013. We performed steps 1-7 with on-prem Exch 2016 CU 16 which resolved issue regarding calendar not showing in Teams for on-prem mailboxes. Seems like the 'Applies to' should include Exch 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-05-22 16:28] j0rt3g4 opened #1994 "Is it Enabled or Optional on SSL/TLS for direct Sent (Opc2)"
On Settings for Direct Sent says that TLS/SSL is Enabled and in the resumed table says that it's optional:
https://docs.microsoft.com/en-us/Exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-3#settings-for-direct-send

Which one should I believe? is it both enabled or optional?.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-22 16:40] dariomws commented on #1939
Hi @dagroll, thank you for submitting feedback and contributing to the docs.

You have the encoding (-BinaryEncoded) and public key size (-KeySize) parameter in the [New-ExchangeCertificate](https://docs.microsoft.com/powershell/module/exchange/new-exchangecertificate) cmdlet. But I think you cannot request an ECC certificate/key using this cmdlet.

So, I understand there is no way to do it. I´m t

[2020-05-22 17:36] mattpennathe3rd commented on #1834
@redamaleki Thank you for opening this issue! We've added some links that should help with your questions and the updated article will be published in the near future.

Thanks again for helping us improve the documentation. If you run into other problems with the docs in the future, please feel free to open a new issue.

[2020-05-22 17:37] #1834 closed

[2020-05-22 17:38] #1972 closed

[2020-05-22 17:53] mattpennathe3rd commented on #1742
@NeighborGeek Thanks very much for reporting this. We've updated the article and the new version should be published in the near future.

[2020-05-22 17:53] mattpennathe3rd commented on #1960
@richardjgreen Thanks very much for opening this issue and helping us improve the docs. We've updated this article and the new version will be published in the near future.

If you run into any other problems, please feel free to open a new issue and we'll gladly take a look at it.

[2020-05-22 17:54] #1742 closed

[2020-05-22 17:54] #1960 closed

[2020-05-22 17:58] mattpennathe3rd commented on #1915
@KarlBystrak Thank you very much for reporting this. We've updated this article and the new version should be published in the near future.

Thanks again for helping us improve the documentation. If you find any other problems, please feel free to open a new issue and we'll gladly take a look at it.

[2020-05-22 17:59] #1915 closed

[2020-05-22 20:11] StevenCA256 commented on #1973
I agree. It looks like the only reason to keep the on-premise Exchange is for the EMC. Otherwise you will be managing all the attributes through the attribute editor or powershell for an user object. I'm sure this is unsupported by MS. I will be following a mixture of Scenario 2 and 1 this weekend to completely remove Exchange 2010 this weekend.

[2020-05-22 22:22] mattpennathe3rd commented on #1973
@Canis-Lupis @StevenCA256 I'm sorry to say that the server is still needed in certain scenarios and that's simply the way the product works for the time being. You do have access to a free license for Exchange by way of the Hybrid Configuration Wizard, so you should not need to continue paying for that server.

There are a few details in this section as to what's going on with the on-prem server a

[2020-05-22 22:22] #1973 closed

[2020-05-22 22:27] Lucky121983 opened #1996 "Who performed the message trace"
Hi,

Is there a way to find out who did the message trace. For instance, there are 3 administrators who has necessary permissions to perform message trace. Can we find out who did it?

Thanks,
Lucky

[2020-05-23 16:20] MaratMussabekov opened #1997 "What about federation trust?"
**Hybrid deployment protocols, ports, and endpoints** section doesn't contain requirements for outbound https traffic required for federation trust

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ddce84-2ec9-3744-1a3f-20303275affa
* Version Independent ID: 2c5ba0fc-80c4-8de0-61ba-5e73bf558766
* Content: [Hybrid deploy

[2020-05-24 17:31] willemsen-it opened #1999 "Exchange Hybrid Agent - Team's Calendaring features that require access to on premises mailboxes are not supported"
I am aware that "Team's Calendaring features that require access to on premises mailboxes are not supported" when using the Exchange Hybrid Agent. (official ms doc site: https://docs.microsoft.com/en-us/exchange/hybrid-deployment/hybrid-agent)
Please fix this. If this is fixed it would make my Exchange Hybrid project a lot easier because I won't have to battle against the firewall/network guys.

G

[2020-05-25 05:51] scanum commented on #1984
@myNGU thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-05-25 05:51] #1984 closed

[2020-05-25 05:51] scanum commented on #1990
@VinodSP1980 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-25 05:51] #1990 closed

[2020-05-25 05:52] scanum commented on #1993
@CloudHotShot  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:52] scanum commented on #1994
@j0rt3g4 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:52] #1994 closed

[2020-05-25 05:52] scanum commented on #1996
@Lucky121983 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-25 05:52] #1996 closed

[2020-05-25 05:53] scanum commented on #1999
@willemsen-it thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-05-25 05:53] #1999 closed

[2020-05-25 05:53] scanum commented on #1997
@MaratMussabekov Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 07:59] ichinaparker opened #2000 "Apparent limitation on number of resource mailboxes allowed"
This isn't stated anywhere.
It currently limits you to 16 resource boxes. You can make more, but it deletes the oldest mailbox very silently. I wouldn't have noticed except that resource boxes which I knew I'd made were not linking up.

[2020-05-25 19:16] j0rt3g4 commented on #1994
@scanum  The issue is regarding the documentation if it's optional or not.
This ticket is not resolved, so please reopen.

[2020-05-25 20:20] dariomws commented on #1944
Hi @aldoug, thank you for your feedback.

I think the scenario you commented is more suitable for this error:
"Error: 5.7.60 SMTP; Client does not have permissions to send as this sender"

[2020-05-25 20:33] dariomws commented on #1945
Hi @mzafzal1, thank you for your feedback.

You can change it in the properties of your receive connectors using:
https://docs.microsoft.com/powershell/module/exchange/set-receiveconnector
Or from the Admin Center, when you edit a Receive Connector you have the option in the Scoping tab.

Hope it helps you.

[2020-05-26 05:50] scanum commented on #2000
@ichinaparker Thank you for your feedback. Could you please link the documentation you are referring to? Thanks!

[2020-05-26 10:57] radimek commented on #1561
Hello I have the same issue now. Do you know when the issue (AllowBasicAuthRest - param)  will be fix? Do you have any workaround?

[2020-05-26 14:56] dariomws commented on #1776
Hi @Jmartinez589, thank you for your feedback and help us to improve docs.microsoft.com.

Maybe I don´t understand your scenario very well, but I think there is a configuration mistake here in the third-party cloud-based mail service. In this configuration, the third-party service is allowed to relay to Office 365 without double anti-spam check. If it´s configured in the right way, it must prevent

[2020-05-26 16:39] dariomws commented on #1789
Hi @cammurray, thank you for your feedback.

I will try to get more information to update this article. In the meantime, I think you've probably read the following article but just in case:
https://techcommunity.microsoft.com/t5/exchange-team-blog/deep-dive-how-hybrid-authentication-really-works/ba-p/606780

[2020-05-26 20:25] dariomws commented on #1801
Hi @p0shkar, thank you for your feedback.

Federated authentication scenario is not related to an Exchange hybrid environment, you can have it with or without Exchange hybrid. It´s when you have deployed AD FS (Azure AD connect is a requirement). In this case you, AD FS is your on-premises identity provider.
For more information, please see [Choose the right authentication method for your Azure Ac

[2020-05-27 05:50] p0shkar commented on #1801
Thank you both for the clarification, it is indeed a hybrid-adfs situation.

[2020-05-27 13:43] dariomws commented on #1801
You´re welcome @p0shkar. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

Also, if you need more information about how autodiscover works in an Exchange hybrid deployment you can check this old but useful article:
https://blogs.technet.microsoft.com/rmilne/2015/04/29/office-365-autodiscover-lookup-process/

[2020-05-27 14:27] kennethvs opened #2004 "Update for Modern Auth support for POP and IMAP"
[Enter feedback here]
Hi,

Based on this article:https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-auth-and-exchange-online-february-2020-update/ba-p/1191282, Modern Authentication for POP and IMAP is now rolling out, but I don't see this reflected in the documentation yet? Correct? or am I at the wrong page?

/Kenneth

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-05-27 14:38] sullrich commented on #1937
I am currently underway with a migration and stuck against this issue.  Can anyone outline what is needed to prevent the failure.  I do not need forwarding as we cut the MX before migration.

[2020-05-27 18:26] dariomws commented on #1819
Hi @GrahamJB1, thank you for your feedback and help us to improve docs.microsoft.com.

It´s specific to certificate based authentication and it´s documented in the "Configure certificate based authentication in Exchange 2016" article (also applies to 2019):
https://docs.microsoft.com/exchange/plan-and-deploy/post-installation-tasks/configure-certificate-based-auth#step-7-optional-use-iis-manager-t

[2020-05-28 03:31] harindergiri commented on #1937
Hi @sullrich
This is a cosmetic issue  just make sure your mailbox are fully synced and do the cutover , even though result will say failed but it will be all good , failure is just for the forward

[2020-05-28 05:25] scanum commented on #2004
@kennethvs Thank you for your feedback. Could you please link the documentation you are referring to? Thanks!

[2020-05-28 05:32] kennethvs commented on #2004
Hi @scanum, that would be: https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/pop3-and-imap4/pop3-and-imap4

[2020-05-28 12:36] dariomws commented on #1869
Hi @pbreitenberger, thank you for your feedback.

Really, you don´t need to run these steps if you run the HCW. From the article:
"If your on-premises organization is running only Exchange 2013 servers with Cumulative Update 5 or later installed, run the Hybrid Deployment Wizard instead of performing the steps in this topic."

The same applies for Exchange 2016 and 2019.

[2020-05-28 12:47] dariomws commented on #1870
Hi @philkloose, thank you for your feedback.

I think we cannot say that there is an order for the actions you add to a rule. All the actions are executed with some exception. In the article you can find this information:
"Messages that match a rule's conditions get all the actions that are specified in the rule. For example, if the actions Prepend the subject of the message with and Add recipient

[2020-05-28 13:05] dariomws commented on #1876
Hi @manasrrp, thank you for your feedback and help us to improve docs.microsoft.com.

I think it´s not possible to add an extensive list of all the devices manufacturers, mainly because Android manufacturers list is very extensive, I think it´s not possible to have a complete list. Any iPhone and iPad supported by Apple are supported to connect to Exchange.
About Android, any device that supports

[2020-05-28 13:49] get-itips commented on #2004
Hello @kennethvs How are you?
You are correct, the feature is currently rolling out, once the rolling out is complete the documentation will reflect that.

Please see this other more recent blog post for more information

https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-oauth-2-0-support-for-imap-and-smtp-auth-protocols-in/ba-p/1330432

Hope this information helps you,

[2020-05-28 14:49] get-itips commented on #1997
Hello @MaratMussabekov How are you ? 👍

Federation Gateway URLs currently are

https://login.microsoftonline.com
https://domains.live.com/service/managedelegation2.asmx

[Source](https://techcommunity.microsoft.com/t5/exchange-team-blog/how-to-address-federation-trust-issues-in-hybrid-configuration/ba-p/1144285)

and as the article currently states

You will already find those URLs I mentioned on

[2020-05-28 15:06] Usety-cmd opened #2008 "Exchange 2019 License"
Hello,

For the deployment of a new Exchange 2019 solution, I am writing to you about its license.
I wanted to know if I would need to have a single license that activates Exchange MBX1, MBX2 and Edge1 installed on different servers (3 servers), or, one license for each server - IE: three licenses in total-

Thanks for your help!

[2020-05-28 15:12] Usety-cmd commented on #2008
Bonjour;

Dans le cadre du déploiement d'une nouvelle solution échange 2019, je m'adresse vers vous concernant sa licence.
Je voulais savoir si j'aurais besoin d'avoir une seule licence qui active Échange MBX1, MBX2 et Edge1 installés sur des serveurs différents (3 serveurs), ou bien, une licence pour chaque serveur - CAD: trois licences en global-
Merci pour votre collaboration !

[2020-05-28 16:00] dariomws commented on #1888
Hi @Birbfeeder, thank you for your feedback and help us to improve docs.microsoft.com.

For more information, please see [Overview of delegation in an Office 365 hybrid environment](https://docs.microsoft.com/exchange/troubleshoot/delegates/overview-delegation-office-365-hybrid).
I added it to this article.

Thanks again!

[2020-05-28 17:43] dariomws commented on #1977
@MDAMatt Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outco

[2020-05-28 17:53] MDAMatt commented on #1977
@dariomws, this is not a tenant side check, it is a Microsoft public site. I fail to understand why this is a problem with my tenant. The URL used by the script included in this documentation page references a check to a server that Microsoft maintains that is not tenant specific, and has an expired certificate.

This feedback was meant for the document https://docs.microsoft.com/en-us/exchange/hy

[2020-05-28 18:22] dariomws commented on #1977
Sorry about that @MDAMatt, you are right. I´ve tested it on my lab and get the same error, and I can see that the certificate expired on 12/03/2020. In my first reading, it seemed to be a typical support case.

I will report this issue to the respective team so they can check it. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-28 22:45] cloudtroll commented on #1561
Please I am also waiting for this to be fixed, I cannot set -AllowBasicAuthRest

[2020-05-29 11:10] RikuVuorela opened #2014 "Outlook App Configuration for Android Enterprise Work Profile & Fully Managed device - Save Contacts -feature"
When configuring a App Configuration policy for AE Work Profile & Fully Managed devices, you configure the Save contacts -setting to Yes.
Documentation says that in order for this feature to work automatically, you must grant the following permissions:

- READ_CONTACTS
- WRITE_CONTACTS.

This does not seem to be correct. When going to Outlook -> Settings -> Press your account -> Sync contacts is g

[2020-05-29 11:51] vgpaul opened #2015 "Setting Individual forwarding doesn't work for a BCC message"
https://docs.microsoft.com/en-us/exchange/recipients-in-exchange-online/manage-user-mailboxes/configure-email-forwarding?redirectedfrom=MSDN

The procedure defined works great... But not on BCC messages, If you want a BCC message forwarded you have to set forwards by server rule..  Would be nice to have the option as part of the user forward.

[2020-05-29 13:29] ggirotto opened #2016 "Broken link"
Sender ID procedures page has a broken link on `Updating your organization's Internet facing DNS to support Sender ID`. The link under `Sender Policy Framework: SPF Record Syntax.` is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31bdc5de-bbe8-a5c4-a60c-355d5bfd7023
* Version Independent ID: e5804e6b-2557-1785

[2020-05-29 19:43] nhoj01 opened #2017 "Room not appearing in Room finder in outlook on the web"
[Enter feedback here]

I have created a bunch of rooms
![image](https://user-images.githubusercontent.com/5090624/83298808-b623a600-a1ba-11ea-87f0-1fa9f03a5edb.png)

But none of them are showing up in Room finder
![image](https://user-images.githubusercontent.com/5090624/83298729-8eccd900-a1ba-11ea-8835-fb98d071f7a1.png)

Do they need to be on a list? The articles does not specify if a list is req

[2020-05-30 06:04] MaratMussabekov commented on #1997
Hello @get-itips ,
when I whitelised all these URLs, federation fails on the domain ownership stage.
Trace shows that Exchange tries to go to viewdns.info to do a dns query via https.
And it looks like it is not only me- https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/1880
I think one more row should be added to the [table](https://docs.microsoft.com/en-us/exchange/hybrid-deployment-pr

[2020-05-30 20:02] get-itips commented on #1997
@MaratMussabekov Thanks for adding that reference, will pass that information along.

[2020-06-01 04:23] scanum commented on #2014
@RikuVuorela Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-01 04:23] scanum commented on #2015
@vgpaul Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-01 04:23] scanum commented on #2016
@ggirotto Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-01 04:23] scanum commented on #2017
@nhoj01 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-06-01 04:23] #2017 closed

[2020-06-01 04:23] scanum commented on #2008
@Usety-cmd thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-06-01 04:23] #2008 closed

[2020-06-01 09:03] JeroenDronkers opened #2019 "Article content seems incorrect"
The content of this article seems incorrect:
"Recipient limits between authenticated senders and recipients (typically, internal message senders and recipients) are exempt from the organizational message size restrictions."

Testing this on Exchange 2016 we can see that the limit set in TransportConfig (get-TransportConfig) takes priority.
Also receiveconnector settings will enforce MaxMessageSize

[2020-06-01 10:15] rcmpgi opened #2020 "Not really fit for purpose for signatures"
It should be made clearer that the disclaimer is always added to the bottom of the entire message, and not the bottom of the most recent email body. This fact makes this feature unsuitable for use for mail signatures. Disclaimers, maybe, but not signatures.

It does seem crazy that the only way to sensibly add a centrally-managed mail signature in 365 email is by routing all your email through a t

[2020-06-01 14:11] SignorelliDenis commented on #538
https://techcommunity.microsoft.com/t5/exchange-team-blog/demystifying-and-troubleshooting-hybrid-mail-flow-when-is-a/ba-p/1420838

[2020-06-01 15:35] get-itips commented on #2016
Thanks for noticing and reporting @ggirotto

[2020-06-01 16:46] ggirotto commented on #2016
Thanks for the quick fix guys :)

[2020-06-01 19:54] get-itips commented on #2015
Hello @vgpaul How are you?
I tried to reproduce and I could not. I set up forwarding for a mailbox like the article describes, and BCC messages were also forwarded. Can you kindly double check ?

[2020-06-01 20:08] vgpaul commented on #2015
Maybe It’s because I was forwarding to a group consisting of contacts?

This was happening with 6 different people The only ones I’ve had to set like this so I don’t think it was a one shot thing.

The mail is addressed to an individual.  That individual has the forward marked to deliver to a Group. The Group consists of two contacts.  Neither of the contacts received the BCC messages.

I’m not at

[2020-06-02 20:17] cloudtroll commented on #1561
You can ignore that parameter

I contacted support directly and got the following response.

So I did do my research and below are my findings:

I would like to inform you that from November 2018, Microsoft has stopped supporting Basic Authentication in the Office 365 Outlook REST API v1.0.

And  from November 1st, 2019, Microsoft has decommissioned the Outlook REST API v1.0 in favor of Microsoft

[2020-06-03 02:42] scanum commented on #2019
@JeroenDronkers Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-03 02:43] scanum commented on #2020
@rcmpgi Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-03 14:06] 91jme opened #2022 "Inconsistent Powershell examples"
The Powershell commands under the "Enable ACLs on remote mailboxes" examples for Exchange 2013 and Exchange 2016 include the required filter for RemoteUserMailbox (Step 3 specifically), which prevents administrators applying the change to Resource Mailboxes.

The examples for Exchange 2010 don't include the filter, which they should.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-06-03 20:34] dariomws commented on #2020
Hi @rcmpgi, thank you for your feedback and help us to improve docs.microsoft.com.

I think there are some information in the article:
"To make sure only the first message in a conversation gets a disclaimer, add an exception that prevents the disclaimer text from being applied to the same messages over and over again."

[2020-06-04 07:12] rcmpgi commented on #2020
No that doesn't help at all. If the first message in the conversation is inbound to my organisation, i.e. somebody emails me, and I then reply to this, my signature is placed **underneath their message**. The flow of content in the email from me back to them becomes as follows (with current functionality):
Reply from me
Their original message
Their signature
My signature

whereas it should obvious

[2020-06-04 09:07] RNalivaika opened #2023 "Error in part "Enable Group writeback in Azure AD Connect""
In part "Enable Group writeback in Azure AD Connect", step 10 you set variable "$AzureADConnectSWritebackAccountDN = <AAD_ account DN>" which is Distinguished Name.
Then you use the value in the variable with switch -ADConnectorAccountName, but this switch expects account name, not distinguished name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-04 09:11] RNalivaika commented on #894
Just installed Azure AD Connect version 1.5.30.0 and the install wizard did not set up the permissions right. Running the script fixed the issue and writeback startet working.

[2020-06-04 17:09] omeriniit commented on #1690
I got trial version from https://products.office.com/en-us/exchange/exchange-email-security-spam-protection
Now I have 25 EOP licenses and cannot assign them to anyone because "Exchange Online Protection (These licenses do not need to be individually assigned)." I can make contacts and connector but there's no difference if I have 1 license or 25 licenses. But that is true that EOP - This is the l

[2020-06-04 17:38] omeriniit opened #2024 "Option 3 licensing question"
I got trial version from https://products.office.com/en-us/exchange/exchange-email-security-spam-protection
Now I have 25 EOP licenses and cannot assign them to anyone because "Exchange Online Protection (These licenses do not need to be individually assigned)." I can make contacts and connector but there's no difference if I have 1 license or 25 licenses. But that is true that EOP - This is the l

[2020-06-04 18:02] dariomws commented on #2020
Thank you for this information @rcmpgi. I can update the document with more information about how it works now.
To request a new feature or update the best place to leave your ideas is uservoice:
https://office365.uservoice.com/

[2020-06-04 18:26] dariomws commented on #2020
Also, server signatures are finally coming:
https://www.microsoft.com/microsoft-365/roadmap?filters=&searchterms=60371
https://outlook.uservoice.com/forums/322590-outlook-2016-for-windows/suggestions/19686520-email-signature-sync-across-devices

Maybe the next step will be manage this cloud signatures using PowerShell.

[2020-06-04 21:12] MrsKay007 opened #2027 "Add helpful images for NDR mailbox, Resend Process"
Please add an image of a mailbox containing NDRs with the Resend option.
It would clarify these confusing instructions.  The journal terminology is repetitive making it difficult to understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 598506d9-01d0-fd2e-2600-9b5557e427f1
* Version Independent ID: 88fdfd05-dcde-47

[2020-06-05 02:00] scanum commented on #2023
@RNalivaika  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 02:00] scanum commented on #2024
@omeriniit  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 02:00] scanum commented on #2027
@MrsKay007  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 02:00] scanum commented on #2022
@91jme  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 06:15] Weishaupt commented on #1965
In the meantime I received some Non-Delivery-Reports (NDR) which were also wrapped. I can't explain to myself why those were wrapped, as the content is not signed. Maybe Exchange Online handles NDRs differently?

[2020-06-05 16:14] rubberbenn opened #2028 "Countable nouns"
*150 users or _fewer_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 721f096d-23d4-0fed-4f5e-0e0964798e8f
* Version Independent ID: 3af25c86-f5e9-1b9c-ffb6-d0d1afa7210e
* Content: [Migrate email using the Exchange cutover method](https://docs.microsoft.com/en-us/exchange/mailbox-migration/cutover-migration-to-office-3

[2020-06-05 18:29] sulobr opened #2030 "Add additional clarity"
[Enter feedback here]
Can we please include more details on what OWA url needs to be used to login the mailbox after this change? I know there is a small note section under changes for organization relationship that mentions to use http:// and not https:// but it is not clear that customer will need to use http://cloudowa.contoso.com/owa in their browser when users need to access their mailbox and

[2020-06-05 19:26] dariomws commented on #2019
Hi @JeroenDronkers, thank you for your feedback.

I tried it with Outlook and it works for me:
- Exchange 2016 with the latest CU
- Org. limit = 50MB
- 2 test mailbox limit = 200MB
- I could send a 90MB PDF attachment

[2020-06-05 20:19] dariomws commented on #1939
Hi @dagroll,

More information about this subject:
"TLS 1.2 is the only version that's enabled by default: Exchange Server 2019 includes important changes to improve the security of client and server connections. The default configuration for encryption will enable TLS 1.2 only and disable support for older algorithms (namely, DES, 3DES, RC2, RC4 and MD5). It will also configure elliptic curve key

[2020-06-08 02:39] scanum commented on #2028
@rubberbenn Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-08 02:39] scanum commented on #2030
@sulobr Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-08 07:51] JeroenDronkers commented on #2019
Hello Dario,

Have you tried with using OWA?
I can easily reproduce it using OWA:

[cid:image001.png@01D63D71.EFBF78B0]

Thanks,

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services and Support
Office: +44 (118) 9095507
jedronke@microsoft.com<mailto:jedronke@microsoft.com>

[abc]
﻿
Team Manager | Frances Early (francese@microsoft.com<mailto:francese@micro

[2020-06-08 12:17] ArendvanDijk opened #2031 "Please clarify text"
Quote: > For example, Exchange Online uses the Exchange Server feature known as Database Availability Groups (DAGs) to replicate Exchange Online mailboxes to multiple databases in separate Microsoft datacenters.

Please clarify if the Exchange data is spread over multiple continents, or just multiple datacenters..

Regards,
Arend
---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-06-08 16:03] get-itips commented on #2028
Thanks for reporting @rubberbenn

[2020-06-08 17:27] dariomws commented on #2019
Hi @JeroenDronkers, thanks your comment.

I cannot see the picture but yes, I have tried with OWA and then I changed to Outlook because there are more limits that apply to OWA:
https://docs.microsoft.com/exchange/architecture/client-access/client-message-size-limits#outlook-on-the-web

[2020-06-08 18:05] get-itips commented on #2027
Hello @MrsKay007 Thanks for your feedback. I am proposing thru a pull request the addition of an image I prepared. If it gets approval, it will be shown on the published version of the article.
Thanks

[2020-06-08 18:13] dariomws commented on #2022
Hi @91jme, thank you for your feedback and help us to improve docs.microsoft.com.

I think that with Exchange 2010 you only have one object type returned by Get-RemoteMailbox: RemoteMailbox.

I don´t have a lab environment with Exchange 2010, if you have please could you share a screenshot when you run "Get-RemoteMailbox | ft RecipientTypeDetails"?

Thanks!

[2020-06-08 19:05] dariomws commented on #2030
Hi @sulobr, thank you for your feedback and help us to improve docs.microsoft.com.

The objective of this article is to continue using the same OWA URL they are using now on-premises. For example, https://mail.contoso.com/owa. I added a sentence to confirm it.

Also, they can use the HTTP URL.

[2020-06-08 19:22] dariomws commented on #2022
@91jme, I got an Exchange 2010 and 2013 mixed environment to confirm it. But could you kindly share a screenshot if you have 2010 too?

Thanks!

[2020-06-08 19:41] sulobr commented on #2030
@dariomws Hi Dario, My understanding is they cannot use https:// version of the url. https://mail.contoso.com/owa user. If they do, they will get a cert error indicating the cert presented is only valid for O365 domains and not customer's domain. See sample error.

![image](https://user-images.githubusercontent.com/32208482/84073248-4913cb80-a985-11ea-9a12-907280b7fbad.png)

[2020-06-08 20:14] get-itips commented on #2024
Hello @mattpennathe3rd Looks like we have a disparity here between what the UI states and the documentation states, can we get a confirmation from a SME on EOP Licensing if the EOP licenses need to be actually assigned ? Thanks

[2020-06-09 04:54] scanum commented on #2031
@ArendvanDijk Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 07:48] Weishaupt commented on #1965
@scanum Any update on the investigation?

[2020-06-09 10:20] JeroenDronkers commented on #2019
Hello Dario,

Using Outlook, trying to send an attachment of 19mb internally, I get:

[cid:image002.png@01D63E4C.18360B80]

TransportConfig is configured as follows:
MaxReceiveSize                               : 10 MB (10,485,760 bytes)
MaxRecipientEnvelopeLimit                    : 5000
MaxSendSize                                  : 10 MB (10,485,760 bytes)

Both the sending and recipient mailbo

[2020-06-09 11:43] get-itips commented on #2031
@ArendvanDijk Arend, how are you? Hope you are doing good.
I think this article will clarify the sentence for you https://docs.microsoft.com/en-us/office365/Enterprise/office-365-exchange-data-resiliency#database-availability-groups

[2020-06-09 11:55] ArendvanDijk commented on #2031
@get-itips Hi, I'm fine, you? Thanks for asking!
That's what I was looking for indeed, thanks! I need it for a design I am writing for a customer. Here I only want to refer to official Microsoft documentation. Thanks again!

[2020-06-09 11:57] get-itips commented on #2031
Glad to help you!
@scanum this thread can be closed.

[2020-06-09 12:00] JetzeMellema opened #2037 "System Requirements links to outdated KB article"
https://docs.microsoft.com/en-us/exchange/plan-and-deploy/system-requirements?view=exchserver-2019

Contains a link to KB2269838, https://support.microsoft.com/en-us/help/2269838/microsoft-exchange-compatibility-with-single-label-domains-disjointed. That KB article is outdated, discusses products that are no longer supported and contains broken links.

[2020-06-09 12:05] JeroenDronkers commented on #2019
Hello Dario,

I have raised the outlook limit since I expected that an outlook limit could interfere by adding a dword registry key: MaximumAttachmentSize and I set this to 30mb
Outlook 2016: HKEY_CURRENT_USER \ Software \ Microsoft \ Office \ 16.0 \ Outlook \ Preferences
Afterwards I was able to send an email of 18mb but got the following NDR for the (internal) email using Outlook

Delivery has f

[2020-06-09 12:12] dariomws commented on #2019
Hi @JeroenDronkers, I cannot see your images.

From here:
https://docs.microsoft.com/powershell/module/exchange/set-mailbox
"In on-premises Exchange, the default value unlimited indicates the maximum receive size for the mailbox is imposed elsewhere (for example, organization, server, or connector limits)."

I also had to change the registry value. Also, remember that you need need to wait some ho

[2020-06-09 12:27] JeroenDronkers commented on #2019
Hello Dario,

There is a Support ticket opened for this issue: 20102675

And, I believe that I (and the customer) can prove that the Organizational settings (transport config) are not ignored for internal email.

But anyway, if you want the article to stay as it is, fine with me.

Thanks,

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services and Support
Of

[2020-06-09 17:09] dariomws commented on #2030
There is an incorrect configuration scenario in which you can get this certification warning. I cannot provide you with this kind of help here, we only can update docs.microsoft.com articles.

Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow

[2020-06-09 21:52] susanlbk opened #2039 "Can anyone help to figure out if I got hacked? (Not sure if I'm posting in the correct forum)"
Trying to figure out where the trunk code is in this no that called me +60 84-818 606.
 +60 is country code for Malaysia & their NSN is 7 digits.
84- is the mobile prefix for Democrat of Congo with a ? mark for their NSN digits.
60-84 of the above phone no. does match part of this though, 60-84-BD MAC or OUI address look up. Did I just get hacked??? (I answered and was on line about a min.)
I may

[2020-06-10 03:02] scanum commented on #2039
@susanlbk Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-10 03:02] #2039 closed

[2020-06-10 03:03] scanum commented on #2037
@JetzeMellema  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-12 20:22] susanlbk commented on #2039
I quite sure that I posted my question in the wrong forum.

Susan Bonk

On Tue, Jun 9, 2020, 10:03 PM Manuela Scanu <notifications@github.com>
wrote:

[2020-06-13 16:48] r-milne opened #2041 "Wrong Azure AD Connect Sync Interval"
This sync time is horribly outdated.  Has not been 3 hours for years...

Active Directory synchronization between the on-premises organization and the cloud, which is performed every three hours by a server running Azure Active Directory Connect, is a requirement for configuring a hybrid deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-06-14 22:05] scanum commented on #2041
@officedocspr Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-15 06:35] ThijsLecomte-TC opened #2043 "Type"
[Enter feedback here]
Page says 'Select Install an**d** additional agent option'
Should be - Select 'Install an additional agent' option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 174147a5-effb-136b-cd43-e4da0c02a27a
* Version Independent ID: 01f56623-efbc-6e8b-766c-691b16f34a13
* Content: [Microsoft Hybrid Agent](

[2020-06-15 12:05] get-itips commented on #2041
Thanks for noticing and reporting @r-milne

[2020-06-15 21:58] nonodename opened #2046 "Typo in para 6 of the SSO section"
...Outlook for iOS **for** Android will...

should be
...Outlook for iOS **and** Android will...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeec798c-00f4-df45-da44-47e5aac06ff9
* Version Independent ID: 4cdfab74-fce7-f298-c3df-51da100c2162
* Content: [Account setup with modern authentication in Exchange Online](htt

[2020-06-16 01:37] jamieleeski opened #2047 "P.O. Box on iPhone How to get a PO BOX added to your iphone?"

[2020-06-16 02:01] #2047 closed

[2020-06-16 08:00] JeroenDronkers opened #2048 "MX pointing to on-premise"
Hello,

This in regards to the statement about having MC+X records for the groups domain pointed to on-premise: "If the MX DNS record for the group domain is set to the on-premises Exchange server, mail flow won't work correctly between users in the on-premises Exchange organization and the Office 365 Group."
It would be helpful if the article would mention what exactly will not work. This kin of

[2020-06-16 15:13] felgar73 opened #2049 "Journaling Safety Net"
Is the two-day expiration for queued journal reports something we can modify? I heard this was being reduced to 24 hrs, which is troubling.

-thnx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 598506d9-01d0-fd2e-2600-9b5557e427f1
* Version Independent ID: 88fdfd05-dcde-4745-03f4-fb271a3c7094
* Content: [Configure Jour

[2020-06-16 20:00] bertsawicki opened #2050 "there is no way to search for Fax partners on the link provided"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1b95716-d62a-5b7b-5324-75eed5f4f10b
* Version Independent ID: da1f6e50-8015-0afa-1294-6427e7468300
* Content: [Setting up incoming faxing in Exchange Online](https://docs.microsoft.com/en-us/exchange/voice-mail-unified-messaging/set-up-client-voice-m

[2020-06-16 21:09] andikrueger opened #2051 "Wrong cmdlets are used for Exchange Online"
The examples are using the wrong cmdLets. The correct ones are `*-AddressList`

Currently the On-Premises `*-GlobalAddressList` cmdlets are used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a24db2-8374-37ea-dfe2-6cdd5f7a72ff
* Version Independent ID: b21e002a-d1ef-dd28-9bc7-e635a301cf6f
* Content: [Remove a global

[2020-06-16 21:13] #2051 closed

[2020-06-16 22:51] chrislehr opened #2052 "Please put large banners up on pages like this one for a deprecated feature - its misleading to customers."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fbfc5e-6947-c63c-6fe0-7a512c126692
* Version Independent ID: d5aa7a08-14e8-f44a-3443-dbf4215b326f
* Content: [Navigating menus with Outlook Voice Access in Exchange Online](https://docs.microsoft.com/en-us/exchange/voice-mail-unified-messaging/set-u

[2020-06-17 04:42] scanum commented on #2043
@ThijsLecomte-TC  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-17 04:42] scanum commented on #2046
@nonodename  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-17 04:43] scanum commented on #2049
@felgar73  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-17 04:43] scanum commented on #2050
@bertsawicki  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-17 04:44] scanum commented on #2052
@chrislehr  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-17 08:41] TotalGriffLock opened #2053 "Port Test Website Has Expired SSL Certificate"
Your page https://docs.microsoft.com/en-us/exchange/hybrid-deployment/hybrid-agent#running-setup talks about downloading a powershell script from https://aka.ms/hybridconnectivity to test connectivity. The script tries connecting to https://aadap-portcheck-seaus.connectorporttest.msappproxy.net:8080 which has an expired SSL certificate. The cmdlet will always fail.

---
#### Document Details

⚠ *D

[2020-06-17 12:02] get-itips commented on #2046
Thanks for noticing and reporting @nonodename

[2020-06-17 12:20] get-itips commented on #2049
Hello @felgar73 Felix how are you?
I am afraid you can not customize the message deferral limit, which in fact it is 24 hours since 2019. (MC173908)
More information [here](https://docs.microsoft.com/en-us/office365/servicedescriptions/exchange-online-protection-service-description/exchange-online-protection-limits).

I searched on UserVoice and there is an entry about this [here](https://office36

[2020-06-17 12:51] get-itips commented on #2052
@chrislehr Chris, how are you?
Currently, the [top level](https://docs.microsoft.com/en-us/exchange/voice-mail-unified-messaging/voice-mail-unified-messaging) section article of the article you referenced has a banner (note) stating the following:

![image](https://user-images.githubusercontent.com/36666927/84899961-c7f0be80-b07f-11ea-93b3-2384523d70be.png)

With links to other articles on retirin

[2020-06-17 16:31] 9073241516 opened #2055 "Incomplete information - PrimarySmtpAddress"
[Enter feedback here]

Can you update this article to instruct how to set the 'PrimarySmtpAddress'??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 488ecf85-5f6d-3abd-4253-8527b5082340
* Version Independent ID: ec414c0f-4ee4-bbd1-3851-3e4db0c97593
* Content: [Shared mailboxes in Exchange Online](https://docs.microsoft.

[2020-06-17 17:17] bubba198 opened #2056 "DBEB (Directory Based Edge Blocking) change on June 9, 2020 affecting Dynamic Distribution Groups"
Hi everyone,

On June 9, 2020 some change occurred with DBEB (Directory Based Edge Blocking) affecting Dynamic Distribution Groups ONLY. I'm very certain of the date since I have traces going back a year as evidence that Dynamic Distribution Groups were able to receive e-mail just fine. Now access denied NDR. After days of dysfunctional exchanges with the vendor outsourced support the recommendati

[2020-06-17 18:08] danmyhre opened #2057 "PowerShell Fix"
For fixing the on-prem GAL issue, the PowerShell actually needs to use the DN of the group, not the group name

Instead of :
Update-Recipient "[group name]"

It should be:
Update-Recipient -Identity "[group DN from AD]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33b5e7da-2e4a-7db9-43e2-27820bff540f
* Version Indepe

[2020-06-17 20:00] dariomws commented on #2050
Hi @bertsawicki, thank you for your feedback.

The Unified Messaging service in Exchange Online is out of support as of February 28, 2020, at 5 PM Pacific Time. All voicemail accounts have been migrated to Cloud Voicemail service by Microsoft.
I have added a note in this article to explain this situation.

[2020-06-17 21:16] felgar73 commented on #2049
Thanks Andres, I appreciate the response.

-Felix G.
PFE – Exchange | Microsoft

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Wednesday, June 17, 2020 8:21 AM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Felix Garcia <felgar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] Journaling Safet

[2020-06-18 04:26] mcavasin commented on #1977
...still broken :(

Also, this script really should give some kind of final results or log file rather than take the "if it doesn't fail it's OK" approach.

Things like this embarrass me and MS in front of clients...

[2020-06-18 17:22] chrisda commented on #2016
Link in topic has been changed from openspf.org, so closing.

[2020-06-19 04:47] scanum commented on #2053
@TotalGriffLock  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-19 04:48] scanum commented on #2055
@9073241516  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-19 04:48] scanum commented on #2056
@bubba198 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-19 04:48] #2056 closed

[2020-06-19 04:48] scanum commented on #2057
@danmyhre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-19 13:54] get-itips commented on #2053
Duplicate of #1977

[2020-06-19 16:15] dariomws commented on #2057
Hi @danmyhre, thank you for your feedback and help us to improve docs.microsoft.com.

I understand that the possible values for the -Identity parameter are:
- Name
- Alias
- Distinguished name (DN)
- Canonical DN
- Email address
- GUID
So, the group name should work. More information:
https://docs.microsoft.com/powershell/module/exchange/update-recipient

Also, you can avoid writing the -Identity

[2020-06-19 16:29] dmyers-smartstart opened #2064 "Clarify the retention of Purges folder"
Can something be added the clarifies the retention period of items in the Purges folder when Single Item recovery is turned on?
It is not clear to me if items remain in the Purges folder an additional 14 days by default, or if it uses the same retention date the item had in the Deletions folder.
e.g. With Single Item recovery turned on, would an item that has been in the deletions folder for 14 da

[2020-06-19 17:40] danmyhre commented on #2057
Using the name doesn't work.  You get an error that the object couldn't be found.  This happens in a multi-domain AD forest (which many hybrid environments will have).  If you use the -IgnoreDefaultScope param, you must us DN, not name.

Understood on the shorthand, but docs should always be verbose and include the actual parameters.

[2020-06-19 17:49] get-itips commented on #2055
Hello @9073241516
How are you?
You can find information on how to set email addresses [here](https://docs.microsoft.com/en-us/exchange/recipients/user-mailboxes/email-addresses?view=exchserver-2019&viewFallbackFrom=exchonline-ww), the process is no different from the general process of adding  and setting email addresses for a mailbox.

Hope this information helps you,

[2020-06-21 11:12] maaaaz opened #2067 "Square brackets for some versions on version page"
Hello,
Some square brackets recently appeared for some versions on https://docs.microsoft.com/en-US/exchange/new-features/build-numbers-and-release-dates?view=exchserver-2019

For instance `"[Exchange Server 2019 CU4]"`.

Can you remove them ?
Cheers.

[2020-06-22 07:36] scanum commented on #2064
@dmyers-smartstart @ Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-22 07:37] scanum commented on #2067
@maaaaz Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-23 08:46] bwlonsdale opened #2068 "Needs additional clarification around Authentication Policies"
Needs some clarity that authentication policies will also affect this.

If you've disabled basic authentication, then you need a policy that will allow basic auth for SmtpAuth, so this may be an additional step required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f463d2b-dfa3-1061-4e34-01fdfd8b5032
* Version Indep

[2020-06-23 19:04] dazinator opened #2071 "How long does it take to apply?"
I have recently enabled smtp auth for a partiular users mailbox, but smtp auth is still failing. How long does a change to this setting take to apply?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f463d2b-dfa3-1061-4e34-01fdfd8b5032
* Version Independent ID: a1d6d284-1c4c-438d-caaa-b06f7a7fb8a8
* Content: [Enable or