[2018-12-12 09:51] edbakermct opened #383 "SPE still referenced"
Under item 5 of the tech and licensing requriements.

 Microsoft Secure Productive Enterprise (SPE) includes all licenses necessary for Office 365 and EMS.

SPE is circa 2015/16

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0020c770-fbf0-d36b-196c-59fd0a5dbe93
* Version Independent ID: bd5c069a-c325-28cf-5a58-8ae9c34c

[2018-12-12 18:01] msdmaguire commented on #377
@jpawlowski Thanks again for alerting us to this. The team that owns the video took it down for revisions. I will remove references to the video from the article until we're ready to post it again.

[2018-12-12 18:01] #377 closed

[2018-12-12 21:16] leroybarnes commented on #327
How do I see what users are assigned to an authorization policy?

[2018-12-12 22:12] chrisda commented on #381
@DavidOgborne, interesting that one of the suggestions was to use EdgeSync; the whole point of the topic is if you don't want to or can't use EdgeSync. Externally Secured is definitely an option, but if you don't configure the external encryption, the traffic isn't encrypted.

I incorporated most of this information into the topic.

Thanks for the feedback.

[2018-12-12 22:12] #381 closed

[2018-12-12 22:21] jamesrhea commented on #378
@jpozzoli, thanks for raising this issue. I agree the link looks incorrect. Here's a Microsoft Support article that explains how to force directory synchronization. See "Method 1": https://support.microsoft.com/en-us/help/2882421/directory-synchronization-to-azure-active-directory-stops-or-you-re-wa

[2018-12-12 22:56] #378 closed

[2018-12-12 23:35] msdmaguire commented on #375
@uz-it We've added a note to the "What do you need to know before you begin" section that tells users to synch their container with their public folder mailboxes in it. Should publish by end of week. Thanks again.

[2018-12-12 23:35] #375 closed

[2018-12-13 01:01] chrisda commented on #367
I added the "internal network traffic" clarification as described.

[2018-12-13 01:01] #367 closed

[2018-12-13 11:56] TheRobinCM opened #387 "Does Outlook app encrypt it's data at rest on the mobile device?"
I'm particularly interested if the email data and attachments are stored securely on the mobile device, i.e. encrypted by the Outlook app itself to prevent interference from other apps on the phone.
The device itself may be fully encrypted, but if other apps on the device are able to read the files (e.g. a file manager or malicious app), full device encryption doesn't help.
I don't like the idea o

[2018-12-13 15:09] GuyGroeneveld opened #389 "Calendar sharing supported"
What you say is not clear
"Private items When adding a delegate the option can be configured to allow a user with folder permissions to see private calendar items."

Can you be more explicit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1959e5-a0c2-3431-4fe4-3e4e7843a594
* Version Independent ID: 33dd3686-3b92-0393

[2018-12-13 18:34] msdmaguire commented on #387
@TheRobinCM I'm going to try to get clarity from the product team on this.

[2018-12-13 18:37] msdmaguire commented on #311
@JeremyTBradshaw Update: sorry for the delay. I am following up with the product team for a definitive answer.

[2018-12-13 18:42] msdmaguire commented on #308
@deanabrassart I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this informat

[2018-12-13 18:42] #308 closed

[2018-12-13 18:51] msdmaguire commented on #325
@danderson95 Thanks for the suggestion. In many cases, we don't get too in-depth in mentioning third-party products and services because we can't officially support those configurations, should something go wrong. We do document how to migrate from another Exchange server. Thanks again.

[2018-12-13 18:51] #325 closed

[2018-12-13 18:56] msdmaguire commented on #311
@JeremyTBradshaw native Microsoft synch technology is a new proprietary protocol. It is not Exchange ActiveSync. Thanks for your patience.

[2018-12-13 18:56] #311 closed

[2018-12-13 19:22] Freazeorburn opened #390 "Documentation Neglects to mention adding Custom theme to stylemanifest.xml"
After creating a custom theme it needs to be added to stylemanifest.xml (located at: %ExchangeInstallPath%ClientAccess\OWA\prem\<ExchangeVersion>\manifest) for theme to be chosen from the menu by the user. I'm using Server 2016 (1607) and Exchange 2016 (15.1.1531.3).

[2018-12-13 19:37] msdmaguire commented on #387
@TheRobinCM Intune App Protection Policies can be used to encrypt corporate data. For more information, see “What about encryption?” section in https://docs.microsoft.com/en-us/intune/mam-faq. Hope this helps.

[2018-12-13 19:39] #387 closed

[2018-12-13 20:38] JeremyTBradshaw commented on #311
Thanks for confirming.  Interesting.....

[2018-12-14 17:53] TimHL opened #391 "Are mailbox import requests journaled?"
I don't see in the documentation for journaling or new-MailboxImportRequest whether imported emails are written to Journal mailboxes.  I read that Imports use advanced queue throttling, and I know journaling is tied to the transport queues, so I suspect it might, but I'd like to have this confirmed.

As we migrate users into Exchange, we'd like their email to be added to the journal as well.

[2018-12-14 18:47] chrisda commented on #390
@Freazeorburn, I added your suggestion to the topic. I don't remember needing to modify that file to see the new theme in the list when I wrote the topic, but I may have been too focused on forcing the new theme as the default theme.

Thanks for the feedback.

[2018-12-14 18:47] #390 closed

[2018-12-14 19:32] chrisda commented on #389
@GuyGroeneveld, I updated the topic to say:

When you grant **Full Access** permission to a mailbox, you can decide whether to allow the delegate to see private items (private meetings, appointments, contacts, or tasks) in the mailbox.

[2018-12-14 19:32] #389 closed

[2018-12-17 16:34] greg-ski commented on #367
Hi Chris,
Apologies for the delay in responding. I understand your motivations and
foresaw your response. That said, a broad 'any any' rule sends the wrong
message: it is an optics issue especially with regards to connectivity with
domain controllers for which there is a well established pattern. The
criticality of these services is very high given how central they are
within an organisations IT l

[2018-12-17 17:58] nizzol4shizzol opened #393 "Help"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9108de4-e74c-0d0f-a380-0a9a8a2f0b22
* Version Independent ID: 51dc0b18-03e3-e9e2-d427-e559e56e10a1
* Content: [Troubleshoot Office 365 mail flow](https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/troubleshoot-mail-flow)
* Content Sou

[2018-12-17 23:19] Thomas-Titan opened #394 "how long will the "Day" change take?"
In this article you are changing the Exchange default 14 day deletion to 30 days. I am running your commands and they seem to be completing successfully except I get this warning message when I run this command

 “Get-Mailbox -ResultSize unlimited -Filter {(RecipientTypeDetails -eq 'UserMailbox')} | Set-Mailbox -RetainDeletedItemsFor 10”

WARNING: The command completed successfully but no settings

[2018-12-18 12:41] Weychris opened #395 "outook for ios app"
please note that these group calendars not accessible through outlook app on ios

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb586432-331c-fff4-953d-6e2b9d33f611
* Version Independent ID: 0e58d7c8-6d89-f854-cb8f-5a19c4169020
* Content: [Migrate your public folders to Office 365 Groups](https://docs.microsoft.com/en-

[2018-12-18 14:36] nenonix commented on #395
@Weychris  Thank you for the feedback. Do you think this can be addressed with a change to the content wording or by adding a note? If so I can work with you to reflect this in the documentation.

[2018-12-18 14:40] nenonix commented on #383
@edbakermct  Thank you for your feedback.  I will work with you to address this issue but can you provide more detail or help me by explaining how to make that clearer in the text?

[2018-12-18 14:44] jabrenneis commented on #202
Greeting. I'm wondering the same as @AndreaBarr - I have followed all the instructions in this document creating a public folder "Organizational Forms;" however, no one is able to view this form. I can view the public folder as it's listed under "Public Folders" > "Organizational Forms" > Mailbox = PFHierarcy.

In summary, what's the missing step that will allow all my users to view this folder in

[2018-12-18 14:57] edbakermct commented on #383
Not sure what more you need SPE was a marketing title for what is now Microsoft 365 (less Windows) as far as I am aware it is no longer marketed like that, if it is can you point me to the SKUs to buy SPE , thanks Ed

[2018-12-18 15:00] Thomas-Titan commented on #395
Nicole,

In this article you are changing the Exchange default 14 day deletion to 30 days. I am running your commands (from this article) and they seem to be completing successfully except I get this warning message when I run this command “Get-Mailbox -ResultSize unlimited -Filter {(RecipientTypeDetails -eq 'UserMailbox')} | Set-Mailbox -RetainDeletedItemsFor 10”

WARNING: The command completed s

[2018-12-18 15:05] edbakermct commented on #383
when i search for spe online any links take me to M365 page and the only blog i can find is a US partner blog from early 2017

[2018-12-18 16:25] nenonix commented on #383
@edbakermct  Thank you for clarifying the issue.  I work as a technical writer to improve the content so I am trying to get a sense of how this can be fixed.  Would removing the sentence - which appears to be redundant -  address the issue to your satisfaction?

[2018-12-18 16:30] edbakermct commented on #383
i would remove it is  not relevant at all. especially as not all editions of M365 include all licenses needed

[2018-12-18 16:32] nenonix commented on #383
@edbakermct Thank You for your patience in explaining the issue and for helping to improve the content.  I will submit the change you suggest.

[2018-12-18 16:43] Weychris commented on #395
yes a note makes sense...maye simply a link to this page?
https://support.office.com/en-us/article/calendar-sharing-in-office-365-b576ecc3-0945-4d75-85f1-5efafb8a37b4?ui=en-US&rs=en-US&ad=US

[2018-12-18 18:02] AndreaBarr commented on #202
@MK-Kamal could you please investigate this issue?

[2018-12-18 21:38] nenonix commented on #395
@Weychris  I agree that is a good solution. Would it work for you to add the link into the text under the Shared Calendars bullet point?

[2018-12-18 23:19] IshaKhaira opened #400 "Enable IMAP for Gmail accounts"
Please add the section below to make sure IMAP is enabled before migration is initiated. Failure to enable IMAP will result in migration issues.

Enable Gmail or G Suite Accounts for IMAP:

Sign in to your Gmail account by using a browser that is supported
Choose or click the gear icon on the top right.
Choose Settings &gt; Forwarding and POP/IMAP.
Select Enable IMAP, and then choose Save Changes.

[2018-12-19 12:08] MK-Kamal commented on #364
@cfizz34 Thank you for your  inquiry

If you are using one of these office365 License Plans “ Exchange Online Plan 2 Or Office 365 Enterprise E3 or E5 subscriptions “ you can Use  Inactive Mailboxes Feature in Office 365 which will retain Users Email Even if you remove user Office 365 License or Delete the AD account

[Overview of Inactive Mailboxes in Office 365](https://docs.microsoft.com/en-us/

[2018-12-19 17:05] #364 closed

[2018-12-19 19:13] terrogin opened #402 "Supported Group Types"
The article mentions support for 'groups' multiple times but it's unclear what group types are supported. O365, Security, Distribution, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b18f30a-b22b-5f3b-8357-82690321bad0
* Version Independent ID: cf3ce6c5-bd43-380a-b162-d475032facb8
* Content: [Mail flow rule condi

[2018-12-19 22:15] khorne3 commented on #400
@AndreaBarr I'll take this one

[2018-12-19 22:19] khorne3 commented on #376
Hi @emilabbas. You're correct in that 128 GB of RAM (min) is recommended if you're installing the Mailbox Exchange role (which it seems like you are based on the title of your post.

[2018-12-19 22:20] khorne3 commented on #376
@AndreaBarr Will clarify and update doc if necessary.

[2018-12-19 22:32] chk1982 opened #404 "Full Access permissions still not supported in OWA?"
According to this Ignite video from 2017 OWA Full Access permissions are supported. Paragraph 5 in this document says they are not. Does this document need to be updated?

Start at 34:00

https://www.youtube.com/watch?v=pN6lsxKRrJQ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1959e5-a0c2-3431-4fe4-3e4e7843a594
* Ve

[2018-12-19 22:57] chrisda commented on #376
@emilabbas, also keep in mind that Exchange 2019 is designed and optimized for large organizations.

[2018-12-19 22:57] #376 closed

[2018-12-19 23:31] chrisda commented on #393
@nizzol4shizzol, if there's something wrong with the topic, we can help. If you're have a service issue or a technical problem, you should open a support case.

[2018-12-19 23:35] chrisda commented on #391
@TimHL, My gut reaction is no. Even though queues might be involved, migrated messages aren't "sent" (don't flow through the categorizer and the transport pipeline) like regular email messages.

If you've got everything setup to do the PST igestion, you could try a single mailbox to see what happens, report back here, and I'll update the Journaling topic(s).

I'm trying to get absolute confirmatio

[2018-12-19 23:38] #383 closed

[2018-12-19 23:39] chk1982 commented on #336
The new-remotemailbox command creates a remote mailbox in cloud. The article states in the blue bubble: "ACLs aren't enabled on remote mailboxes created in Office 365. If you create a remote mailbox in Office 365, you'll need to follow the steps in the Enable ACLs on remote mailboxes section to enable ACLs on that remote mailbox." What rajee037 is experiencing is exactly as described in the articl

[2018-12-20 00:05] chrisda commented on #394
@Thomas-Titan, what happens when you run this command?

[code]

The error could mean he already had the value 10 days. So you ran the command on all user mailboxes in the organization and you only got this one error for this one user? I would take that to mean everyone else's mailbox was modified except Tom's.

[2018-12-20 04:36] jxnx888 opened #406 "cmdlet wrong"
Under "Use Exchange Online PowerShell to view or modify a journal rule"
The cmdlets miss ""  , it should be

 Set-JournalRule "JR-Sales" -Name "TraderVault" -Recipient traders@woodgrovebank.com -JournalEmailAddress tradervault@woodgrovebank.com -Scope Internal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d49df7f-471

[2018-12-20 08:14] DesmondLimHH commented on #227
How do you add an IMAP connection that does not use encryption?  There's no option for "None".

[2018-12-20 08:45] emilabbas commented on #376
Hi @khorne3  I don't understand one thing this requirement for big organizations or for small too?
If i want to use Exchange 2019 for 30 employees it is ok to run server with 16 GB or 32?
If i will have problems with server and ask Microsoft Support for help it will be the problem?

[2018-12-20 08:49] emilabbas commented on #376
Hi @chrisda I understand that all Exchanges versions for big organizations. But on Exchange 2016 there was minimum requirement for ram 16 GB, i understand that i cant use 16 GB for corporation with 1000 users. But it is clear that i can launch server with 16 GB RAM and expand on demand. But on Exchange 2019 technet writes that minimum RAM is 128.  So 128 for 1000 users? and it is supported that i

[2018-12-20 11:07] deanmresource opened #407 "Error in page"
"As a result, users can't log into it them directly. "
either delete IT or THEM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb78b621-ad88-04ad-c449-4d8c7e1b2d24
* Version Independent ID: 7259a9a9-4589-194e-5b9b-b32a807788d4
* Content: [Shared mailboxes](https://docs.microsoft.com/en-us/exchange/collaboration/shared

[2018-12-20 11:19] ajhstn commented on #339
Same experience as @AndreBarr and @rpodric..

[2018-12-20 11:31] ajhstn commented on #339
How is using the authentication policy different to Set-CASMailbox -SmtpClientAuthenticationDisabled $true.

[2018-12-20 11:43] ajhstn opened #408 "Enabling modern auth"
By simply enabling modern authentication, does that automatically block basic auth or "legacy" clients from connecting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3595c01-2eb7-a6e0-0424-12d7628fa25b
* Version Independent ID: 2368964f-83cb-e16f-c04c-832361e18c63
* Content: [Enable or disable modern authentication i

[2018-12-20 11:45] ajhstn commented on #339
What's the difference in using set-authenticationpolicy vs set-casmailboxplan

[2018-12-20 14:03] get-itips commented on #407
Hi Dean, thanks for your contribution, I will handle this issue. @AndreaBarr

[2018-12-20 14:10] cfizz34 commented on #364
Is using the Inactive method over converting the mailbox to a shared mailbox a better alternative if the end goal to release the E3 license and delete the AD account while also being able to do e-discovery and re-assign that mailbox to a new user if taking the place of the old user?

[2018-12-20 14:43] Thomas-Titan commented on #394
Thanks for your response. I think I have this solved, I'll have to wait and see. I was able to change a number in the Exchange Management Console - Microsoft Exchange On-Premises - Organization Configuration - Mailbox, then right clicking on the our Mailbox Database. The Properties dialog box has a Limit tab with "Deletion Settings". I have reduce the number to what I'm wanting (default is 30). I

[2018-12-20 15:56] agowa338 opened #410 "Mention failing certifications"
As credentials are transmitted to outlook services, it should be mentioned, that this could result in failing important certifications like PCI (Payment-card-industry) or ISO/IEC 27001.
And especially this part `the service can then connect to the Exchange server to synchronize mail, calendar, and other mailbox data` can also be a problem in conjunction with GDPR, as private information (inside of

[2018-12-20 15:58] lemazzag opened #411 "Incorrect Link"
On last sentence:
To learn more about hosted management solutions, including validated solution vendors, see Exchange Server 2013 hosting and multi-tenancy solutions and guidance, the link must point to https://www.microsoft.com/en-us/download/details.aspx?id=36790

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb5469

[2018-12-20 17:18] get-itips commented on #411
Hi lemazzag thanks for your feedback, I will take care of it. @AndreaBarr

[2018-12-20 17:30] markjjo commented on #394
@Thomas-Titan You should be good to go.

[2018-12-20 17:30] #394 closed

[2018-12-20 17:51] chrisda commented on #407
Issue resolved in PR #409

[2018-12-20 17:51] #407 closed

[2018-12-20 17:52] chrisda commented on #411
Fix

[2018-12-20 17:52] #411 closed

[2018-12-20 17:52] chrisda commented on #411
Fixed in PR #412

[2018-12-20 19:30] chrisda commented on #406
@jxnx888, I fixed it.

Thanks for the feedback.

[2018-12-20 19:30] #406 closed

[2018-12-20 19:32] khorne3 commented on #410
@AndreaBarr I can look into this.

[2018-12-20 19:48] #400 closed

[2018-12-21 01:59] rpodric commented on #339
@ajhstn, if it's of any help, ours did finally stop not long after I posted that last message, and I think it's been long enough now that it won't pick up again, but who knows, really. In all, it took about 2-3 weeks once the policy was put into affect and applied (applying it supposedly means that it should be in effect within the hour) for the attempts to stop (all IMAP).

I have heard from some

[2018-12-21 17:15] Cryptolaemus commented on #193
Same issue here. Would be great to have an update!

[2018-12-21 18:30] dariomws306 opened #415 "Groups Location"
I think this article could have a note to specify where these groups are created. I understand they are created on "Microsoft Exchange Security Groups" container in the forest root domain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f24f6b31-75be-86bd-f2cd-23904838318e
* Version Independent ID: b60d6e4b-c64a-94f8-1f

[2018-12-21 19:04] chrisda commented on #367
@greg-ski, I respect what you're saying, but I was given a very clear mandate for that language when I wrote the topic for 2013. Apparently, Microsoft Support had massive problems in the past with customers attempting to restrict internal traffic based on the honesty in earlier Exchange port reference topics that document the ports used between internal Exchange servers and DCs. We said "these are

[2018-12-23 08:17] hmoffatt opened #429 "IMAP flow"
It appears that Outlook for Android is currently doing IMAP via the protocol translator also. (In my IMAP server logs I see Outlook users’ connections come from a Microsoft host.) How will this be affected by the change to the sync protocol? Will the clients ever implement native IMAP? It appears that an Australian user accessing an Australian server is going through an offshore intermediary which

[2018-12-26 19:09] AndreaBarr commented on #85
@MK-Kamal Could you please investigate this?

[2018-12-27 17:26] SquanJRP opened #433 "HABs in OWA"
Do HABs only work in Outlook client or are they available in OWA also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c6ced-4d52-df69-b492-8a6a47e793ec
* Version Independent ID: acb719f5-1828-d101-bf8f-af6f7fc03758
* Content: [Hierarchical address books in Exchange Online](https://docs.microsoft.com/en-us/exchange/a

[2018-12-27 20:36] hsbsandrecv opened #434 "Admin Role for Manage Mailbox Permissions"
Which Admin Role is necessary for Manage Mailbox Permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe24386f-86cc-5073-dc17-ad8ece0e3dc7
* Version Independent ID: 88a529c7-c6e6-8438-8eb4-c6fc2a20f722
* Content: [Manage permissions for recipients](https://docs.microsoft.com/en-us/exchange/recipients-in-exchange

[2018-12-27 23:01] dariomws306 commented on #101
@AndreaBarr , I think we should close this, this feature works as expected, as it's written in the documentation.

[2018-12-27 23:10] dariomws306 commented on #127
Thanks @Weishaupt and @JeremyTBradshaw . I am working on it, it should be updated soon.

[2018-12-28 00:14] dariomws306 commented on #164
Hi @RSteeno , I think you should check these articles:

[2018-12-28 16:49] matthieumartineau opened #436 "Process Optimization"
Why don't you talk about the Move-TransportDatabase.ps1 PS script located inside the "Scripts" folder of Exchange Installation Path?

This script can automate the whole process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66db97d2-8963-10ff-f478-c3796d9efb51
* Version Independent ID: 7cecf49d-39fc-c9ea-c7b4-ec0d4239

[2018-12-28 17:14] #101 closed

[2018-12-28 19:31] AndreaBarr commented on #309
@sonika24 Could you please investigate this?

[2018-12-28 19:35] AndreaBarr commented on #321
@sonika24 Could you please investigate this issue?

[2018-12-28 19:42] AndreaBarr commented on #332
@MK-Kamal Could you please investigate this?

[2018-12-28 19:48] AndreaBarr commented on #334
@MK-Kamal Could you please investigate this?

[2018-12-28 19:52] AndreaBarr commented on #336
@MK-Kamal Could you please investigate this?

[2018-12-28 20:02] AndreaBarr commented on #338
@MK-Kamal Could you please investigate this?

[2018-12-30 01:29] ge33ek opened #437 "Scenario 1 is incomplete"
Scenario 1 provides no meaningful description or context as to how to configure O365 for this scenario.

If the primary MX server is different, how does one configure O365 to access e-mails addressed to the domain when it is not the authority? Currently the SMTP or EOP service rejects e-mails because it is not the primary MX.

Some meaningful descriptions of how to configure this are required.

--

[2019-01-02 12:35] BharathiAN opened #438 "Need clarity for managed domain"
Hi,
Does MS outlook app supports certificate based authentication for managed domain. This document explains about the federated domain. Need clarity on managed domain.

[2019-01-02 12:36] #438 closed

[2019-01-02 13:43] m49808 opened #439 "No documentation around configuring / setting up MCDB as mentioned in the Preferred Architecture"
The 2019 Preferred Architecture has many references to its new SSD storage tiering and storing the Metacache Database (MCDB) on the SSDs. Great. But i cant find any documentation on how to configure it? Am i missing something? Is this feature available yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ca43756-5b4d-0

[2019-01-02 17:42] chrisda commented on #433
@SquanJRP, it appears that HABs are still only available in the Outlook client; they aren't available in OWA (now known as Outlook on the web).

[2019-01-02 17:42] #433 closed

[2019-01-03 00:08] chrisda commented on #439
@m49808, MCDB is available in Exchange 2019 RTM. The MCDB content is being worked on as we speak (W 1/2). No ETA yet for delivery, but it is coming.

[2019-01-03 14:42] nenonix commented on #437
@ge33ek Thank you for your contribution.  I am going to research this issue and work with you on improving the content.

[2019-01-03 17:56] rtxcupid opened #446 "Holds and mailbox quotas"
In Exchange Online, the default limits for the Recoverable Items quota are the same as Exchange Server: a soft limit of 20 GB and a hard limit of 30 GB. However, the quotas for the Recoverable Items folder are automatically increased to 90 GB and 100 GB, respectively, when you place a mailbox on Litigation Hold or In-Place Hold.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-01-03 18:08] nenonix commented on #415
@dariomws306 Thank you for your feedback. I will work with you to clarify the content. Can you give me some more detail about where this note should appear?

[2019-01-03 18:38] dariomws306 commented on #415
Hi @nenonix , I have done it. You can check it on the step 1:
https://github.com/MicrosoftDocs/OfficeDocs-Exchange/blob/public/Exchange/ExchangeServer2013/understanding-management-role-groups-exchange-2013-help.md#role-group-creation-workflow

It was merged into the public but I don't know why it doesn't appear here:
https://docs.microsoft.com/en-us/exchange/understanding-management-role-groups-ex

[2019-01-03 18:45] nenonix commented on #415
@dariomws306 Great, thank you!

[2019-01-03 20:48] #415 closed

[2019-01-03 21:41] rtxcupid commented on #446
@nenonix Sorry for the confusion. I was referring to the section called Holds and Mailbox quotas and the information within that section. In that section it does not explain that the quotas will automatically increase if an in-place hold is applied to a mailbox.
My initial statement was copied from the recoverable items documentation explaining that. This information should be noted in the quotas

[2019-01-03 21:45] smithre4 commented on #236
Managed contacts can only be created via a managed EAS profile.

[2019-01-03 22:39] chrisda commented on #434
@hsbsandrecv the required permissions break down as follows:

- **Assign Full Access permissions**: You need to be assigned the Mail Recipients role, which you typically get from membership in the Organization Management or Recipient Management role groups.

- **Assign Send As permssions**: You need to be assigned the Mail Recipients role, which you typically get from membership in the Organizatio

[2019-01-03 22:39] #434 closed

[2019-01-04 06:00] Elangamban opened #449 "Tenant to Tenant migration using migration option in EAC"
In the article, the title is referring to "Scenario: Migrate using a third party migration tool", How about the Scenario using the inbuilt migration tool in Office 365 EAC. Will the same CSV file work in that scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59062d31-9618-f316-c6b9-1ed30319aa7f
* Version Indepen

[2019-01-04 08:02] MaximeRastello opened #450 "Update documentation for Exchange Server 2019"
Hello,
Could you please update this doc to reflect the publication of Exchange Server 2019 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ddce84-2ec9-3744-1a3f-20303275affa
* Version Independent ID: 2c5ba0fc-80c4-8de0-61ba-5e73bf558766
* Content: [Hybrid deployment prerequisites](https://docs.microsoft.com/en-us/ex

[2019-01-04 17:17] nenonix commented on #450
@MaximeRastello Thank you for contributing to making MS documents better and more accurate, As a member of the writing team I will research this issue further and post back here when the missing information is reflected in the document.

[2019-01-04 19:06] smiller329 opened #454 "Article needs updated for Windows 10"
The date on the article is 12/21/2018, I expected to find information regarding Windows 10, with links to "Previous versions of Windows 8,7, etc"  Instead it shows that I have to "swipe right", which is obviously a Windows 8 option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 497b0b89-0e74-8e62-296f-0093bfdd84f8
* V

[2019-01-07 04:24] XixiHuang333 opened #459 "completed migration batch"
Hi Team,
Customer has a list of completed migration batch. Those batches were done a few of month ago and the kept staying there. Suddenly some of completed batches were cleaned up by system. This make customer very confused as customer may want to keep the information for migration project. As confirmed, it is part of Migration Service inactive job cleanup. When Migration Service cleanup starts,

[2019-01-07 11:50] bencorley opened #460 "Update with Windows Server 2019"
Please update the article and add Windows Server 2019, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcdf59c9-1922-ecf5-fc36-caafb16423ff
* Version Independent ID: 62557ef7-d03e-50b9-00f7-ffdc244e1fc7
* Content: [Exchange Server Supportability Matrix: Exchange 2013 Help](https://docs.microsoft.com/en-us/exchan

[2019-01-07 14:48] dariomws306 commented on #460
Hi @bencorley , thank you for your contribution, I will research this issue further and post back here when the missing information is reflected in the document.

[2019-01-07 15:31] nenonix commented on #454
@smiller329  Thank you for your helpful feedback. I am going to ask @dariomws306  to look into this. While we research the issue, do you have any specific edits to suggest?

[2019-01-07 15:56] JeroenDronkers opened #461 "Article not complete"
This article should mention that it is not supported to run Hybrid Deployment with 3rd party servers between on-premise and Office 365. We still have customers doing this which breaks hybrid functionality like Anti-Spam cross premise, Auto-accept agent, Moderation of mail, Internal OOF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-01-07 18:02] chrisda commented on #460
@bencorley, we are working on a updated version of the topic that will live in the 2016/2019 content, and this version that lives in 2013 content will be retired and redirected to the new version.

I'll leave this issue open and close/comment when the switch is complete.

Thanks for the feedback.

[2019-01-07 18:07] dariomws306 commented on #460
Hi @chrisda , so it does not make sense to update this article, right? Thanks.

[2019-01-07 19:25] chrisda commented on #460
@dariomws306, correct; don't bother updating the existing topic in the 2013 node.

[2019-01-07 19:25] #410 closed

[2019-01-08 20:18] jonwbstr opened #464 "Exchange admin center missing options"
The "Configure deleted item retention for a mailbox" section describes an area of the exchange admin center that is not available in our tenant. Looks like powershell is the only way to check this now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba50998c-7b9a-bc1f-81af-05ade620793c
* Version Independent ID: 46a00993

[2019-01-08 21:15] chrisda commented on #460
@bencorley, @dariomws306 the topic has been moved, redirected and updated in the Exchange 2016/2019 area. Feel free to make any further corrections there.

[2019-01-08 21:15] #460 closed

[2019-01-09 00:09] r-milne opened #465 "Expand Acronyms"
Please correctly expand all acronyms when they are first used on every page.

Examples

SHCW
RPS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 174147a5-effb-136b-cd43-e4da0c02a27a
* Version Independent ID: 01f56623-efbc-6e8b-766c-691b16f34a13
* Content: [Microsoft Hybrid Agent – Preview](https://docs.microsoft.com/en-

[2019-01-09 00:53] sime3000 opened #466 "Windows 2019 AD Forest Functional Level ?"
Why is a Windows 2019 AD forest functional level listed in the chart above when that FFL does not exist?

Or are you announcing something here ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cb35a6e-8f40-dd57-05e7-a60e18a7ba37
* Version Independent ID: c00115b5-4e3b-7764-8d3f-2023b913ccd0
* Content: [Exchange Server

[2019-01-09 01:16] technion commented on #466
Just came across the same thing. It appears contradictory to support a Windows 2019 AD functional level with Exchange 2016 when Windows 2019 Active Directory servers are not supported with Exchange 2016.

[2019-01-09 01:50] chrisda commented on #466
@sime3000, @technion, it was a copy/paste error. I removed it from the topic.

Thanks for the feedback.

[2019-01-09 01:50] #466 closed

[2019-01-09 10:57] jveynde opened #470 "Direct Send and TLS"
In the compare table and features of Direct send (option 2) TLS is optional.
However in the settings it is configured as Enabled.

Does the change that since October 31st 2018 Office 365 will only allow TLS 1.2 impact this option ?
(As for the SMTP connections?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e4e3f0-b

[2019-01-09 23:18] jremmc opened #472 "Clarification suggestions"
Re: Use batch migration to migrate Exchange 2010 public folders to Exchange 2016 document: Explain why command to look for \ in folder name contains a forward slash / as well, and whether to ignore system public folders. My results only returned system public folders, and the Name did not show a back slash \ , only a forward slash /. And Name did not return enough info to identify the folders, I h

[2019-01-10 08:16] lusassl-msft commented on #465
Done. See pull #469 (https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/469)

[2019-01-10 12:36] donnaTN opened #474 "Shared Mailbox Doesn't Send Deleted "Sent Items" to "Deleted Items" folder"
The above command will send a copy of the email sent from the shared account into the "Sent Items" folder for the shared account.  The problem lies in that if that email is deleted it does not go to the "Deleted Items" folder.  I can see the owners of the shared account accidentally deleting these emails with no way to recover them.  Is there a script for this?

---
#### Document Details

⚠ *Do no

[2019-01-11 13:22] nenonix commented on #446
@rtxcupid  Thanks for the clarity. I apologise for the delay in responding. I will try to reflect this in the content asap.

[2019-01-13 19:40] dariomws306 commented on #127
Hi @Weishaupt and @JeremyTBradshaw , this article was updated to include latest Exchange 2016 CUs. Thank you for your feedbak.

[2019-01-14 13:18] nenonix commented on #472
@jremmc Thank you for contributing feedback to improve Microsoft Docs.. I need your help to reflect this information in the content. Firstly what document are you referring to? (Your issue came directly from GitHub without referencing the document you are referrring to.) If you can provide an URL we can start there. Thank you

[2019-01-14 16:15] jremmc commented on #472
Guess I was not specific enough, here's link: https://docs.microsoft.com/en-us/exchange/collaboration/public-folders/batch-migration-from-previous-versions?view=exchserver-2019 - I used link from that article to get here (to GitHub), I thought it would take me directly to comments for that specific document.

[2019-01-14 16:28] SCS-sysadmin opened #478 "Individual calendar management"
For the note section in purple: did this change? When I look at my Outlook there's no longer a "Default" permission. The article below looks more like mine: "My Organization" instead of Default.

https://support.office.com/en-us/article/share-an-outlook-calendar-with-other-people-353ed2c1-3ec5-449d-8c73-6931a0adab88

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-01-14 16:58] nenonix commented on #472
@jremmc Thanks. Not sure why the article wasn't referenced but now we are on the same page. As a writer I can always use more specifics :) on how you think we can edit the document but I will get back to you if I can't figure it out from here.

[2019-01-14 17:06] #127 closed

[2019-01-14 17:08] kenwith commented on #100
@chrisda is on the Exchange content team and might be able to provide guidance.

[2019-01-14 17:11] khorne3 commented on #478
@SCS-sysadmin Thanks, I'll update doc from 2014 w/ newer instructions.

[2019-01-14 18:13] msdmaguire commented on #100
I can take this one actually.

From: Ken Withee <notifications@github.com>
Sent: Monday, January 14, 2019 9:08 AM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: David Maguire <dmaguire@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] StartDagMaintenance.ps1 and StopDagMaintenance.ps1 are incorrect script names (

[2019-01-14 18:49] kenwith commented on #100
Thanks @msdmaguire !

[2019-01-14 19:30] rpodric commented on #339
Stops...for a while. But it always returns. This feature simply must be flawed.
https://i.imgur.com/aLZj44C.jpg

[2019-01-14 19:32] ravensorb opened #480 "Link the "Managing mailbox database copies" seems to be pointing to an invalid linke"
Right now it is pointing to
http://technet.microsoft.com/library/06df16b4-f209-4d3a-8c68-0805c745f9b2.aspx

looks like it should be pointing to
https://docs.microsoft.com/en-us/exchange/high-availability/manage-ha/manage-database-copies?view=exchserver-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e46eb1c-9e59-6

[2019-01-14 23:13] SquirrelAssassin opened #481 "Code correct?"
Command 1 = Get-AdUser &lt;Identity&gt; | Set-AdObject -Replace @{msExchRecipientDisplayType=-1073741818}  .... this shows as a local on-prem command ....
Command 2 = Get-RemoteMailbox .... this shows as a remote

Both have the same value for displaytype .... so your saying we should make this value the same for All on-prem and All O365?

So we should be running Get-AdUser -filter * | Set-AdObject

[2019-01-15 02:58] useridtaken opened #482 "Imap Importing limitation"

[2019-01-15 03:10] useridtaken opened #483 "Not a issue - Question about limiting IMAP traffic when importing from Google Apps Mail"
Hey everyone!

**Is possible to limit IMAP traffic in Exchange 365 when is synchronizing with gmail IMAP ?**
What I need is avoid reach to Gmail IMAP daily limit of 2500 MegaByte. I've got several account which more than 8 gigs of email.

According to gmail documentation, once an account reach IMAP limit, Google system suspends automatically that account for 24 hours. Administrator can reactivate

[2019-01-15 07:52] lindspea commented on #480
Hi @ravensorb.  Thank you for your valuable contribution and suggestion in trying to improve MS docs.  I will investigate and update the link.

[2019-01-16 05:37] dstrome opened #486 "test issue"

[2019-01-16 18:18] kpizaaz commented on #311
By chance, will the new changes allow us to determine what type of device is running the Outlook Mobile app.  For instance, in the DeviceModel field of EAS logs will we be able to determine device models such as iPhones or Androids which are running the APP?

[2019-01-16 19:28] miketheitguy opened #488 "Hybrid Deployment/Schema Preparation"
Hi! This document doesn't seem to take into account the situation/instructions provided here:

https://support.microsoft.com/en-us/help/3121439/error-when-you-run-setup-prepareschema-to-prepare-the-schema-for-an-ex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f347a03-e2c5-5ae2-e409-ddb6d544ccfd
* Version Independent

[2019-01-16 19:31] miketheitguy commented on #488
Mostely, the doc is separated into Step 1 and Step 2. The error, however, will occur at Step 1 before Step 2 is reached, and Step 2 is the only place where the Tenant Org config is mentioned in the doc.

[2019-01-17 00:37] curspice opened #489 "Text boxes"
Some regular text shows up in script boxes.  It would be nice if that were to be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5fa52a5-478a-21ad-0b16-5a114aca76e2
* Version Independent ID: 59c84b80-c5eb-3da4-77ab-8ab99d0ad139
* Content: [Restore data using a recovery database](https://docs.microsoft.com/en-us/

[2019-01-17 00:41] curspice opened #490 "Missing UR"
Exchange 2010 SP3 UR25 is not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf984bf-df1c-bcd5-6475-54b9ef24fe74
* Version Independent ID: 00547ab9-7b3b-f6b0-fa7f-429f5e2bea56
* Content: [Exchange Server build numbers and release dates](https://docs.microsoft.com/en-us/exchange/new-features/build-numbers-and-r

[2019-01-17 07:13] lindspea commented on #490
Hi @curspice. Thank you for your valuable contribution in improving MS docs.  I will have the missing Exchange added as soon as possible.

[2019-01-17 15:23] lindspea commented on #490
@curspice  Please could you let me know where you see UR 25?  Is it on Microsoft Update Catalog? I can't seem to find it.

[2019-01-17 19:16] chrisda commented on #490
@lindspea, I saw mention of it in an MVP thread. It was released on 1/8: https://www.microsoft.com/en-us/download/details.aspx?id=57759.

[2019-01-17 19:51] dariomws306 commented on #472
Hi @jremmc , thanks for you feedback.

I have updated the command, now this will identify the migration mailbox and where it's placed.

About the reason to look for \ and / is because if you don't remove them from the public folders name, it will create the PFs on the parent directory in Exchange 2016.

"Get-PublicFolder -Recurse" doesn't return system public folders by default (you should use "Ge

[2019-01-17 19:54] curspice commented on #490
Lindsay,

I was surprised as well.  It was just released.

https://support.microsoft.com/en-us/help/4468742/update-rollup-25-for-exchange-server-2010-service-pack-3

https://www.microsoft.com/en-us/download/details.aspx?id=57759

Ed Crowley (MVP)

From: Lindsay <notifications@github.com>
Sent: January 17, 2019 7:23
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc:

[2019-01-17 20:06] nenonix commented on #489
@curspice  Thank You for pointing this out, Please check back once the changes are merged and let us know if that works for you.

[2019-01-17 20:21] curspice commented on #489
Nicole,

Just trying to make things better!  It’s great that you guys have been so responsive!

Ed Crowley, MVP

From: Nicole Turner <notifications@github.com>
Sent: January 17, 2019 12:06
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: curspice <ejc2@pacbell.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] Text boxes (#

[2019-01-17 20:21] danmyhre opened #494 "Rollout Best Practices"
Please add details on what the best practices are for installing a CU.  For example, how many servers can you run the on at once?  What install order?  Support for patched and unpatched servers in the same org?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d97c4a4-4693-0248-eb53-081673d56dd2
* Version Independent ID:

[2019-01-17 21:17] dariomws306 commented on #175
Hi @tszafran , thanks for your feedback.

Any server using the standard IMAP protocol is supported, so you can use it to migrate from Sun Java System Messaging Server 6.3. You should use the CSV format you can see in the article.

[2019-01-18 02:11] ac10000 opened #496 "this page seems very outdated"
this page seems very outdated
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b221cd8e-e6d1-e383-65a2-11f7241de966
* Version Independent ID: cf978d97-c1e6-f0b7-7407-4f70d2284d17
* Content: [OWA for Devices contact sync](https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online

[2019-01-18 05:41] Sumeetshinde18 opened #497 "Does not work if any organisation has Primary and secondary hierarchy of Public folder."
[https://docs.microsoft.com/en-us/exchange/collaboration-exo/public-folders/batch-migration-of-exchange-2013-public-folders#step-4-create-the-public-folder-mailboxes-in-exchange-online](url)

Above code throw error when Exchange on-premises has two Public folder Mailbox . I.e Primary and secondary Hierarchy.

It basically mapped primary but in case of secondary mapping it throws error. Does any on

[2019-01-18 05:50] robbo600 commented on #193
Looks like the command/module has been deprecated/replaced, new module that needs importing is located below with a new syntax too...

`C:\Program Files\Microsoft Azure Active Directory Connect\AdSyncConfig\AdSyncConfig.psm1`

[code]

[2019-01-18 06:51] lindspea commented on #490
@curspice Excellent!  Thank you so much.  Working to have it added to the list now.

[2019-01-18 10:18] sub2d opened #499 "Monitor effectiveness of the client access rule"
I can create rule. Test condition to verify if it works. However, how can I historically audit to see, for example how many attempts have I blocked? In other words how can we validate effectiveness of a rule. There are no metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32e2775b-5234-4f90-ee01-304ce2545fd0
* Ver

[2019-01-18 19:35] TimHL opened #500 "mail-enable an existing security group"
Would be nice to know what Exchange's delivery behavior will be when it encounters non-mail-enabled users that are members of the mail-enabled security group.  For example, "Exchange will/will not generate a delivery failure report for non-mail-enabled members of the security group", and "When a new message is being addressed to the security group, and the user expands its membership in the To: fi

[2019-01-18 20:14] kenwith commented on #193
@dstrome - @dariomws306 is helping to solve this issue but is struggling with getting a sample environment setup to validate since it is a very complex scenario that will require a public cert. He has been researching and THINKS this will work ( http://blog.icewolf.ch/archive/2018/12/03/azure-active-directory-connect-group-writeback.aspx ) but want's to get your thoughts and figure out how we can

[2019-01-18 21:34] dariomws306 commented on #303
Hi @perhof , thank you for your feedback. I am removing Windows Server 2003 from this article.

[2019-01-19 03:16] ccc01 opened #502 "Jrjciv"
Hdkei

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a06b2f67-947e-36cc-12e7-bdd2d6aa86d4
* Version Independent ID: 4a067f56-2d93-41c5-d0b3-27061b9c01af
* Content: [Search message tracking logs](https://docs.microsoft.com/en-us/Exchange/mail-flow/transport-logs/search-message-tracking-logs?view=exchserver-2019#use-the-

[2019-01-19 03:19] #502 closed

[2019-01-19 04:46] austinmccollum opened #503 "Should warn about port 25 being blocked"
Great article on testing Exchange in Azure VMs, but a warning would be helpful about port 25 outgoing being blocked and without exception for certain subscriptions. https://docs.microsoft.com/en-us/azure/virtual-network/troubleshoot-outbound-smtp-connectivity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45c04a0-138f

[2019-01-21 06:59] brolifen commented on #450
Not only that can it also include whether or not HCW can run on an Exchange 2019 installed on Windows Server Core.

[2019-01-21 09:02] pier62350 opened #506 "Wrong Exchange Powershell defined"
Hello!
In the part "2. Set up your email server to relay mail to the Internet via Office 365", The documentation said we need to create send connector on the On-Premise Exchange Server... Using Exchange Online Powershell.. It can drive some administrators Crazy!
So please use your Exchange Management Shell to run the "New-SendConnector -Name &lt;DescriptiveName&gt; -AddressSpaces * -CloudServicesM

[2019-01-21 14:55] deegee72 opened #507 "Exchange 2016 CU 11 .Net 4.7.2 Support"
Is .Net 4.7.2 supported in CU11?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-c046-ac148d95a102
* Version Independent ID: 8a61dd1e-1ba1-1c32-acd2-4e1b25da43a5
* Content: [Exchange Server 2019 system requirements, Exchange 2019 Requirements, Exchange 2019 Memory Requirements, Exchange 2019 Client Co

[2019-01-22 18:17] chrisda commented on #506
@pier62350, this was evidently a global search and replace typo. I fixed it.

Thanks for the feedback.

[2019-01-22 18:17] #506 closed

[2019-01-22 21:12] MK-Kamal commented on #507
Hello @deegee72
Yes Exchange 2016 CU11 or later Support  .NET Framework 4.7.2 Please find below Article Exchange Server supportability matrix

https://docs.microsoft.com/en-us/Exchange/plan-and-deploy/supportability-matrix?view=exchserver-2019#Microsoft%20.NET%20Framework

[2019-01-22 21:25] steven-snider opened #509 "Missing VC2012 pre-requisite for Exchange 2016"
Recent updates to Exchange 2016 installations have changed the Visual C 2012 as a prerequisite to installation.  The docs site needs to be updated to reflect the new prerequisite.

Blog reference which outlines the changes to VC 2012 requirements which needs to be included in the article:
https://blogs.technet.microsoft.com/exchange/2018/10/16/released-october-2018-quarterly-exchange-updates/

[2019-01-23 15:22] TimHL commented on #500
Thank you, Chris Davis, that’s very helpful!

Tim Hansen

From: Chris Davis <notifications@github.com>
Sent: Tuesday, January 22, 2019 6:23 PM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Mention <mention@noreply.github.com>; Tim Hansen <Tim.Hansen@WICOURTS.GOV>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] mail-enable an existing security group (#500)

@Ti

[2019-01-23 18:03] snipazer opened #512 "Scripts link doesn't work"
Link for the scripts doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a91350-4f21-d657-2a17-4700fce20acb
* Version Independent ID: 47f55e0e-a94b-c435-9174-c78d107e20c6
* Content: [Configure Exchange Server public folders for a hybrid deployment](https://docs.microsoft.com/en-us/exchange/collaboration-exo/

[2019-01-24 01:42] dariomws306 commented on #449
Hi @Elangamban , thanks for your feedback. It's not possible to use Office 365 EAC for cross tenant migration. You have to use a third party tool, now it's the only way.

(there are some rumors that Microsoft is working on it)

[2019-01-24 08:44] lindspea commented on #512
@snipazer Thank you for pointing this out and for your valuable contribution in helping improve MS docs.  Please check this link and see if it works: https://www.microsoft.com/en-us/download/details.aspx?id=46381

[2019-01-24 08:44] lindspea commented on #512
@AndreaBarr @scanum please assign to me.

[2019-01-24 17:14] LDolce opened #514 "A positional parameter cannot be found that accepts argument "[byte[]]""
When starting the migration request using:

_$PfEndpoint = New-MigrationEndpoint -PublicFolder -Name PublicFolderEndpoint -RemoteServer $Source_RemoteServer -Credentials $Source_Credential
[byte[]]$bytes = Get-Content -Encoding Byte <folder_mapping.csv>
New-MigrationBatch -Name PublicFolderMigration -CSVData $bytes -SourceEndpoint $PfEndpoint.Identity -NotificationEmails <email addresses for migra

[2019-01-24 21:00] #303 closed

[2019-01-24 21:14] #449 closed

[2019-01-24 21:55] dariomws306 commented on #436
Hi @chrisda , do you need help with this? Thanks.

[2019-01-24 22:02] dariomws306 commented on #404
Hi @chrisda , I think we can close it. Thanks.

[2019-01-25 00:09] chrisda commented on #436
@dariomws306, by all means, feel free work on this (and assign it to yourself). Thanks!

[2019-01-25 00:10] #404 closed

[2019-01-25 03:35] JeremyTBradshaw opened #517 "Microsoft recommended best practice?"
Hello,

I'm wondering if Microsoft recommends one vs the other as a best practice between assigning recipient permissions directly to users or to a security group.

My opinion is that direct offers more benefits and the security group approach is more of a carryover from Active Directory resource permissions best practices (shares, printers, etc.), which doesn't quite hold as much value in Exchang

[2019-01-25 12:18] Jason9973 opened #519 "Require Third Party Tools?"
Hello Microsoft,
These days Mergers and Acquisitions of companies owning O365 is becoming commonplace.  I cannot understand after all of the years of feedback from customers why Microsoft has no native tools to accomplish this routine task?  Playing around with export/imports of PST's is no solution unless you only have a few mailboxes.  Right now I already own a market leader tool for Sharpoint m

[2019-01-25 15:48] lindspea commented on #512
@AndreaBarr @scanum you can close this issue, thank you.

[2019-01-25 16:46] #512 closed

[2019-01-25 16:58] #164 closed

[2019-01-25 17:54] AndreaBarr commented on #236
@pedrr it looks like this issue has been resolved. I am going to close this issue at this time. If this is not resolved please re-open this issue.

[2019-01-25 17:54] #236 closed

[2019-01-25 19:39] QuyenNguyenCDA commented on #174
Ok

[2019-01-25 19:41] QuyenNguyenCDA opened #522 "Hi Idols"
[Enter feedback here]

---
#### Document Details

Enable. It is required for docs.microsoft.com ➟ GitHub issue linking.*Uploads allways days

* ID: 4c41fca7-c13b-20fe-83e6-34d91c5f9227
* Version Independent ID: 0844eadb-236e-15cb-5bbf-4963dc30a347
* Content: [Exchange Server Privacy Statement](https://docs.microsoft.com/en-us/Exchange/about-documentation/privacy-statement?view=exchserver-2019#for-

[2019-01-25 19:42] QuyenNguyenCDA commented on #522
I’m the Devil

[2019-01-25 22:37] msdmaguire commented on #459
@XixiHuang333 Thanks for pointing this out. The article has been updated to be more clear about expiration of batches, depending on their status. You should see changes within a day.

[2019-01-25 22:37] #459 closed

[2019-01-26 01:07] chrisda commented on #517
@JeremyTBradshaw, I don't think we recommend one way vs. the other. It's a venerable old IT axiom that it's always 'better' and certainly easier to assign permissions to groups, because it's so much easier to add or remove permissions for a user simply by adding them to or removing them from the proper group (even if that group only contains one person).

So, I would say Microsoft is rather agnost

[2019-01-26 01:07] #517 closed

[2019-01-26 01:31] chrisda commented on #233
@nschonni, I'm recategorizing this as "Won't Fix". I brought this up, and the response for clean-up was underwhelming. Nothing is going to be done about it.

[2019-01-26 01:31] #233 closed

[2019-01-26 01:32] chrisda commented on #436
@matthieumartineau topic was update per PR #521. Closing

[2019-01-26 01:32] #436 closed

[2019-01-26 01:34] chrisda commented on #509
@steven-snider the topic has been updated in accordance with the blog post.

Thanks for the feedback.

[2019-01-26 01:34] #509 closed

[2019-01-26 02:03] rdiazel commented on #339
for anyone facing password spray attacks, I recommend opening a case with MS support. Many different ways can be used for that not only using Exchange legacy clients. I have seen this happening using RDP or going through SSCM. Investigation is required.

[2019-01-26 03:03] rpodric commented on #339
They were of no help and just engaged me in a circular discussion over a period of days.

In this case, it's really easy to see exactly what they use in the attacks, since the AAD logs mention it by name: IMAP.  Using RDP would be difficult without an RDS to attack.

[2019-01-26 14:03] dariomws306 commented on #437
Hi @ge33ek , thank you for your feedback. I am adding the article "Set up connectors for secure mail flow with a partner organization" in the "See also" section. There you can see more information about how to configure O365 connector for this scenario.

Also I have to suggest that you check your Hosted Email Security provider documentation, they have different recommendations. For example:
https:

[2019-01-27 11:17] XixiHuang333 commented on #459
Thanks for your update!

Regards,
Xixi Huang

From: David Maguire <notifications@github.com>
Sent: Saturday, January 26, 2019 6:38 AM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Xixi Huang <xixih@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Exchange] completed migration batch (#459)

@XixiHuang333<https://nam06.s

[2019-01-28 16:27] W2MPorter opened #524 "no email address accepted"
Can’t sign into my account. Every email address is rejected. Even having clicked “Can’t access your account,” even for the address on my monthly bills, I get an error message that personal and school accounts aren’t accepted.

[2019-01-28 16:53] amystrable commented on #309
Hi - is there an update on this documentation? We are looking for information on how intra-organization (cloud user to cloud user) email is routed in a hybrid deployment with centralized mail transport turned on. I cannot find documentation that states whether these messages stay in Exchange Online and are delivered between two users directly or whether they are routed back to on-premise before be

[2019-01-28 17:47] #489 closed

[2019-01-28 17:47] #454 closed

[2019-01-28 17:47] #472 closed

[2019-01-28 17:48] #437 closed

[2019-01-28 20:37] ThemDiversity opened #525 "powreshell command wrong"
the powershell line of code
Invoke-MonitoringProbe UM.CallRouter\UMCallRouterTestMonitor -Server server1.contoso.com | Format-List
 is wrong
it should  be

Invoke-MonitoringProbe UM.CallRouter\UMCallRouterTestProbe -Server server1.contoso.com | Format-List and you need to have the test extensions  listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-28 22:07] #486 closed

[2019-01-29 01:56] sulobr opened #527 "adding more details"
In the above article, is it possible to add details/Note as below? I am not sure if this is going to be internal only information but if we can add some  information on this, it will be helpful as none of our current documentation talk about this and customer open support ticket seeking clarification on expected behavior.

These were the findings from engineering team from discussion under VSO
Iss

[2019-01-29 09:45] mobernberger opened #528 "URL for new agent isn't working"
Hi,
the URL https://aka.ms/modernhybrid isn't working correctly and is redirected to this documentation page instead of the new Agent download page. Could you please correct the Redirection.
Thanks
Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 174147a5-effb-136b-cd43-e4da0c02a27a
* Version Independent ID: 01f5

[2019-01-29 09:51] Raton-Laveur opened #529 "Incomplete step : proxy mailbox creation without providing an email address"
Step 1.3 states an incomplete Exchange PowerShell command : "New-Mailbox -Name &lt;PFMailbox1&gt; -Database &lt;NewMDBforPFs&gt;"  should be "New-Mailbox -Name &lt;PFMailbox1&gt; -Database &lt;NewMDBforPFs&gt; -EmailAddresses PFMailbox1@domain.com -UserPrincipalName PFMailbox1@domain.com -password password ".
As it is, Exchange PowerShell asks for missing parameters Password and UserPrincipalName,

[2019-01-30 01:13] jantoney opened #530 "Verify command failing"
Verify command failing. The enable works, but when you try to verify it comes up as below:

PS C:\WINDOWS\system32&gt; Get-OrganizationConfig | Format-Table -Auto Name,OAuth*
out-lineoutput : The method or operation is not implemented.
    + CategoryInfo          : NotSpecified: (:) [out-lineoutput], NotImplementedException
    + FullyQualifiedErrorId : System.NotImplementedException,Microsoft.Pow

[2019-01-30 05:49] lin-art opened #531 "AccountType"
com.microsoft.outlook.EmailProfile.AccountType accepts "ModernAuth" as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 959f9d6d-c4a9-ad1e-51ef-2d949e90a103
* Version Independent ID: 0c6ee675-e3f1-81e8-0bb0-e274826f87eb
* Content: [Account setup in Outlook for iOS and Android using Basic authentication](https://doc

[2019-01-30 05:56] joinimran commented on #524
Can you please confirm on which portal you are trying to log in?

[2019-01-30 09:42] lindspea commented on #323
@thomashvmw Please can you confirm the article you are referring to so that I can have this sorted as soon as possible. Thank you for your valuable contribution in helping improve MS Docs.

[2019-01-30 18:49] #480 closed

[2019-01-30 18:49] #490 closed

[2019-01-30 18:51] danmyhre opened #532 "Clarity Needed"
It is not clear on this document or in the HCW which endpoints must be exposed to the internet for hybrid mail flow between EXO and on-prem exchange.  For example, the HCW has you pick 1:M servers to host the receive connector. So do each of those require a public IP that EXO can connect to directly?  Then the HCW asks for your environments FQDN and says it is using that for mail flow.  Which is i

[2019-01-30 19:04] danmyhre commented on #309
Any update on this?

Based on this: "Except for messages sent to other recipients in the same Exchange Online organization, all messages sent from recipients in the Exchange Online organization are sent through the on-premises organization."

it seems that EXO to EXO mails would NOT be routed through central transport.  Please confirm.

[2019-01-30 19:05] danmyhre commented on #309
Also, if that is actually the case, it should be noted that any compliance archiving needs to happen in both organizations (EXO and on-prem).  Care will need to be taken to avoid duplicates because of this scenario.

[2019-01-30 19:07] chrisda commented on #530
@jantoney, the command worked fine for me on a Windows 10 1809 PC connected to a tenant.

The only part of the command that could be a bit weird is the placement of the -Auto switch; it really belongs at the end, so I moved it there.

As far as the rest, even if you run the command:

[code]

you won't get an error; the command will simply return empty output like this:

[code]

[2019-01-30 19:07] #530 closed

[2019-01-30 19:16] danmyhre opened #533 "Details on EXO to On-Prem Transport"
Can you add some details on how EXO determines what endpoint (DNS name) is used to deliver mail to the on-prem org?  Is it always only the "Organization FQDN" that is setup in the hybrid configuration wizard?  If that is the case, should a dedicated DNS/VIP be setup on the load balancer to only include the servers that are setup with the receive connector that were configured in the HCW?  Are ther

[2019-01-30 19:23] danmyhre opened #534 "High Availability Details Needed"
How to make hybrid connectivity highly available
- multiple paths / load balancing for SMTP from EXO to on-prem
- EWS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ec121a3-cccf-1164-777e-be5e4dc9d2c5
* Version Independent ID: 37c911be-c56e-8975-260b-6f8ddc497ee9
* Content: [Hybrid Configuration wizard FAQs](https://d

[2019-01-30 20:44] lindspea commented on #373
@sm5por. Hi Anders.  Please can you confirm if this issue has been resolved.  If not I would like to investigate further for you to have it resolved soonest.

[2019-01-30 21:01] msdmaguire commented on #429
@hmoffatt  Thanks for the feedback. I checked with the product group. Outlook for iOS and Android (Outlook mobile) has always been a cloud-backed application. Processing information in our service fabric enables advanced features and capabilities, such as the categorization of email for the Focused Inbox, improved search speed, artificial intelligence scenarios, and more. It enhances Outlook’s per

[2019-01-30 21:01] #429 closed

[2019-01-30 21:04] msdmaguire commented on #531
@lin-art Yes it does. We have that documented in http://aka.ms/omappconfig. Thanks for your feedback.

[2019-01-30 21:04] #531 closed

[2019-01-31 02:05] danmyhre opened #536 "More details needed"
Please explain this more:

On the Organization FQDN page, enter the externally accessible FQDN for your Internet-facing Exchange server. Office 365 uses this FQDN to configure the service connectors for secure mail transport between your Exchange organizations. For example, enter "mail.contoso.com". Click Next.

For most organizations, "mail.domain.com" would be pointing to the hardware load balan

[2019-01-31 02:07] danmyhre opened #537 "Screenshots"
Add screenshots of what the user flow will look like

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f30c4fd6-0e69-cb9a-6a21-327f0ebae3a7
* Version Independent ID: d0217aa4-a37b-8837-4310-108fbf533a5d
* Content: [Simplify the Outlook Web App URL for Office 365 Hybrid](https://docs.microsoft.com/en-us/exchange/hybrid-dep

[2019-01-31 02:09] danmyhre opened #538 "Mail flow"
How about adding some details for troubleshooting hybrid mail flow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe9b5a0-e41d-b92a-b221-cc12a3945618
* Version Independent ID: 6ff00d15-7376-c2b6-0d3f-c71a5ff1c7dd
* Content: [Troubleshoot a hybrid deployment](https://docs.microsoft.com/en-us/exchange/hybrid-deployment/

[2019-01-31 09:14] Pulsarrrr opened #541 "Support for Office 365 in mail flow conditions and exceptions"
Microsoft is putting a lot of effort into encouraging people to make a transition from distribution groups to Office 365 groups. It would not make any sense if the mail flow rules in EAC did not support Office 365 groups.
I have successfully tested Office 365 groups, and they can be added to all the group-related conditions (such as The sender is a member of...). The only issue is that, by default

[2019-01-31 09:29] ran-dall opened #542 "Broken Link: Supported Browsers for Outlook Web App"
This link for [Supported Browsers for Outlook Web App](https://go.microsoft.com/fwlink/p/?LinkId=402700); that should display the browser the requirements for the ”Outlook Web App” isn’t working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fe03d3b-31dc-90a2-2a78-1e48947b86d8
* Version Independent ID: 2873f6e9-6979-

[2019-01-31 14:09] stevep4 opened #543 "ToolTips on non enrolled devices (pretty please)"
"com.microsoft.outlook.Mail.ExternalRecipientsToolTipEnabled"
"This capability only works with enrolled devices"

Any idea why? Will that change?
We have many users using the Outlook app via MAM-WE and it'd be great to have the tool tips available, but it seems we can't...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-31 21:19] TokyoScarab commented on #482
Hello! You didn't seem to elaborate on the issue with a description.  In order for us to help you, we will need you to explain, in detail, what the problem is you are having. Thanks!

[2019-01-31 21:49] TokyoScarab commented on #465
There were a few missed. See pull [#545](https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/545)

[2019-02-01 03:46] afield1235 commented on #339
Thinking about doing this but if it's not helping then there is no point. MFA and Conditional access only kick in after Successful login, they are essential but only part of the inner layer. The spray attacks are brutal and locking every senior  account. Every IP in the world, China, Brazil, Nigeria, etc. They are all the IMAP protocol which I would block along with POP, we still have too many leg

[2019-02-01 03:48] benediktbrandt commented on #212
@AndreaBarr The article is still incomplete

[2019-02-01 03:48] afield1235 commented on #339
Also you need to pay for support now apparently separately if you want to try and resolve this with the Azure AD team. Office365 and Azure AD Premium is not enough anymore, that is really disappointing.

[2019-02-01 04:44] rpodric commented on #339
IMAP seems to be their go-to (I'm not sure if I've ever seen an attack using anything else), so if disabling that isn't disruptive, you have nothing to lose by doing it.

Just don't be surprised if the logs still look ugly, since they probably will, defying my understanding of this feature.

[2019-02-01 06:20] mohanra1 opened #546 "Complete-MigrationRequest"
This is not a valid command. please correct the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c92752-7e76-3f33-2e93-42eb13e63a1a
* Version Independent ID: 0b4de7ea-4982-30a3-4c69-b42dcfa73416
* Content: [Manage on-premises mailbox moves in Exchange Server](https://docs.microsoft.com/en-us/exchange/arch

[2019-02-01 07:05] lindspea commented on #323
@thomashvmw We would really like to get this resolved for you so if you still need assistance please re-open the issue when you have the additional information for us and we will gladly assist.

[2019-02-01 07:05] lindspea commented on #323
@AndreaBarr @scanum You can close this issue.

[2019-02-01 11:02] OfficeGSX commented on #265
Hello,

The translation was updated and the reported string is no longer present in the article. This is not repro.

Best regards,

Jiri

[2019-02-01 12:03] OfficeGSX commented on #237
Hello,

The reported translation is no longer present in the article, therefore we cannot fix the issue.

Best regards,

Jiri

[2019-02-01 12:03] OfficeGSX commented on #238
Hello,

The reported translation is no longer present in the article, therefore we cannot fix the issue.

Best regards,

Jiri

[2019-02-01 12:07] OfficeGSX commented on #245
The suggested translation was implemented and is visible on the live site see the screenshot below. We have also uplifted the topic to HT since the topic was previously MT.

![image](https://user-images.githubusercontent.com/16706698/52122088-0f5ce300-2622-11e9-9409-3f65fe3113d0.png)

Best regards,

Jiri

[2019-02-01 12:11] OfficeGSX commented on #257
The suggested translation was implemented and is visible on the live site see the screenshot below. We have also uplifted the topic to HT since it was previously MT.

![image](https://user-images.githubusercontent.com/16706698/52122302-d5401100-2622-11e9-8ebf-2302f8363244.png)

Best regards,

Jiri

[2019-02-01 12:13] OfficeGSX commented on #264
The suggested translation was implemented and is visible on the live site see the screenshot below. We have also uplifted the topic to HT since it was previously MT.

![image](https://user-images.githubusercontent.com/16706698/52122394-23551480-2623-11e9-8210-a870cb86602b.png)

Best regards,

Jiri

[2019-02-01 12:20] OfficeGSX commented on #313
Hello,

We have uplifted the topic to HT and it will be translated by us.

Best regards,

Jiri

[2019-02-01 12:34] NavishkarSadheo opened #549 "Monitoring mailboxes on litigation hold."
The article states - "We recommend that you monitor mailboxes that are placed on Litigation Hold on a weekly basis to ensure they don't reach the limits of the Recoverable Items quotas."

How does one goes about monitoring this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbbc82b-b1c8-f2b7-9f57-9fa9137305a3
* Versi

[2019-02-01 12:37] NavishkarSadheo opened #550 "Monitoring mailboxes on litigation hold"
The article states - "We recommend that you monitor mailboxes that are placed on Litigation Hold on a weekly basis to ensure they don't reach the limits of the Recoverable Items quotas."

How does one goes about monitoring this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f9f27d-572d-f259-cf1c-12697ddf6fcc
* Versi

[2019-02-01 13:42] mailgut opened #551 "Re-enable an archive mailbox"
Re-enable an archive mailbox -&gt; the sugestet soluton does not work. You willl get an empty Archiv. You say the following:
you can have Exchange automatically select a mailbox database for the re-enabled archive mailbox or you can click Browse to specify one.
-&gt; If you selct a different mailboxdatabas as the original -How should the contens of the deleted Archiv get into the new Archive?

A s

[2019-02-01 14:24] mattdreher opened #552 "Wrong information in Supported Active Directory environments?"
When trying to install the AD Schema updates, your information seems to be wrong.  When I install 2016 CU 11, it doesn't work on Windows Server 2008 (not R2) as it indicates it will on your chart.  The information in your chart conflicts with information from https://docs.microsoft.com/en-us/Exchange/plan-and-deploy/system-requirements?view=exchserver-2016

---
#### Document Details

⚠ *Do not edi

[2019-02-01 14:26] mattdreher opened #553 "AD Schema information conflicts with your on websites."
The information here conflicts with information from https://docs.microsoft.com/en-us/exchange/plan-and-deploy/supportability-matrix?view=exchserver-2019#supported-active-directory-environments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-c046-ac148d95a102
* Version Independent ID: 8a61dd1e-1ba1-1c

[2019-02-01 17:16] AndreaBarr commented on #212
@msdmaguire Any updates on this?

[2019-02-01 17:18] #323 closed

[2019-02-01 18:51] #245 closed

[2019-02-01 19:38] jdkc4d opened #554 "Good first step"
As a 2nd step, I would like to see the opposite as well. Emails that come in from non-tenant email addresses should come with a banner at the top indicating that it is an outside email and to be careful in case its spam.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76073a9f-750e-fe8d-cc6b-e74a76e82f5b
* Version Indep

[2019-02-01 22:38] TokyoScarab commented on #461
Hello!  Thank you for pointing this out.  We will update the page to better clarify the issue.

[2019-02-01 22:46] TokyoScarab commented on #464
Hello!  Would you be able to clarify that the version of Exchange that you're using matches the version of Exchange that is being used in the page that you are referencing?  Please get back to me when you can so that we can fully address your issue.  Thanks!

[2019-02-01 22:54] dariomws306 commented on #514
Hi @LDolce , thank you for your feedback.

Could you let me know where you found these cmdlets? Thank you!

[2019-02-01 23:06] dariomws306 commented on #503
Hi @austinmccollum , good finding. Thank you for your contribution!

I will update this article to add a note about this.

[2019-02-01 23:08] dariomws306 commented on #503
I am adding this article to See also section, what do you think? Thanks.

[2019-02-01 23:22] dariomws306 commented on #286
Hi @SYSprime , thank you for your feeback.

Could you elaborate further?

I think you cannot use these properties name in different language.

[2019-02-02 01:06] chrisda commented on #464
@jonwbstr, you used the word "tenant" which I interpret to mean you're using Exchange Online. The topic you referenced is an Exchange Server 2016/2019 topic in the Exchange Server 2016/2019 area of docs.microsoft.com. That would explain why your EAC UI is different. Were you linked to this on-premises topic from a link an Exchange Online topic?

[2019-02-02 07:16] lindspea commented on #373
@sm5por. Hi Anders.  If this issue has not been resolved yet, please re-open the issue and we will gladly assist to have it sorted as soon as possible.

[2019-02-02 07:16] lindspea commented on #373
@scanum  @AndreaBarr this can be closed.

[2019-02-02 16:17] tseward commented on #446
@rtxcupid I placed a single mailbox on hold and I'm not seeing the values for `RecoverableItemsWarningQuota` or `RecoverableItemsQuota` changing from 20GB and 30GB, respectively. This is on Exchange 2019 RTM.

Can you outline the process you took (preferably PowerShell) to see the quota automatically increase?

[2019-02-02 18:00] scanum commented on #461
A PR has been created #555

[2019-02-02 19:43] MK-Kamal commented on #542
Hi @ran-dall  Thank you for your contribution!
I will update this article with the  correct Url .

https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/558

Thanks

[2019-02-02 21:13] mjafferx opened #559 "Microsoft Remote Connectivity Analyzer is down"
Microsoft Remote Connectivity Analyzer is down with a service unavailable 503 error for the last two days. Can someone please reset it? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ddce84-2ec9-3744-1a3f-20303275affa
* Version Independent ID: 2c5ba0fc-80c4-8de0-61ba-5e73bf558766
* Content: [Hybrid deployment

[2019-02-02 22:51] tfcarlin opened #560 "App Passwords"
Unfortunately App Passwords are no longer available on Google account that are set to use Security Key only. Maybe time to update your software to a more modern API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62f5860-4f99-6794-f8d6-2207b7f19979
* Version Independent ID: c28b87f8-1984-6522-021f-bae92e46d08c
* Conte

[2019-02-03 03:59] deonlewisduke commented on #212
We are working on I.T.! )+(

[2019-02-03 14:41] JeremyTBradshaw opened #561 "Recreate Discovery system mailbox command is missing."
That section has the setup.exe /prepareAD steps but looks like the mailbox enable command was forgotten.  This works:

Enable-Mailbox "SystemMailbox{e0dc1c29-89c3-4034-b678-e6c2
9d823ed9}" -Discovery -Database MDB001

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca0013eb-5599-a907-9869-569f40f1e725
* Version Independe

[2019-02-03 18:17] kevinblumenfeld commented on #8
@kenwith @nicsi1987 why was this closed?

[2019-02-03 18:42] TokyoScarab commented on #474
Here is a link that should be exactly what you are looking for.  If, for some reason you are still having trouble, please post a comment and we will get back to you.  Thanks!
https://support.microsoft.com/en-us/help/202517/items-that-are-deleted-from-a-shared-mailbox-go-to-the-wrong-folder-in

[2019-02-03 20:11] TokyoScarab commented on #470
Yes, the October 31st, 2018 update reflects a big change in how TLS compatibility will be in Office 365 going forward.  You can read a full, detailed description of this change [here](https://support.microsoft.com/en-us/help/4057306/preparing-for-tls-1-2-in-office-365).  I hope this answers your question.  Thanks!

[2019-02-04 07:55] NavishkarSadheo commented on #549
Thanks for getting back to me. I actually made an error and posted my question in the wrong article. I mean't to ask this question here - https://docs.microsoft.com/en-us/exchange/policy-and-compliance/holds/litigation-holds?view=exchserver-2019&viewFallbackFrom=exchonline-ww

Thanks for getting back to me thou.

[2019-02-04 15:48] slaFFik opened #563 "Typo: Mil flow => Mail flow"
"go to Mil flow &gt; Connectors" should be "go to Mail flow &gt; Connectors".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e4e3f0-bb9c-cca0-9343-49926262caba
* Version Independent ID: 75645bf5-f9a5-b5b9-d9e6-856e32ffc97f
* Content: [How to set up a multifunction device or application to send email using Office 365]

[2019-02-04 17:01] #373 closed

[2019-02-04 20:16] chrisda commented on #563
@slaFFik, updated.

[2019-02-04 20:16] #563 closed

[2019-02-04 20:40] chrisda commented on #561
@JeremyTBradshaw, looking at the topic and also the [2013 version](https://docs.microsoft.com/exchange/re-create-the-discovery-system-mailbox-exchange-2013-help), the implication appears to be that running Setup.exe /PrepareAD in and of itself will **automatically** recreate the mailbox. Are you saying that's incorrect?

[2019-02-04 20:48] chk1982 opened #565 "Please elaborate on clients"
Hello,

Regarding the Client Considerations section:

"For Outlook 2010 and Outlook 2013, you only need to delete the Outlook user profile."

There is no mention of Outlook 2016. Please include documentation or link to further documentation for handling Outlook 2016 in tenant to tenant migration.

Please provide as much detail as possible regarding how to successfully transition Outlook clients te

[2019-02-05 00:40] #382 closed

[2019-02-05 00:40] #465 closed

[2019-02-05 00:42] #478 closed

[2019-02-05 00:43] #482 closed

[2019-02-05 00:43] #470 closed

[2019-02-05 00:43] #474 closed

[2019-02-05 01:51] In-FinIT opened #566 "Capitalization in Boolean values"
The first letters in the "Accepted Values" of certain Boolean values are capitalized in the documentation, but InTune only accepts them in all lower case. Eg the Accepted Values for com.microsoft.outlook.Mail.ExternalRecipientsToolTipEnabled should be:

true, false

and NOT:

True, False

Having them capitalized results in InTune throwing an error and not allowing the configuration to be saved.

-

[2019-02-05 03:54] SeaGT opened #567 "How does an Exchange Admin know the command worked?"
Where is a report or a value set that tells an Admin that this command is running on a regular basis and on which mailboxes and what the results were?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 767ba6af-482f-49da-9e83-0a2aeaf9f559
* Version Independent ID: e07f25b1-0afd-50f9-b62a-55617d06cb68
* Content: [Configure

[2019-02-05 05:47] Kvazitron opened #568 "Error"
"Mailbox: 128GB minimum recommended" - This is very much for minimum recommendation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-c046-ac148d95a102
* Version Independent ID: 8a61dd1e-1ba1-1c32-acd2-4e1b25da43a5
* Content: [Exchange Server 2019 system requirements, Exchange 2019 Requirements, Exchang

[2019-02-05 15:14] philliprenouf opened #569 "Step 19 says to move PF data from 2013 to 2013"
This should say Move public folder data from Exchange 2007 to Exchange 2013

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d1e602b-f2bb-7ffe-efdf-c7f7ec5db121
* Version Independent ID: e9496b8d-af3c-ff53-1b05-0580de3165f6
* Content: [Checklist: Upgrade from Exchange 2007: Exchange 2013 Help](https://docs.microsoft.com

[2019-02-05 15:36] OneCyrus opened #570 "Outlook 2019 support"
Outlook 2019 is missing in the support matrix. Which Exchange version does it officially support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cb35a6e-8f40-dd57-05e7-a60e18a7ba37
* Version Independent ID: c00115b5-4e3b-7764-8d3f-2023b913ccd0
* Content: [Exchange Server supportability matrix](https://docs.microsoft.c

[2019-02-05 18:10] TokyoScarab commented on #528
Hello!  Would you be able to provide us a little information about the link so we can resolve this?  It appears you are using a shortened link.  Where did this shortened link come from?  Without knowing the source of the link and the page where it came from (if applicable), we won't be able to assist you further.  We look forward to hearing back from you!

[2019-02-05 19:03] mobernberger commented on #528
Hi, this article was updated 4 days ago and now the link is gone from this article. So it seems, that the Agent isn't downloadable right now. so you could close this issue

[2019-02-05 22:12] JeremyTBradshaw commented on #561
Hi Chris,

Yep that is what I mean.  However I missed that it is the 2013 version, as I was thinking 2016.  I did /PrepareAD but still had to recreate that account's mailbox manually, telling me the PrepareAD step doesn't do it automatically.

I could have mis-concluded that fact, but if you scan through the entire article you can see all steps except this one show the PrepareAD step (with two opt

[2019-02-06 16:23] JulioQc opened #574 "API"
What about the API virtual directory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e79dae-29d0-b4a7-489d-83529e750c15
* Version Independent ID: 14fabcf0-5751-a091-5432-2d550932973a
* Content: [Default settings for Exchange virtual directories](https://docs.microsoft.com/en-us/exchange/clients/default-virtual-direct

[2019-02-06 19:36] danmyhre opened #576 "Skype Server / Pool Information"
Need to add details on which this should point to - enterprise edition pool FQDN or the director pool FQDN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fea5d42d-7fdc-3f4e-621f-2b032f9686e8
* Version Independent ID: 8c2bd6ee-210a-b3d8-3e86-5cb280719daa
* Content: [Configure instant messaging integration with Outlook

[2019-02-06 20:02] danmyhre opened #577 "Missing Details"
This is missing details on the SfB side of the configuration.  Should at least provide a link to the appropriate SfB documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fea5d42d-7fdc-3f4e-621f-2b032f9686e8
* Version Independent ID: 8c2bd6ee-210a-b3d8-3e86-5cb280719daa
* Content: [Configure instant messaging in

[2019-02-06 20:29] scanum commented on #507
PR has been created #508

[2019-02-06 22:36] chrisda commented on #561
@JeremyTBradshaw as far as I could tell, the only persisted capability on the SystemMailbox{e0dc1c29-89c3-4034-b678-e6c29d823ed9} mailbox is UMDataStorage. I created a new arbitration mailbox, removed UMDataStorage from SystemMailbox{e0dc1c29-89c3-4034-b678-e6c29d823ed9}, and added it to the new arbitration mailbox. I still can't use Remove-Mailbox to remove SystemMailbox{e0dc1c29-89c3-4034-b678-e

[2019-02-06 23:40] markjjo commented on #550
YOu can run the Get-MailboxFolderStatistics  -FolderScope RecoverableItems | fl folderpath,foldersize,folderandsubfoldersize command (see https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailboxfolderstatistics?view=exchange-ps) - I will add link to this cmdlet help topic from the litigation hold topic.

[2019-02-06 23:40] #550 closed

[2019-02-07 01:39] JeremyTBradshaw commented on #561
Hi @chrisda,

It was when a database became corrupt, and the arbitration/system mailboxes that were on it were lost.  It is not production or anything, just a lab, but that is how I ended up at the article.  Since there were no backups available, I was doing a new database and recreating the mailboxes.  Everything went perfectly, minus that one mailbox needed the extra Enable-Mailbox command.

[2019-02-07 02:21] rdiazel commented on #327
@leroybarnes To confirm that the authentication policy was applied to users:
Run the following command to find the distinguished name (DN) value of the authentication policy:
Get-AuthenticationPolicy | Format-List Name,DistinguishedName
Use the DN value of the authentication policy in the following command:
Get-User -Filter {AuthenticationPolicy -eq '<AuthPolicyDN>'}

[2019-02-07 15:47] austinmccollum commented on #503
Yeah, I think that's good enough. The testing mail flow section is right before the See Also section so it gives a pretty good clue. Thanks!

[2019-02-07 15:47] #503 closed

[2019-02-07 16:39] dariomws306 commented on #503
Good to know! Thank you for your collaboration!

[2019-02-07 19:56] TokyoScarab commented on #488
The support ticket you mention in your post refers to using PowerShell with Exchange in the setup.  The doc page you made this issue from has a note at the top of the page saying,

    "The requested page is not available for Exchange PowerShell. You have been redirected to the newest product version this page is available for."

Even though this page says this information will apply to Exchange S

[2019-02-07 21:39] chrisda commented on #561
@JeremyTBradshaw, OK I updated the topic.

Thanks for the feedback.

[2019-02-07 21:39] #561 closed

[2019-02-07 22:19] chrisda commented on #552
@mattdreher, I'm afraid I'm going to need more specifics.

Are you saying that you're attempting to use Exchange 2016 CU11 to do schema updates on a Windows 2008 server? Or actually install Exchange 2016 CU11 on a Windows 2008 server? All of the information I can see in both topics regarding Exchange 2016 and Windows 2008 says Windows 2008 R2 (OS requirements, forest functional level requirements,

[2019-02-07 23:43] MikeHynek opened #580 "visual C++ 2013 required for Edge 2016 cu10"
The docs say I only need Visual C++ 2012.
When I try to install the edge server.... I get this
Error:
Visual C++ 2013 Redistributable Package is a required component. Please install the required binaries and re-run the setup. Use URI https://www.microsoft.com/download/details.aspx?id=40784 to download the binaries.
For more information, visit: http://technet.microsoft.com/library(EXCHG.150)/ms.exc

[2019-02-08 00:00] JaroncMicrosoft opened #581 "Add Office ProPlus to the client support mattrix"
The client support matrix calls out Office Professional or Office 2016 but does not call out Office ProPlus.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cb35a6e-8f40-dd57-05e7-a60e18a7ba37
* Version Independent ID: c00115b5-4e3b-7764-8d3f-2023b913ccd0
* Content: [Exchange Server supportability matrix](https://docs.

[2019-02-08 00:54] #488 closed

[2019-02-08 07:47] alicejames007 opened #582 "Delete cancelled message trace"

[2019-02-08 08:00] alicejames007 commented on #582
![12](https://user-images.githubusercontent.com/47443795/52465624-371bf000-2bba-11e9-9ad1-fbc9cf945d82.png)
I have list of 'cancelled' trace history showing in 'View pending or completed traces', is there way to clear it?

[2019-02-08 13:43] christiangomez92 opened #583 "If I enable archive mailboxes does it unlock all the limitations (quota limits and retation limits)?"
Can you help me to understand how it will be structured the subtrees ? Also, what license do I need if I already have a Entreprise E2 license in my organisation to enamble archie mailboxes ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef58ac9b-e0a9-51e9-787e-ce2a4e6b6bfa
* Version Independent ID: c567570c-1214-38a8-

[2019-02-08 14:07] mattdreher commented on #553
If you read the two tables from https://docs.microsoft.com/en-us/exchange/plan-and-deploy/supportability-matrix?view=exchserver-2019#supported-active-directory-environments
It makes it seem like you can install **Exchange 2016 CU11** when you are using **Windows Server 2008 SP2 Active Directory** servers in a **Windows Server 2008 SP2** forest functional level which isn't the case.  The installer

[2019-02-08 14:08] mattdreher commented on #552
If you read the two tables from https://docs.microsoft.com/en-us/exchange/plan-and-deploy/supportability-matrix?view=exchserver-2019#supported-active-directory-environments
It makes it seem like you can install **Exchange 2016 CU11** when you are using **Windows Server 2008 SP2 Active Directory** servers in a **Windows Server 2008 SP2** forest functional level which isn't the case. The installer c

[2019-02-08 17:57] FunkEinstein opened #584 "New options of Out of Office are promised but unavailable on Exchange 2019!"
I've got a question about new options for Out of Office feature. They are already works on Exchange Online, but on Exchange 2019 they are unavailable.

When I say that they are unavailable I mean that documentation of Set-MailboxAutoReplyConfiguration says that new options(AutoDeclineFutureRequestsWhenOOF for example) are available only on Exchange Online and when I try to use these options I get

[2019-02-08 19:53] TokyoScarab commented on #496
@msdmaguire Being one of the contributors to this article, I'd love your input on this so we can go about updating this page.  The page is from 2014 and there no doubt have been differences in the app since the writing of this article.

[2019-02-08 20:41] TokyoScarab commented on #494
@chrisda Do you know if there is an already established set of practices for this that may not be published?  I have pulled together some things online that users of the service tend to do, but nothing official from Microsoft.  Any incite on this would be helpful.

[2019-02-08 20:45] msdmaguire commented on #496
@TokyoScarab Perhaps we can delete this article all together. There is no longer an OWA for iPhone/iPad app. It's all about Outlook mobile now.

[2019-02-09 01:24] chrisda commented on #494
@TokyoScarab, I know of nothing. If you have something, feel free to add.

[2019-02-10 00:30] kevinblumenfeld commented on #8
Well I did get preauthentication to work in my lab ... so :-)

[2019-02-10 15:46] dariomws306 commented on #514
Hi @LDolce , checking again your comment, I see that you are running two lines togheter.

First you have to run:
$PfEndpoint = New-MigrationEndpoint -PublicFolder -Name PublicFolderEndpoint -RemoteServer $Source_RemoteServer -Credentials $Source_Credential

Then, in a second execution:
[byte[]]$bytes = Get-Content -Encoding Byte <folder_mapping.csv>

Last line:
New-MigrationBatch -Name PublicFolde

[2019-02-10 17:44] LDolce commented on #514
You are correct. This was resolved. Really appreciate you responding.

On Sun, Feb 10, 2019 at 10:46 AM Dario Woitasen <notifications@github.com>
wrote:

--

*Mobile: 754-800-9791*
https://www.linkedin.com/in/ldolce

________________________________________________________________

THIS EMAIL IS INTENDED ONLY FOR THE USE OF THE PERSON(S) OR OFFICE TO WHOM
IT IS ADDRESSED, AND CONTAINS PRIVILEGED O

[2019-02-10 18:01] dariomws306 commented on #514
Thank you, please could you close this issue?

[2019-02-10 21:57] TokyoScarab commented on #499
There is documentation here on how to set up mailbox auditing [here](https://docs.microsoft.com/en-us/exchange/policy-and-compliance/mailbox-audit-logging/mailbox-audit-logging?view=exchserver-2019).  This will allow you to monitor any one who successfully accesses mailboxes you have it set up on.  From there, you can then see what kind of people are accessing each mailbox and then set up your rul

[2019-02-11 05:38] Surf-Solana opened #586 "Migration Endpoint - GCC High"
Following instructions on migrate : https://docs.microsoft.com/en-us/exchange/mailbox-migration/migrating-imap-mailboxes/migrate-g-suite-mailboxes

Verified domain.

Step 4, the connection to imap.gmail.com times out.

[2019-02-11 12:41] hihoman1980 opened #587 "Outlook 2013 should be supported with Ex19"
According to the n-2 Version Schema, OL 2013 should be supportable with Exchange 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cb35a6e-8f40-dd57-05e7-a60e18a7ba37
* Version Independent ID: c00115b5-4e3b-7764-8d3f-2023b913ccd0
* Content: [Exchange Server supportability matrix](https://docs.microsoft.com/en-us/ex

[2019-02-11 16:15] MK-Kamal commented on #483
@useridtaken   Thank you for your valuable contribution . As Office365 don't have restrictions on data transfer Speed or limit the size in transferring data Per Day .  you can  use alternative method to migrate the users That Has the Large Mailbox  I had create PR to update article to include the alternative method   https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/557 . For more informat

[2019-02-11 18:21] dstrome commented on #559
I'm able to access https://testconnectivity.microsoft.com/. Please try again.

[2019-02-11 18:21] #559 closed

[2019-02-11 18:24] danmyhre opened #589 "Table Size"
The table doesn't display correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ddce84-2ec9-3744-1a3f-20303275affa
* Version Independent ID: 2c5ba0fc-80c4-8de0-61ba-5e73bf558766
* Content: [Hybrid deployment prerequisites](https://docs.microsoft.com/en-us/Exchange/hybrid-deployment-prerequisites#hybrid-deployment

[2019-02-12 00:15] #528 closed

[2019-02-12 00:38] TokyoScarab commented on #494
Thanks @danmyhre for bringing this up!  We will be updating this page to add in some information that will be helpful to people looking to run CU on their servers.  I would also advice you to check out [this](https://practical365.com/exchange-server/faq-order-install-service-packs-update-rollups-cumulative-updates/) page which outlines many useful practices for rolling out updates and maintaining

[2019-02-12 09:10] lindspea commented on #538
@MK-Kamal

[2019-02-12 10:15] dandavey opened #593 "Email field sync"
Email field still sync's even when setting (com.microsoft.outlook.ContactSync.EmailAllowed) to false. Ticket raised but no solution yet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76073a9f-750e-fe8d-cc6b-e74a76e82f5b
* Version Independent ID: 5857e1e1-0d71-b005-98c2-ab99d4609200
* Content: [Deploying Outlook for iOS

[2019-02-12 10:40] FunkEinstein commented on #584
Hey, I need an answer! What's going on? I need that functionality but I can't use it. Because Set-MailboxAutoReplyConfiguration cmdlet wasn't modified for Exchnage 2019 new options of out of office doesn't work for on-premise OWA! So that can't be my fault and I need to know what happened!

[2019-02-12 14:36] OfficeGSX commented on #237
The article is HumanTranslated and published live

[2019-02-12 14:36] OfficeGSX commented on #238
The article is HumanTranslated and published live

[2019-02-12 14:37] OfficeGSX commented on #257
The article is HumanTranslated and published live

[2019-02-12 14:37] OfficeGSX commented on #264
The article is HumanTranslated and published live

[2019-02-12 14:37] OfficeGSX commented on #265
The article is HumanTranslated and published live

[2019-02-12 15:28] bingoglossy opened #594 ""All Address Lists" - pulled from GAL or OGAL/OAB?"
[Enter feedback here]
When Outlook (Win) is in cached mode and entries under "All Address Lists" are used, are those being pulled from the GAL or the OGAL/OAB?

We still have a huge problem when users use anything but the GAL for picking recipients, with the OAB and Auto-Complete List being the biggest culprits.

We are creating documentation and screencasts of best practices and need to know this

[2019-02-12 17:21] chrisda commented on #589
@danmyhre, I looked at the raw markdown for both tables in the topic, and both appeared OK.

If you're talking about the width of the second table, the trick is to scroll horizontally using the left and right arrow keys on your keyboard.

[2019-02-12 17:21] #589 closed

[2019-02-12 17:35] chrisda commented on #542
@MK-Kamal @AndreaBarr, I'm closing this issue as the link now seems to work correctly

[2019-02-12 17:35] #542 closed

[2019-02-12 21:00] chrisda commented on #541
@Pulsarrrr, I did some testing. Office 365 groups are basically a special type of mailbox that also functions as a group. I confirmed the 'O365 group by email address in the EAC' method worked for the following conditions/exceptions:

- The sender is

- The sender is a member of

- The recipient is a member of

- The To/Cc box contains

- The To/Cc box contains a member of

- The message is betwee

[2019-02-12 21:00] #541 closed

[2019-02-12 21:27] scanum commented on #494
A PR has been created #590

[2019-02-12 21:28] scanum commented on #527
A PR has been created #591

[2019-02-12 21:31] scanum commented on #529
A PR has been created #592

[2019-02-12 22:20] chrisda commented on #527
Already fixed.

[2019-02-12 22:20] #527 closed

[2019-02-12 22:37] #494 closed

[2019-02-12 22:38] #529 closed

[2019-02-12 23:01] r-milne opened #596 "Add in Exchange 2010 SP3 RU26 Support For Windows Server 2012 R2"
Now that SP3 RU26 is out, please update the matrix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cb35a6e-8f40-dd57-05e7-a60e18a7ba37
* Version Independent ID: c00115b5-4e3b-7764-8d3f-2023b913ccd0
* Content: [Exchange Server supportability matrix](https://docs.microsoft.com/en-us/exchange/plan-and-deploy/supportabili

[2019-02-12 23:23] #237 closed

[2019-02-12 23:23] #238 closed

[2019-02-12 23:23] #257 closed

[2019-02-12 23:23] #264 closed

[2019-02-12 23:24] #265 closed

[2019-02-12 23:26] TokyoScarab commented on #533
@msdmaguire Would you be able to share some insight on this issue?  If the document in question requires some editing to expand upon this, I am willing to fill in any gaps.  I figured I would ask your advice on it being one of the original contributors to the page.  Thanks!

[2019-02-13 00:09] TokyoScarab commented on #532
@SharS I thought I might reach out to you to see if you might be able to collaborate on this being one of the authors of the page.  If any changes need to be made on the page, I will be happy in make those edits.

[2019-02-13 01:01] #582 closed

[2019-02-13 01:03] chrisda commented on #594
@bingoglossy, you could have knocked me over with a feather, but I disconnected my laptop from WiFi, and when I attempted to browse to All Address Lists or anything under it, I received the following error:

![image](https://user-images.githubusercontent.com/33166947/52678141-6d70ac80-2ee5-11e9-93fa-464e51be7ac4.png)

I'm Outlook 2016 connected to Office 365 where Cached Mode is required, but I ca

[2019-02-13 01:03] #594 closed

[2019-02-13 07:49] Pulsarrrr commented on #541
Thanks a lot, @chrisda! Looking forward to seeing your updates in the article (guess it takes a while before they are visible online). Anyway, is there any chance Microsoft's going to update the group picker so that Office 365 groups are visible directly? Using the _Check names_ button does not seem too intuitive...

[2019-02-13 08:59] yegorich opened #597 "Windows Server 2019 Essentials Support"
Can Exchange Server be installed on Windows Server 2019 Essentials?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-c046-ac148d95a102
* Version Independent ID: 8a61dd1e-1ba1-1c32-acd2-4e1b25da43a5
* Content: [Exchange Server 2019 system requirements, Exchange 2019 Requirements, Exchange 2019 Memory Re

[2019-02-13 12:58] dariomws306 commented on #514
Hi @AndreaBarr , I think we can close it.

[2019-02-13 12:58] dariomws306 commented on #286
Hi @AndreaBarr , I think we can close it.

[2019-02-13 14:48] ninhvuonglinh-linhnv opened #599 "Which Exchange Server need to be upgraded ?"
We have 3 Exchange Server 2013:
* 2 Exchange Mailbox server
* 1 Exchange Client Access server.

In the document above
*The latest Exchange 2013 CU needs to be installed on at least one server running both the Mailbox and Client Access server roles. *
In our context, which is server(s) we need to install the latest Exchange 2013 CU ??

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-02-13 15:54] SYSprime commented on #286
Hello,

Sorry for my late reply!

I am in trouble scripting an archive & delete solution on localized (Italian) Exchange installation (working like a charm on Intl.English installations):
while the New-MailboxEportRequest:

New-MailboxExportRequest -Mailbox '@ Journal' -Name ExportPST -ContentFilter {(Received -lt $DataArchivio)}

accepts and processes correctly the “{(Received -lt $DataArchivio)”

[2019-02-13 16:12] daxxial opened #600 "SMTP Relay without TLS"
In the 3rd option of this article TLS is defined as optional. However, when attempting to configure the connector without TLS we are met with the following message "You did not select any restriction. If you don‎'t want to apply any restriction to emails from your partner, you do not need to create this connector". Is TLS no longer optional for the SMTP Relay option?

---
#### Document Details

⚠

[2019-02-13 16:23] dariomws306 commented on #286
If you try "Received<$DataEliminazione" or "Received<=$DataEliminazione"?

[2019-02-13 17:10] chrisda commented on #541
@Pulsarrrr, my guess is that adding the Check names button was the mitigation for the problem, and there likely won't be any more improvements to the recipient picker in the EAC.

[2019-02-13 17:32] chrisda commented on #597
@yegorich, no, Windows 2019 Standard or Datacenter only.

[2019-02-13 17:32] #597 closed

[2019-02-13 17:33] ghost opened #601 "WRONG CODE"
Should be Get-RemoteMailbox -resultsize unlimited  | ForEach { Get-AdUser -Identity $_.Guid | Set-ADObject -Replace @{msExchRecipientDisplayType=-1073741818}}

Note the -resultsize unlimited is VERY IMPORTANT!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d8bb0b-6656-9565-598c-4b82018f6a1c
* Version Independent ID

[2019-02-13 18:09] Arno33 opened #602 "Unknown AD forest functional level Windows Server 2008 R2 SP1 and Windows Server 2008 R2 SP2"
In your matrix about Supported Active Directory environments / AD forest functional level you are use forest functional levels that I don’t know. I know about forest functional levels like Windows Server 2008, Windows Server 2008 R2, Windows Server 2012, Windows Server 2012 R2 and Windows Server 2016 but not about Windows Server 2008 R2 SP1 and Windows Server 2008 R2 SP2 with Service Pack.

Here i

[2019-02-13 19:08] lindspea commented on #537
@danmyhre Hi Dan.  Thank you for reaching out.  I'm looking into your request and will revert soonest.

[2019-02-13 19:10] lindspea commented on #536
@danmyhre Hi Dan.  Thank you for your suggestions and your valuable contribution in helping to improve MS docs.  I'm investigating with the team so see where we can update the information.  I will revert soonest.

[2019-02-13 19:12] lindspea commented on #534
@danmyhre Hi Dan.  Thank you. We are looking into this as well and will give you feedback as soon as possible.

[2019-02-13 20:07] TokyoScarab commented on #532
I would highly recommend checking out the [link](https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/use-connectors-to-configure-mail-flow/use-connectors-to-configure-mail-flow#what-if-i-have-my-own-email-servers) that is in the note on the top of that page.  It links to a great deal of information including this [page](https://docs.microsoft.com/en-us/exchange/mail-flow-best-practi

[2019-02-13 20:35] TokyoScarab commented on #533
Hello!  I believe the information you are looking for can be found on this doc page [here](https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/use-connectors-to-configure-mail-flow/set-up-connectors-to-route-mail).  If you have any further questions, please contact [Microsoft Support](https://support.microsoft.com/en-us).  Thanks!

[2019-02-13 21:18] chrisda commented on #600
@daxxial, you used **From your organization's email server** and **To Office 365**? I used those values and That's what the topic recommends, and I was able to go all the way through without receiving an error.

[2019-02-13 22:17] LDolce commented on #514
Sorry for the delay. Issue has been resolved. Thank you.

[2019-02-13 22:17] #514 closed

[2019-02-13 22:19] dariomws306 commented on #514
Don't worry!!

Thank you!!

[2019-02-13 23:03] scanum commented on #503
PR has been created #556

[2019-02-13 23:04] #499 closed

[2019-02-13 23:04] #496 closed

[2019-02-13 23:05] #533 closed

[2019-02-13 23:05] #532 closed

[2019-02-13 23:06] #286 closed

[2019-02-13 23:20] chrisda commented on #587
@hihoman1980, this was added in PR #610

[2019-02-13 23:20] #587 closed

[2019-02-13 23:27] chrisda commented on #602
@Arno33, yes, it was a simple copy/paste error from the previous table. I fixed it.

Thanks for the feedback.

[2019-02-13 23:27] #602 closed

[2019-02-13 23:29] chrisda commented on #596
@r-milne, the information was added in PR #595.

Thanks for the feedback.

[2019-02-13 23:29] #596 closed

[2019-02-13 23:38] chrisda commented on #581
@JaroncMicrosoft, when clients in the supportability matrix topic, are really about what versions of Outlook (more so than Office) are supported with what versions of Exchange Server.

Office 365 ProPlus is a subscription that includes Outlook 2016 (if you bought it a year ago) and Outlook 2019 (if you bought it today). To your point, Outlook 2019 was missing from the table, so I added it.

Thanks

[2019-02-13 23:38] #581 closed

[2019-02-13 23:42] chrisda commented on #570
@OneCyrus, Exchange Server 2010 or later. I updated the topic.

Thanks for the feedback.

[2019-02-13 23:42] #570 closed

[2019-02-13 23:44] chrisda commented on #569
@philliprenouf, corrected. Thanks for the feedback.

[2019-02-13 23:44] #569 closed

[2019-02-13 23:45] chrisda commented on #568
@Kvazitron, that figure is correct.

[2019-02-13 23:45] #568 closed

[2019-02-13 23:49] chrisda commented on #566
@In-FinIT, OK. Fixed. Thanks for the feedback.

[2019-02-13 23:49] #566 closed

[2019-02-14 00:06] chrisda commented on #553
@mattdreher, I see the issue now. I updated the table headings so 2008 AD/FFL is for Exchange 2016 CU3 to CU6 (it used to say CU3 or later), and 2008 R2 AD/FFL is CU7 or later (it used to say CU12 or later).

Thanks for the feedback.

[2019-02-14 00:06] #553 closed

[2019-02-14 00:07] chrisda commented on #552
@mattdreher, I see the issue now. I updated the table headings so 2008 AD/FFL is for Exchange 2016 CU3 to CU6 (it used to say CU3 or later), and 2008 R2 AD/FFL is CU7 or later (it used to say CU12 or later).

Thanks for the feedback.

[2019-02-14 00:07] #552 closed

[2019-02-14 06:09] JaroncMicrosoft commented on #581
Not wanting to be pedantic but there is a difference between Office Professional 2019 and Office ProPlus. Thanks for adding Office Professional 2019 but can you also add Office ProPlus

JC

From: Chris Davis <notifications@github.com>
Sent: Thursday, 14 February 2019 10:39 AM
To: MicrosoftDocs/OfficeDocs-Exchange <OfficeDocs-Exchange@noreply.github.com>
Cc: Jaron Cohen <jaronc@microsoft.com>; Ment

[2019-02-14 09:34] OfficeGSX commented on #313
The article has been HumanTranslated and published live.

Best Regards,
Michal

[2019-02-14 17:27] #313 closed

[2019-02-14 17:48] jacobyoby opened #604 "Broken"
PS C:\Users\jacobd&gt; $mbx.EmailAddresses.Item(1) -="eum:tsmith@contoso.com;phone-context=MyDialPlan.contoso.com"
Cannot convert value "SIP:michaels@smh.org" to type "System.Int32". Error: "Input string was not in a correct format."
At line:1 char:1
+ $mbx.EmailAddresses.Item(1) -="eum:tsmith@contoso.com;phone-context=M ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-02-14 17:58] skarai opened #605 "Retention tag(s) for personal items"
Is there a way to create a retention tag for (i.e. notes) only? This in light of a general delete policy for email items past a certain hold period which in some cases should retain notes over a longer period of time and/or in other case notes should be deleted before email items reach their permanent deletion point.

[2019-02-14 17:59] chrisda commented on #601
OK. Added.

[2019-02-14 17:59] #601 closed

[2019-02-14 18:11] chrisda commented on #546
@mohanra1, confirmed. I changed the reference to Start-MigrationRequest and Complete-MigrationRequest to Start-MigrationBatch and Complete-MigrationBatch.

Thank for the feedback.

[2019-02-14 18:11] #546 closed

[2019-02-14 18:14] chrisda commented on #525
@ThemDiversity, fixed. Thanks for the feedback.

[2019-02-14 18:14] #525 closed

[2019-02-14 20:03] chrisda commented on #507
@deegee72, I further updated the System Requirement topic with this information, and I also refactored the one big table .NET table in the Supportability Matrix topic into separate tables by on Exchange version (the table was getting too wide).

[2019-02-14 20:03] #507 closed

[2019-02-14 20:49] chrisda commented on #524
@W2MPorter, you can try opening Chrome in Incognito mode or Edge/IE in InPrivate (CTRL+SHIFT+P) and signing in there. Otherwise, you should open a Support ticket.

[2019-02-14 20:49] #524 closed

[2019-02-14 22:53] AndreaBarr commented on #496
@ac10000 Thank you for catching this. We have gotten this page taken down.

[2019-02-15 00:15] DCAggar opened #608 "Github"
Forcing a user to create a Github account to leave any sort of feedback is forced and terrible. I created an account for the purpose of letting you know it's a crap thing to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7684ef8f-2f6d-7c73-fddb-19b94096e82a
* Version Independent ID: 9910c94c-df87-74c1-fa32-e153857a

[2019-02-15 12:24] makauf opened #610 "SSD Filesystem"
Is it possible that the script does not utilize the PA for the formatted filesystem of the SSD drives?

PA says:
Whether Traditional or Solid-State, all disks that houses an Exchange data are formatted with ReFS (with the integrity feature disabled)

or do i get that screenshot wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-15 16:00] lindspea commented on #534
@dariomws306 @MK-Kamal 06 @danmyhre  Right now the AD connect can be:
1. Synchronization - while you can't do AD connect highly available, at least you have multiple tenants.  Please see this document for reference: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies
2. Hybrid connection - you can't do a "high available" hybrid connection. You need to make sure y

[2019-02-15 16:09] lindspea commented on #536
@MK-Kamal @dariomws306 @danmyhre I think in the States they have an Edge server, but elsewhere - 95% have the Internet-facing Exchange server, and 4% would have a firewall. So if I'd change that, I'd change it to your "preferential firewall" where you have the open ports required for O365 to connect to your internal exchange server.
You don't publicly use your "load balancer", you use the next dev

[2019-02-15 18:13] bazookadaver opened #611 "Ability to rename a policy"
Would love for the ability to rename a policy.  We created a test policy that ended up being used as the default.  While not a big deal, we'd love to run a quick command to rename the policy to something more appropriate.

Thanks for everything you've created here.

[2019-02-15 19:57] TokyoScarab commented on #543
Hello!  I'm unable to speak to the reason why support for this is currently only on enrolled devices.  Microsoft has a service set up for issues just like this called UserVoice.  UserVoice gives users and customers a platform to share their ideas for improving current software and services.  You can head to the [Outlook UserVoice](https://outlook.uservoice.com/) and see if this issue has already b

[2019-02-15 20:07] afield1235 commented on #339
well I wonder, are accounts still being locked? Or it's just the logging is noisy?

[2019-02-15 20:22] rpodric commented on #339
Lockouts still do occur. Fortunately, they release quickly enough that I haven't received complaints.
https://i.imgur.com/XqQimVb.jpg

[2019-02-16 03:22] mistyq opened #612 "Databases Maxed out at 5"
We have Exchange 2010 standard and 5 databases already so cannot mount anymore databases. Can this user be created in an already existing database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45f5e210-5945-277a-12dc-f1eae01ba403
* Version Independent ID: a9a867e0-e3eb-ffbb-2013-47707a6b4364
* Content: [Configure leg

[2019-02-16 16:35] pdhewaju opened #613 "Invalid prerequisites are listed for Window 2019 for Mailbox Installation"
Instead of installing the software of
Visual C++ Redistributable Package for Visual Studio 2013.
it need to be change for
Visual C++ Redistributable Package for Visual Studio 2012

for the mailbox installation on exchange 2019

[2019-02-17 05:30] pdhewaju opened #614 "Invalid prerequisites are listed for Window 2019 for Mailbox Installation"
Instead of installing the software of
Visual C++ Redistributable Package for Visual Studio 2013.
it need to be change for
Visual C++ Redistributable Package for Visual Studio 2012

for the mailbox installation on exchange 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e0968e-9590-59a1-83c8-07c218bcf8fd
* Version

[2019-02-17 08:08] lusassl-msft commented on #610
MCDB SSD drives will be NTFS formated which is expected / by-design in this case.

[2019-02-17 20:09] danmyhre commented on #534
I wasn't referring to AD Connect, I was referring to making the SMTP path for EXO to On-Prem highly available.  As this is a critical connection in hybrid scenarios, having it go to a single server is not practical.

The referenced article is not official MSFT documentation.  it also has nothing to do with hybrid HA.  We need to get this updated with what is supported for hybrid mail flow and EWS

[2019-02-17 20:12] danmyhre commented on #536
I think we still need clarity in the documentation.  The link isn't relevant to the question about hybrid.

[2019-02-18 09:20] lindspea commented on #534
@dariomws306 @MK-Kamal

[2019-02-18 09:21] lindspea commented on #536
@dariomws306 @MK-Kamal

[2019-02-18 12:45] MacPhistopt opened #615 "Domain key"
Under MX record you provide as example:
&lt;domainKey&gt;-com.mail.protection.outlook.com

Consider rephrasing this example as the domain key should also include the DNS suffix for the custom domain

"&lt;domainKey&gt;.mail.protection.outlook.com
For example, the domain contoso.com should have the MX record contoso-com.mail.protection.outlook.com"

---
#### Document Details

⚠ *Do not edit this se

[2019-02-18 23:05] j0rt3g4 commented on #554
Hi, @jdkc4d  here's no mention of the word "banner" in the whole article you mentioned, can you let me know where you want to see the second step implemented? since there's nothing related what you report with the configuration you referenced  "* outlook-for-ios-and-android-configuration-with-microsoft-intune.md" could you please clarify where is this banner flag?

[2019-02-19 04:25] jdkc4d commented on #554
Hey Jose,

Take a look at this image from MC172761. When someone on outlook mobile
goes to respond, it puts this little yellow banner at the top showing that
they are replying to external email accounts. It would be great if it did
the same thing when they received emails. A lot of people in my
organization will still forward spam to me, freaking out because they think
something with a fake office

[2019-02-19 04:35] j0rt3g4 commented on #554
Im unable to see the image it just says [image_image.png]
attack a link pls? :)

[2019-02-19 04:41] jdkc4d commented on #554
http://joshkelahan.com/bhhs/OutlookMobileBanner.PNG

On Mon, Feb 18, 2019 at 10:35 PM Jose Gabriel Ortega Castro <
notifications@github.com> wrote:

[2019-02-19 04:45] j0rt3g4 commented on #554
I see,
try this
https://newsignature.com/articles/dont-send-that-enable-mailtip-for-external-recipients-in-office-365/

[2019-02-19 06:11] j0rt3g4 commented on #567
Hi @SeaGT as the article says, all the mailboxes are being processed by MFA once a day, there's no such a thing like a report where you are being told that MFA is running on a regular basis, so there's no way to troubleshoot it since it's a daily task report or any historical information about it.

The MFA runs every day at least you override the settings using the "New-SettingOverride" cmdlet

In

[2019-02-19 06:37] j0rt3g4 commented on #574
Hi @JulioQc  The API is not able to be managed at this moment
So it doesn't count with a Cmdlet via EAC or EMS to modify the management method.
What do you need to be expanded?, can you elaborate on your request?

[2019-02-19 06:50] j0rt3g4 commented on #576
@danmyhre  can you specify what do you mean with "which this should point to"

[2019-02-19 07:08] makauf commented on #610
well, but should not the script format the SSDs with ReFS to meet the preferred architecture? Because there must be some reason ReFS is preferred for exchange data - and not NTFS. (Yes i know, almost none impact as far as i have tested and reviewed different blog posts about NTFS <-> ReFS with Exchange)..

[2019-02-19 12:52] jdkc4d commented on #554
Again, this is about the recipient, when you are sending a message. I am
talking about when you receive a message.

On Mon, Feb 18, 2019 at 10:45 PM Jose Gabriel Ortega Castro <
notifications@github.com> wrote:

[2019-02-19 14:37] lindspea commented on #615
@scanum @AndreaBarr  please assign to me.

[2019-02-19 14:42] lindspea commented on #615
@MacPhistopt Thank you for pointing this out and for helping improve MS docs.  Just to be clear, the only wording to be changed/removed is the first 'com' after <domainKey>, from this example?
<domainKey>-com.mail.protection.outlook.com

[2019-02-19 14:48] danmyhre commented on #576
Depending on your SfB topology, you may have multiple FE pools and possibly a director pool.  You may also have Exchange across multiple AD sites.  I am referring to what is the guidance on which SfB endpoint (which pool FQDN) should be used in this section.  Should it be regional (e.g. closest pool to the exchange AD site), should it be the director pool?

IMServerName=<Skype server/pool  name>

[2019-02-19 16:39] MacPhistopt commented on #615
@Lindsay

    yes that is correct.
    thank you for reaching back about this

    Citando Lindsay <notifications@github.com>:

Ligações:
---------
[1] https://github.com/MacPhistopt
[2]
https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/615#issuecomment-465155541
[3]
https://github.com/notifications/unsubscribe-auth/AtiIDS0VAgnXvJqO1UZCaweNJ6EO5_S5ks5vPA1IgaJpZM4bAypf

[2019-02-19 17:37] j0rt3g4 commented on #554
That box with messages is called "Mailtip" and is just implemented on the "Sending" stage not on the receiving, so this issue is more a request to implement features than an error in the documentation itself, that process can't be done.

For support you can use this:
https://support.office.com/home/contact

Or add a new idea you can use the User'sVoice
https://outlook.uservoice.com/forums/322590-o

[2019-02-19 18:00] toklima commented on #610
The guidance you refer to is accurate for E16 and referred to primary EDBs that were stored on either HDD or SSD (i.e. when MCDB did not exist). E19 is supported on both ReFS and NTFS and as pointed out by Lukas, the script will format the MCDB volumes with NTFS by design. I will see if we can disambiguate what's written in the PA.

[2019-02-19 18:36] #483 closed

[2019-02-19 18:59] msdmaguire commented on #610
@makauf Thank you for your feedback on the article. I hope this thread has answered your questions.

[2019-02-19 18:59] #610 closed

[2019-02-19 21:15] SeaGT commented on #567
j0rt3g4 -thanks for the reply but that doesn't do me any good.  If the MFA ran successfully on Bob's mailbox, then I'd like to see a report of how much email was transferred to the archive folders or deleted or purged.  If it was 0 - that great - at least I know it ran.
You mentioned that the MFA ran as a daily task, but my understanding is that the MFA runs on a mailbox every 7 days but I can for

[2019-02-19 21:25] j0rt3g4 commented on #567
@SeaGT  This is a request on features is not a lack of documentation. So the idea of these issues is to fix or add information that is missing on the documentation. The request for additional features that are not "live" is made thru the user's voice chat.
https://office365.uservoice.com/

[2019-02-19 21:38] eerstech commented on #565
Any Response to CHK1982 , it has been two weeks ..what happen to outlook 2016?

[2019-02-20 07:45] xuantrai commented on #599
My customer is also got this case. Hope MS guys can give us the final information!

[2019-02-20 08:08] ralfdo opened #620 "location of audit logs"
It  would  be good to inform our customer about  the facts, where these Audit  logs are normally  written, so that they  can be retrieved. This  helps in troubleshooting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48638216-9e8d-81ad-9e87-19b878f36ced
* Version Independent ID: 3561ef40-f0af-c484-1df0-9b4f0c3aa57e
*

[2019-02-20 16:14] ejacobsen-glofin opened #622 "Why is the button for Delivery Reports even available still??"
Confusing for end users to have a button about message details, only to get redirected to a page telling you the feature is no longer available. Remove the button! Or at least show on the redirect that it's been replaced by message trace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 707d2c66-f9d8-7ac2-55c8-1ccfbe966b

[2019-02-20 18:22] Jcoetsee commented on #551
@SerdarSoysal Can you please review the above question and should we consider adding the PowerShell CMDlet as an item into the original article to be used in this scenario?

[2019-02-20 18:57] michevnew opened #623 "Default folders"
Can you please add a link to the "default folders that support tags" page on the left nav menu? This one: https://docs.microsoft.com/en-us/exchange/security-and-compliance/messaging-records-management/default-folders

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed28361e-0f38-bd97-1153-0295e19ddd8b
* Version Independe

[2019-02-20 19:06] scanum commented on #574
Info has been added via this PR [https://github.com/MicrosoftDocs/OfficeDocs-Exchange/commit/5d95707225eab2cdbe4bb5ebfaffdb221c6dbd9c#diff-65cfc2184ac8aaff8932c390de4c36f0](url)

[2019-02-20 19:21] JulioQc commented on #574
Hi, I was referring to the IIS directory. Simply to define what are the
default settings, even if it's not managed as of now. Thanks

On Wed, 20 Feb 2019 at 14:06, scanum <notifications@github.com> wrote:

--
Julien LR, Ing jr

[2019-02-20 20:29] j0rt3g4 commented on #574
@JulioQc
So far in the table is the API virtual directory
Authentication method Anonymous Authentication and Windows Authentication, and requires SSL 128-bit encryption, and should not be configured by the user.
Those are the settings so far, there is no special requirement it's configured with the default settings by default once you install the Exchange server 2019. There are no more details spe

[2019-02-20 21:10] JJGira opened #626 "Issue with Option 1 and TLS"
I am trying to implement Option 1 in my work environment.  Everything is working fine except for one thing.  I only have TLS 1.2 enabled and this won't work.  When I re-enable TLS 1.0 it works.  What am I missing?  Thanks in advance...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e4e3f0-bb9c-cca0-9343-49926262caba

[2019-02-20 21:11] JulioQc commented on #574
I'm taking over a previous sysadmin config so I'm making sure everything is
up to standards. Thanks for the details!

Julien LR, Ing jr

On Wed., Feb. 20, 2019, 3:29 p.m. Jose Gabriel Ortega Castro, <
notifications@github.com> wrote:

[2019-02-20 21:14] chrisda commented on #626
@JJGira do you feel the problem is on your end (your device) or on our end (Office 365)? Office 365 fully supports TLS 1.2, so could it be that your device only works with TLS 1.0?

[2019-02-20 21:17] JJGira commented on #626
I am trying to configure this on a Windows 2012 R2 server.  Everything else is working fine with TLS 1.2 and the software we are using is supposed to work with TLS 1.2.  I will also verify that the software we are using supports it.

[2019-02-21 05:56] j0rt3g4 commented on #574
HI @scanum  I don't see any change on that url, is that correct? Ty.

[2019-02-21 06:04] j0rt3g4 commented on #565
HI @eerstech  and @chk1982  I'm working on this, just solving this issue requires updates on other parts of the documentation and @AndreaBarr and Manuela are working on it.

[2019-02-21 18:18] JulioQc commented on #574
I see the changes, thank you!

On Thu, 21 Feb 2019 at 00:56, Jose Gabriel Ortega Castro <
notifications@github.com> wrote:

--
Julien LR, Ing jr

[2019-02-21 19:55] doubleh1223 opened #630 "Syntax error in first example"
The first example is missing an ending bracket here "[-EnableRoomMailboxAccount &lt;$true | $false&gt; [-RoomMailboxPassword (ConvertTo-SecureString -String '&lt;Password&gt;' -AsPlainText -Force)] [-ResetPasswordOnNextLogon &lt;$true | $false&gt;]" I think it needs an extra ending bracket after '-AsPlainText -Force)]' Hope this makes sense.

---
#### Document Details

⚠ *Do not edit this section.

[2019-02-21 20:03] doubleh1223 commented on #630
Looking back the bracket might also be supposed to be here [-EnableRoomMailboxAccount <$true | $false> ]

[2019-02-21 20:50] #574 closed

[2019-02-21 21:11] #567 closed

[2019-02-21 21:27] #543 closed

[2019-02-22 02:22] chrisda commented on #630
@doubleh1223, in those syntax statements, the square brackets merely indicate optional parameter and value pairs. Not terribly important, but I agree they should be correct. I only saw a missing "]" at the end of `[-EnableRoomMailboxAccount <$true | $false>`, which I fixed.

I didn't see any missing square brackets around `[-Password (ConvertTo-SecureString -String '<Password>' -AsPlainText -Force

[2019-02-22 02:22] #630 closed

[2019-02-22 02:25] chrisda commented on #608
OK. Thanks for the feedback. If it's any consolation, you can also use that GitHub account to make corrections to topics. Your updates need to be approved before they go live, but you can now easily correct any mistakes that you see.

[2019-02-22 02:25] #608 closed

[2019-02-22 16:18] Jcoetsee commented on #551
@SerdarSoysal Just another follow up regarding this. please see previous comment.

[2019-02-22 23:43] SerdarSoysal commented on #551
I think the article is correct as is. At the beginning of the pertinent section, we state: "By default, Exchange retains disconnected archive mailboxes for 30 days. Within 30 days of disabling an archive mailbox, you can reconnect it to the user's primary mailbox by re-enabling the archive. In this case, the original contents of the archive mailbox are restored. However after 30 days of disabling

[2019-02-23 00:45] kenwith commented on #551
@mailgut - we are going to go ahead and close this as the Microsoft author described above. If you feel strongly please go ahead and re-open and we can discuss further. Thank you for taking the times to open issues against content and helping the community. Please don't get discouraged on this one and keep up the good work. Thank you!

[2019-02-23 00:45] #551 closed

[2019-02-25 08:20] Thesmast commented on #73
Is there any update concerning the permissions topic?

[2019-02-25 11:13] GustavBrock opened #636 "Port 587 appears not to be functional"
While a connection via port 25 works flawlessly, I cannot get through using port 587.
I test with basic code like this:
[code]
Port 587 is not blocked. And I have tried turning the firewall off; still no cigar.
So, **is using the Direct method via port 587 wishful thinking** only?

Also, sending mail in a similar manner using smtp.gmail.com and port 465 works.

[2019-02-25 13:02] marc-fom opened #637 "Missed call email notifications cannot be customised"
We have added custom branding to UM activation and voice message reception emails but can't do the same for missed call notification email. Can it be done at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd485b22-ac06-0efc-c733-65e8bff62e4d
* Version Independent ID: 79054dc7-dc7b-8e7a-4920-23ce7d5ce7dc
* Content:

[2019-02-25 19:14] Jcoetsee commented on #583
@christiangomez92 I wanted to check with you just to confirm what the question is about and if you could provide more information, please?

I believe the question revolves specifically around archive mailboxes however the link it was used from or the article it relates to in this opened issue focuses on recoverable items folder?

[2019-02-25 19:15] Jcoetsee commented on #580
Hi @MikeHynek - Would you be able to possibly link the article that you are referring to with regards to this question?

[2019-02-25 19:22] scanum commented on #537
@danmyhre Thank you for your feedback, it is really appreciated. At this stage we will not be putting screenshots in, however, we have addressed it with the author for future updates.

[2019-02-25 19:24] lindspea commented on #537
@AndreaBarr @scanum this can be closed thank you.

[2019-02-25 19:35] #537 closed

[2019-02-26 03:33] TwontonFooey opened #639 "wonflyguy@hotmail.com"
I need my password for my hotmail account. Trying to sign in anfld I just keep going around in a circle can you send me a code to get in to my phone number

[2019-02-26 06:34] RussC19 commented on #613
@AndreaBarr

Edited as per https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/640

[2019-02-26 09:06] lusassl-msft commented on #614
Visual C++ Redistributable Packages for Visual Studio 2012 + 2013 is required on Mailbox role as described here:
https://support.microsoft.com/en-us/help/4295081/add-a-new-visual-c-prerequisite-to-exchange-for-third-party-files
https://blogs.technet.microsoft.com/exchange/2018/10/16/released-october-2018-quarterly-exchange-updates/

Visual C++ Redistributable Package for Visual Studio 2012 only is

[2019-02-26 13:07] christiangomez92 commented on #583
Hello @Jcoetsee
I would like to know the archive quota and retention limitations for my mailboxes with a E2 license. I read something about "enable archive mailboxes" and I didn't totally understand please

Thank you

[2019-02-26 17:12] #461 closed

[2019-02-26 17:13] #464 closed

[2019-02-26 17:13] #554 closed

[2019-02-26 17:17] #446 closed

[2019-02-26 18:17] AndreaBarr opened #643 "Link is not working"
There is a non functional link in an article

Repro steps:
Go to https://docs.microsoft.com/en-us/exchange/high-availability/manage-ha/move-db-copies?view=exchserver-2019
Search for "Managing mailbox database copies." link
Click on the link
Actual results:
Link is not working
Expected results:
Link should redirect to an existing page

GH article:
https://github.com/MicrosoftDocs/OfficeDocs-Exchang

[2019-02-26 18:20] AndreaBarr opened #644 "Link is not working"
There is a non functional link in an article

Repro steps:
Go to https://docs.microsoft.com/en-us/exchange/permissions-exo/permissions-exo
Search for "Assigning admin roles." link
Click on the link
Actual results:
Link is not working
Expected results:
Link should redirect to an existing page

GH article:
https://github.com/MicrosoftDocs/OfficeDocs-Exchange/blob/public/Exchange/ExchangeOnline/permi

[2019-02-26 18:35] #613 closed

[2019-02-26 19:21] Jcoetsee commented on #583
@SerdarSoysal Would you mind reviewing the above question asked and see if you can provide some insight as to what the individual is looking for? I think the answer will likely be in another article that specifically focuses on archive mailboxes etc..?

[2019-02-26 19:24] Jcoetsee commented on #580
Hi @MikeHynek Just another follow up to see if you could provide more information on the article you had been referring to?

[2019-02-26 19:30] MikeHynek commented on #580
yea,
the doc says you only need one of the two c++ runtimes when you are installing the EDGE version of exchange

I found in my lab that both 2012 and 2013 version are needed.
https://docs.microsoft.com/en-us/Exchange/plan-and-deploy/prerequisites?view=exchserver-2016

so this is wrong, it should be like the mailbox server, both version of visual studio are needed.

[cid:c32b4368-8ab1-495b-a090-16

[2019-02-26 22:23] toddellisn opened #645 "I do not see a TOOLS section from my EAC, looking for the ExBPA"
Have these tools been removed or are they only accessible to certain Office 365 customers?
Is the ExBPA accessible another way?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b8d4e5-6aae-5174-d924-b1d550d534b5
* Version Independent ID: d9b4b71c-b5d0-2462-8c44-9b3d6a4d4dd0
* Content: [About the Office 365 Bes

[2019-02-26 22:40] #580 closed

[2019-02-27 01:58] haodeon commented on #270
What about Exchange 2016 with Server 2019 DC's?

[2019-02-27 02:05] msdmaguire commented on #639
@TwontonFooey Try the info here to recover your password: https://account.live.com/password/reset

[2019-02-27 02:05] #639 closed

[2019-02-27 06:22] pdhewaju commented on #614
Hi there,

I was only able to install Exchange 2019 Mailbox  on Server 2019 after removing VS 2013 and VS 2012.
while installing VS 2013 i had this error.
![image](https://user-images.githubusercontent.com/18259080/53470011-4b039500-3a88-11e9-99f5-fb85871cc4b7.png)

[2019-02-27 08:13] lindspea commented on #615
@AndreaBarr  @scanum this can be closed thank you.

[2019-02-27 14:08] hdeanmurray opened #652 "Update doc - typo"
In step 6 change the second occurrence of
Set-Group -Identity "Accounting Group" -SeniorityIndex 25
to
Change Set-Group -Identity "Administrative Group" -SeniorityIndex 25.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe9eef8a-3acf-ed01-ddec-c1bc1f0a7f73
* Version Independent ID: f6c9ef82-8b91-2b3c-ec21-8675a3f25386

[2019-02-27 19:17] Jcoetsee commented on #583
@christiangomez92 There is no E2 license that's specific to Office365 or the exchange side of things, you would likely have something like an E3 license. in that regard I can direct you to the below link that will for sure answer your questions around your mailbox and size limitations/quotas

https://docs.microsoft.com/office365/servicedescriptions/exchange-online-service-description/exchange-onli

[2019-02-27 19:47] #336 closed

[2019-02-27 20:06] chrisda commented on #652
@hdeanmurray, OK. Done. But remember, you can, too. See the instructions here:  https://github.com/MicrosoftDocs/OfficeDocs-Exchange/blob/public/README.md

[2019-02-27 20:06] #652 closed

[2019-02-27 20:18] #615 closed

[2019-02-27 22:07] susan3702 opened #653 "Is it me?"
I really don’t know what to say. I have requested support more times from Microsoft in the last year than I have my whole life, and uncannily every single time I’m left more confused, in more dizzy circles than before. I can’t get a straight answer to what I’m connected to or what my server is or even what a server is or what any of this means. I thought I had a plain email inbox - seriously, that

[2019-02-28 02:22] Smartboss88 opened #654 "Incomplete steps"
Need to add acs auth server in addition to evosts.

Also at step one when creating evosts auth server, need to add type azuread.

Step 1:

Run the following in EXO Shell Get-AcceptedDomain | fl Domainname,InitialDomain

Step 2:

Replace &lt;contoso&gt;.onmicrosoft.com with whatever domain is marked as IntialDomain True from step one and run this from the on-premises server Exchange Management Shel

[2019-02-28 09:13] h-david-a opened #655 "Typo: "hadow redundancy""
Safety Net takes over some responsibility from shadow redundancy in DAG environments: hadow redundancy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006ae2b1-446d-bf91-54ea-189d3203ff5f
* Version Independent ID: 07e36db2-e105-6ae9-ef1f-257eff033473
* Content: [Safety Net in Exchange Server](https://docs.microsoft.com/

[2019-02-28 09:13] Jcoetsee commented on #584
@dstrome Would you mind reviewing the questions asked by this individual and see if you can provide clarity?

It relates to the article
https://docs.microsoft.com/en-us/exchange/new-features/new-features?view=exchserver-2019.

[2019-02-28 09:23] FunkEinstein commented on #584
I already find answer from one Exchange blogger who contacting with Microsoft. More than that update with fixes already available and I have updated my server. So no more need in your help, but I was really disappointed with tech support here and on technet forum!

[2019-02-28 13:02] qyubee169 commented on #242
Does migrating the mailboxes from Gsuite include google drive?

[2019-02-28 15:01] lusassl-msft commented on #321
@AndreaBarr I think we can close this because documentation was updated.

[2019-02-28 15:08] #321 closed

[2019-02-28 15:18] jiuq01 opened #658 "-CloudServicesMailEnabled parameter don't exist in Exchange 2010"
Please add the powershell when the hybrid Exchange servers are in 2010 version; because the -CloudServicesMailEnabled parameter in New-SendConnector command in the Exchange 2010 powershell don't exist. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 498774ba-06b8-5087-f884-bab065225d63
* Version Independent I

[2019-02-28 16:41] Jcoetsee commented on #583
@christiangomez92 Just another follow up regarding this.

[2019-02-28 17:41] chrisda commented on #655
@h-david-a, I fixed it, but so can you. See https://github.com/MicrosoftDocs/OfficeDocs-Exchange/blob/public/README.md.

[2019-02-28 17:41] #655 closed

[2019-02-28 17:52] minhho90 opened #659 "Was unable to migrate exchange online public calendar to Groups."
I did everything on this list but the group calendar is not updated. Can anyone reach out to me to assist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a64bc33-37b2-5448-76b4-ec6bdb7a5f5a
* Version Independent ID: 1da420e5-5ad8-3484-5a3b-5f1d44ca97f0
* Content: [Use batch migration to migrate Exchange Online public

[2019-02-28 18:04] msdmaguire commented on #242
@qyubee169  No, currently we only support migrating mail from G Suite. Soon we will be releasing new functionality to migrate mail, calendar, and contacts to Office 365 from G Suite.

[2019-02-28 18:28] dplotnikov commented on #604
Hello @jacobyoby I've made a pull request to the repo with updated PS example and I confirmed it's okay on my end now

[2019-02-28 19:01] dstrome commented on #534
hi @danmyhre. Thanks very much for your feedback. We'll be doing some work on the hybrid content set soon and will include this as an area of improvement to consider.

David.

[2019-02-28 19:01] #534 closed

[2019-02-28 19:20] dariomws306 commented on #536
Hi @dstrome , Will your team be working on this article too? (related to Exch hybrid too)

Thanks!

[2019-02-28 20:39] PennyBristow opened #661 ".Net 4.7.3"
My brand new Windows Standard server came with .NET 4.7.3 according to the ms documentation it says it only supports 4.7.2 is this still accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-c046-ac148d95a102
* Version Independent ID: 8a61dd1e-1ba1-1c32-acd2-4e1b25da43a5
* Content: [Exchange Serve

[2019-02-28 21:01] #584 closed

[2019-02-28 21:02] #604 closed

[2019-02-28 21:27] msdmaguire commented on #586
@Surf-Solana Changes on the G Suite side have made some of our older procedures out of date. We are working to update them. In the meantime, consider contacting Microsoft Fast Track for assistance with your migration. http://fasttrack.microsoft.com/ Hope this helps.

[2019-02-28 21:27] #586 closed

[2019-02-28 22:49] shmohajerani opened #662 "Setting Encryption Protocol to TLS 1.2 - Integration (Communication) between OOS 2018 (NOV) and Exchange Server 2019"
On Subject of Integration between Office Online Server 2018 NOV and Exchange Server 2019, OOS wont be able to communicate with Exchange because there are of some mismatches in choosing Encryption Protocols . The solution is to set both on using TLS 1.2 (which is the most secure protocol here).

I can confirm that opposite of what is claimed in documents when it comes to communication between OOS a

[2019-02-28 23:07] albourg34 opened #664 "Inbound on port 25"
I understand the outbound port 25 (smtp send), I don't understand why the inbound on port 25 from the internet is needed. It is the best way to be blacklisted for spam abuse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c06c27d-22fa-911b-db81-233ee4a16529
* Version Independent ID: c9136fcc-9cd7-d36a-1097-f3b82265f68

[2019-02-28 23:35] chrisda commented on #664
@albourg34, are you talking about clients or servers? Inbound TCP/25 is required on any internet-facing email server (or security appliance, or device) to receive anonymous email from the internet. The messages would still be subject to (possibly blocked or quarantined by) anti-spam/anti-malware/anti-virus filtering.

[2019-03-01 12:30] lindspea commented on #614
@pdhewaju thank you for pointing this out and for your valuable contribution in helping improve MS docs.  Please confirm if this issue has been resolved or if there is anything that needs to be changed or added to the document.

[2019-03-01 16:57] geoC42 opened #667 "OAuth2ClientProfileEnabled $true | Disable Basic Auth"
Documentation states:

Run this command to enable modern authentication connections (disable basic authentication connections) to Exchange Online by Outlook 2013 or later clients:
Set-OrganizationConfig -OAuth2ClientProfileEnabled $true

My understanding is that this command only enabled the OAuth2 provider but does NOT disable basic auth.   if this is correct then the statement in parentheses con

[2019-03-01 18:14] #583 closed

[2019-03-01 19:34] msdmaguire commented on #659
@minhho90 Sorry to hear about your migration issue. Please open a support ticket and a support engineer can help you troubleshoot the issue. https://support.microsoft.com/en-us/hub/4343728/support-for-business

[2019-03-01 19:34] #659 closed

[2019-03-01 19:35] #643 closed

[2019-03-01 19:35] #644 closed

[2019-03-01 21:21] nlau86 commented on #408
Would clients that support modern authentication but are currently using basic authentication be prompted again to enter credentials & MFA when modern authentication gets enabled?

[2019-03-01 23:02] scanum commented on #374
@gmfricke Hi Matthew! Thank you very much for your kind feedback. We recommend that you submit this feedback into Outlook [Uservoice](https://outlook.uservoice.com/). Exchange does not have a UseVoice channel, however, the Outlook team works with Exchange to add features when needed. The team will evaluate and take the appropriate action, as per their schedule. We strongly appreciate you for takin

[2019-03-01 23:04] scanum commented on #560
@tfcarlin Thank you very much for your kind feedback. We recommend that you submit this feedback into Outlook [Uservoice](https://outlook.uservoice.com/). Exchange does not have a UseVoice channel, however, the Outlook team works with Exchange to add features when needed. The team will evaluate and take the appropriate action, as per their schedule. We strongly appreciate you for taking time and s

[2019-03-01 23:04] scanum commented on #593
@dandavey  Thank you very much for your kind feedback. We recommend that you submit this feedback into Outlook [Uservoice](https://outlook.uservoice.com/). Exchange does not have a UseVoice channel, however, the Outlook team works with Exchange to add features when needed. The team will evaluate and take the appropriate action, as per their schedule. We strongly appreciate you for taking time and

[2019-03-01 23:05] scanum commented on #611
@bazookadaver Thank you very much for your kind feedback. We recommend that you submit this feedback into Outlook [Uservoice](https://outlook.uservoice.com/). Exchange does not have a UseVoice channel, however, the Outlook team works with Exchange to add features when needed. The team will evaluate and take the appropriate action, as per their schedule. We strongly appreciate you for taking time a

[2019-03-02 00:17] dariomws306 commented on #481
Hi @SquirrelAssassin , thanks for your feedback.

You should run these onpremises ("Open the Exchange Management Shell on an Exchange 2013 or Exchange 2016 server running the latest available CU, or the immediately previous CU.").

First command apply to one user ("To enable ACLs on a single mailbox").

Second to all users ("To enable ACLs on all mailboxes moved to Office 365").

[2019-03-03 15:23] mustafayevtural opened #669 "Mistyping on Organizational limits subtitle (configuration)"
Cmdlets: New-TransportRule, Set-TransportRule
Parameter: AttachmentSizeOver
On ECP configuration analog there should be &gt;&gt; Apply this rule if &gt; Has Attachement that's larger than or equal to and enter a value in kilobytes (KB). (NOT Apply this rule if &gt; The message &gt; size is greater than or equal to, and enter a value in kilobytes (KB).)

---
#### Document Details

⚠ *Do not edit th

[2019-03-04 16:30] Dave247 opened #671 "Broken URL"
There is a broken URL link for the "Install Office Online Server in an Exchange organization" topic.
Instead the display text reads,
`[Install Office Online Server in an Exchange organization](../plan-and-deploy/install-office-online-server.md`

The problem originated from a previous commit here on line 29,
https://github.com/MicrosoftDocs/OfficeDocs-Exchange/commit/1d05b9142f031339f70df89423b2f2f

[2019-03-04 16:31] #374 closed

[2019-03-04 16:31] #439 closed

[2019-03-04 16:32] #560 closed

[2019-03-04 16:32] #593 closed

[2019-03-04 16:33] #611 closed

[2019-03-04 18:40] chrisda commented on #669
@mustafayevtural, you are correct. I changed the line "Apply this rule if > **The message** > size is greater than or equal to, and enter a value in kilobytes (KB)" to Apply this rule if > **Any attachment** > size is greater than or equal to, and enter a value in kilobytes (KB)".

In the future, you, too can make these types of changes to topics. For more information, see https://github.com/Micro

[2019-03-04 18:40] #669 closed

[2019-03-04 20:52] dstrome commented on #536
hi @danmyhre ,

Thanks for your question. The Organization FQDN is specific to secure mail; while it may also be the same FQDN as the one you use for OWA traffic, this specific page is related to secure transport only. For secure transport, you must specify the FQDN of an on-premises Exchange server. No hardware or services that process or modify SMTP traffic can be placed between Office 365 and y

[2019-03-04 20:52] #536 closed

[2019-03-04 20:59] songyen20 opened #672 "So, OWA has to be 2013 or newer to work with ADFS 4.0 (2016)?"
So, OWA has to be 2013 or newer to work with ADFS 4.0 (2016)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8814165c-8438-b93f-3f23-4ad5e03b6373
* Version Independent ID: 34b519a0-8d64-8036-914c-3df7948f8979
* Content: [Using AD FS claims-based authentication with Outlook Web App and EAC](https://docs.microsoft.com/en

[2019-03-04 22:56] kenwith commented on #614
@pdhewaju and @lusassl-msft -- we aren't sure what to do with this topic and it seems there might be conflicting use cases where something works for one but not the other. We are going to leave the article as-is for now but please feel free to re-open this issue or better yet if you can submit a Pull Request if you feel strongly the article needs to be updated. For particular cases that work or do

[2019-03-04 22:56] #614 closed

[2019-03-05 01:55] dariomws306 commented on #73
As we can see in the KB3064053 is not fully supported by Microsoft but it should work.

I still have a pending task to fully test it.

[2019-03-05 11:30] lukewelden opened #677 "Excellent"
This article was great! Very easy to follow, this was my first time setting up an SMTP Relay server and the above article helped me greatly. Thanks Guys!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e73bb3c6-ab71-066f-18e8-f0726cebf9d2
* Version Independent ID: 16e49af3-9980-d928-7667-ee8f5e07c487
* Content: [How to

[2019-03-05 11:51] fixerivan commented on #559
![image](https://user-images.githubusercontent.com/29037777/53803532-543ba880-3f45-11e9-95e0-72e9c5a90485.png)

it is down again

[2019-03-05 19:36] scanum commented on #677
@lukewelden We really appreciate your feedback! Glad our content meets your expectations. Thank you.

[2019-03-05 19:38] #481 closed

[2019-03-05 19:39] #677 closed

[2019-03-05 19:41] scanum commented on #653
@susan3702  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs, or if there is anything specific that needs to be clarified.

Please follow this link to contact support for business products:  https://docs.microsoft.com

[2019-03-05 23:04] #653 closed

[2019-03-05 23:24] scanum commented on #626
@JJGira Thank you very much for your feedback. Could you confirm that you have checked that the software you are using supports it?

[2019-03-06 00:31] JJGira commented on #626
I'm sorry, when I posted this I stated I was having a problem with Option 1.  Guess I wasn't paying attention as I meant Option 2 (sending directly from the application).  Have been working with the vendor to find out where the problem is.  I can confirm that when TLS 1.0 is disabled, it doesn't work.  When TLS 1.0 is enabled, then it does work...  Trying to verify that the application does suppor

[2019-03-06 14:23] TokyoScarab commented on #612
Hello!  Thank you for posting this question.  From what this sounds like, this is an issue better suited for [Microsoft Support](https://support.microsoft.com/en-us/contactus/).  If you find that support wasn't able to address this issue or they did and something pertaining to this would warrant an update in documentation, please leave another comment. Thanks!

[2019-03-06 18:17] chrisda commented on #658
@jiuq01, OK. Done. Thanks for the feedback.

[2019-03-06 18:17] #658 closed

[2019-03-06 18:20] chrisda commented on #671
@Dave247, the issue was caused by a missing trailing ) at the end of the link. I fixed it.

Thanks for the feedback.

[2019-03-06 18:20] #671 closed

[2019-03-06 19:19] Dave247 commented on #671
Happy to help.

[2019-03-07 08:10] j0rt3g4 commented on #565
I've worked on this request I've added information:
Pull request #680

The case where the domain source and target are equal it's a new page request and needs to be managed in another issue.

[2019-03-07 12:33] AtarianComputing commented on #559
Down here as well.

[2019-03-07 13:30] YuriySamorodov opened #681 "Exchange 2016 Setup Error Copying mmc.exe.config"
While setting up Exchange 2016 Management tools on Windows 10 Version 1803 Build 17134.590 it would throw an error:
[code]
Running setup.exe as an Administrator will make no difference.

[2019-03-07 20:08] msdmaguire commented on #519
@Jason9973 Instead of third-party tools, we will soon begin emphasizing Fast Track https://www.microsoft.com/en-us/fasttrack/?rtc=1 for most customer email migrations. Thanks for your feedback.

[2019-03-07 20:08] #519 closed

[2019-03-07 23:19] dajones70 opened #682 "Please research how SPF works and correct this article"
The SPF record is based on the envelope-from domain (SMTP MAIL FROM).  See https://tools.ietf.org/html/rfc7208#section-2.4 .
The SPF record tells receiving Internet edge mail servers approved sources of senders for the envelope-from domain.  In scenario 1, the outbound Internet edge delivery is Office 365 so all that is needed is the normal "include:spf.protection.outlook.com".  The red line mail

[2019-03-08 00:19] afield1235 commented on #339
@AndreaBarr, @sonika24

What's the deal here? This has been opened for a while and there has been no feedback at all from Microsoft. This thread is the entire reason why you'd want to disable Basic Authentication. Can we please get a clear answer from Microsoft? I don't understand the radio silence.

[2019-03-08 11:08] agowa338 opened #683 "128 GB Memory?"
What is the reason for that requirement? Can we expect it to be lowered with one of the next CU updates?
If not, should we evaluate moving to Open-Xchange (12GB) instead of Exchange 2019 coming from Exchange 2013/2016 (8GB to 192GB)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-c046-ac148d95a102
*

[2019-03-08 16:07] TokyoScarab commented on #605
Hello!  I have gone over your question and I believe the information on [this](https://docs.microsoft.com/en-us/exchange/security-and-compliance/messaging-records-management/retention-tags-and-policies) page should shed some light on this.  If not, feel free to comment back here with more information on your specific case.  For a faster and more direct communication solution to this issue, you can

[2019-03-08 18:43] TokyoScarab commented on #599
Hello! Thanks for bringing up this question.  The wording of that line in the documentation is a little misleading.  The line is stating that you need to install the CU on at least one of your servers because the update needs to affect at least 1 mailbox and client access role.  So the wording used here would be a condensing of that information.  Just to clarify, in cases where you have these mult

[2019-03-08 18:44] briankronberg opened #685 "Lots of public folders"
If you have a lot of public folders then the commands under "Step 2: Prepare for the migration" will not work.  Here are some suggested replacements.

Get-PublicFolder -Recurse | Export-CliXML C:\PFMigration\Legacy_PFStructure.xml
Get-PublicFolder -Recurse -ResultSize Unlimited | Export-CliXML C:\PFMigration\Legacy_PFStructure.xml

Get-PublicFolderStatistics | Export-CliXML C:\PFMigration\Legacy_P

[2019-03-08 18:59] chrislehr opened #687 "The supported UCC certs link no longer works"
This section:
"Choose a CA that says it supports "Unified Communications" (UC) certificates for use with Exchange. For more information, see Unified Communications certificate partners."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b86e0c7c-8d35-6385-49f4-b75ade2ed887
* Version Independent ID: fef2f0e5-b17a-c2e1-3a36

[2019-03-08 21:27] TokyoScarab commented on #577
Thanks for bringing this up!  The documentation will be updated with a link for the Skype For Business side of the configuration.

[2019-03-08 21:33] mhendric opened #689 "Azure AD Object Limit of 300,000 Incorrect"
This article says there is a limit of 300,000 objects per Azure AD Directory. This statement is no longer in sync with actual Azure AD limits (50,000 initial, 500,000 for all tenants after verification, and unlimited for Azure Premium):

https://azure.microsoft.com/en-us/pricing/details/active-directory/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-08 22:45] philbert66 opened #690 "Clarify statement in scenario 2: because it causes Office 365 spam filtering not to work properly."
This seems to indicate:
"if a 3rd party is used that does not scan for spam, the email will not be filtered correctly by Office 365"
so it follows that...
"spam *not detected* by a 3rd party scanner will not be filtered correctly by Office 365."
furthermore:
"if my 3rd party company is poor at spam filtering, we will get a lot of spam, because Office 365 will not make up for a poor 3rd party scann

[2019-03-08 22:49] scanum commented on #599
PR#686

[2019-03-09 12:14] lindspea commented on #654
@Smartboss88 thank you for pointing this out.  Will look into it and have the changes implemented soonest.

[2019-03-09 12:14] lindspea commented on #645
@toddellisn I will have answers to your questions shortly.  Thank you for reaching out.

[2019-03-09 12:16] lindspea commented on #637
@marc-fom I will have an answer for you once I have done some investigating.  Thanks for reaching out.

[2019-03-09 12:17] lindspea commented on #626
@JJGira Hi there. I will get back to you soonest with an answer.  Thanks for reaching out.

[2019-03-10 09:42] albourg34 commented on #664
I don't agree with anonumous e-mail, it is the open door for sending spam.
SMTP allowed from inside the company to send using outlook, OK. But not from the internet to connect to the exchange server. Why does exchange need that?

[2019-03-10 15:16] ranjithpothu opened #693 "The internal links do not work. Kindly verify."
The internal links do not work. Kindly verify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c535a571-01a4-9c3f-0a59-5f26102b18f1
* Version Independent ID: 6fb6bd97-18d2-7049-c539-55adaa0d2556
* Content: [Exchange Online and Exchange Online Protection service upgrade](https://docs.microsoft.com/en-us/exchange/exchange

[2019-03-11 03:03] j0rt3g4 commented on #683
@agowa338  I Absolutely think that it was a typo there.
There's no reason why an exchange server would require 128GB in a single installation at least there's a really big environment.

The recommended size for the memory should be 8gb + 16 MB per mailbox.

[2019-03-11 08:55] lindspea commented on #626
@AndreaBarr  @scanum this can be closed thank you.

[2019-03-11 09:49] mailgut opened #694 "Please Support Exchange 2016 with Windows 2019 AD Controllers"
We want to Update our Domaincontrollers for the root domain an the child domain with windows 2019. Could you please support this?

[2019-03-11 16:01] j0rt3g4 commented on #576
@danmyhre I've added information about in the PR #695

[2019-03-11 16:09] scanum commented on #577
PR #688

[2019-03-11 16:37] labanex opened #696 "OWA does not allow searching both primary and in-place archive"
In fact I noticed that when searching in any mailbox, you have to be in that mailbox to search a mailbox. In-Place Archive the same way as shared mailboxes. In Outlook, searching primary and archived mailbox does work in Outlook 2016. Have not tested 2010 or 2013.
https://docs.microsoft.com/en-us/exchange/in-place-archiving-in-exchange-2013-exchange-2013-help#in-place-archives-and-other-exchange-f

[2019-03-11 17:27] #565 closed

[2019-03-11 17:28] chrisda commented on #664
@albourg34, do you have an alternative suggestion? If not inbound TCP/25 to your internet-facing email server, how do you get email from the internet to your email server as shown in the diagrams in the topic? You certainly can't restrict by source IP address (how can you specify where any/all email on the internet is coming from?) and you have to use TCP/25 (how else could internet email server s

[2019-03-11 17:29] #576 closed

[2019-03-11 17:30] #599 closed

[2019-03-11 17:30] #605 closed

[2019-03-11 17:30] #612 closed

[2019-03-11 17:31] #577 closed

[2019-03-11 17:48] pgenova commented on #559
Still down...

[2019-03-11 17:52] #626 closed

[2019-03-11 19:11] ggianelli commented on #332
Any update in shared mailboxes information?

[2019-03-11 22:21] scanum commented on #696
@officedocsbot assign @scanum

[2019-03-11 22:24] chrisda commented on #683
@agowa338, @j0rt3g4, there's no typo. 128GB is the minimum recommended RAM for Exchange Server 2019.

[2019-03-11 22:24] #683 closed

[2019-03-11 22:26] chrisda commented on #693
@ranjithpothu that topic appears very old, and probably shouldn't have been migrated from TechNet to docs.microsoft.com. The FOPE to EOP migration happened 4+ years ago. I'll take the topic out of the table of contents (TOC) and hide it from search results.

Thanks for the feedback.

[2019-03-11 22:26] #693 closed

[2019-03-11 22:58] chrisda commented on #694
@mailgut, I'm sure it's coming. It's just a matter of testing and verifying. We'll be sure to update the documentation when Windows 2019 DCs are supported with Exchange 2016.

Thanks for the feedback.

[2019-03-11 22:58] #694 closed

[2019-03-11 23:06] j0rt3g4 commented on #683
I could install exchange 2019 on a 8gb ram virtual machine. It's tremendous amount of memory. So can we know why is that big? What has exchange server 2019 different from 2016 that makes it  so demanding on resources?

[2019-03-12 03:02] rpodric commented on #339
Take a look at that screenshot in my last post. By saying that's just noise ignores the crux of the issue, which is that users--using legit user accounts--are leveraging BASIC auth (note that it says IMAP, so we're not talking Modern at all) despite it being universally disabled in our tenant. It shouldn't be there to use.

You say there's no way to stop it, but disabling basic auth should, by def

[2019-03-12 08:21] salmosS commented on #559
One more time its out of service with error 503

[2019-03-12 08:53] lindspea commented on #654
@j0rt3g4

[2019-03-12 09:14] agowa338 commented on #683
For everyone reading, there are now four options:

1. Provide much more memory, which will increase to total cost
2. Just 8-12GB of ram and if you someday need to open a ticket at microsoft, just temporarily increase it to 128GB (they will like that for sure :p)
3. Switch to openXchange or anything else
4. Stick with Exchange 2016

[2019-03-12 15:02] robderickson opened #698 "Table under "Properties of the default self-signed certificates" not displayed correctly"
The table under "Properties of the default self-signed certificates" is exploded on docs.microsoft.com. The table looks fine in GitHub, and in VS Code Markdown preview. Maybe there is an issue with rendering `\&lt;ServerName\&gt;`? Could try `&lt;ServerName&gt;` instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2019-03-12 15:07] robderickson commented on #698
Never mind. It looks like the issue is around line 155; col 166. Backtick left open..

[2019-03-12 15:14] robderickson commented on #698
Issue address in PR #699.

[2019-03-12 16:34] AndyFriar opened #700 "Incorrect Powershell commands"
Lots of Set-Set-RemoteDomain rather than Set-RemoteDomain, i'm sure most people would have guessed but to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03f55019-577c-7488-4ea9-ac54761a4834
* Version Independent ID: 6fb44d44-204c-c2a1-31ec-f875e469367e
* Content: [Manage remote domains in Exchange Onli

[2019-03-12 16:42] AndyFriar commented on #700
Pull Request #701

[2019-03-12 17:54] pstasik opened #703 "Hybrid Keys with Exchange 2019"
Nowhere is it listed that Exchange 2019 MUST be fully licensed BEFORE attempting to run the HCW because MSFT is not providing Hybrid keys for Exchange 2019.  What are we supposed to do if we've already installed Exchange 2019 in a Hybrid environment short of buying a pricey license we will never get full use of?

[2019-03-12 20:22] chrisda commented on #700
@AndyFriar, fixed. Thanks for the feedback. And remember, you can fix stuff like this in topics, too. See https://github.com/MicrosoftDocs/OfficeDocs-Exchange/blob/public/README.md.

[2019-03-12 20:22] #700 closed

[2019-03-12 20:50] scanum commented on #637
@marc-fom  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-12 20:50] scanum commented on #637
@officedocsbot close

[2019-03-12 20:50] #637 closed

[2019-03-13 08:46] Larryngolog opened #704 "Please add originator info for the incomming hybrid traffic"
For security reasons we need to limit who has access to our infrastructure. Currently EWS, Autodiscover, etc, are not published publically. When we setup the hybrid we have to be able to allow only Office 365 to connect to our published infrastructure. To do this we need a list of IPs of Office 365 services that will connect to the service. Can you add to the "Hybrid deployment protocols, ports, a

[2019-03-13 12:13] scanum commented on #645
@toddellisn  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2019-03-13 12:13] scanum commented on #645
@officedocsbot close

[2019-03-13 12:13] #645 closed

[2019-03-13 12:26] scanum commented on #661
@officedocsbot assign @scanum

[2019-03-13 12:27] scanum commented on #636
@GustavBrock  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-03-13 12:27] scanum commented on #636
@officedocsbot close

[2019-03-13 12:27] #636 closed

[2019-03-13 12:29] scanum commented on #672
@officedocsbot assign @scanum

[2019-03-13 12:29] scanum commented on #681
@YuriySamorodov  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-03-13 12:29] scanum commented on #681
@officedocsbot close

[2019-03-13 12:29] #681 closed

[2019-03-13 12:30] scanum commented on #682
@officedocsbot assign @scanum

[2019-03-13 12:31] scanum commented on #685
@briankronberg  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Exchange better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://office365.uservoice.com/. The Office 365 team works with Exchange.

You might find others have made a similar re

[2019-03-13 12:31] scanum commented on #685
@officedocsbot close

[2019-03-13 12:31] #685 closed

[2019-03-13 12:31] scanum commented on #687
@officedocsbot assign @scanum

[2019-03-13 12:32] scanum commented on #689
@officedocsbot assign @scanum

[2019-03-13 12:34] scanum commented on #690
@officedocsbot assign @scanum

[2019-03-13 12:36] scanum commented on #698
@robderickson  Thank you for submitting this feedback and also providing a solution.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 12:36] scanum commented on #698
@officedocsbot close

[2019-03-13 12:36] #698 closed

[2019-03-13 12:36] scanum commented on #703
@pstasik - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-13 12:37] scanum commented on #703
@officedocsbot close

[2019-03-13 12:37] #703 closed

[2019-03-13 12:37] scanum commented on #623
@officedocsbot assign @scanum

[2019-03-13 12:37] scanum commented on #622
@officedocsbot assign @scanum

[2019-03-13 12:37] scanum commented on #620
@officedocsbot assign @scanum

[2019-03-13 12:37] scanum commented on #369
@officedocsbot assign @scanum

[2019-03-13 14:05] AZphanus commented on #559
It has been down for me for the past couple of days.

[2019-03-13 15:42] markjjo commented on #620
@ralfdo Please click the Edit button at the top of the article and make any revisions to the topic and then submit a pull request, particularly what troubleshooting issues can be resolved by know the location of the admin audit log.

[2019-03-13 15:42] #620 closed

[2019-03-13 15:43] markjjo commented on #620
I should have said "mailbox audit logs".

[2019-03-13 21:57] afield1235 commented on #339
@TechB0t It doesn't help and its anecdotal because you are not Microsoft. No one is asking to "pre block" someone. We are simply requesting a confirmation that a user trying to make a repeated "basic" authentication attempt to a client will not lock their account with basic authentication disabled.

@rpdoric you provided screenshots that shows accounts are locked, but are the users actually gettin

[2019-03-13 21:57] afield1235 commented on #339
@rpodric you provided screenshots that shows accounts are locked, but are the users actually getting locked out or is just "logging" that a locked would've occurred had basic authentication been enabled? What is you intentionally try and lock your account with basic requests? Do you get locked out.

[2019-03-13 22:29] rpodric commented on #339
That's a good question. I'll try to figure out a way to use basic auth to do it. I thought of trying Thunderbird (IMAP), but that didn't even trigger a lockout according to the log. Perhaps it wasn't fast enough?  Any better way to do this?  Here are the rules:

[2019-03-13 22:53] afield1235 commented on #339
I was able to, I used OSX mail and just failed over and over, slightly changing the password each time:
"Account is locked because user tried to sign in too many times with an incorrect user ID or password."

I have IMAP Disabled (Basic is still enabled) though for this user, once again, not sure why authentication attempts are allowed and the account still locks.

[2019-03-13 23:05] rpodric commented on #339
Was that an actual lockout?

I was testing with the opposite: a user with IMAP enabled (which is the default, so that's what most tenants are going to have) but basic auth disabled for all protocols and users.

I was doing the same thing as you described but with Thunderbird. Not sure why it didn't trigger anything. To be clear, IMAP most definitely does not work.

[2019-03-14 09:50] arveja opened #708 "Incomplete guide"
What if the server does not have a certificate? This is not mentioned in the steps. And if the email could not be sent in the first place, it will be stuck in the queue, and no NDR will be available in the BadMail folder.

I'm not able to get this to work using this guide.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-14 10:31] arveja commented on #708
Apologies, I was in the wrong after not following the guide properly (confused a couple of steps as I'm on Server 2016). Thanks for the guide, it works.

[2019-03-14 10:31] #708 closed

[2019-03-14 12:10] bfegger commented on #559
and again. Service unavailable. Could someone please reset or fix it? Or at least tell us why and when?
thx

[2019-03-14 12:54] vboyev-MSFT opened #709 "What is an SMTP URL?"
is the author attempting to convey SMTP namespaces? I've never seen the term SMTP URL used before, it does not seem to be common use in the context of SMTP. For HTTP workloads, sure....

"The necessary services must be defined in the second datacenter. For example, if the first datacenter has three different SMTP URLs on different transport servers, the appropriate configuration must be defined in

[2019-03-14 18:41] vbhadauria22 commented on #73
We have checked send as permission as per mentioned in this article but its not working, however send as working if we run cmdlet like this.

Add-RecipientPermission -Identity "ONPREM1" -Trustee EXO1 -AccessRights SendAs

[2019-03-14 23:36] afield1235 opened #710 "Active Sync Experience is Horrible w/ Modern Auth"
Hello,
We currently are using MFA and leverage App passwords which permanently lock the user's username and password into the device. This persists even through password changes and the experience is **great.**

With Modern auth, users are prompted to re enter their credentials and perform a MFA challenge (manually, copy paste code) every 30 days. This experience is really poor and wastes time. Is

[2019-03-15 17:09] afield1235 commented on #696
Archive searching does not WORK AT ALL on a mac which is a big oversight. With the webmail same experience as original posted. You have to specifically select the archive to search it, and when you do, it won't include any results from your regular inbox or folders. The archive is a really bad experience right now.

[2019-03-17 02:06] ajhstn opened #712 "What about Set-CASMailboxPlan"
Hello, how is the EO authenticationPolicy differ to the CAS Mailbox Plan? for example

`Set-CASMailboxPlan -ImapEnabled $false -PopEnabled $false`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0905ff-a481-c566-3869-595e8cf125cb
* Version Independent ID: 4c688d1c-87ba-9c82-3258-9ee8de0e6b1a
* Content: [Disable Basic

[2019-03-17 02:14] ajhstn opened #713 "DefaultAuthenticationPolicy clarification"
Hello, please clarify these sentences from this document.

The default authentication policy is assigned to all users who don't already have a specific policy assigned to them.
Note that the authentication policies assigned to users take precedence to the default policy. To configure the default authentication policy for the organization, use this syntax:"

Set-OrganizationConfig -DefaultAuthentic

[2019-03-18 02:18] GregLeonard opened #714 "SPF support for 3rd party Exchange Hybrid mode"
This page is confusing and misleading customers as it is blurring supported configurations, versus where Microsoft support can assist in SPF related cases.  Can we please update this page for clarity purposes.

This is my personal view and is to be cleared formally by Microsoft support.

SPF is a method to prove email domain authenticity.  In simple terms, organisations can nominate a supported li

[2019-03-18 11:32] MikeParker365 opened #716 "Licensing requirements"
Would be good to have clear indication of the licensing requirements for placing mailboxes under hold, both litigation and in-place, for different mailbox types, i.e. Shared Mailbox vs. User mailbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0957d8b7-cb89-0aa7-f8ac-329aa3c2b085
* Version Independent ID: 21e5f86c-1

[2019-03-19 17:15] chrisda commented on #713
@ajhstn, you are correct. The authentication policy at the org level applies to everyone **until** you create and apply specific authentication policies to users. At that point, whatever you configure in those policies overrides the default policy at the org level. So, if you disable Basic Auth at the org level, but enable Basic Auth at the user level, the user level authentication policies take p

[2019-03-19 17:20] chrisda commented on #712
@ajhstn, it has to do with where in the authentication chain that access is blocked. Authentication policies are better suited to block connection attempts in the pre-authentication phase, which would help to prevent account lock-outs during brute-force or password spray attacks. If you only blocked POP/IMAP access using the CAS mailbox plan, attacks could still hammer against usernames and passwo

[2019-03-19 17:33] chrisda commented on #709
@vboyev-MSFT, yeah, that's a bit odd, and it goes all the way back to the Exchange 2010 version of the topic. I changed it to "SMTP destintations" as in, inbound mail is round-robin or load-balanced to three different destination transport servers.

Thanks for the feedback.

[2019-03-19 17:33] #709 closed

[2019-03-19 17:44] chrisda commented on #689
@mhendric, I updated it. You, too can also make these kinds of changes to topics. For more information, see https://github.com/MicrosoftDocs/OfficeDocs-Exchange/blob/public/README.md.

[2019-03-19 17:44] #689 closed

[2019-03-19 20:32] chrisda commented on #687
@chrislehr, I removed that bullet from the list.

Thanks for the feedback.

[2019-03-19 20:32] #687 closed

[2019-03-19 22:15] chrisda commented on #716
@MikeParker365, are you talking about on-premises Exchange licensing and the affect of having different types of mailboxes on hold?

Apparently, in on-premises Exchange, there's no concept of an inactive mailbox (where you put the mailbox on hold, delete the account, and the mailbox stays around indefinitely). The best you can do in on-prem is to disable the account and hide the mailbox from the G

[2019-03-20 10:22] danmyhre opened #717 "Missing details on selective wipe"
Please add details on the "Account Only Remote Wipe Device" option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92072b83-beec-a8d5-b5c0-b5900265fbc8
* Version Independent ID: 134ac1f2-0fc9-9598-b89a-72110c16c214
* Content: [Perform a remote wipe on a mobile phone](https://docs.microsoft.com/en-us/exchange/clients/exc

[2019-03-20 11:58] trudolf-msft opened #718 "Documentation for Search-Mailbox missing"
Cmdlet is still available (O365 too) but I cannot find any documentation.

Same with PowerShell help:

PS C:\Users\trudolf> Get-Help Search-Mailbox
Get-Help : Exception calling "Invoke" with "0" argument(s): "Cannot find path '' because it does not exist."
At line:1 char:1
+ Get-Help Search-Mailbox
+ ~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Get-Help], MethodInvocati

[2019-03-21 10:06] Migmakers commented on #113
I am really confused about all this.

**Quote from article:**
"Unfortunately App Passwords are no longer available on Google account that are set to use Security Key only. Maybe time to update your software to a more modern API?"

I am getting ready for migration for my company +-20 folks. I have only remote access to my folks so the preparation is the key for me.
1. Do I need to enable the MFA in

[2019-03-21 18:13] halavehzadeh opened #719 "it was really helpfull"
thanks for Microsoft for this document ,it was really answer my question related to install Exchange

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f347a03-e2c5-5ae2-e409-ddb6d544ccfd
* Version Independent ID: 839ff415-2b55-e312-3121-0fd2d9ca5a88
* Content: [Prepare Active Directory and domains for Exchange Server, Ac

[2019-03-21 21:15] chrisda commented on #719
@halavehzadeh, you are most welcome.

[2019-03-21 21:15] #719 closed

[2019-03-21 21:23] chrisda commented on #718
@trudolf-msft, there's a known Windows PowerShell 5.1 problem that affects Get-Help in Exchange Online PowerShell (the error message you quoted). This problem doesn't affect Office 365 Security & Compliance Center PowerShell. This problem has been going on for a while, and has only been recently identified.

[2019-03-21 21:23] #718 closed

[2019-03-22 01:46] chrisda commented on #690
@philbert66, the main reason the scenario breaks Office 365 spam/phish filtering is because the third-party service is taking the message, altering it, and re-delivering the message, the third-party service effectively becomes the new source of the message. The true source of the message is obfuscated. I updated the topic to explain this.

[2019-03-22 01:46] #690 closed

[2019-03-22 01:51] chrisda commented on #682
@dajones70, yeesh. You're right. It's surprising that no one ever called that out.

Clearly, the third-party filtering service isn't a source of email for the domain in the scenario. Outbound email is sent directly from Office 365 to the internet, so only Office 365 is the source of email for the domain. Now, if outbound email was also sent out through the service, that would be a different story.

[2019-03-22 01:51] #682 closed

[2019-03-22 02:54] ajhstn commented on #408
Hi @chrisda you say that enabling modern auth `Set-OrganizationConfig -OAuth2ClientProfileEnabled $true` does not block basic auth, however the document states that it does..

Which is true?

[2019-03-22 09:54] lrandall-gillsch opened #722 "TLS 1.1 & 1.2 Support not enabled by default in Windows 7 - Causes Outlook not to work"
I think there should be a note under "Supported clients" to say that for Windows 7 you need KB3140245 and to apply registry keys to enable TLS 1.1 & 1.2 support for Windows 7, otherwise Outlook (2013 and 2016 from my testing) does not work on Windows 7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c3abd2-dff3-efd8-

[2019-03-22 10:43] trudolf-msft commented on #718
Hi Chris,
there is no documentation (TechNet or Docs) at all for this still existing cmdlet.
Please fix.
Thanks, Thomas

[2019-03-22 14:23] hudish opened #723 "Please include that Dynamic Distribution Group are objects that do not sync to AAD and therefore blocked by DBEB."
Please include that external/Hybrid Exchange Server Dynamic Distribution Group are objects that do not sync to AAD and therefore blocked by DBEB. To work around, a contact object is created with External SMTP address of that group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeb394c8-1004-a253-7806-71fdc9406478
* Ve

[2019-03-22 15:23] lightupdifire opened #724 "Save Contacts in Android policy"
Hello,
Save Contacts in Android don't work well, tested in 2x tenants.
When enable Save Contacts, then save policy and open policy again, option is not selected at all for section of "Save Contacts";
See print screen here: https://techcommunity.microsoft.com/t5/Intune-Customer-Success/New-Outlook-for-iOS-and-Android-App-Configuration-Policy/ba-p/370481

---
#### Document Details

⚠ *Do not edit th

[2019-03-22 16:28] chrisda commented on #718
@trudolf-msft, all Exchange cmdlet reference topics were migrated from TechNet to docs.microsoft.com at the end of March, 2018. The Search-Mailbox cmdlet topic is alive and well here:

https://docs.microsoft.com/powershell/module/exchange/mailboxes/search-mailbox

The first search result in both Bing and Google for "Search-Mailbox" is this topic.

Any previous links to the TechNet versions of this

[2019-03-22 20:18] chrisda commented on #408
@ajhstn, we know 100% that `Set-OrganizationConfig -OAuth2ClientProfileEnabled $false` will prevent Outlook 2013 or later from connecting by using Modern Auth. And, I just confirmed that `Set-OrganizationConfig -OAuth2ClientProfileEnabled $true` doesn't disable Basic Auth for Outlook 2013 or later, so I'll remove  "(disable basci authentication connections)" from the topic.

Thanks for keeping me

[2019-03-25 03:33] ausotechteam opened #726 "O365 SMTP relay for on-premise applications"
Hi,

We have Exchange 2010 running on-premise in hybrid mode (all our users mailboxes are in O365), currently we use our exchange server to relay email from on-premise applications/devices to O365).  We are planning to use our Exchange server for management purposes only, and setup mail relay using the three methods described in this article.  However, towards the end of the article it mentioned "

[2019-03-25 09:01] MikeParker365 commented on #716
@chrisda I'm talking about in Exchange Online, for Shared Mailboxes, do they need an EXO P2 license to be placed under In-Place Hold. Do they require a license for Litigation Hold? Would also be good to clarify the difference in licensing requirements for a hold created from EXO Admin Center vs. Security and Compliance Center.

[2019-03-25 13:20] TymWongPSNinja opened #727 "Shared Mailboxes and Office 365 Retention Policies"
Is it possible to use office 365 retention policies as configured in the security & compliance portal to ensure data is kept for a number of years for a Shared Mailbox under the free licence? Or does this require licensing the shared mailbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 488ecf85-5f6d-3abd-4253-8527b5

[2019-03-25 14:32] AndyH16 commented on #724
I'm not able to get the new settings to take effect, apart from the mailbox setup (mail server, auth type, etc.)

I've configured the Focused Inbox (Off) and Sync Contacts (On), then when I go back in to view them they all show as 'Not configured'. If I go into the JSON data view I can see the entries though.

[2019-03-25 18:21] adamgriffingit opened #729 "EAC website DLP vs Protection website DLP"
The documentation should reference https://protection.office.com as there is at least one default policy contained there that is not in the EAC data-loss-prevention section. Also, is one of them becoming deprecated? It wasn't clear which one is preferred.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-25 20:46] curspice opened #731 "Command Error"
The command in step 2 should begin with .\, as in:
.\Sync-MailPublicFolders.ps1 ...

because it's a PowerShell script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1812196b-e6c5-7f6e-fa82-49df2a47d73d
* Version Independent ID: cc06c76a-b7a0-7c21-0a73-c66b9b05a055
* Content: [Configure Exchange 2013 public folders for

[2019-03-26 00:56] capnjax21 commented on #724
I am having the same issue for Outlook on Android managed devices.

[2019-03-26 06:40] lightupdifire commented on #724
Hello,
For me settings for Save Contacts not just like "Not configured", they like dis-selected

![image](https://user-images.githubusercontent.com/39700914/54976339-57511400-4f9a-11e9-9fb8-3ae489163a39.png)

[2019-03-26 10:04] qyubee169 commented on #242
Thanks a lot.

On Thu, Feb 28, 2019 at 7:04 PM David Maguire <notifications@github.com>
wrote:

[2019-03-26 14:01] benoitms opened #734 "Licensing requirement"
Is the domain restriction feature still in preview and subject to AAD Premium licence? I do not see any mention in the official documentation: https://docs.microsoft.com/en-us/azure/active-directory/b2b/allow-deny-list
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08bf021-f95a-ab2f-85e3-4f4c44374501
* Version

[2019-03-26 16:49] 4rtorias commented on #600
According to this, TLS is required for SMTP Relay:

https://blogs.technet.microsoft.com/exchange/2016/03/29/important-notice-for-office-365-email-customers-who-have-configured-connectors/

[2019-03-26 17:55] mcavasin commented on #704
Yeah, that would be REALLY helpful as I can't think of a single client who would be OK with just opening up those ports to Exchange for connections from ANYWHERE...

[2019-03-26 20:47] BobDobal commented on #242
@msdmaguire any idea when the new functionality to migrate calendar and contacts as well will be going live?

[2019-03-26 20:50] msdmaguire commented on #242
@BobDobal There is no firm release date but this functionality *should* be available in the first half of 2019.

[2019-03-26 21:06] BobDobal commented on #242
Thanks

On Wed, 27 Mar 2019, 07:50 David Maguire, <notifications@github.com> wrote:

[2019-03-26 21:18] philbert66 commented on #690
Chris, I get that it is not supported.  I was rather extending the implication of what you're saying to this scenario:  let's say the 3rd party does a *bad* job and some spam and malware gets through and is sent on to Office365.  The point you make above is still true,  to quote:
_the third-party service is taking the message, altering it, and re-delivering the message, the third-party service eff

[2019-03-26 21:35] chrisda commented on #690
@philbert66, correct.

[2019-03-27 15:48] nnpcYvIVl opened #737 "Powershell block doesn't contain powershell code"
Text examples on this page are erroneously marked as powershell blocks.

https://docs.microsoft.com/en-us/exchange/pickup-directory-and-replay-directory-exchange-2013-help

Here's an example:

[code]
[code]
[code]

[2019-03-27 18:33] afield1235 commented on #710
Is anybody there?

[2019-03-27 20:06] slovelett opened #739 "Public folders in "New" Outlook on the web"
Does the process for adding public folders to favorites using outlook on the web (https://docs.microsoft.com/en-us/exchange/collaboration-exo/public-folders/use-favorite-public-folders#add-favorite-public-folders-in-outlook-on-the-web) work in the "New Outlook". After selecting the option to try the new outlook, public folders do not appear to be showing up, and I can't find a way add new ones?

[2019-03-27 22:48] ianc911 opened #741 "Microsoft Exchange Server Deployment Assistant not support for Exchange 2019"
The second tip in the article recommends going to the "Microsoft Exchange Server Deployment Assistant" to create a customized checklist for your installation. Unfortunately the wizard does not support Exchange 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e0968e-9590-59a1-83c8-07c218bcf8fd
* Version Independen

[2019-03-27 23:19] ausotechteam opened #742 "O365 SMTP relay for on-premise applications"
Hi,

We have Exchange 2010 running on-premise in hybrid mode (all our users mailboxes are in O365), currently we use our exchange servers to relay email from on-premise applications/MFDs to O365). We are planning to use our Exchange server for management purposes only, and setup email relay using the three methods described in this article. However, towards the end of the article it mentioned "If

[2019-03-27 23:19] #726 closed

[2019-03-27 23:39] chrisda commented on #742
@ausotechteam, that statement is probably worded a bit too strongly. It is certainly easier and more flexible to configure SMTP relay using an on-premises email server instead of Office 365. But, the whole point of that topic is how to configure SMTP relay using Office 365, so using an on-premises email server is definitely not your only option. If I was going to update that statement, it would sa

[2019-03-28 00:51] chrisda commented on #600
@daxxial, @4rtorias, according to the blog post, TLS is one of the required options. The other is to configure the sender's email domain as an accepted domain in your Office 365 organization.

And, according to the blog post, TLS is basically required in all hybrid environments if you want the following functionality:

- Your organization needs to send non-delivery reports (also known as NDRs or b

[2019-03-28 03:24] ausotechteam commented on #742
Thanks @chrisda, yes that makes it clearer.  The reason why we want to use O365 for SMTP relay is because we are planning to have only one Exchange server on-premise (for management purposes),  and in case we need to perform maintenance or bring the server down, our applications/MFDs will still be able to send emails using O365 relay.

[2019-03-28 08:03] uz-it opened #743 "Create-PublicFolderMailboxesForMigration.ps1 -Database"
Hi
Just a wish:
If it is possible could You please add -Database parameter to the script?
In some cases it is relevant to create a new PF mailbox in a dedicated database.
Why:
Cause current script creates a PF mailbox in a random database and  it sometimes needs to be moved to another DB.
or: if you do not move the PF MBX after migration process it can cause back pressure situation on disk in case